<style>
    .dropdown-current strong {
            border-color: #ff5501 !important;
            color: #000000 !important;
            font-weight: 600 !important;
        }
</style>
<?php
/**
 * Webkul Software.
 *
 * @category Webkul
 * @package Webkul_MpExpectedDeliveryDate
 * @author Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
$helper = $block->getMpHelper();
$isPartner= $helper->isSeller();
$isSellerGroup = $helper->isSellerGroupModuleInstalled();
$magentoCurrentUrl = $block->getCurrentUrl();

$currentLink = false;

if (strpos($magentoCurrentUrl, '/mpexpecteddate/configuration') !== false
    || strpos($magentoCurrentUrl, '/mpexpecteddate/rules') !== false
    || strpos($magentoCurrentUrl, '/mpexpecteddate/region') !== false) {
        $currentLink = true;
}

if ($isPartner) {
    if (($isSellerGroup && $helper->isAllowedAction('mpexpecteddate/configuration/index') || !$isSellerGroup)) {
        ?>
        
        <li class="nav item main-dropdown-nav<?= $currentLink ? " dropdown-current active":"";?>">
            <?php
            if ($currentLink):
                ?>
            <strong>
                <?= /*@noEscape*/ __('Expected Delivery Date')?>
            </strong>
                <?php
                    else:
                        ?>
            <a href="javascript::void(0)" >
                        <?= /*@noEscape*/ __('Expected Delivery Date')?>
            </a>
                        <?php
                            endif;
                    ?>
            <ul class="child-dropdown-menu">
                <li class="nav item dropdown-item 
                    <?= $block->escapeHtml(strpos($magentoCurrentUrl, '/mpexpecteddate/configuration') !== false
                        ? "current":"");?>"
                >
                    <?php
                    if (strpos($magentoCurrentUrl, 'mpexpecteddate/configuration') !== false) {
                        ?>
                        <strong>
                        <?=$block->escapeHtml(__('General Settings'))?>
                        </strong>
                        <?php
                    } else {
                        ?>
                        <a href="<?=$block->escapeHtml($block->getUrl(
                            'mpexpecteddate/configuration/index',
                            ['_secure' => $block->getRequest()->isSecure()]
                        ));?>">
                            <?=   $block->escapeHtml(__('General Settings')) ?>
                        </a>
                        <?php
                    }
                    ?>
                </li>

                <li
                    class="nav item dropdown-item 
                    <?= $block->escapeHtml(strpos($magentoCurrentUrl, '/mpexpecteddate/rules') !== false
                        ? "current":"");?>"
                >
                    <?php
                    if (strpos($magentoCurrentUrl, 'mpexpecteddate/rules') !== false) {
                        ?>
                        <strong>
                        <?=$block->escapeHtml(__('Rules'))?>
                        </strong>
                        <?php
                    } else {
                        ?>
                        <a href="<?=$block->escapeHtml($block->getUrl(
                            'mpexpecteddate/rules/index',
                            ['_secure' => $block->getRequest()->isSecure()]
                        ));?>">
                            <?=   $block->escapeHtml(__('Rules')) ?>
                        </a>
                        <?php
                    }
                    ?>
                </li>

                <li
                    class="nav item dropdown-item 
                    <?= $block->escapeHtml(strpos($magentoCurrentUrl, '/mpexpecteddate/region') !== false ?
                            "current":"");?>">
                    <?php
                    if (strpos($magentoCurrentUrl, 'mpexpecteddate/region') !== false) {
                        ?>
                        <strong>
                        <?=$block->escapeHtml(__('Regions'))?>
                        </strong>
                        <?php
                    } else {
                        ?>
                        <a href="<?=$block->escapeHtml($block->getUrl(
                            'mpexpecteddate/region/index',
                            ['_secure' => $block->getRequest()->isSecure()]
                        ));?>">
                            <?=   $block->escapeHtml(__('Region')) ?>
                        </a>
                        <?php
                    }
                    ?>
                </li>
            </ul>
        </li>

        <?php
    }
}
?>
<script type="text/x-magento-init">
    {
        "*": {
            "expddNavigation": "{}"
        }
    }
</script>