<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$sellerId = $block->getProductSellerId()??0;
$productId = $block->getProduct()->getId();
$isEnable = $block->isEnable($sellerId);
$postalCode = $block->getPostalCode();
if ($isEnable) {
    $data = $block->helper->jsonEncode([
        "sellerId" => $sellerId,
        "url" => $block->getUrl('mpexpecteddate/rules/validate'),
        "zipcode" => $postalCode,
        "productId" => $productId
    ]);
    ?>
        <div>
        <strong id="wk-mpexpdd-delivery-detail"></strong>
        </div>
    <form autocomplete="off">
        <input type="text" id="wk-mpexpdd-regex" name="zipcode" 
            placeholder="<?= /*@noEscape*/ __('Enter Delivery Zipcode'); ?>" 
            class="wk-mpexpdd-zipform0" title="zipcode" 
            data-seller-id="<?= $block->escapeHtml($sellerId); ?>"  
            autocomplete="off" maxlength="6"/>
        <div id="wk-mpexpdd-check">
            <div class="loader"></div>
            <a href="javascript:void(0)" class="validate-button" type="button" id="validateExpdd">
                <?= /*@noEscape*/ __('Check'); ?>
            </a>
        </div>
        <div class="error-block"></div>
    </form>

<script type="text/x-magento-init">
{
    "body": {
    "productView": <?= /* @noEscape */ $data ?>
    }
}
</script>
    <?php
}
?>