<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading"
                role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= /* @noEscape */ $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
                <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="">
                <div class="field note"><?= $block->escapeHtml(
                    __('If you have an account, sign in with your email address.')
                ) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtml($block->getUsername()) ?>"
                                <?php if ($block->isAutocompleteDisabled()):?> autocomplete="off"<?php endif; ?>
                               id="email" type="email" class="input-text" title="<?= $block->escapeHtml(__('Email')) ?>"
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" 
                                <?php if ($block->isAutocompleteDisabled()):?> autocomplete="off"<?php endif; ?>
                               class="input-text" id="pass" title="<?= $block->escapeHtml(__('Password')) ?>"
                               data-validate="{required:true}">
                    </div>
                </div>
                <?= /* @noEscape */ $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action login primary" name="send" id="send2">
                            <span><?= $block->escapeHtml(__('Log In')) ?></span>
                        </button>
                    </div>
                    <div class="secondary">
                        <a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>">
                        <span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
