<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $addressHelper \Magento\Customer\Helper\Address */
$addressHelper = $xtremoViewModel->getCustomerAddressHelper();

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $xtremoViewModel->getXtremoHelper();
?>
<?= /* @noEscape */ $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= /* @noEscape */ $block->getChildHtml('customer.form.register.extra')?>
<form class="form create account form-create-account"
      action="<?= /* @noEscape */ $block->getPostActionUrl() ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      autocomplete="off">
    <fieldset class="fieldset create info">
        <legend class="legend register"><span><?= $block->escapeHtml(__('Register')) ?></span></legend><br>
        <input type="hidden" name="success_url" value="<?= /* @noEscape */ $block->getSuccessUrl() ?>">
        <input type="hidden" name="error_url" value="<?= /* @noEscape */ $block->getErrorUrl() ?>">
        <input type="hidden" name="form_key" value="<?= /* @noEscape */ $block->getFormKey()?>"/>
        <?= $block->getLayout()->createBlock(
            \Magento\Customer\Block\Widget\Name::class
        )->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= /* @noEscape */ $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= /* @noEscape */ $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= /* @noEscape */ $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />
            <div class="field company">
                <label for="company" class="label"><span><?= $block->escapeHtml(__('Company')) ?></span></label>
                <div class="control">
                    <input type="text" name="company" id="company"
                           value="<?= $block->escapeHtml($block->getFormData()->getCompany()) ?>"
                           title="<?= $block->escapeHtml(__('Company')) ?>"
                           class="input-text <?= /* @noEscape */
                            $addressHelper->getAttributeValidationClass('company') ?>">
                </div>
            </div>
            <div class="field telephone">
                <label for="telephone" class="label"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                <div class="control">
                    <input type="text" name="telephone" id="telephone"
                           value="<?= $block->escapeHtml($block->getFormData()->getTelephone()) ?>"
                           title="<?= $block->escapeHtml(__('Phone Number')) ?>"
                           class="input-text <?= /* @noEscape */
                            $addressAttributes->getAttributeValidationClass('telephone') ?>">
                </div>
            </div>

            <?php $_streetValidationClass = $addressHelper->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label">
                    <span><?= $block->escapeHtml(__('Street Address')) ?></span>
                </label>
                <div class="control">
                    <input type="text" name="street[]"
                           value="<?= $block->escapeHtml($block->getFormData()->getStreet(0)) ?>"
                           title="<?= $block->escapeHtml(__('Street Address')) ?>" id="street_1"
                           class="input-text <?= /* @noEscape */ $_streetValidationClass ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(
                            str_replace('required-entry', '', $_streetValidationClass)
                        ); ?>
                        <?php for ($_i = 2, $_n = $addressHelper->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]"
                                        value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>"
                                        title="<?= $block->escapeHtml(__('Street Address %1', $_i)) ?>"
                                        id="street_<?= /* @noEscape */ $_i ?>"
                                        class="input-text <?= /* @noEscape */ $_streetValidationClass ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <?php $cityValidationClass = $addressHelper->getAttributeValidationClass('city'); ?>

            <div class="field required">
                <label for="city" class="label"><span><?= $block->escapeHtml(__('City')) ?></span></label>
                <div class="control">
                    <input type="text" name="city"
                           value="<?= $block->escapeHtml($block->getFormData()->getCity()) ?>"
                           title="<?= $block->escapeHtml(__('City')) ?>"
                           class="input-text <?= /* @noEscape */ $cityValidationClass ?>"
                           id="city">
                </div>
            </div>

            <?php $regionValidationClass = $addressHelper->getAttributeValidationClass('region'); ?>

            <div class="field region required">
                <label for="region_id" class="label">
                    <span><?= $block->escapeHtml(__('State/Province')) ?></span>
                </label>
                <div class="control">
                    <select id="region_id" name="region_id"
                            title="<?= $block->escapeHtml(__('State/Province')) ?>"
                            class="validate-select" style="display:none;">
                <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text" id="region" name="region"
                           value="<?= $block->escapeHtml($block->getRegion()) ?>"
                           title="<?= $block->escapeHtml(__('State/Province')) ?>"
                           class="input-text <?= /* @noEscape */ $regionValidationClass ?>"
                           style="display:none;">
                </div>
            </div>

            <?php $zipValidationClass = $addressHelper->getAttributeValidationClass('postcode'); ?>

            <div class="field zip required">
                <label for="zip" class="label">
                    <span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span>
                </label>
                <div class="control">
                    <input type="text" name="postcode"
                           value="<?= $block->escapeHtml($block->getFormData()->getPostcode()) ?>"
                           title="<?= $block->escapeHtml(__('Zip/Postal Code')) ?>" id="zip"
                           class="input-text validate-zip-international <?= /* @noEscape */ $zipValidationClass ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label">
                    <span><?= $block->escapeHtml(__('Country')) ?></span>
                </label>
                <div class="control">
                    <?= /* @noEscape */ $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= /* @noEscape */ $addressAttributes->setShowContainer(false)->toHtml()?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>
    <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
        <legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>
        <div class="field required">
            <label for="email_address" class="label">
                <span><?= $block->escapeHtml(__('Email')) ?></span>
            </label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address"
                       value="<?= $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                       title="<?= $block->escapeHtml(__('Email')) ?>" class="input-text"
                       data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label for="password" class="label">
                <span><?= $block->escapeHtml(__('Password')) ?></span>
            </label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?= $block->escapeHtml(__('Password')) ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtml(
                           $block->getRequiredCharacterClassesNumber()
                       ) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label">
                <span><?= $block->escapeHtml(__('Confirm Password')) ?></span>
            </label>
            <div class="control">
                <input type="password" name="password_confirmation"
                       title="<?= $block->escapeHtml(__('Confirm Password')) ?>"
                       id="password-confirmation" class="input-text"
                       data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
            </div>
        </div>
        <?= /* @noEscape */ $block->getChildHtml('form_additional_info') ?>
        <?= /* @noEscape */ $block->getChildHtml('form_additional_info_register') ?>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed"
                       title="<?= $block->escapeHtml(__('Sign Up for Newsletter')) ?>"
                       value="1" id="is_subscribed"
                        <?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
                       class="checkbox xtremo-checkbox">
                <label for="is_subscribed" class="label">
                    <span><?= $block->escapeHtml(__('Sign Up for Newsletter')) ?></span>
                </label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?= /* @noEscape */ $block->getChildHtml('customer.form.register.newsletter')?>
        <?php endif ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary"
                    title="<?= $block->escapeHtml(__('Create an Account')) ?>">
                <span><?= $block->escapeHtml(__('Create an Account')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <label><?= $block->escapeHtml(__('Already Registered ?')) ?></label>
            <a class="action sign-in"
               href="<?= $block->escapeUrl($xtremoHelper->getCustomerModelUrl()->getLoginUrl()) ?>">
                <span><?= $block->escapeHtml(__('Sign in')) ?></span></a>
        </div>
    </div>
</form>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>

<?php
/** @var $directoryHelper \Magento\Directory\Helper\Data */
$directoryHelper = $xtremoViewModel->getDirectoryHelper();

$optionalRegionAllowed = ($block->getConfig('general/region/display_all')) ? 'true' : 'false';
?>

<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $optionalRegionAllowed ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */  $directoryHelper->getRegionJson() ?>,
                "defaultRegion": "<?= /* @noEscape */  $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */  $directoryHelper->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
