<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
/**
 * @var \Webkul\Xtremo\Block\Html\Homepage $block
 */
 $categories = $block->getPopularCategories();
 $defaultCategoryImage = $block->getDefaultCategoryImage(); ?>
    <?php if ($categories && $categories->getSize()): ?>
     <div class="xtremo-popular-category">
         <div class="wk-heading">
             <span><?= $block->escapeHtml(__('Shop from Popular Categories')) ?></span>
         </div>
         <div class="popular-cat-wrapper">
             <?php foreach ($categories as $category): ?>
                    <?php $categoryImage = $defaultCategoryImage;
                    if ($category->getPopularCategoryImage()) {
                        $categoryImage = $block->getPopularImage($category->getPopularCategoryImage());
                    } elseif ($category->getImageUrl()) {
                        $categoryImage = $category->getImageUrl();
                    } ?>
                 <div class="cat-container">
                     <div class="cat-image">
                         <a href="<?= /* @noEscape */ $category->getUrl() ?>">
                            <img src="<?= /* @noEscape */ $categoryImage ?>"
                                alt="<?= $block->escapeHtml($category->getName()) ?>" />
                          </a>
                     </div>
                     <div class="cat-heading">
                         <a href="<?= /* @noEscape */ $category->getUrl() ?>"
                            title="<?= $block->escapeHtml($category->getName()) ?>">
                             <?= $block->escapeHtml($category->getName()) ?>
                         </a>
                     </div>
                 </div>
            <?php endforeach; ?>
         </div>
     </div>
    <?php endif; ?>
