<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * @var \Webkul\Xtremo\Block\Html\Homepage $block
 */
?>

<?php
/** @var $_helper \Webkul\Catalog\Helper\Output */
$_helper = $block->getCatalogOutputHelper();

$featuredProducts = $block->getSaleProducts();
$listProductBlock =  $block->getLayout()->createBlock(
    \Magento\Catalog\Block\Product\ListProduct::class
);
$abstractProductBlock =  $block->getLayout()->createBlock(
    \Magento\Catalog\Block\Product\AbstractProduct::class
); ?>

<?php if ($featuredProducts && $featuredProducts->getSize()): ?>
    <div class="xtremo-feature-carousel">
        <div class="wk-heading">
            <span><?= $block->escapeHtml(__('Discount and Sales')) ?></span>
        </div>
        <div id="owl-sale-demo" class="owl-carousel owl-theme product-item-info">
            <?php foreach ($featuredProducts as $product): ?>
                <?php $productImage = $listProductBlock->getImage($product, 'category_page_grid'); ?>
                  <div class="item">
                      <div class="product-image">
                            <a href="<?= /* @noEscape */ $product->getProductUrl() ?>"
                               class="product photo product-item-photo" tabindex="-1">
                                <?= /* @noEscape */ $productImage->toHtml() ?>
                            </a>
                      </div>
                      <div class="product details product-item-details">
                         <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @noEscape */ $product->getProductUrl() ?>">
                                <?= $block->escapeHtml(
                                    $_helper->productAttribute($product, $product->getName(), 'name')
                                ) ?>
                            </a>
                        </strong>
                        <?= /* @noEscape */ $abstractProductBlock->getReviewsSummaryHtml(
                            $product,
                            true,
                            true
                        ) ?>
                        <?= /* @noEscape */ $listProductBlock->getProductPrice($product) ?>
                      </div>
                  </div>
            <?php endforeach; ?>
        </div>
    </div>

    <script>
        require([
            'jquery',
            'owlcarousel'
        ], function () {
            'use strict';
            jQuery.noConflict();
            var countItems = '<?= $block->escapeHtml($featuredProducts->getSize()) ?>';
            if((screen.width > 1200 && countItems > 5)
                || (screen.width > 1000 && screen.width < 1200 && countItems > 4)
                || (screen.width > 700 && screen.width < 1000 && countItems > 3)
                || (screen.width > 500 && screen.width < 700 && countItems > 2)
                || (screen.width > 0 && screen.width < 500 && countItems > 0)
            ){
                jQuery("#owl-sale-demo").owlCarousel({
                    nav : true, // Show next and prev buttons
                    loop: true,
                    dots : false,
                    items : 5,
                    responsive:{
                        0:{
                            items:1
                        },
                        500:{
                            items:2
                        },
                        700:{
                            items:3
                        },
                        1000:{
                            items:4
                        },
                        1200:{
                            items:5
                        }
                    }
                });
            }
        });
    </script>
<?php endif; ?>
