<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_B2BMarketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<style>
    .page-layout-2columns-left .column.main {
        width: 100%!important;
    }
    .page-main {
        width: 100%!important;
        max-width: 100%!important;
        margin-left: 0!important;
        margin-right: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .sidebar {
        display: none!important;
    }
</style>
<?php
$quickOrderBlock =  $block->getLayout()->createBlock(
    \Webkul\B2BMarketplace\Block\Supplier\Profile\QuickOrder::class
);

$helper = $quickOrderBlock->helper(\Webkul\Marketplace\Helper\Data::class);
$helperOrders = $quickOrderBlock->helper(\Webkul\Marketplace\Helper\Orders::class);
$partner=$block->getProfileDetail();
if ($partner['shop_url']) {
    if ($helper->getActiveColorPicker()) {?> 
        <style>
            .page-main{
                background-image:none;
                background-color:<?= $block->escapeHtml($block->escapeHtml($partner['background_width']));?>;
            }
        </style>
        <?php
    }
    $_productCollection=$block->_getProductCollection();
    $bannerpic = $partner->getBannerPic()!=''?$partner->getBannerPic():"banner-image.png";
    $bannerpic = $helper->getMediaUrl().'avatar/'.$bannerpic;
    
    $logo = $partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
    $logo = $helper->getMediaUrl().'avatar/'.$logo;

    $shopUrl = $block->escapeHtml($partner['shop_url']);
    $shoptitle = $block->escapeHtml($partner->getShopTitle());
    if (!$shoptitle) {
        $shoptitle = $shopUrl;
    }
    $sellerId = $partner->getSellerId();
    $locsearch = $block->escapeHtml($partner['company_locality']);
    ?>
    <div class="wk_mp_design">
        <?= $block->getChildHtml("marketplace_seller_top_block")?>
        <div class="wk-mp-collection-container">
            <div class="wk-mp-collection-left">
                <?= $block->getChildHtml('marketplace_sellercollectionleft')?>
            </div>
            <div class="wk-mp-collection-right">
                <div class="block block-account">   
                    <div class="block-title wk-mp-float-left">   
                        <strong><span><h4><?= $block->escapeHtml(__("SELLER'S COLLECTION")) ?></h4></span></strong>
                    </div>
                    <?php if ($helper->isMpSellerProductSearchModuleInstalled()) { ?>
                        <?= /* @noEscape */ $block->getChildHtml('mp_seller_product_search');?>
                    <?php } ?>
                </div>
                <div class="page-products page-with-filter fieldset wk-mp-fieldset" 
                <?php if ($_productCollection->count()) {
                    ?> <?= /* @noEscape */ 'style="padding: 0;"';}?>>
                    <?php
                    $_helper = $quickOrderBlock->helper(\Magento\Catalog\Helper\Output::class);
                    ?>
                    <?php if (!$_productCollection->count()): ?>
                        <div class="message info empty"><div>
                        <?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
                        </div>
                    <?php else: ?>
                        <?= /* @noEscape */ $block->getToolbarHtml() ?>
                        <?= /* @noEscape */ $block->getAdditionalHtml() ?>
                        <?php
                        if ($block->getMode() == 'grid') {
                            $viewMode = 'grid';
                            $image = 'category_page_grid';
                            $showDescription = false;
                            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                        } else {
                            $viewMode = 'list';
                            $image = 'category_page_list';
                            $showDescription = true;
                            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
                        }
                        /**
                        * Position for actions regarding image size changing in vde if needed
                        */
                        $pos = $block->getPositioned();
                        ?>
                        <div class="products wrapper <?=
                        $block->escapeHtml($viewMode); ?> products-<?=
                        $block->escapeHtml($viewMode); ?>">
                            <?php $iterator = 1; ?>
                            <ol class="products list items product-items">
                                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                                <?php foreach ($_productCollection as $_product): ?>
                                    <?= /* @noEscape */(($iterator++ == 1)) ? '<li class="item product product-item">' :
                                    '</li><li class="item product product-item">' ?>
                                    <div class="product-item-info" data-container="product-grid">
                                        <?php
                                        $productImage = $block->getImage($_product, $image);
                                        if ($pos != null) {
                                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                                . 'top:' . $productImage->getHeight() . 'px;"';
                                        }
                                        ?>
                                        <?php // Product Image ?>
                                        <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>" 
                                        class="product photo product-item-photo" tabindex="-1">
                                            <?= /* @noEscape */ $productImage->toHtml(); ?>
                                        </a>
                                        <div class="product details product-item-details">
                                            <?php
                                                $_productNameStripped = $block->stripTags(
                                                    $_product->getName(),
                                                    null,
                                                    true
                                                );
                                            ?>
                                            <strong class="product name product-item-name">
                                                <a class="product-item-link"
                                                href="<?= /* @noEscape */ $_product->getProductUrl() ?>">
                                                    <?= /* @noEscape */ $_helper->productAttribute(
                                                        $_product,
                                                        $_product->getName(),
                                                        'name'
                                                    ); ?>
                                                </a>
                                            </strong>
                                            <?= /* @noEscape */ $block->getReviewsSummaryHtml(
                                                $_product,
                                                $templateType
                                            ); ?>
                                            <?php if ($productCartMinLimit = $_product->getAllowedMinQtyToOrder()) { ?>
                                                <div>
                                                    <span>
                                                        <?= $block->escapeHtml(__('Min. Order')); ?>
                                                        <strong> - <?= /* @noEscape */ $productCartMinLimit?></strong>
                                                    </span>
                                                </div>
                                            <?php } ?>
                                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                            <?= /* @noEscape */ $block->getProductDetailsHtml($_product); ?>

                                            <div class="product-item-inner">
                                                <div class="product actions product-item-actions"<?=
                                                $block->escapeHtml(strpos($pos, $viewMode . '-actions') ?
                                                $position : ''); ?>>
                                                    <div class="actions-primary"<?=
                                                    $block
                                                    ->escapeHtml(strpos(
                                                        $pos,
                                                        $viewMode . '-primary'
                                                    ) ? $position : ''); ?>>
                                                        <?php if ($_product->isSaleable()): ?>
                                                            <?php $postParams = $block
                                                            ->getAddToCartPostParams($_product); ?>
                                                            <form data-role="tocart-form" 
                                                            action="<?= $block->escapeHtml($postParams['action']); ?>" 
                                                            method="post">
                                                                <input type="hidden" name="product" 
                                                                value="
                                                                <?= $block
                                                                ->escapeHtml($postParams['data']['product']); ?>">
                                                                <input type="hidden" name="uenc" 
                                                                value="
                                                                <?= $block
                                                                ->escapeHtml($postParams['data']['uenc']); ?>">
                                                                <?= /* @noEscape */ $block->getBlockHtml('formkey')?>
                                                                <button type="submit"
                                                                    title="<?= $block->escapeHtml($block->escapeHtml(__(
                                                                        'Add to Cart'
                                                                    ))); ?>"
                                                                    class="action tocart primary">
                                                                    <span>
                                                                    <?= $block->escapeHtml(__('Add to Cart')) ?>
                                                                    </span>
                                                                </button>
                                                            </form>
                                                        <?php else: ?>
                                                            <?php if ($_product->getIsSalable()): ?>
                                                                <div class="stock available">
                                                                <span><?= $block->escapeHtml(__('In stock')) ?></span>
                                                                </div>
                                                            <?php else: ?>
                                                                <div class="stock unavailable">
                                                                <span>
                                                                <?= $block->escapeHtml(__('Out of stock')) ?>
                                                                </span>
                                                                </div>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div data-role="add-to-links" 
                                                    class="actions-secondary"<?= $block
                                                    ->escapeHtml(strpos(
                                                        $pos,
                                                        $viewMode . '-secondary'
                                                    ) ? $position : ''); ?>>
                                                        <?php if ($quickOrderBlock
                                                        ->helper(\Magento\Wishlist\Helper\Data::class)->isAllow()): ?>
                                                            <a href="#"
                                                            class="action towishlist"
                                                            title="<?= $block
                                                            ->escapeHtml($block->escapeHtml(__(
                                                                'Add to Wish List'
                                                            ))); ?>"
                                                            aria-label="<?= $block
                                                            ->escapeHtml($block->escapeHtml(__(
                                                                'Add to Wish List'
                                                            ))); ?>"
                                                            data-post='<?= $block
                                                            ->escapeHtml($block->getAddToWishlistParams(
                                                                $_product
                                                            )); ?>'
                                                            data-action="add-to-wishlist"
                                                            role="button">
                                                                <span>
                                                                <?= $block->escapeHtml(__('Add to Wish List')) ?>
                                                                </span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php
                                                        $compareHelper = $quickOrderBlock->helper(
                                                            \Magento\Catalog\Helper\Product\Compare::class
                                                        );
                                                        ?>
                                                        <a href="#"
                                                        class="action tocompare"
                                                        title="<?= $block->escapeHtml($block
                                                        ->escapeHtml(__('Add to Compare'))); ?>"
                                                        aria-label="<?= $block->escapeHtml($block
                                                        ->escapeHtml(__('Add to Compare'))); ?>"
                                                        data-post='<?= $block->escapeHtml($compareHelper
                                                        ->getPostDataParams($_product)); ?>'
                                                        role="button">
                                                            <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <?php if ($showDescription):?>
                                                    <div class="product description product-item-description">
                                                        <?= $block->escapeHtml($_helper
                                                        ->productAttribute(
                                                            $_product,
                                                            $_product->getShortDescription(),
                                                            'short_description'
                                                        )) ?>
                                                        <a href="<?= $block
                                                        ->escapeHtml($_product->getProductUrl()) ?>" 
                                                            title="<?= $block->escapeHtml($_productNameStripped) ?>"
                                                        class="action more">
                                                        <?= $block->escapeHtml(__('Learn More')) ?></a>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <?= /* @noEscape */ ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
                                <?php endforeach; ?>
                            </ol>
                        </div>
                        <?= /* @noEscape */ $block->getToolbarHtml() ?>
                        <?php if (!$block->isRedirectToCartEnabled()): ?>
                            <script type="text/x-magento-init">
                            {
                                "[data-role=tocart-form], .form.map.checkout": {
                                    "catalogAddToCart": {}
                                }
                            }
                            </script>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
<?php }  ?>
