<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

?>
<?php if ($block->getChildHtml()): ?>
<div class="block <?= /* @noEscape */ $block->getBlockCss() ?>">
    <div class="title <?= /* @noEscape */ $block->getBlockCss() ?>-title"
         data-mage-init='{"toggleAdvanced": {"toggleContainers": "#<?= /* @noEscape */ $block->getBlockCss() ?>",
          "selectorsToggleClass": "active"}}'>
        <strong><?= $block->escapeHtml($block->getBlockTitle()) ?></strong>
    </div>
    <div class="content <?= /* @noEscape */ $block->getBlockCss() ?>-content"
         id="<?= /* @noEscape */ $block->getBlockCss() ?>">
          <?= $block->getChildHtml() ?>
    </div>
</div>
<?php endif; ?>
