<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<nav class="navigation" data-action="navigation">

    <div class="nav-menu-left">
        <div class="choose-cat"><?= $block->escapeHtml(__('Top Categories')) ?></div>
        <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
            <?= /* @noEscape */ $_menu ?>
            <?= /* @noEscape */ $block->getChildHtml() ?>
        </ul>
    </div>
    <div class="nav-menu-right">
        <?= /* @noEscape */ $block->newHtml(); ?>
    </div>
</nav>
