/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.account{
    .columns{
        margin-bottom: 40px;
    }
    .column.main{
        @media only screen and (max-width: 767px) {
            & > *:not(script){
                background-color: @color-white;
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
    &.page-layout-2columns-left{
        .column.main{
            padding: 30px 15px 15px;
            width: 78% !important;
            @media only screen and (max-width: 1000px) {
                width: 72% !important;
            }
            @media only screen and (max-width: 767px) {
                padding: 0;
            }
            & > .block,
            & > form{
                @media only screen and (max-width: 767px) {
                    padding: 10px;
                    background-color: @color-white;
                }
            }
        }
    }
    .sidebar-main,
    .sidebar-additional{
        background-color: unset;
        padding: 0;
        width: 20% !important;
        @media only screen and (max-width: 1000px) {
            width: 25% !important;
        }
    }
    .block{
        .title{
            display: inline-block;
            height: auto;
            margin-bottom: 10px;
            position: static;
            width: auto;
            strong{
                text-transform: capitalize;
                .fontRobotoBold(@font_28_px, @footer-bg-color);
            }
        }
    }
    .account-nav,
    .block-collapsible-nav{
        &.block{
            padding: 30px 15px 15px;
            background-color: @color-white;
            @media only screen and (max-width: 767px) {
                padding: 15px;
                margin-bottom: 20px;
            }
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        & > .block-collapsible-nav-title.title{
            @media only screen and (max-width: 767px) {
                margin-bottom: 0px;
                display: block;
            }
            &.active{
                @media only screen and (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
        }
        .item{
            a{
                .fontRobotoMedium(1.4rem, @cat-link-color);
                text-transform: capitalize;
                &:hover{
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                }
            }
            &:hover{
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                a,
                span{
                    color: @link-color;
                }
            }
            &.current{
                a,
                strong{
                    .fontRobotoMedium(1.4rem, @link-color);
                    display: block;
                }
            }
        }
        .content{
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            padding: 0;
        }
    }
}
.account-nav .item {
    margin-top: 0;
}
