/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.filter-nav-open .page-wrapper > .block.filter.filter-nav-sections,
.sorter-nav-open .page-wrapper > .toolbar-sorter.sorter-nav-sections {
    display: none;
}
.page-wrapper{
    & > .block.filter.filter-nav-sections{
        height: 100%;
        left: calc(-1 * (100% - 0px));
        overflow: auto;
        position: fixed;
        top: 0;
        transition: left 0.3s ease 0s;
        width: 100%;
        background-color: @main-page-bg-color;
        & > .filter-title{
            background-color: @color-white;
            padding: 20px;
            margin-bottom: 0;
            strong{
                .fontRobotoMedium(18px);
                text-transform: uppercase;
            }
            .remove-filter-nav{
                cursor: pointer;
                display: inline-block;
                float: left;
                padding: 4px 10px 0 0;
                width: auto;
                &:before{
                    border-radius: 50%;
                    box-shadow: 0 0 20px @border-submenu;
                    box-sizing: border-box;
                    color: @cat-link-color;
                    content: "\e616";
                    float: left;
                    font-family: "icons-blank-theme";
                    font-size: 20px;
                    font-weight: bold;
                    height: 20px;
                    line-height: 1;
                    width: 20px;
                }
                &:hover:before{
                    background-color: @link-color;
                    color: @color-white;
                }
            }
        }
        & > .filter-content{
            padding: 15px;
            & > .filter-subtitle{
                display: none;
            }
            .filter-options .filter-options-item:not(:last-child) {
                border-bottom: none;
                margin-bottom: 10px;
            }
            .filter-options-title,
            .filter-options-content,
            .main-cat-parent{
                padding: 10px;
                background-color: @color-white;
            }
            .filter-options-content{
                .item{
                    a{
                        font-size: 15px;
                        margin-left: 10px;
                    }
                }
            }
            .filter-options-title{
                cursor: pointer;
                margin-bottom: 0;
                &.filter-toggle{
                    & + .filter-options-content{
                        display: block !important;
                        border: medium none !important;
                    }
                    &:after{
                        content: "\e622";
                    }
                }
                &:after{
                    content: "\e608";
                    float: right;
                    font-family: "icons-blank-theme";
                    font-size: 25px;
                    padding-top: 5px;
                }
            }
            & > .filter-actions{
                .button.layer-filter-btn .button{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    width: auto;
                    padding: 5px 15px;
                }
                .filter-clear{
                    float: right;
                    width: auto;
                    .fontRobotoMedium(16px);
                    text-transform: uppercase;
                }
            }
        }
    }
    & > .toolbar-sorter.sorter-nav-sections{
        height: auto;
        top: calc(-1 * (100% - 0px));
        overflow: auto;
        position: fixed;
        left: 0;
        transition: top 0.3s ease 0s;
        width: 260px;
        background-color: @color-white;
        margin-left: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 20px 30px;
        & > .sorter-label{
            .fontRobotoMedium(15px);
            text-transform: uppercase;
        }
        & > .sorter-action,
        & > select.sorter-options{
            display: none;
        }
        & > ul.dropdown-sorter-options{
            list-style: none outside none;
            padding: 0;
            margin-top: 10px;
            li.sort-opt{
                margin-bottom: 5px;
                cursor: pointer;
                .fontRobotoRegular(15px);
                &:hover{
                    color: @link-color;
                }
                &.opt-selected{
                    color: @link-color;
                    cursor: default;
                }
            }
        }
        .remove-sort-nav{
            cursor: pointer;
            display: inline-block;
            float: left;
            margin-left: -25px;
            padding-top: 3px;
            width: auto;
            &:before{
                border-radius: 50%;
                box-shadow: 0 0 20px @border-submenu;
                box-sizing: border-box;
                color: @cat-link-color;
                content: "\e616";
                float: left;
                font-family: "icons-blank-theme";
                font-size: 20px;
                font-weight: bold;
                height: 20px;
                line-height: 1;
                width: 20px;
            }
            &:hover:before{
                background-color: @link-color;
                color: @color-white;
            }
        }
    }
}
.catalog-category-view{
    .column.main{
        margin-bottom: 40px;
        padding: 15px;
        order: 0;
        & > .products{
            margin: 0;
        }
    }
    .sidebar.sidebar-main{
        margin-bottom: 40px;
    }
    .category-view{
        margin-top: 20px;
    }
    // .category-image {
    //     .image{
    //         max-height: 200px;
    //         width: 100%;
    //     }
    // }
    .product-reviews-summary{
        .rating-summary,
        .reviews-actions{
            display: inline-block;
        }
        .reviews-actions{
            margin-top: 0;
        }
    }
    .filter-options {
        a{
            .fontRobotoMedium(1.4rem, @cat-link-color);
            &.highlighted-filter{
                .fontRobotoMedium(15px);
                .count{
                    .fontRobotoMedium(15px);
                }
            }
            &:hover,
            &:focus,
            &:active{
                text-decoration: none;
                color: @link-color;
            }
        }
        .filter-options-item {
            &:not(:last-child){
                border-bottom: 1px solid @cat-link-color;
            }
        }
        .filter-options-title {
            padding: 10px 40px 0 10px;
            .fontRobotoMedium(15px, @footer-bg-color);
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            &:after {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 35px;
                line-height: inherit;
                color: inherit;
                content: '\e622';
                font-family: 'icons-blank-theme';
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
                position: absolute;
                right: 13px;
                top: 0;
            }
        }
        .filter-options-content {
            padding-bottom: 20px;
            padding-left: 10px;
            &:not(:last-child){
                border-bottom: 1px solid @cat-link-color;
                margin-bottom: 20px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            .xt-filter-check{
                margin-right: 5px !important;
            }
            .item{
                margin-bottom: 7px;
            }
        }
        .main-cat-parent{
            padding-left: 0;
            a{
                .fontRobotoMedium(15px, @footer-bg-color);
                padding-left: 10px;
            }
            &:nth-child(1){
                a{
                    padding-left: 0;
                    .fontRobotoBold(16px, @cat-link-color);
                }
                &:before{
                    content: "\f104";
                    font-family: "FontAwesome";
                    font-size: @font_26_px;
                    margin-right: 5px;
                }
            }
        }
    }
    .filter-actions{
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
        a{
            display: inline-block;
            &:hover,
            &:focus,
            &:visited,
            &:active{
                text-decoration: none;
            }
        }
        .action{
            &.clear{
                float: left;
                width: 50%;
                display: none;
                margin-top: 10px;
            }
        }
        .button.layer-filter-btn {
            float: right;
            width: auto;
            .button {
                width: 100%;
                text-transform: uppercase;
            	.fontRobotoBold(16px, @color-white);
            }
        }
    }
    .current-cat {
        display: inline-block;
        width: 100%;
        h3{
            margin: 0;
            text-transform: capitalize;
            .fontRobotoBold(@font_28_px);
        }
    }
    .filter-current{
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: @border-gray-line;
        .filter-current-subtitle{
            .fontRobotoMedium(1.4rem, @cat-link-color);
            text-transform: capitalize;
            float: left;
            &:after {
                content: " :";
            }
        }
        .items{
            float: left;
            margin-left: 5px;
            .item{
                display: inline-block;
                margin-left: 10px;
            }
        }
        .filter-label{
            .fontRobotoRegular(1.4rem, @footer-bg-color);
            float: left;
            margin-right: 6px;
            &:after {
                content: "";
            }
        }
        .filter-value {
            background-color: @link-color;
            float: left;
            text-transform: capitalize;
            .fontRobotoBold(1.4rem, @color-white);
            border-radius: 3px;
            padding: 0 25px 2px 5px;
            & + .action.remove{
                float: left;
                span{
                    font-size: 0;
                }
                &:before {
                    .categorySpriteUrl;
                    display: inline-block;
                    background-position: 42px 0;
                    height: 15px;
                    margin-left: -17px;
                    margin-top: 1px;
                    width: 12px;
                    position: absolute;
                }
            }
        }
        .filter-actions-clear {
            display: inline-block;
            float: right;
            width: auto;
            .action.clear{
                background-color: @link-color;
                text-transform: capitalize;
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                .fontRobotoBold(1.4rem, @color-white);
                border-radius: 3px;
                padding: 2px 25px 2px 5px;
                &:after{
                    .categorySpriteUrl;
                    display: inline-block;
                    background-position: 42px 0;
                    height: 15px;
                    margin-left: 6px;
                    position: absolute;
                    width: 12px;
                }
            }
        }
    }
    .product-item-description{
        color: @cat-link-color;
        .fontRobotoLight(@font_24_px, @cat-link-color);
    }
    .products-list{
        & > .product-items{
            margin: 0;
        }
        li.product-item{
            padding: 20px;
            &:not(:last-child){
                border-bottom: @border-gray-line;
            }
            .product-reviews-summary{
                margin: 5px 0 10px;
            }
        }
        .product-item-photo{
            padding-bottom: 0;
        }
    }
    .products-grid,
    .products-list{
        li.product-item{
            .product-item-details{
                & > .disount-wrapper{
                    float: left;
                    margin-left: 10px;
                    margin-top: 5px;
                }
                & > .price-box{
                    float: left;
                    margin: 5px 0;
                    & + div:not(.discount-wrapper){
                        float: none;
                        clear: both;
                    }
                }
            }
        }
    }
    .resp-filter-wrapper{
        display: none;
    }
}
@import 'responsive/_category-page-responsive.less';
