/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.checkout-cart-index{
    .cart-container{
        @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }
    }
    .action{
        &.update,
        &.clear{
            text-transform: uppercase;
        }
    }
    .cart-summary{
        @media only screen and (max-width: 767px) {
            order: 1;
            width: 100%;
            margin-bottom: 0;
        }
        select{
            @media only screen and (max-width: 767px) {
                -moz-appearance: none;
                -webkit-appearance:none;
                appearance:none;
                border-radius: 2px 0 0 2px;
                box-shadow: 0 1px 0 0 @color-white inset, 0 -1px 0 0 rgba(204, 204, 204, 0.3) inset;
                background-image: url("../images/select-bg.svg");
                background-repeat: no-repeat;
                background-size: 10% auto;
                background-position: 98% -10px;
                text-indent: 0.01em;
                text-overflow: "";
                cursor: pointer;
            }
        }
        & > .title{
            .fontRobotoBold(@font_28_px);
            text-align: center;
            margin: 0px;
            padding: 0 30px 10px;
            box-sizing: border-box;
            border-bottom: @border-gray-line;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        .block{
            & > .title{
                &:after{
                    top: -15px;
                }
                strong{
                    .fontRobotoMedium();
                }
            }
            &.shipping{
                & > .title{
                    padding-right: 30px;
                }
            }
        }
        & > .block,
        & > .checkout-methods-items{
            padding: 10px 30px;
            @media only screen and (max-width: 1000px) {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
        .cart-totals{
            border-top: @border-gray-line;
            border-bottom: @border-gray-line;
            padding: 10px 0;
            @media only screen and (max-width: 767px) {
                border-color: @very-light-gray-color;
            }
            th{
                padding: 0 0 10px 30px;
                &.mark{
                    &:after{
                        @media only screen and (max-width: 767px) {
                            content: " : ";
                            float: right;
                            margin-right: 20px;
                        }
                    }
                }
            }
            td{
                padding: 0 30px 10px 0;
            }
            .grand.totals{
                border-top: @border-gray-line;
                th,
                td{
                    padding-top: 10px;
                    padding-bottom: 0;
                }
            }
        }
        .checkout-methods-items{
            .action.primary{
                width: auto;
                padding: 7px 25px;
                text-transform: uppercase;
                @media only screen and (max-width: 1000px) {
                    width: 100%;
                }
            }
        }
    }
    #shopping-cart-table{
    	& > caption{
    		border: medium none;
    	    clip: unset;
    	    height: auto;
    	    margin: 0;
    	    overflow: unset;
    	    padding: 0 0 20px;
    	    position: static;
    	    text-align: left;
    	    width: auto;
            box-sizing: border-box;
    		.fontRobotoMedium(@font_34_px, @footer-bg-color);
            @media only screen and (max-width: 767px) {
                font-size: @font_28_px;
                padding: 5px 10px;
            }
    	}
        .item-actions{
            margin-left: 130px;
            @media only screen and (max-width: 1000px) {
                margin-left: 0;
            }
        }
        .product-item-details{
            @media only screen and (max-width: 1000px) {
                display: inline-block;
            }
            @media only screen and (max-width: 767px) {
                display: table-cell;
                vertical-align: top;
                padding-left: 10px;
            }
        }
        .item-actions .action,
        .action-gift{
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            padding: 0;
            .fontRobotoLight(@font_26_px, @link-color);
            &:hover,
            &:active,
            &:visited,
            &:focus{
                color: @link-color !important;
                background-color: unset !important;
            }
            &.action-delete,
            &.action-edit{
                margin-right: 5px;
                &:after{
                    color: @cat-link-color;
                    content: "|";
                    margin-left: 5px;
                }
            }
            &.action-delete{
                @media only screen and (max-width: 767px) {
                    font-size: 0;
                    padding-top: 18px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 1;
                    &:after{
                        .categorySpriteUrl;
                        background-position: 29px 0;
                        content: "";
                        display: block;
                        height: 17px; width: 16px;
                        margin: 0;
                    }
                }
            }
            &.action-edit,
            &.action-towishlist{
                @media only screen and (max-width: 767px) {
                    font-size: 0 !important;
                    &:before{
                        color: @cat-link-color;
                        content: "\f040";
                        font-family: FontAwesome;
                        font-size: 15px;
                        font-weight: normal;
                        background-color: @phone-bg-color;
                        display: inline-block;
                        height: 25px;
                        text-align: center;
                        width: 60px;
                        vertical-align: middle;
                        line-height: 1.5;
                    }
                    &:after{
                        display: none;
                    }
                }
            }
            &.action-towishlist{
                @media only screen and (max-width: 767px) {
                    &:before{
                        content: "\f004";
                    }
                }
            }
        }
    }
    .form.form-cart{
        padding: 15px;
        box-sizing: border-box;
        background-color: @color-white;
        width: 68%;
        float: left;
        position: relative;
        @media only screen and (max-width: 767px) {
            width: 100%;
            background-color: transparent;
            padding: 0;
        }
        .table{
    		& > thead{
    			border-bottom: @border-gray-line;
    			border-top: @border-gray-line;
                @media only screen and (max-width: 767px) {
                    border-bottom: medium none;
                    border-top: medium none;
                }
    			& > tr{
    				& > th,
    				& > td{
    					border-bottom: medium none;
                        padding: 20px;
                        .fontRobotoBold(@font_28_px);
    				}
    			}
    		}
    		& > tbody{
                border-bottom: @border-gray-line !important;
                @media only screen and (max-width: 767px) {
                    border-bottom: 10px solid @main-page-bg-color !important;
                }
    			& > tr{
    				& > th,
    				& > td{
                        padding: 20px;
                        @media only screen and (max-width: 800px) and (min-width: 768px) {
                            padding: 16px;
                        }
    				}
    			}
    		}
        }
        .cart.table-wrapper {
            @media only screen and (max-width: 767px) {
                background-color: @color-white;
                margin-bottom: 10px;
            }
            .item .col.item{
                @media only screen and (max-width: 800px) and (min-width: 768px) {
                    padding: 16px;
                }
            }
            .product-item-photo{
                @media only screen and (max-width: 767px) {
                    position: static;
                    width: auto;
                    display: table-cell;
                }
            }
        }
        .cart.main.actions{
            border-bottom: @border-gray-line;
            padding: 0 20px;
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            @media only screen and (max-width: 900px) {
                padding-bottom: 20px;
            }
            @media only screen and (max-width: 767px) {
                border-bottom: medium none;
                display: flex;
                flex-direction: column;
            }
            @media only screen and (max-width: 450px) {
                padding: 0;
            }
            & > .action{
                margin-bottom: 20px;
                @media only screen and (max-width: 900px) {
                    width: 80%;
                    display: block;
                    float: none;
                    margin: 0 auto 10px !important;
                    text-align: center;
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
                &.continue{
                    margin-right: 10px;
                    @media only screen and (max-width: 767px) {
                        order: 2;
                    }
                }
                &.clear{
                    margin-right: 0;
                    @media only screen and (max-width: 767px) {
                        order: 3;
                    }
                }
                &.update{
                    margin-left: 10px;
                    @media only screen and (max-width: 900px) {
                        margin-bottom: 0 !important;
                    }
                    @media only screen and (max-width: 767px) {
                        order: 1;
                        margin-bottom: 10px !important;
                    }
                }
            }
        }
    }
    .price,
    .input-text.qty,
    .product-item-name{
        .fontRobotoMedium(@font_26_px);
    }
    .wk-seller-block{
        color: @cat-link-color;
    }
}
