/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.opc-progress-bar-item{
    &._active {
        & > span{
            color: @link-color;
            &:after{
                font-size: @font_36_px;
                .checkoutPageSpriteUrl;
            }
        }
        &[step-name="shipping"]{
            & > span:after{
                .checkoutPageSpriteUrl;
                background-position: -68px 0;
            }
        }
        &[step-name="payment"]{
            & > span:after{
                background-position: 68px 0;
            }
        }
    }
    &._complete{
        & > span{
            &:after{
                font-size: @font_38_px;
            }
        }
    }
    &[step-name="shipping"]{
        & > span:after{
            background-position: -102px 0;
        }
    }
    &[step-name="payment"]{
        & > span:after{
            background-position: 33px 0px;
        }
    }
    & > span{
        font-size: @font_28_px;
        &:before,
        &:after{
            height: 45px;
            left: 90%;
            width: 45px;
            z-index: 1;
        }
        &:after{
            font-weight: normal;
            height: 33px;
            width: 33px;
            font-size: @font_26_px;
            .checkoutPageSpriteUrl;
        }
    }
}
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title{
    .fontRobotoMedium(@font_34_px);
}
.checkout-index-index{
    .page-header{
        .header.content{
            padding-bottom: 15px;
        }
    }
    .checkout-container{
        & > .messages{
            display: inline-block;
            margin: 20px 0;
            width: 66.6667%;
        }
    }
}
.opc-progress-bar,
.opc-wrapper {
    background-color: @color-white;
    margin: 0;
    padding: 20px 20px 10px;
    box-sizing: border-box;
    width: 66.6667%;
    float: left;
    @media only screen and (max-width: 1250px) {
        width: 63%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}
.opc-progress-bar{
    @media only screen and (max-width: 767px) {
        display: none;
    }
}
.opc-wrapper {
    @media only screen and (max-width: 767px) {
        .primary{
            text-align: left;
            button{
                width: auto !important;
            }
        }
    }
    .shipping-address-item{
        border: 1px solid @main-page-bg-color;
        width: 100% !important;
        &.selected-item {
            border-color: @main-page-bg-color;
            .action-select-shipping-item{
                visibility: visible;
                & > span{
                    &:before{
                        content: "\f046";
                        color: @link-color;
                    }
                }
            }
            &:after{
                content: "";
                display: none;
            }
        }
    }
    .action-select-shipping-item{
        background-color: unset;
        padding: 0;
        float: left;
        .fontRobotoRegular(@font_26_px, @cat-link-color);
        & > span{
            &:before{
                margin-right: 15px;
                content: "\f096";
                font-family: Fontawesome;
            }
        }
        &:hover,
        &:focus,
        &:active{
            background-color: unset !important;
            color: @cat-link-color !important;
        }
    }
}
.opc-sidebar{
    display: inline-block;
    float: none !important;
    margin-top: 0 !important;
    padding-left: 30px;
    box-sizing: border-box;
    @media only screen and (max-width: 1250px) {
        width: 37%;
    }
    @media only screen and (max-width: 767px) {
        width: auto;
    }
    & > div{
        background-color: @color-white;
        display: inline-block;
        width: 100%;
        @media only screen and (max-width: 767px) {
            display: block;
        }
    }
    .opc-block-summary{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        .items-in-cart{
            & > .title{
                background-color: @search-bar-bg-color;
                strong{
                    .fontRobotoMedium(@font_26_px, @cat-link-color);
                    padding-left: 10px;
                }
                &:after{
                    content: "\e607";
                    color: @cat-link-color;
                }
            }
            &.active > .title:after{
                content: "\e618";
            }
            .minicart-items .product-item{
                @media only screen and (max-width: 767px) {
                    background-color: transparent;
                }
                :first-child{
                    border-top: medium none;
                }
            }
        }
        .table-totals{
            margin-top: 20px;
            & > tbody > tr:not(:last-child){
                border-bottom: medium none !important;
            }
            & + .items-in-cart{
                margin-top: 20px;
                &  > .title{
                    border-top: 1px solid #d1d1d1;
                }
            }
        }
        .product-item .price{
            font-size: @font_26_px !important;
        }
    }
}
.opc-block-shipping-information{
    .shipping-information-title{
        .action-edit:hover{
            background: unset !important;
        }
    }
}
.checkout-payment-method .payment-method-billing-address .billing-address-details,
.opc-block-shipping-information .shipping-information-content{
    .fontRobotoRegular(@font_24_px, @cat-link-color);
}
.opc-estimated-wrapper{
    .minicart-wrapper{
        background-color: @link-color;
        border-radius: 3px;
    }
}
