/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.customer-account-create{
    .form.create.account{
        display: block;
        margin: 0 auto;
        width: 30%;
        box-sizing: border-box;
        @media only screen and (max-width: 1000px) and (min-width: 768px) {
            width: 50%;
        }
        @media only screen and (max-width: 767px) {
            width: 80%;
        }
        @media only screen and (max-width: 450px) {
            width: 100%;
        }
        .legend{
            display: none;
            &.register{
                display: block;
                border-bottom: @border-gray-line;
                margin-bottom: 20px;
                padding-bottom: 20px;
                width: 100%;
                text-align: center;
            }
        }
        .actions-toolbar{
            display: inline-block;
            width: 100%;
            .primary{
                width: 38%;
                box-sizing: border-box;
                float: left;
                .action.submit.primary{
                    text-transform: uppercase;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 100%;
                    padding: 10px;
                    margin: 0;
                }
            }
            .secondary{
                box-sizing: border-box;
                padding-left: 10px;
                width: 62%;
                float: right;
                display: inline-block;
                .action{
                    &.sign-in{
                        .fontRobotoMedium(@font_24_px, @link-color);
                        display: inline-block;
                        margin-top: 6px;
                        width: auto;
                    }
                }
                label{
                    .fontRobotoMedium(@font_24_px, @cat-link-color);
                }
            }
        }
    }
}
