/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.customer-account-login{
    .page-title-wrapper{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        @media only screen and (max-width: 900px) and (min-width: 768px) {
            width: 100%;
        }
        @media only screen and (max-width: 450px) {
            width: 100%;
        }
        & ~ .page.messages{
            margin: 15px auto;
            width: 80%;
            @media only screen and (max-width: 900px) and (min-width: 768px) {
                width: 100%;
            }
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
        }
    }
    .page-main .columns {
        margin-top: 30px;
    }
    .fieldset{
        margin: 0;
    }
    .login-container{
        display: flex;
        margin: 0 auto;
        width: 80%;
        @media only screen and (max-width: 900px) and (min-width: 768px) {
            width: 100%;
        }
        @media only screen and (max-width: 450px) {
            width: 100%;
        }
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .field.note{
            .fontRobotoMedium(@font_26_px, @cat-link-color);
            @media only screen and (max-width: 767px) {
                .fontRobotoRegular(@font_26_px, @cat-link-color);
            }
        }
        & > .block{
            background-color: @color-white;
            box-sizing: border-box;
            padding: 20px 30px;
            width: 50%;
            display: inline-block;
            margin-bottom: 0;
            @media only screen and (max-width: 767px) {
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
            .block-title{
                strong{
                    @media only screen and (max-width: 767px) {
                        font-size: @font_32_px;
                    }
                }
            }
        }
    }
    .block{
        // &.block-customer-login,
        // &.block-new-customer {
        //     @media only screen and (max-width: 767px) {
        //         width: 100%;
        //     }
        // }
        &.block-new-customer-create{
            display: none;
            @media only screen and (max-width: 767px) {
                display: inline-block;
            }
        }
        &.block-new-customer {
            margin-left: 32px;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .actions-toolbar{
        .primary{
            @media only screen and (max-width: 767px) {
                text-align: left;
            }
            .action.primary{
                text-transform: uppercase;
                @media only screen and (max-width: 767px) {
                    width: auto;
                }
            }
        }
    }
}
