/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-main{
	.homepage-content-top-wrapper{
		display: inline-block;
		width: 100%;
	}
	.xtremo-category-sidebar-main{
		background-color: @color-white;
		width: auto;
		border-radius: 3px;
		display: inline-block;
		float: left;
    	height: auto;
		margin-bottom: 35px;
		position: absolute;
		z-index: 2;

		// max-height: 380px;
		// overflow-y: scroll;
		// overflow-x: hidden;
		&:hover{
			box-shadow: 0 0 34px 5px rgba(0, 0, 0, 0.2);
		}
		.navigation{
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			width: auto;
			top: 0px;

			ul.dropdown{
				left: -18px;
				min-width: 700px;
				&:before,
				&:after{
					left: 37px !important;
				}
			}

			.level0{
				position: static;
				width: 100%;
				margin: 5px 10px 0 0;
				.wk-cat-image{
					clear: both;
				    display: block;
					bottom: 0;
					height: auto;
					position: absolute;
					width: ~"calc(100% - 250px)";
					max-height: 350px;
					z-index: -1;
					@media only screen and (max-width: 1450px) {
						width: ~"calc(100% - 150px)";
					}
				    .img-cat-0 {
						height: 100%;
						overflow: hidden;
						width: 100%;
						opacity: 0.7;
						max-height: 350px;
						@media only screen and (max-width: 1450px) {
							max-height: 310px;
						}
					}
				}
				& > .level-top{
					position: static;
					line-height: @font_40_px;
					color: @cat-link-color;
					text-overflow: ellipsis;
					display: inline-block;
					width: 100%;
					span{
						overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow-wrap: break-word;
					    display: block;
						margin-right: 10px;
					}
				}
				&.parent{
					& > .level-top{
						&:after{
							.spriteUrl;
							background-position: -87px -24px;
						    float: right;
						    height: 12px;
						    // margin-top: 8px;
							margin-top: -16px;
						    width: 8px;
						}
					}
					&:hover,
					&:active,
					&:focus{
						& > .level-top{
							&:after{
								background-position: -94px -24px;
							}
						}
					}
				}
				&.active-level{
					& > .level-top{
						&:after{
							background-position: -94px -24px;
						}
					}
				}
				.submenu{
					position: static;
					top: 0 !important;
					border: medium none;
		    		box-shadow: none;
			    	min-width: 130px;
					.fontRobotoMedium(@font_24_px);
			    	&.level0{
			    		box-shadow: 20px 5px 34px rgba(0, 0, 0, 0.2);
			    	}
			    	.submenu{
			    		position: static !important;
			    		box-shadow: none;
			    		height: auto;
			    		display: inline !important;
			    	}
			    	a{
			    		padding: 3px 0;
			    		&:hover{
			    			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			    		}
			    		&.ui-state-focus{
			    			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			    		}
			    	}
			    	li{
			    		margin: 0;
			    	}
				}
				li.level2{
					.submenu{
						box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
					    display: none !important;
					    padding: 5px;
					    position: absolute !important;
					    left: auto !important;
					    margin-left: 40px !important;
					    margin-top: -30px !important;
					    top: auto !important;
					    border: 1px solid @border-submenu;
					}
					&:hover{
						.level2.submenu{
							display: block !important;
						}
					}
					li.level3{
						&:hover{
							.level3.submenu{
								display: block !important;
							}
						}
						li.level4{
							&:hover{
								.level4.submenu{
									display: block !important;
								}
							}
							li.level5{
								&:hover{
									.level5.submenu{
										display: block !important;
									}
								}
							}
						}
					}
				}
				& > li > .submenu{
					background: none repeat scroll 0 0 transparent;
				}
			}
			ul{
				position: static;
				box-sizing: border-box;
    			padding: 0;
			}
			li{
				&.level0{
					display: block;
				}
				&.level1{
					float: left;
					display: inline-block;
					margin-right: 30px !important;
					margin-bottom: 20px !important;
					& > a{
						font-size: @font_26_px !important;
						color: @color-black !important;
						position: relative;
						z-index: 9;
					}
					&:hover{
						& > ul li{
							a{
								color: @color-gray !important;
							}
						}
					}
				}
			}

			.nav-menu-left {
			    float: left;
			    box-sizing: border-box;
			    font-size: @font_26_px;
			    padding: 15px;
			    width: 250px;
				background-color: @color-white;
				@media only screen and (max-width: 1450px) {
					width: 150px;
				}
				.fontRobotoMedium(@font_26_px);
			    .choose-cat{
			    	padding-bottom: 15px;
			    	font-size: @font_26_px;
			    }
			    a{
			    	padding-left: 0;
			    }
			    ul.ui-menu{
    				padding-bottom: 15px;
    				& + div{
						border-top: 1px solid #bfbfbf;
					    padding-top: 20px;
    				}
			    }
			}
			.nav-menu-right {
			    float: left;
			    padding-top: 20px;
			    padding-bottom: 20px;
			    box-sizing: border-box;
	    		height: auto;
				width: auto;
				max-width: 550px;
				.fontRobotoMedium(@font_24_px);
				@media only screen and (max-width: 1450px) {
					max-width: 650px;
				}
			    & > .submenu {
				    display: none;
				    overflow: hidden;
				    padding-right: 20px;
					height: 100%;
					overflow-y: overlay;
				}
				.submenu .level1.submenu {
				    display: block !important;
				    position: relative;
				}
			}
		}
	}
	.xtremo-feature-carousel{
		clear: both;
	    display: block;
	    float: none;
		padding-top: 40px;
		.homepageBlockHeading;
		.owl-stage-outer{
			background-color: @color-white;
		}
		.owl-carousel.owl-theme.product-item-info{
			display: block;
    		text-align: center;
			background-color: @color-white;
			& > .item{
				background-color: @color-white;
			    box-sizing: border-box;
			    display: inline-block;
			    width: auto;
				max-width: ~"calc(20% - 40px)";
				margin: 15px;
				padding: 15px;
				&:hover{
					box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.2);
				}
			}
		}
		.price-container{
			.price{
				color: @cat-link-color;
			}
			.price-label{
				display: none;
			}
		}
		.product-reviews-summary{
			margin: 0 0 5px;
			display: inline-block;
			text-align: center;
			width: 100%;
			.reviews-actions{
				display: none;
			}
			.rating-summary .rating-result > span:before{
				color: @link-color;
			}
		}
		.product.name.product-item-name{
			.fontRobotoRegular(@font_26_px);
			a{
				color: @cat-link-color;
			}
		}
		.owl-carousel {
			.owl-item{
				background-color: @color-white;
				.item{
					background-color: @color-white;
					margin: 15px;
	    			padding: 15px;
					&:hover{
						// box-shadow: 0 10px 16px -1px rgba(0, 0, 0, 0.2);
						box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.2);
					}
					.product-image{
						display: inline-block;
						width: 100%;
					}
				}
			}
			.owl-nav{
				.owl-prev,
				.owl-next{
					background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				    font-size: 0;
					opacity: 1;
				    position: absolute;
					top: 40%;
					padding: 0;
					margin: 0;
					&:before{
						content: " ";
					    display: block;
					    height: 80px;
					    opacity: 1;
					    width: 80px;
					}
				}
				.owl-prev{
					left: -100px;
					&:before{
						.leftArrow;
					}
					&:hover:before{
						.leftArrowHover;
					}
				}
				.owl-next{
					right: -100px;
					&:before{
						.rightArrow;
					}
					&:hover:before{
						.rightArrowHover;
					}
				}
			}
		}
	}
	.xtremo-banner-cat{
		display: inline-block;
	    margin-top: 30px;
	    width: 100%;
		height: 450px;
		@media only screen and (max-width: 1400px) {
			height: 350px;
		}
		@media only screen and (max-width: 1000px) {
			height: 250px;
		}
		.left-banner {
		    float: left;
			height: 100%;
			box-sizing: border-box;
			padding-right: 30px;
			width: 70%;
			@media only screen and (max-width: 1000px) {
				padding-right: 20px;
			}
			.banner-1{
				display: inline-block;
    			width: 100%;
				height: 100%;
			}
		}
		.right-banner {
		    float: right;
		    width: 30%;
			height: 100%;
			.banner-2{
				padding-bottom: 15px;
				@media only screen and (max-width: 1000px) {
					padding-bottom: 10px;
				}
			}
			.banner-3{
				padding-top: 15px;
				@media only screen and (max-width: 1000px) {
					padding-top: 10px;
				}
			}
			.banner-2,
			.banner-3 {
			    display: inline-block;
			    height: 50%;
			    width: 100%;
				box-sizing: border-box;
				span{
					font-size: @font_26_px;
				}
			}
		}
		a{
			display: inline-block;
		    position: relative;
		    width: 100%;
			height: 100%;
			span{
			    left: 4%;
				bottom: 4%;
			    margin: 0;
			    padding: 0;
			    position: absolute;
				.fontRobotoMedium(@font_32_px, @color-white);
			}
			img {
			    height: 100%;
			    width: 100%;
				border-radius: 3px;
			}
		}
	}
	.xtremo-popular-category{
		display: inline-block;
	    margin-top: 60px;
	    width: 100%;
		.homepageBlockHeading;
		.popular-cat-wrapper {
			margin-left: -10px;
    		margin-right: -10px;
			text-align: center;
		}
		.cat-container {
		    // float: left;
			display: inline-block;
			// width: 20%;
		    width: 19.8%;
			box-sizing: border-box;
			padding: 0 10px;
			vertical-align: top;
			@media only screen and (max-width: 1380px) {
				width: 19.7%;
			}
			@media only screen and (max-width: 980px) {
				width: 19.6%;
			}
			@media only screen and (max-width: 780px) {
				width: 19.5%;
			}
			.cat-image {
			    display: inline-block;
			    width: 100%;
				// max-height: 250px;
				height: 250px;
				overflow: hidden;
				@media only screen and (max-width: 1400px) {
					max-height: 200px;
				}
				@media only screen and (max-width: 1000px) {
					max-height: 150px;
				}
				@media only screen and (max-width: 900px) {
					max-height: 125px;
				}
				img {
					display: inline-block;
					width: 100%;
					border-radius: 3px;
					height: 100%;
				}
			}
			.cat-heading {
			    margin-top: 10px;
			    text-align: center;
			    text-transform: capitalize;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				.fontRobotoBold(@font_28_px);
				a{
					color: @link-color;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}
@import 'responsive/_homepage-responsive.less';
