/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-layout-2columns-left{
    .column.main {
        width: 76% !important;
        background-color: @color-white;
        padding: 10px;
        box-sizing: border-box;
        @media only screen and (max-width: 1200px) {
            width: 73% !important;
        }
        @media only screen and (max-width: 1000px) {
            width: 68% !important;
        }
    }
    .sidebar-additional{
        width: 22% !important;
        padding: 0px !important;
        @media only screen and (max-width: 1200px) {
            width: 25% !important;
        }
        @media only screen and (max-width: 1000px) {
            width: 30% !important;
        }
        .block-title{
            strong{
                .fontRobotoMedium(@font_24_px, @footer-bg-color);
            }
            .counter{
                .fontRobotoMedium(@font_24_px, @footer-bg-color);
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
            }
        }
        & > .block{
            background-color: @color-white;
            padding: 10px 20px;
            &.block.block-reorder{
                padding: 0;
                & > div{
                    &.block-title{
                        padding: 10px 20px 0;
                    }
                    &.block-content{
                        padding: 0 20px 10px;
                    }
                }
            }
        }
    }
    .sidebar-main{
        width: 22% !important;
        background-color: @color-white;
        @media only screen and (max-width: 1200px) {
            width: 25% !important;
        }
        @media only screen and (max-width: 1000px) {
            width: 30% !important;
        }
        .block-title.filter-title{
            display: none;
        }
        .block-content{
            .block-subtitle.filter-subtitle{
                display: none;
            }
        }
        .block.filter {
            box-sizing: border-box;
            margin-bottom: 10px;
            padding: 15px;
        }
    }
}
@import 'responsive/_layout-two-column-left-responsive.less';
