/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-layout-1column{
    #contact-form,
    .form.contact{
        padding-bottom: 20px;
    }
    @media only screen and (min-width: 768px) {
        .product.media{
            width: 45% !important;
            margin-top: 0;
        }
        .product-info-main {
            width: 52% !important;
        }
    }
}
