/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.no-route-wrapper{
    background-color: @color-white;
    box-sizing: border-box;
    margin: 40px auto 0;
    padding: 140px 0;
    text-align: center;
    width: 80%;
    @media only screen and (max-width: 1100px) {
        width: 90%;
        padding: 100px 0;
    }
    @media only screen and (max-width: 900px) {
        width: 100%;
        padding: 70px 0;
    }
    @media only screen and (max-width: 767px) {
        margin: 20px auto;
        padding: 50px;
        width: 90%;
    }
    @media only screen and (max-width: 500px) {
        padding: 25px;
    }
    &.no-search{
        padding: 65px 0;
        @media only screen and (max-width: 767px) {
            padding: 40px 0;
        }
        @media only screen and (max-width: 500px) {
            padding: 30px 20px;
        }
        @media only screen and (max-width: 400px) {
            padding: 30px 10px;
        }
        .no-route-text{
            // font-size-adjust: 0.5;
            padding: 0;
            width: 60%;
            @media only screen and (max-width: 1100px) {
                width: 70%;
            }
            @media only screen and (max-width: 767px) {
                width: 90%;
            }
            a{
                text-transform: capitalize;
            }
        }
        .no-route-icon{
            padding-bottom: 30px;
            @media only screen and (max-width: 500px) {
                width: 50%;
            }
            @media only screen and (max-width: 400px) {
                width: 60%;
            }
        }
    }
    .no-route-icon,
    .no-route-text,
    .back-home{
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
    .no-route-icon{
        padding-bottom: 50px;
        @media only screen and (max-width: 767px) {
            width: 70%;
            padding-bottom: 30px;
        }
        @media only screen and (max-width: 400px) {
            width: 100%;
            // padding-bottom: 30px;
        }
    }
    .no-route-text {
        padding-bottom: 45px;
        @media only screen and (max-width: 767px) {
            padding-bottom: 30px;
        }
        & > * {
            .fontRobotoRegular(@font_30_px, @light-gray);
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100%;
        }
    }
    .back-home{
        a{
            // font-size-adjust: 0.5;
            padding: 7px 15px;
            text-transform: uppercase;
            width: 300px;
            @media only screen and (max-width: 767px) {
                width: 200px;
            }
        }
    }
}
