/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.catalog-product-view{
    .columns .column.main{
        background-color: @color-white;
        padding: 10px;
    }
    .__thumb-border{
        background-image: none !important;
        border: medium none !important;
        box-shadow: 0 0 25px 2px @color-light-gray;
    }
    @media only screen and (min-width: 768px) {
        .fotorama__nav-wrap--vertical{
            &.fotorama__nav-wrap{
                right: 0;
                left: auto !important;
            }
            .fotorama__thumb__arr{
                .fotorama__thumb--icon{
                    .productPageSpriteUrl;
                    background-position: 0 0;
                    padding-bottom: 25px;
                    transform: rotate(0deg);
                    width: 50px;
                }

            }
            .fotorama__thumb__arr--left{
                :before {
                    .productPageSpriteUrl;
                    background-position: 0 0;
                    display: block;
                }
            }
            .fotorama__thumb__arr--right{
                .fotorama__thumb--icon{
                    background-position: 0 -25px;
                }
            }
        }
        .fotorama__stage {
            left: 0 !important;
            .fotorama__shadows--top:before{
                background-image: none;
            }
        }
        .fotorama__nav.fotorama__shadows--top:before{
            background-image: none;
        }
    }
    .product-name{
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
        span{
            margin: 0;
            .fontRobotoMedium(@font_36_px);
        }
    }
    .review-list {
        .rating-label{
            display: table-cell;
            padding-right: 15px;
            vertical-align: middle;
        }
        .rating-summary{
            display: table-row;
        }
    }
    &.page-product-bundle{
        .product-name{
            width: auto;
        }
        .fieldset-bundle-options{
            & > .field.option:not(:last-child){
                 padding-bottom: 10px;
                 border-bottom: @border-gray-line;
            }
        }
        .bundle-options-container .nested .field.qty{
            width: 100%;
        }
        .box-tocart{
            .stock{
                display: inline-block;
                line-height: 2;
                margin-left: 10px;
                & + .actions{
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
        .block-bundle-summary{
            .bundle-info{
                padding-top: 15px;
                .product-image-container{
                    display: none;
                }
                .product-details{
                    & > .product.name,
                    .stock{
                        display: none;
                    }
                }
                .field.qty{
                    float: none !important;
                    clear: both;
                }
            }
        }
        .product-info-price{
            .price-from,
            .price-to{
                .price-label{
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .product-reviews-summary{
        margin-bottom: 20px;
    }
    .product-info-price {
        display: inline-block;
        width: 100%;
    }
    .product-addto-links{
        margin: 15px 0 0;
    }
    .product-info-main,
    .product-options-bottom{
        .box-tocart{
            margin: 0;
            .input-text.qty{
                height: 27px;
            }
            .actions{
                padding-top: 15px;
            }
        }
        .price-box{
            .price-wrapper{
                .price{
                    font-size: @font_32_px;
                }
            }
        }
    }
    .product-info-main{
        .price-box{
           margin-top: 0;
           float: left;
           margin-bottom: 20px;
       }
       .stock{
           &.available{
               padding-left: 10px;
               .fontRobotoBold(@font_26_px, @light-green-color);
           }
           &.unavailable {
               .fontRobotoBold(@font_26_px, @hint-red-color);
           }
       }
       .disount-wrapper{
           float: left;
           margin-left: 20px;
           .sale-label{
               margin-left: 10px;
           }
       }
       .product.attribute.sku .type::after {
          content: '#:';
      }
    }
    .wk-seller-block {
        width: auto;
        border-left: medium none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 10px;
        &:before,
        &:after{
            border: medium none;
        }
        .wk-block-font-bold-up{
            text-transform: capitalize;
            .fontRobotoRegular(@font_24_px);
        }
        & > div{
            display: inline-block;
            width: 100%;
            &:first-child{
                br {
                    display: none;
                }
                & > span{
                    float: left;
                }
                .wk-block-font-bold-up:after {
                    content: " - ";
                    margin-right: 5px;
                }
                .wk-block-rating{
                    .fontRobotoBold(@font_24_px, @color-white);
                }
            }
        }
        div{
            a{
                text-decoration: none;
                .fontRobotoBold(@font_24_px, @link-color);
            }
        }
    }
    .swatch-attribute {
        display: inline-block;
        width: 100%;
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    .swatch-attribute-label{
        float: left;
        line-height: 2;
        .fontRobotoBold();
        &:after {
            content: " : ";
            margin-right: 10px;
        }
    }
    .swatch-attribute-selected-option{
        line-height: 2;
    }
    .swatch-attribute-options.clearfix {
        float: left;
        margin: 0;
    }
    .swatch-opt{
        margin: 0;
    }
    .product-options-wrapper{
        margin-bottom: 10px;
    }
    .product-options-bottom {
        padding: 0;
    }
    .field.qty{
        float: left !important;
        margin-bottom: 0 !important;
        .label{
            float: left !important;
            line-height: 2;
            .fontRobotoBold();
            &:after {
                content: " : ";
                margin-right: 10px;
            }
        }
        .control{
            float: left !important;
        }
    }
    .product-social-links {
        display: inline-block;
        float: none;
        width: 100%;
    }
    .action{
        &.tocompare,
        &.towishlist,
        &.mailto{
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: medium none;
            text-transform: uppercase;
            line-height: 1;
            padding: 10px;
            .fontRobotoBold(@font_26_px, @link-color);
            span{
                line-height: 0;
                vertical-align: middle;
            }
            &:before{
                .productPageSpriteUrl;
                float: left;
                height: 20px;
                line-height: 1.2;
                margin-right: 10px;
                vertical-align: top;
                width: 21px;
            }
            &:hover,
            // &:visited,
            &:focus,
            &:active{
                background-color: @link-color;
                border: medium none;
                color: @color-white;
            }
        }
        &.towishlist{
            &:before{
                background-position: -50px 1px;
            }
            &:hover,
            // &:visited,
            &:focus,
            &:active{
                &:before{
                    background-position: -50px -20px;
                }
            }
        }
        &.tocompare{
            &:before{
                background-position: -71px 0;
            }
            &:hover,
            // &:visited,
            &:focus,
            &:active{
                &:before{
                    background-position: -70px -20px;
                }
            }
        }
        &.mailto{
            vertical-align: top;
            box-sizing: border-box;
            border-radius: 3px;
            &:before{
                background-position: -92px 1px;
            }
            &:hover,
            // &:visited,
            &:focus,
            &:active{
                &:before{
                    background-position: -92px -20px;
                }
            }
        }
    }
    .action.primary{
        &.tocart{
            padding: 7px 40px;
            text-transform: uppercase;
        }
        &.buynow-button{
            display: none;
        }
    }
    .product.info.detailed{
        padding-top: 50px;
        box-sizing: border-box;
        padding-left: 15px;
        .additional-attributes{
            .col.label{
                .fontRobotoBold(@font_24_px);
            }
        }
        .data{
            &.switch{
                .fontRobotoMedium(20px);
            }
            &.title{
                border-bottom: @border-gray-line;
                padding-bottom: 5px;
                &:not(:first-child){
                    margin-top: 30px;
                }
            }
            &.content{
                margin-top: 10px;
                .fontRobotoMedium(@font_24_px, @cat-link-color);
                @media only screen and (min-width: 768px) {
                    display: block !important;
                }
            }
        }
        .product-reviews-summary{
            margin-bottom: 30px;
             .rating-summary,
             .reviews-actions{
                 display: block;
                 .action{
                     display: block;
                     &.add{
                         background-color: @link-color;
                         color: @color-white;
                         &:before{
                             background-position: -112px -21px;
                         }
                     }
                 }
             }
        }
        #product-review-container {
            border-top: @border-gray-line;
            margin-left: 30px;
            padding-top: 15px;
        }

        .review-form{
            .legend.review-legend{
                border: medium none;
                margin-bottom: 10px;
                .fontRobotoBold(@font_28_px);
                strong{
                    font-weight: normal;
                    color: @link-color;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            .review-field-ratings{
                margin: 0 0 15px;
                legend{
                    border: medium none;
                    clear: both;
                    display: inline-block;
                    float: none;
                    text-align: left;
                    .fontRobotoBold(@font_26_px, @footer-bg-color);
                }
            }
            .label{
                text-align: left;
                .fontRobotoBold(@font_24_px, @footer-bg-color);
                margin-bottom: 5px;
                width: auto;
            }
            .field{
                margin-bottom: 10px;
            }
            .control{
                float: none;
            }
            .review-form-actions{
                margin-left: 0;
            }
            .review-fieldset{
                margin-bottom: 20px;
            }
        }
        .block.review-add {
            margin-top: 10px;
        }
    }
}
@import 'responsive/_product-page-responsive.less';
