/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .products.wrapper + .toolbar.toolbar-products{
        border: medium none !important;
    }
    .products-grid .product-item-info{
        &:hover,
        &.active{
            box-shadow: unset !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    body.account{
        .column.main{
            & > .page-title-wrapper{
                margin: 0 0 10px;
                background-color: @color-white;
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
    .column.main{
        background-color: @phone-bg-color !important;
        .product-item {
            background-color: @color-white;
            border: 5px solid @phone-bg-color;
            box-sizing: border-box;
            padding: 10px;
            margin: 0;
        }
    }
    .toolbar.toolbar-products{
        border: medium none !important;
        .toolbar-amount{
            display: none !important;
        }
        .toolbar-sorter{
            .action.sorter-action{
                display: none !important;
            }
        }
    }
    .account{
        .page-main{
            padding-top: 95px;
        }
        .block-collapsible-nav {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 5;
            box-sizing: border-box;
            border-bottom: 1px solid @border-gray-color;
            &.wk-mp-main{
                top: 50px;
            }
        }
        .columns {
            .sidebar-main{
                order: 1;
            }
            .sidebar-additional{
                width: 100% !important;
            }
            .column.main{
                -webkit-flex-basis: 100%;
                width: 100% !important;
            }
        }
    }

}
