/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-title-wrapper{
    background-color: @color-white;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 15px 20px;
    display: none;
    h1{
        margin-bottom: 0;
        .fontRobotoBold(@font_26_px, @footer-bg-color);
        text-transform: uppercase;
        margin-top: 0;
    }
}
body.account{
    .column.main{
        & > .page-title-wrapper{
            display: inline-block;
            margin: 0 0 20px;
            padding: 0;
            .page-title{
                font-size: @font_35_px;
            }
        }
    }
}

.sidebar-main{
    padding-right: 0;
}
.page-product-downloadable{
    .product-options-bottom{
        .box-tocart+.product-social-links{
            display: none;
        }
    }
}
.block-compare,
.block-wishlist,
.block-reorder{
    .action{
        &.delete{
            &:before{
                .removeIcon;
            }
        }
    }
    .actions-toolbar{
        max-width: unset;
    }
    .product-item-name{
        a{
            .fontRobotoMedium(@font_24_px, @cat-link-color);
        }
    }
}
.block-reorder{
    .product-item .checkbox{
        position: absolute;
        top: 0;
        vertical-align: unset;
    }
}
.block-reorder,
.block-compare,
.block-wishlist{
    .actions-toolbar{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        .primary{
            float: right;
            .action{
            	.fontRobotoBold(@font_24_px, @color-white);
                .button_bg_style;
                text-transform: uppercase;
                padding: 5px 12px;
                margin-right: 0;
            }
        }
        .secondary{
            float: left;
            .action{
                .anchorLink;
                margin-top: 0;
            }
        }
    }
}
.block-compare{
    .action{
        &.delete{
            &:before{
                margin-left: 5px;
            }
        }
    }
    .product-item .product-item-name {
        margin-left: 22px;
    }
}

.swatch-option-link-layered{
    &.swatch-selected{
        & > .swatch-option{
            &.text{
                border: 1px solid @pinkish-color !important;
                padding: 3px !important;
                outline: medium none !important;
                &:hover{
                    padding: 3px !important;
                }
            }
            &.color{
                background-clip: content-box !important;
                border: 1px solid @pinkish-color !important;
                padding: 2px !important;
                &:hover{
                    &:not(.disabled){
                        padding: 2px !important;
                    }
                }
            }
        }
    }
}
.swatch-option{
    border: medium none !important;
    border-radius: 3px;
    height: 25px !important;
    min-width: 25px !important;
    padding: 3px !important;
    &.selected{
        &.text{
            border: 1px solid @pinkish-color !important;
            padding: 3px !important;
            outline: medium none !important;
        }
        &.color{
            background-clip: content-box !important;
            border: 1px solid @pinkish-color !important;
            padding: 2px !important;
            outline: medium none !important;
            &:hover{
                &:not(.disabled){
                    padding: 3px !important;
                    outline: medium none !important;
                    border: medium none !important;
                    background-clip: unset !important;
                }
            }
        }
    }
    &:hover{
        &:not(.disabled){
            border: medium none !important;
            outline: medium none !important;
        }
    }
    &.text{
        padding: 4px !important;
        &:hover{
            &:not(.disabled){
                padding: 4px !important;
            }
        }
    }
    &.color{
        &:hover{
            &:not(.disabled){
                padding: 3px !important;
            }
        }
    }
}
.column.main{
    & > .breadcrumbs{
        max-width: 1900px !important;
        background-color: @color-white;
        box-sizing: border-box;
        padding: 5px 10px 5px 0 !important;
    }
}
.breadcrumbs{
	padding: 0 !important;
    margin-bottom: 15px;
    a{
        .fontRobotoMedium(@font_24_px, @cat-link-color);
        color: @cat-link-color !important;
        text-transform: capitalize;
    }
    strong {
        .fontRobotoMedium(@font_24_px, @link-color);
    }
    .item:not(:last-child){
        &:after{
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 13px;
            font-weight: bold;
            line-height: 24px;
            margin: 0 3px;
            color: @cat-link-color;
        }
    }
}
.action.mailto.friend{
    margin-left: 0;
}
.product-reviews-summary {
    margin: 0;
    .rating-summary,
    .reviews-actions{
        display: inline-block;
    }
    .reviews-actions{
        a{
            .fontRobotoBold(@font_26_px, @link-color);
            text-transform: capitalize;
            &.action.add{
                text-transform: uppercase;
                padding: 10px 15px;
                border-radius: 3px;
                color: @link-color;
                display: inline-block;
                &:before{
                    .productPageSpriteUrl;
                    background-position: 28px 1px;
                    display: inline-block;
                    height: 20px;
                    line-height: 0;
                    margin-right: 7px;
                    vertical-align: sub;
                    width: 20px;
                }
                &:hover,
                &:focus,
                &:active{
                    background-color: @link-color;
                    color: @color-white;
                    &:before{
                        background-position: -112px -21px;
                    }
                }
            }
        }
    }
}
.rating-summary{
    .rating-result{
        &:before{
            color: @light-gray-color;
        }
        & > span{
            &:before{
                color: @link-color;
            }
        }
    }
}
.review-control-vote{
    label:before{
       color: @link-color;
   }
   &:before{
       color: @light-gray-color;
   }
}
.toolbar.toolbar-products{
    padding: 0 0 10px;
    border-bottom: @border-gray-line;
}
.products.wrapper{
    & + .toolbar.toolbar-products{
        border-top: @border-gray-line;
        border-bottom: medium none;
        margin-bottom: 5px;
        padding-bottom: 0;
        padding-top: 10px;
    }
    & ~ .toolbar .pages{
        float: none !important;
        margin: 0 auto;
    }
}
.pages{
    strong{
        &.page{
            background-color: @link-color;
            border-radius: 3px;
            line-height: 8px;
            padding: 12px;
            .fontRobotoBold(@font_26_px, @color-white);
        }
    }
    a{
        &.page{
            border-radius: 3px;
            line-height: 8px;
            padding: 12px;
            border: unset;
            .fontRobotoBold(@font_26_px, @cat-link-color);
            &:hover{
                background-color: @link-color;
                color: @color-white !important;
            }
            &:focus,
            &:active,
            &:visited{
                color: @cat-link-color;
            }
        }
    }
    .action{
        border: medium none;
    }
}
.disount-wrapper{
    display: inline-block;
    .percent-label,
    .sale-label{
        .fontRobotoBold(@font_24_px, @color-white);
        border-radius: 3px;
        text-align: center;
        display: inline-block;
    }
    .percent-label{
        background-color: @light-green-color;
        padding: 1px 8px;
    }
    .sale-label{
        background-color: @pinkish-color;
        padding: 1px 5px;
    }
}
.old-price,
.old.price{
    color: @cat-link-color;
}
.customer-account-create{
    .form.create.account{
        padding: 20px 30px;
        background-color: @color-white;
    }
}
.review-list{
    .block-title strong{
        .fontRobotoBold(@font_28_px);
    }
    .review-title{
        .fontRobotoBold(@font_26_px, @footer-bg-color);
        margin: 0 0 5px;
    }
    .review-item {
        padding: 20px 0;
        border-color: @light-gray-color;
    }
    .rating-label{
        display: none;
    }
    .rating-star{
        .fontRobotoBold(@font_24_px, @footer-bg-color);
        float: left;
        line-height: 28px;
        margin-left: 5px;
    }
    .rating-result {
        float: left;
    }
    .review-ratings{
        float: none;
        & ~ .review-content,
        & ~ .review-details{
            margin-left: 0;
            margin-top: 5px;
        }
    }
    .review-details-label{
        .fontRobotoBold(@font_26_px, @footer-bg-color);
        &:after{
            content: " - ";
        }
    }
    .review-details-value{
        .fontRobotoMedium(@font_24_px, @cat-link-color);
    }
    .review-date{
        display: inline;
        margin-left: 10px;
    }
    .review-content{
        margin-bottom: 10px;
        .fontRobotoMedium(@font_24_px, @cat-link-color);
    }
    .review-toolbar {
        margin: 0;
        .pager{
            margin: 5px 0;
        }
    }
}
/*---------------------------------------checkbox redesigned---------------------------------------*/
/* Base for label styling */
.xtremo-checkbox{
	.xtremoCheckboxStyle;
}
.form.form-edit-account,
.form.form-newsletter-manage{
    input[type="checkbox"]{
        .xtremoCheckboxStyle;
    }
}
/*---------------------------------------radio redesigned---------------------------------------*/
/* Base for label styling */
input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection){
	&:not(:checked),
	&:checked{
		position: absolute;
	    left: -9999px;
		& + label{
            &:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5){
                position: relative;
    		    padding-left: 1.95em;
    		    cursor: pointer;
    			&:before,
    			&:after{
    				left: 0; top: 0;
    				position: absolute;
    				background-color: @color-white;
    			}
    			&:before{
    				content: '';
    			    width: 12px; height: 12px;
    			    border: 2px solid @light-gray-color;
    			    border-radius: 50%;
    			}
    			&:after{
    				// content: '.';
    				// line-height: 0;
    				// transition: all .2s;
    				// color: @color-white;
    				// font-size: 45px;
                    // margin-left: 1px;
                    // margin-top: -7px;
                    // font-family: "FontAwesome";
                    height: 5px;
                    width: 5px;
                    margin-top: 5px;
                    margin-left: 5px;
                    background-color: @color-white;
                    border-radius: 50%;
                    content: "";
                    transition: all .2s;
    			}
            }
		}
		&:disabled{
			& + label{
                &:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5){
    				&:before{
    					box-shadow: none;
    					border-color: @light-gray-color;
    					background-color: @disabled-gray-color;
    				}
                }
			}
		}
		&:focus{
			& + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before{
				border: 2px solid @link-color;
			}
		}
	}
	&:not(:checked){
		& + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5){
            z-index: 9;
            &:after {
    		  opacity: 0;
    		  transform: scale(0);
    		}
        }
	}
	&:checked{
		& + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):after {
			opacity: 1;
			transform: scale(1);
		}
        & + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before {
			border-color: @link-color;
            background-color: @link-color;
		}
		&:disabled{
			& + label{
                &:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5){
    				&:after{
    					color: @light-gray-color;
    				}
                }
			}
		}
		& ~ a,
		& ~ a > span{
			color: @link-color;
		}
	}
	&:disabled + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5) {
		color: @disabled-gray-color;
	}
	& + label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):hover:before{
		border: 2px solid @link-color;
	}
}

.table-wrapper.comparison{
    background-color: @color-white;
    padding: 30px 20px 20px;
    box-sizing: border-box;
    #product-comparison{
        .table-caption{
            padding-bottom: 25px;
            width: auto;
            height: auto;
            position: static;
            .fontRobotoMedium(@font_40_px);
        }
        tr td{
            .fontRobotoRegular(@font_24_px, @gray-shade);
        }
    }
}
.products-grid{
    .product-item-info{
        &:hover,
        &.active{
            box-shadow: 0 10px 16px -1px rgba(0, 0, 0, 0.2);
            margin: -10px;
            padding: 10px;
        }
    }
}
@import '_responsive.less';

