/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.block-wishlist{
    .actions-toolbar{
        .action{
            .fontRobotoBold(@font_26_px, @color-white);
            .button_bg_style;
            padding: 7px 15px;
            border-radius: 3px;
        }
    }
    li.product-item{
        display: inline-block;
        width: 100%;
        position: static;
        &:not(:last-child){
            border-bottom: @border-gray-line;
        }
        .product-item-photo{
            display: inline-block;
            float: left !important;
            position: static !important;
        }
        .product-item-details{
            padding: 0 0 0 10px;
            margin: 0;
            position: static;
            max-width: 75%;
            float: right;
            box-sizing: border-box;
        }
    }
    .product-item-info{
        display: inline-block;
        padding-left: 15px;
        width: 100% !important;
        position: static;
        box-sizing: border-box;
        .product-image-photo{
            position: relative;
        }
        .product-item-photo{
            max-width: 25%;
            float: left;
            margin: 0 !important;
        }
        // .product-image-wrapper{
        //     height: auto;
        // }
    }
    .product-item-actions{
        margin-left: 15px;
        position: absolute;
    }

    .product-item-name{
        margin-right: 0;
        .product-item-link{
            .fontRobotoMedium(@font_24_px, @cat-link-color);
        }
    }
}

.wishlist-index-index{
    button{
        text-transform: uppercase;
    }
    .wk-mp-page-title{
        margin-bottom: 15px;
        @media only screen and (max-width: 640px) {
            background-color: @color-white;
            box-sizing: border-box;
            margin-bottom: 0;
            padding: 10px;
            width: 100%;
        }
        h2{
            .fontRobotoBold(@font_28_px);
            margin: 0;
            @media only screen and (max-width: 767px) {
                .fontRobotoMedium(@font_28_px);
            }
        }
    }
    .form-wishlist-items{
        @media only screen and (max-width: 640px) {
            background-color: transparent !important;
            padding: 0 !important;
        }
        .wk-mp-page-title{
            margin-bottom: 30px;
            @media only screen and (max-width: 640px) {
                background-color: @color-white;
                box-sizing: border-box;
                margin-bottom: 0;
                padding: 10px;
                width: 100%;
            }
            button{
                float: right;
                text-transform: uppercase;
                padding: 10px 40px;
            }
        }
        .box-tocart{
            .field.qty{
                float: left;
                display: inline-block;
                & > label,
                & > .control{
                    float: left;
                    width: auto;
                }
                & > label:after {
                    content: " :";
                }
                & + .product-item-actions{
                    display: inline-block;
                    float: left;
                    line-height: 1;
                    margin-bottom: 10px;
                    @media only screen and (max-width: 767px) {
                        float: right;
                    }
                    & > .btn-remove{
                        margin-right: 5px;
                        float: left;
                        @media only screen and (max-width: 640px) {
                            font-size: 0;
                            margin-right: 10px;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        &:after{
                            content: "|";
                            margin-left: 5px;
                            .fontRobotoRegular(@font_24_px, @cat-link-color);
                            @media only screen and (max-width: 640px) {
                                .categorySpriteUrl;
                                background-position: 29px 0;
                                content: "";
                                display: block;
                                height: 17px; width: 16px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .comment-box{
                display: inline-block;
                width: 100%;
                & > .control{
                    width: 100%;
                    .product-item-comment{
                        background-color: @search-bar-bg-color;
                    }
                }
                & > label{
                    height: auto !important;
                    position: static !important;
                    width: auto !important;
                    &:after {
                        content: " :";
                    }
                }
            }
            .actions-primary{
                display: block;
                text-align: center;
                @media only screen and (max-width: 767px) {
                    text-align: left;
                }
                @media only screen and (max-width: 640px) {
                    .action{
                        float: left;
                    }
                }
                & > .action.tocart.primary{
                    text-transform: uppercase;
                    padding: 10px 40px;
                    @media only screen and (max-width: 640px) {
                        padding: 2px 10px;
                    }
                }
            }
            .label{
                .fontRobotoRegular(@font_26_px, @cat-link-color);
                @media only screen and (max-width: 767px) {
                    padding: 6px 15px 0 0;
                }
            }
        }
        .actions-toolbar{
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            @media only screen and (max-width: 640px) {
                display: block;
                margin-left: -20px !important;
                margin-right: -20px;
                width: auto;
            }
            .primary{
                border-bottom: @border-gray-line;
                border-top: @border-gray-line;
                margin-top: 20px;
                padding-bottom: 2%;
                padding-top: 2%;
                text-align: right;
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
                @media only screen and (max-width: 640px) {
                    padding: 0;
                    margin: 10px 0;
                }
                button.action{
                	.fontRobotoBold(@font_24_px, @color-white);
                    .button_bg_style;
                    text-transform: uppercase;
                    padding: 10px 40px;
                    margin-bottom: 0;
                    margin-right: 5px;
                    @media only screen and (max-width: 767px) {
                        width: auto;
                    }
                    @media only screen and (max-width: 640px) {
                        width: 50% !important;
                        margin: 0 !important;
                        float: left;
                        border-radius: 0;
                        padding: 12px;
                        &.update{
                            &:before{
                                color: @color-white;
                                font-family: FontAwesome;
                                content: "\f004";
                                margin-right: 10px;
                            }
                        }
                    }
                    &.share{
                        padding-left: 20px;
                        &:before{
                            color: @color-white;
                            content: "\f1e0";
                            font-family: FontAwesome;
                            font-size: @font_26_px;
                            font-weight: normal;
                            margin-right: 10px;
                        }
                        @media only screen and (max-width: 640px) {
                            // background-color: @color-white;
                            // color: @color-gray-filter;
                            // border-top: @border-gray-line;
                            // border-bottom: @border-gray-line;
                            border-left: @border-gray-line !important;
                            border-left-color: @color-white !important;
                            &:before{
                                // color: @color-gray-filter;
                                content: "\f004";
                            }
                            // &:hover,
                            // &:focus,
                            // &:active{
                            //     background-color: @color-white !important;
                            //     color: @color-gray-filter !important;
                            // }
                        }
                    }
                }
            }
            .secondary{
                display: block;
                margin-top: 30px;
                text-align: left;
                width: 100%;
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .products-grid{
            .product-items li{
                @media only screen and (max-width: 900px) and (min-width: 640px) {
                    width: 50%;
                }
                .product-item-info{
                    &:hover,
                    &.active{
                        box-shadow: unset;
                        margin: unset;
                        padding: unset;
                    }
                }
            }
        }
        .add-all-to-cart-wrapper{
            margin-bottom: 20px;
            margin-top: 15px;
            margin-left: -20px;
            margin-right: -20px;
            width: auto;
            @media only screen and (max-width: 640px) {
                margin: -3px -20px 10px;
            }
            .action{
                border-radius: 0;
                padding-top: 12px;
                padding-bottom: 12px;
                width: 100%;
            }
        }
    }
    .products-grid.wishlist{
        @media only screen and (max-width: 640px) {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }
        .product-item {
            @media only screen and (max-width: 640px) {
                border: medium none;
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
            .price-box{
                @media only screen and (max-width: 767px) {
                    display: block;
                }
            }
        }
        .product-item-actions{
            .action.edit,
            .action.delete{
                // margin-top: 10px;
                @media only screen and (max-width: 640px) {
                    margin-top: 4px;
                }
            }
        }
    }
    .column.main{
        .page-title-wrapper{
            display: none !important;
        }
    }
}
