/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
    url('@{fa-font-path}/fontawesome/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    url('@{fa-font-path}/fontawesome/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    url('@{fa-font-path}/fontawesome/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
  // src: url('@{fa-font-path}/fontawesome/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('@{fa-font-path}/roboto/Roboto-Regular.ttf?v=@{fa-version}') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('@{fa-font-path}/roboto/Roboto-Bold.ttf?v=@{fa-version}') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('@{fa-font-path}/roboto/Roboto-Medium.ttf?v=@{fa-version}') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('@{fa-font-path}/roboto/Roboto-Light.ttf?v=@{fa-version}') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('@{fa-font-path}/playfair-display/PlayfairDisplay-Italic.otf?v=@{fa-version}') format('truetype');
}
