/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */
.estimations{
    width: 100% !important;
}

.estimations input{
    width: 180px !important;
    margin: 5px;
}

.tip-content {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 4px;
    margin-top: 31px;
    font-size: 10px;
    text-align: center;
}

.fieldset > .field, .fieldset > .fields > .field {
    margin: 0 0 10px !important;
}

.wk-mp-design .wk-mp-fieldset .control{
    overflow: hidden !important;
}

label.error{
    font-size: 13px;
    font-weight: 600;
    color: #f00;
}

#frontend-back {
    float: right;
    margin: 5px 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #231d1a;
}

#frontend-back::before {
    content: '\e626';
    margin-right: .5em;
    position: relative;
    top: 1px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.row #frontend-back{
    float: left !important;
    margin: 0 !important;
}