<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject Membership Purchase Email @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{var seller_name|raw}},</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            {{trans "Congratulations! you have successfully purchase your membership plan. Please check your plan details given below."}}
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="query-details">
                <tr>
                    <td class="product-details">
                        <h3>{{trans "Membership Group Name"}}</h3>
                        <p>{{var group_name|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="query-details">
                        <h3>{{trans "Membership Fee"}}</h3>
                        <p>{{var fee_amount|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="query-details">
                        <h3>{{trans "Allowed Products"}}</h3>
                        <p>{{var no_of_products|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="query-details">
                        <h3>{{trans "Expire in"}}</h3>
                        <p>{{var time_periods|raw}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}