<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Product\Configurableattribute */
?>
<form action="<?= /* @noEscape */ $block->getUrl(
    'marketplace/product_attribute/save',
    ['_secure' => $block->getRequest()->isSecure()]
) ?>" method="POST"  id="form-customer-attr-new" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design">
        <fieldset class="info wk-mp-fieldset fieldset" id="associate-product">
            <legend class="legend">
                <span><?= $block->escapeHtml(__('Create Attribute for Configurable Products')) ?></span>
                <div class="wk-btn-group">
                    <button type="reset" class="button wk-mp-btn">
                        <span><span><?= $block->escapeHtml(__('Reset')) ?></span></span>
                    </button>
                    <button class="button wk-mp-btn" title="<?= $block->escapeHtml(__('Save')) ?>"
                            type="submit" id="save-btn">
                        <span><span><?= $block->escapeHtml(__('Save Attribute')) ?></span></span>
                    </button>
                </div>
            </legend>
            <?= $block->getBlockHtml('seller.formkey')?>
            <?= $block->getBlockHtml('formkey')?>

            <div class="fieldset form-list" id="cust">

                <div class="field required">
                    <label class="label"><?= $block->escapeHtml(__('Attribute Code')) ?> : </label>
                    <div class="control">
                        <input type="name"
                               class="validate-code validate-length maximum-length-30 input-text required-entry"
                               name="attribute_code" id="" />
                    </div>
                </div>
                <div class="field required">
                    <label class="label"><?= $block->escapeHtml(__('Attribute Label')) ?> : </label>
                    <div class="control">
                        <input type="name" class="required-entry widthinput input-text" name="attribute_label" id="" />
                    </div>
                </div>
                <div class="field required">
                    <label class="label"><?= $block->escapeHtml(__('Catalog Input Type')) ?> : </label>
                    <div class="control">
                        <select id="frontend_input" class=" select validate-select"
                                title="<?= $block->escapeHtml(__('Catalog Input Type for Store Owner')) ?>"
                                name="frontend_input">
                            <option value=""><?= $block->escapeHtml(__("Please Select")) ?></option>
                            <option value="select"><?= $block->escapeHtml(__("Dropdown")) ?></option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label"><?= $block->escapeHtml(__('Values Required')) ?> : </label>
                    <div class="control">
                        <select id="val_required" class="select val_required"
                                title="<?= $block->escapeHtml(__('Values Required')) ?>" name="val_required">
                            <option value="1"><?= $block->escapeHtml(__("Yes")) ?></option>
                            <option selected="selected" value="0"><?= $block->escapeHtml(__("No")) ?></option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();"
           class="left">&laquo; <?= $block->escapeHtml(__('Back')) ?></a>
    </p>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerCreateConfigurable": {}
        }
    }
</script>
