/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .filter-nav-open .page-wrapper > .block.filter.filter-nav-sections {
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        left: 0;
        z-index: 99;
        display: block;
    }
    .sorter-nav-open .page-wrapper > .toolbar-sorter.sorter-nav-sections {
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        top: 20%;
        z-index: 99;
        display: block;
    }
    .catalog-category-view{
        .breadcrumbs,
        .category-view,
        .sidebar-main .block.filter,
        .toolbar-products .toolbar-sorter{
            display: none;
        }
        .column.main{
            margin-bottom: 0;
            .current-cat{
                display: none;
            }
            .filter-current{
                border-bottom: medium none;
            }
        }
        .sidebar-additional{
        .block.block-reorder,
        .block.block-compare,
        .block.block-wishlist{
            display: none;
        }
        }
        .filter-actions{
            .action{
                &.clear{
                    display: block;
                }
            }
        }
        .resp-filter-wrapper{
        display: block;
        margin-bottom: 5px;
        margin-left: -20px;
        margin-right: -20px;
        width: auto;
            .container {
            display: inline-block;
            padding: 0;
            width: 100%;
            & > .tab {
                display: inline-block;
                float: left;
                width: 50%;
                & > .button{
                    .defaultButtonStyle;
                    width: 100%;
                    display: inline-block;
                    box-sizing: border-box;
                    border-radius: 0;
                    background-color: @color-white;
                    .fontRobotoMedium(16px, @color-gray-filter);
                    padding: 15px;
                    text-transform: uppercase;
                    &.filter{
                        border-top: @border-gray-line !important;
                        border-right: @border-gray-line !important;
                        border-bottom: @border-gray-line !important;
                        border-color: @color-gray-filter;
                        &:hover,
                        &:focus,
                        &:active{
                            border-color: @border-hover-color;
                        }
                        &:before{
                            color: inherit;
                            content: "\f0b0";
                            font-family: FontAwesome;
                            font-size: inherit;
                            padding-right: 6px;
                        }
                    }
                    &.sort{
                        border-top: @border-gray-line !important;
                        border-bottom: @border-gray-line !important;
                        border-color: @color-gray-filter;
                        &:hover,
                        &:focus,
                        &:active{
                            border-color: @border-hover-color;
                            &:before{
                                background-position: -14px 16px;
                            }
                        }
                        &:before{
                            .responsiveHomepageSprite;
                            background-position: 0 16px;
                            content: "";
                            display: inline-block;
                            height: 16px;
                            line-height: 3;
                            margin-right: 5px;
                            width: 14px;
                            margin-top: -2px;
                        }
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        background-color: @link-color-resp !important;
                        color: @color-white !important;
                    }
                }
            }
        }
        }
        .products-list li.product-item:not(:last-child) {
            border-bottom: none;
            margin-bottom: 10px;
        }
    }
    /* layered navigation filter css
    .filter-nav-open {
        .page-wrapper {
            height: 0;
            margin-top: -999999em;
            visibility: hidden;
            .block.filter.filter-nav-sections {
                position: relative;
                visibility: visible;
                z-index: 99;
                display: block;
                & > .filter-title {
                    background-color: #ffffff;
                    padding: 20px;
                    margin-bottom: 0;
                    z-index: 1;
                    top: 0;
                    display: block;
                    height: auto;
                    position: fixed;
                    left: 0;
                    right: 0;
                    strong{
                        .fontRobotoMedium(18px);
                        text-transform: uppercase;
                    }
                    .remove-filter-nav{
                        cursor: pointer;
                        display: inline-block;
                        float: left;
                        padding: 4px 10px 0 0;
                        width: auto;
                        &:before{
                            border-radius: 50%;
                            box-shadow: 0 0 20px @border-submenu;
                            box-sizing: border-box;
                            color: @cat-link-color;
                            content: "\e616";
                            float: left;
                            font-family: "icons-blank-theme";
                            font-size: 20px;
                            font-weight: bold;
                            height: 20px;
                            line-height: 1;
                            width: 20px;
                        }
                        &:hover:before{
                            background-color: @link-color;
                            color: @color-white;
                        }
                    }
                }
                & > .filter-content{
                    visibility: visible;
                    & > .filter-options {
                        display: block;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: fixed;
                        background: #f2f2f2;
                        top: 70px;
                        overflow: scroll;
                        padding: 15px;
                        & > .main-cat-parent {
                            background: #fff;
                            padding: 10px 40px 10px 10px;
                        }
                        .filter-options-item {
                            // &:not(:last-child) {
                                border-bottom: none;
                                margin-bottom: 10px;
                                background: #fff;
                            // }
                            &.active {
                                .filter-options-title {
                                    &:after{
                                        content: "\e622";
                                    }
                                }
                            }
                        }
                        .filter-options-title {
                            padding-bottom: 10px;
                            padding-left: 10px;
                            &:after{
                                content: "\e608";
                                float: right;
                                font-family: "icons-blank-theme";
                                font-size: 25px;
                                padding-top: 5px;
                            }
                        }
                    }
                    & > .filter-actions{
                        .button.layer-filter-btn .button{
                            position: fixed;
                            right: 20px;
                            top: 20px;
                            width: auto;
                            padding: 5px 15px;
                            z-index: 9;
                        }
                    }
                }
            }
        }
    }
    end layered navigation filter css */
    .modes {
        display: inline-block;
        float: none;
        margin-right: 20px;
        text-align: center;
    }
    .products.wrapper ~ .toolbar .modes {
        display: none;
    }
    .modes-label {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .modes-mode {
        color: #7d7d7d;
        border-right: 0;
        float: left;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        &:not(.active):hover {
            color: #7d7d7d;
            background: #dedede;
        }
        &:last-child {
            border-right: 1px solid #d1d1d1;
            border: medium none;
        }
        &.active {
            color: #a6a6a6;
        }
        & > span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        &:before {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 24px;
            line-height: inherit;
            color: #7d7d7d;
            font-family: 'icons-blank-theme';
            vertical-align: middle;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
            background-image: url(../images/Sprite-Category-Page.png);
            display: block;
            background-repeat: no-repeat;
            background-position: -47px 0;
            height: 20px;
            width: 24px;
        }
        &:hover {
            &:before {
                color: #7d7d7d;
            }
            &:not(.active) {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            }
        }
    }
    .mode-grid {
        &:before {
            background-position: -47px 0;
        }
        &:hover:not(.active):before {
            background-position: -71px 0;
        }
        &.active:before {
            background-position: -71px 0;
        }
    }
    .mode-list {
        &:before {
            background-position: 1px 0;
        }
        &:hover:not(.active):before {
            background-position: -23px 0;
        }
        &.active:before {
            background-position: -23px 0;
        }
    }
}
