/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .page-main{
        .xtremo-category-sidebar-main{
            display: none;
        }
        .homepage-content-top-wrapper{
            .xtremo-image-carousel{
                width: 100%;
            }
        }
        .xtremo-feature-carousel{
            background-color: @color-white;
            margin-top: 15px;
            padding: 20px 15px;
            .product-item-info{
                max-width: 80%;
                margin: 0 auto;
            }
            .owl-carousel{
    			.owl-nav{
                    .owl-next,
                    .owl-prev{
                        &:before,
                        &:hover:before{
							.responsiveHomepageSprite;
						}
                        &:before{
                            height: 25px;
                            width: 25px;
                            border-radius: 25px;
                            box-sizing: border-box;
                            box-shadow: 0 0 20px @border-submenu;
                        }
                    }
                    .owl-next{
                        right: -25px;
                        &:before{
                            background-position: 78px 0;
						}
						&:hover:before{
							background-position: 25px 0;
						}
                    }
                    .owl-prev{
                        left: -25px;
                        &:before{
                            background-position: 103px 0;
						}
						&:hover:before{
							background-position: 51px 0;
						}
                    }
                }
            }
        }
        .xtremo-banner-cat{
            height: auto;
            .left-banner{
                float: none;
                padding-right: 0;
                width: 100%;
            }
            .right-banner{
                display: inline-block;
                float: none;
                height: 100%;
                padding-top: 20px;
                width: 100%;
                .banner-2,
                .banner-3{
                    float: left;
                    width: 50%;
                }
                .banner-2{
                    padding-right: 10px;
                    padding-bottom: 0;
                }
                .banner-3{
                    padding-left: 10px;
                    padding-top: 0;
                }
            }
        }
        .xtremo-popular-category{
            .cat-container {
                // width: 33.3333%;
                width: 32.9%;
                margin-bottom: 10px;
            }
        }
    }
}
@media only screen and (max-width: 478px) {
    .page-main{
        .xtremo-popular-category{
            .cat-container {
                width: 32.8%;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .page-main{
        .xtremo-feature-carousel{
            .product-item-info{
                max-width: 85%;
            }
        }
        .xtremo-popular-category{
            .cat-container {
                // width: 50%;
                width: 49%;
            }
        }
    }
}
