/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .page-layout-2columns-left{
        .column.main {
            background-color: @phone-bg-color !important;
            padding: 0;
            width: 100% !important;
        }
        .sidebar-main,
        .sidebar-additional{
            width: 100% !important;
        }
    }
}
