/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .catalog-product-view{
        .breadcrumbs{
            display: none;
        }
        .product.media,
        .product-info-main > div,
        .product.data.items .data.title,
        .product.data.items .data.content{
            background-color: @color-white;
        }
        .product.media{
            margin-top: 0;
            padding: 10px;
            box-sizing: border-box;
        }
        .product-info-main{
            margin-top: 20px;
            & > div{
                padding: 10px;
                margin-bottom: 10px;
                box-sizing: border-box;
            }
            .product-name{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .product-info-price{
                padding-top: 0;
                & > div{
                    margin-bottom: 0;
                }
            }
            & > .product.attribute.overview{
                display: none;
            }
        }
        .product.info.detailed{
            padding: 0;
            margin-bottom: 20px;
            & > .product.data.items {
                & > .data.title {
                    &:after{
                        color: inherit;
                        content: "";
                        display: inline-block;
                        font-family: "icons-blank-theme";
                        font-size: 35px;
                        font-weight: normal;
                        line-height: inherit;
                        margin: -10px 0 0;
                        overflow: hidden;
                        position: absolute;
                        right: 20px;
                        text-align: center;
                        vertical-align: middle;
                    }
                    &.active::after {
                        content: "";
                    }
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                }
            }
            .data{
                &.title,
                &.content{
                    padding: 10px;
                    box-sizing: border-box;
                }
                &.content{
                    margin-top: 0;
                    table.additional-attributes{
                        & > .table-caption{
                            display: none;
                        }
                    }
                }
                &.title{
                    border: medium none;
                }
            }
            #product-review-container{
                margin-left: 0;
            }
            .product-reviews-summary{
                .rating-summary,
                .reviews-actions{
                    .action.add{
                        padding: 0 10px;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
        .field.qty{
            .label,
            .control{
                width: auto;
            }
        }
        .columns{
            .column.main{
                padding: 0;
            }
        }
        .review-form-actions{
            .actions-primary{
                width: auto;
                text-align: left;
                button{
                    text-transform: uppercase;
                    width: auto;
                }
            }
        }
        .product-addto-links{
            box-shadow: 0px 0px 20px @border-submenu;
            display: inline-block;
            width: 100%;
            & > .action{
                &:not(:last-child){
                    border-right: 1px solid @border-submenu;
                }
            }
        }
        .action{
            &.towishlist,
            &.mailto{
                box-sizing: border-box;
                text-align: center;
                width: 50%;
                color: @cat-link-color;
                float: left;
                display: inline-block;
                padding: 10px;
                &:before{
                    .responsiveHomepageSprite;
                    float: none;
                    margin: 0 auto;
                    clear: both;
                    display: block;
                    height: 10px;
                    width: 12px;
                    margin-bottom: 5px;
                }
            }
            &.towishlist{
                &:before{
                    background-position: -27px -26px;
                }
                &:hover,
                &:visited,
                &:focus,
                &:active{
                    &:before{
                        background-position: -40px -25px;
                    }
                }
            }
            &.mailto{
                &:before{
                    background-position: -52px -26px;
                }
                &:hover,
                &:visited,
                &:focus,
                &:active{
                    &:before{
                        background-position: -65px -26px;
                    }
                }
            }
        }
        .box-tocart{
            display: inline-block;
            width: 100%;
            .actions{
                display: none;
            }
        }
        .actions{
            display: inline-block;
            width: 100%;
            &.action-clone{
                &.fix{
                    left: 0;
                    margin-bottom: 0;
                    position: fixed;
                    width: 100%;
                    z-index: 9;
                    box-shadow: 0 0 18px #e3e3e3;
                    bottom: 0;
                    & > .actions{
                        display: block;
                    }
                }
                &.static{
                    margin-left: -20px;
                    margin-right: -20px;
                    width: auto;
                    margin-bottom: 30px;
                    display: flow-root;
                }
                .action.primary{
                    display: inline-block;
                    width: 100%;
                    border-radius: 0;
                    &.tocart,
                    &.buynow-button{
                        display: inline-block;
                        width: 50% !important;
                        float: left;
                        padding: 7px 15px;
                        text-transform: uppercase;
                        line-height: 2.2rem;
                    }
                    &.tocart{
                        color: @footer-bg-color;
                        background-color: @color-white;
                        &.single{
                            width: 100% !important;
                            box-sizing: border-box;
                        }
                        &:hover,
                        &:active,
                        &:focus{
                            background-color: @color-white !important;
                            color: @footer-bg-color !important;
                        }
                    }
                }
            }
        }
    }
}
