<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $objectManager->create(\Webkul\SellerSubDomain\Helper\Data::class);
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @noEscape */ __('Toggle Nav') ?></span></span>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= /* @noEscape */ $helper->getAdminBaseUrl()  ?>" title="<?= /* @noEscape */ $storeName ?>">
<?php endif ?>
        <img src="<?= /* @noEscape */ $block->getLogoSrc() ?>"
             alt="<?= /* @noEscape */ $block->getLogoAlt() ?>"
                <?= /* @noEscape */ $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
                <?= /* @noEscape */ $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>
