<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Account\Becomeseller */

$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
$seller_exist= $helper->isSellerExist();
$becomesellerPostUrl = $block->getUrl(
    'marketplace/account/becomesellerPost',
    ["_secure" => $block->getRequest()->isSecure()]
);
?>
<?php if ($seller_exist) { ?>
    <div class="fieldset">
        <h4 class="legend"><?= $block->escapeHtml(__('Seller Request Panel')) ?></h4>
            <div class="wk_emptymsg"><?= $block->escapeHtml(__('Waiting for approval from admin')) ?></div>
    </div>
<?php } else { ?>
    <form action="<?= /* @noEscape */ $becomesellerPostUrl ?>"
          enctype="multipart/form-data" method="post" id="form-become-seller"
          data-role="form-become-seller" data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('seller.formkey')?>
        <?= $block->getBlockHtml('formkey')?>
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
                <legend class="legend">
                    <span><?= $block->escapeHtml(__('Seller Request Panel')) ?></span>
                    <button type="reset" class="button wk-mp-btn">
                        <span><span><?= $block->escapeHtml(__('Cancel')) ?></span></span>
                    </button>
                    <button type="submit" title="Save" class="button pay wk-mp-btn">
                        <span>
                            <span><?= $block->escapeHtml(__('Save')) ?></span>
                        </span>
                    </button>
                </legend>
                <div class="field required">
                    <label class="label"><?= $block->escapeHtml(__('Shop URL')) ?></label>
                    <?php if ($helper->getProfileHintStatus() && $helper->getProfileHintShopurl()) {?>
                        <?php $questImageUrl = $block->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>
                        <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                             title="<?= $block->escapeHtml($helper->getProfileHintShopurl()) ?>"/>
                    <?php } ?>
                    <?php $loaderUrl = $block->getViewFileUrl('Webkul_Marketplace::images/ajax-loader-tr.gif'); ?>
                    <div class="control shop" id="wk-mp-become-seller-box-wrapper"
                         data-role="wk-mp-become-seller-box-wrapper">
                        <input type="text" class="required-entry wk_input_width" name="profileurl" id="profileurl"
                               data-role="shop-url" placeholder="<?=$block->escapeHtml(__("Please enter shop URL"))?>"/>
                        <div id="wk-load" class="no-display">
                            <img src="<?= /* @noEscape */ $loaderUrl ?>" height="16px" width="16px"/>
                        </div>
                    </div>
                </div>
                <?php $becomeSellerLabel = __('Do you want to become a seller / vendor ?'); ?>
                <div class="field required">
                    <input type="checkbox" class="required-entry" name="is_seller" id="is_seller"/>
                    <label for="is_seller" class="label"
                           style="padding-top: 0"><?= $block->escapeHtml($becomeSellerLabel) ?></label>
                </div>
            </fieldset>
        </div>
    </form>
<?php } ?>
<?php
$formData = [
    'ajaxSaveUrl' => $block->getUrl(
        "marketplace/seller/usernameverify",
        ["_secure" => $block->getRequest()->isSecure()]
    ),
    'successMessage' => __("available"),
    'errorMessage' => __("unavailable"),
    'button' => '.button'
];
$serializedFormData = $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "[data-role=form-become-seller]": {
            "validation": {},
            "verifySellerShop": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
