<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Account\Dashboard */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

/** @var $helper \Webkul\Marketplace\Helper\Orders */
$orderHelper = $mpxtremoViewModel->getMpOrderHelper();

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $mpxtremoViewModel->getXtremoHelper();

/** @var $mpXtremoHelper \Webkul\Mpxtremo\Helper\Data */
$mpXtremoHelper = $mpxtremoViewModel->getMpxtremoHelper();

$captchaEnableStatus = $helper->getCaptchaEnable();

$totalSale = 0;
$totalRemainSale = 0;
$countCat = 0;
$productIds = [];
$sellerProductCount = 0;
foreach ($block->getTotalSaleColl() as $value) {
    $totalSale = $value->getAmountReceived();
    $totalRemainSale = $value->getAmountRemain();
}
$sellerProductCount = $helper->getSellerProCount($block->getCustomerId());

if ($sellerProductCount) {
    $sellerProductData = $helper->getSellerProductData();
    $productIds = array_column($sellerProductData->getData(), 'mageproduct_id');
}

$newCollection = $xtremoHelper->getFilteredProductsCollectionByAttribute('entity_id', ['in'=>$productIds]);
$again = $mpXtremoHelper->addStockFilter($newCollection);
$again->addFieldToSelect('qty');
$totalQty = $again->getColumnValues('qty');

$newCollection->addCategoryIds();
$newCollection->addFieldToSelect('category_ids');
$categoryIdsArr = $newCollection->getColumnValues('category_ids');

if (!empty($categoryIdsArr)) {
    $result = call_user_func_array('array_merge', $categoryIdsArr);
    $countCat = count(array_unique($result));
}

$sellerTodayIncome = $mpXtremoHelper->getSellerTodayIncome($block->getCustomerId());
$sellerWeeklyIncome = $mpXtremoHelper->getSellerWeeklyIncome($block->getCustomerId());
$sellerMonthlyIncome = $mpXtremoHelper->getSellerMonthlyIncome($block->getCustomerId());
$seller = $mpXtremoHelper->getCustomerData($block->getCustomerId());
?>
<div class="wk-mp-design">
    <div class="wk-mp-page-title page-title">
        <div>
            <h2><?= $block->escapeHtml(__('My Dashboard')) ?></h2>
            <button class="button askque" id="askque">
                <span><?= $block->escapeHtml(__('Ask Question to Admin')) ?></span>
            </button>
        </div>
        <div class="dashboard-heading block">
        <div class="title">
            <strong><?= $block->escapeHtml(
                __("hello, %1 !", $seller->getFirstname()." ".$seller->getMiddlename()." ".$seller->getLastname())
            ) ?></strong>
        </div>
            <div class="content">
                <span><?= /* @noEscape */ __("From your My Account Dashboard you have the ability to view a snapshot".
                        " "."of your recent account activity and update your account information.") ?></span>
            </div>
        </div>
    </div>
    <!-- ==============================================custom==================================================== -->
    <div class="block dashboard-table">
        <div class="title">
            <strong><?= $block->escapeHtml(__("Dashboard")) ?></strong>
        </div>
        <div class="content">
            <table cellspacing="0" class="data table">
                <thead>
                    <tr class="wk-content">
                        <th class="">
                            <span class="label name"><?= $block->escapeHtml(__('Total Order')) ?></span>
                        </th>
                        <th class="">
                            <span class="label name"><?= $block->escapeHtml(__('Total Sales')) ?></span>
                        </th>
                        <th class="">
                            <span class="label name"><?= $block->escapeHtml(__('Total Product')) ?></span>
                        </th>
                        <th class="">
                            <span class="label name"><?= $block->escapeHtml(__('Total Categories')) ?></span>
                        </th>
                        <th class="">
                            <span class="label name"><?= $block->escapeHtml(__('Remaining Stock')) ?></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="wk-row-view">
                        <td class="">
                            <span class="label pro-status">
                                <?= /* @noEscape */ $block->getCollection()->getSize() ?>
                            </span>
                        </td>
                        <td class="">
                            <span class="label pro-status">
                                <?= /* @noEscape */ $mpXtremoHelper->formatPrice($totalSale+$totalRemainSale); ?>
                            </span>
                        </td>
                        <td class="">
                            <span class="label pro-status">
                                <?= /* @noEscape */ $sellerProductCount; ?>
                            </span>
                        </td>
                        <td class="">
                            <span class="label pro-status">
                                <?= /* @noEscape */ $countCat ?>
                            </span>
                        </td>
                        <td class="">
                            <span class="label pro-status">
                                <?= /* @noEscape */ array_sum($totalQty) ?>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="block income-data">
        <div class="title">
            <strong><?= $block->escapeHtml(__("Your Income")) ?></strong>
        </div>
        <div class="content">
            <div class="seller-income">
                <label><?= $block->escapeHtml(__("Today Income")) ?></label>
                <h4><?= /* @noEscape */ $mpXtremoHelper->formatPrice($sellerTodayIncome) ?></h4>
            </div>
            <div class="seller-income">
                <label><?= $block->escapeHtml(__("Weekly Income")) ?></label>
                <h4><?= /* @noEscape */ $mpXtremoHelper->formatPrice($sellerWeeklyIncome) ?></h4>
            </div>
            <div class="seller-income">
                <label><?= $block->escapeHtml(__("Monthly Income")) ?></label>
                <h4><?= /* @noEscape */ $mpXtremoHelper->formatPrice($sellerMonthlyIncome) ?></h4>
            </div>
        </div>
    </div>
    <!-- ==============================================custom==================================================== -->

    <div class="block earning-exp">
        <div class="title">
            <strong><?= $block->escapeHtml(__("This year earnings and expenses")) ?></strong>
            <div class="mark-up">
                <span class="earning"><?= $block->escapeHtml(__('Earnings')) ?></span>
                <span class="expense"><?= $block->escapeHtml(__('Expenses')) ?></span>
            </div>
        </div>
        <div class="current-year">
            <div><?= /* @noEscape */ date('Y') ?></div>
        </div>
        <div class="content">
            <div class="statistics">
                <center><?= $block->getChildHtml('diagrams')?></center>
            </div>
        </div>
    </div>

    <!-- ==============================================custom==================================================== -->
    <?php if ($block->getCollection()->getSize()): ?>
        <div class="block order-table">
            <div class="title">
                <strong><?= $block->escapeHtml(__("Recent Order")) ?></strong>
            </div>
            <div class="content">
                <table cellspacing="0" class="data table">
                    <thead>
                        <tr class="wk-content">
                            <th>
                                <span class="label name"><?= $block->escapeHtml(__('Order')) ?></span>
                            </th>
                            <th>
                                <span class="label name"><?= $block->escapeHtml(__('Date')) ?></span>
                            </th>
                            <th>
                                <span class="label name"><?= $block->escapeHtml(__('Ship To')) ?></span>
                            </th>
                            <th>
                                <span class="label name"><?= $block->escapeHtml(__('Status')) ?></span>
                            </th>
                            <th>
                                <span class="label name"><?= $block->escapeHtml(__('Total')) ?></span>
                            </th>
                            <th>
                                <span class="label name"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($block->getCollection() as $res): ?>
                            <?php $order = $block->getMainOrder($res['order_id']);
                            $status = $order->getStatus();
                            $tracking = $orderHelper->getOrderinfo($res['order_id']);
                            if ($tracking->getIsCanceled()) {
                                $status = 'Canceled';
                            }
                            $orderViewUrl = $block->getUrl(
                                'marketplace/order/view',
                                [
                                    'id' => $res['order_id'],
                                    '_secure' => $block->getRequest()->isSecure()
                                ]
                            ); ?>
                            <tr class="wk-row-view">
                                <td>
                                    <span class="label pro-status">
                                        <?= /* @noEscape */ "#".$res['magerealorder_id'] ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="label pro-status">
                                        <?= /* @noEscape */ $block->formatDate($res['created_at']) ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml($order->getCustomerName()) ?>
                                    </span>
                                </td>
                                <td>
                                <span class="label pro-status">
                                <?= /* @noEscape */ $status ?>
                                </span>
                                </td>
                                <td>
                                    <span class="label pro-status">
                                <?= /* @noEscape */ __(
                                    '%1 for %2 items',
                                    $order->formatBasePrice(
                                        $block->getPricebyorder($res['order_id'])
                                    ),
                                    $mpXtremoHelper->getTotalQtyOfSellerProduct(
                                        $block->getCustomerId(),
                                        $res['order_id']
                                    )
                                ) ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="label pro-status">
                                        <a href="<?= /* @noEscape */ $orderViewUrl ?>">
                                            <button class="button" title="<?= $block->escapeHtml(__('View Order')) ?>"
                                                    type="button">
                                                <span>
                                                    <span><span><?= $block->escapeHtml(__('View Order'))?></span></span>
                                                </span>
                                            </button>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php endif; ?>
    <div class="block location-chart">
        <div class="title">
            <strong><?= $block->escapeHtml(__("Top Billing Countries")) ?></strong>
        </div>
        <div class="content">
            <div>
            <center><?= /* @noEscape */ $block->getChildHtml('locationChart')?></center>
        </div>
        </div>
    </div>
    <?php $topCustomers = $mpXtremoHelper->getTopCustomers($block->getCustomerId()) ?>
    <?php if ($helper->getSellerProfileDisplayFlag() && !empty($topCustomers)): ?>
        <div class="block dashboard-table">
            <div class="title">
                <strong><?= $block->escapeHtml(__("Top Customer")) ?></strong>
            </div>
            <div class="content">
                <table cellspacing="0" class="data table">
                    <thead>
                        <tr class="wk-content">
                            <th class="">
                                <span class="label name"><?= $block->escapeHtml(__('Billing Name')) ?></span>
                            </th>
                            <th class="">
                                <span class="label name"><?= $block->escapeHtml(__('Billing Email')) ?></span>
                            </th>
                            <th class="">
                                <span class="label name"><?= $block->escapeHtml(__('Order Count')) ?></span>
                            </th>
                            <th class="">
                                <span class="label name"><?= $block->escapeHtml(__('Account')) ?></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($topCustomers as $buyerId => $orderCount): ?>
                            <?php $buyer = $mpXtremoHelper->getCustomerData($buyerId); ?>
                            <?php if ($buyer): ?>
                                <tr class="wk-row-view">
                                    <td class="">
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($buyer->getFirstname() . " " .
                                                 $buyer->getMiddlename() . " " . $buyer->getLastname()); ?>
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($buyer->getEmail()) ?>
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="label pro-status">
                                            <?= /* @noEscape */ $orderCount ?>
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="label pro-status">
                                            <?= /* @noEscape */ $mpXtremoHelper->formatPrice(
                                                $mpXtremoHelper->getTotalAmountEarned(
                                                    $block->getCustomerId(),
                                                    $buyerId
                                                )
                                            ); ?>
                                        </span>
                                    </td>
                                </tr>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php endif; ?>
    <!-- ==============================================custom==================================================== -->

    <div class="ask-que">
        <div id="wk-mp-ask-data">
            <div class="modals-wrapper">
                        <aside tabindex="0" data-type="popup" data-role="modal"
                           class="modal-popup modal-slide _inner-scroll wk-mp-model-popup">
                    <div tabindex="0" data-role="focusable-start"></div>
                    <div data-role="focusable-scope" class="modal-inner-wrap">
                        <header class="modal-header">
                            <h4 class="modal-title"><?= $block->escapeHtml(__('Ask Question to Admin')) ?></h4>
                            <button type="button" data-role="closeBtn" class="action-close wk-close">
                                <span>Close</span>
                            </button>
                            <span  class="wk-clear" ></span>
                        </header>
                        <form id="ask-form" method="post" action="#" class="fieldset"
                              data-role="ask-form" data-mage-init='{"validation":{}}'>
                            <div class="modal-body form-list field required">
                                <label class="label"><?= $block->escapeHtml(__('Subject')) ?> :</label>
                                <input type="text" name="subject" class="wk-contact_input_fields required-entry"/>
                                <label class="label"><?= $block->escapeHtml(__('Your Query')) ?> :</label>
                                <textarea  name="ask" class="queryquestion wk-contact_input_fields required-entry"
                                           style="width:100%;"></textarea>
                                <input type="hidden" name="seller-id"
                                       value="<?= /* @noEscape */ $block->getCustomerId() ?>"/>
                                <?php
                                if ($captchaEnableStatus) {?>
                                    <div>
                                        <span>
                                            <label for="wk-mp-captcha">
                                                <span id="wk-mp-captchalable1"><?=/* @noEscape */ rand(1, 20)?></span> +
                                                <span id="wk-mp-captchalable2"><?=/* @noEscape */ rand(1, 20)?></span> =
                                            </label>
                                        </span>
                                        <input type="text" class="required-entry wk-contact_input_fields"
                                            name="wk-mp-captcha" id="wk-mp-captcha" />
                                    </div>
                                <?php }?>
                            </div>
                            <div class="modal-footer">
                                <span class="error"></span>
                                <span class="errormail"></span>
                                <input type="reset" value="<?= $block->escapeHtml(__('Reset')) ?>" id="resetbtn"
                                       class="wk-btn wk-btn_default"/>
                                <input type="submit" value="<?= $block->escapeHtml(__('Submit')) ?>" id="askbtn"
                                       class="wk-btn wk-btn-primary clickask"/>
                                <span class="wk-clear"></span>
                            </div>
                        </form>
                    </div>
                    <div tabindex="0" data-role="focusable-end"></div>
                </aside>
            </div>
        </div>
    </div>
</div>
<?php
$formData = [
    'loader'                =>  $block->getViewFileUrl('images/loader-2.gif'),
    'mpLocationChartSelector' => '#wk-location-chart',
    'mpYearLocationChartSelector' => '#wk-location-chart-year',
    'mpAskDataSelector'     => '#wk-mp-ask-data',
    'askQueSelector'        =>  '#askque',
    'askFormSelector'       =>  '#ask-form',
    'askFormInputSelector'  =>  '#ask-form input',
    'askFormTextareaSelector' =>'#ask-form textarea',
    'pageWrapperSelector'   =>  '.page-wrapper',
    'mpModelPopupSelector'  =>  '.wk-mp-model-popup',
    'showClass'             =>  '_show',
    'mageErrorClass'        =>  'mage-error',
    'resetBtnSelector'      =>  '#resetbtn',
    'wkCloseSelector'       =>  '.wk-close',
    'validationFailedSelector'          =>  '.validation-failed',
    'askFormValidationFailedSelector'   =>  '#ask-form .validation-failed',
    'askFormValidationAdviceSelector'   =>  '#ask-form .validation-advice',
    'askFormErrorMailSelector'          => '#ask-form .errormail',
    'askBtnSelector'        =>  '#askbtn',
    'mpCaptcha1Selector'    =>  '#wk-mp-captchalable1',
    'mpCaptcha2Selector'    =>  '#wk-mp-captchalable2',
    'mpCaptchaSelector'     =>  '#wk-mp-captcha',
    'mailProcssClass'       =>  'mail-procss',
    'captchaEnableStatus'   =>  $captchaEnableStatus,
    'ajaxMailSendUrl' =>  $block->getUrl(
        "marketplace/account/askquestion",
        ["_secure" => $block->getRequest()->isSecure()]
    ),
    'ajaxChartUrl'    =>  $block->getUrl(
        "marketplace/account/chart",
        ["_secure" => $block->getRequest()->isSecure()]
    )
];
$serializedFormData =  $mpxtremoViewModel->getJsonHelper()->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerDashboard": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
