<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Account\Editprofile */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

/** @var $mpXtremoHelper \Webkul\Mpxtremo\Helper\Data */
$mpXtremoHelper = $mpxtremoViewModel->getMpxtremoHelper();

$partner = $helper->getSeller();
$profile_hint_status = $helper->getProfileHintStatus();
$editProfilePostUrl = $block->getUrl(
    'marketplace/account/editProfilePost',
    ["_secure" => $block->getRequest()->isSecure()]
);
$questImageUrl = $block->getViewFileUrl('Webkul_Marketplace::images/quest.png');
$profileRewriteUrlPath = $helper->getRewriteUrlPath(
    'marketplace/seller/profile/shop/'.$block->escapeHtml($partner['shop_url'])
);
$collectionRewriteUrlPath = $helper->getRewriteUrlPath(
    'marketplace/seller/collection/shop/'.$block->escapeHtml($partner['shop_url'])
);
$feedbackRewriteUrlPath = $helper->getRewriteUrlPath(
    'marketplace/seller/feedback/shop/'.$block->escapeHtml($partner['shop_url'])
);
$locationRewriteUrlPath = $helper->getRewriteUrlPath(
    'marketplace/seller/location/shop/'.$block->escapeHtml($partner['shop_url'])
);
$profileRewriteUrl = $helper->getRewriteUrl(
    'marketplace/seller/profile/shop/'.$block->escapeHtml($partner['shop_url'])
);
$collectionRewriteUrl = $helper->getRewriteUrl(
    'marketplace/seller/collection/shop/'.$block->escapeHtml($partner['shop_url'])
);
?>
<div id="manage-switcher-component" data-bind="scope:'manage-switcher-component'">
    <div data-bind="visible: showSellerPanel">
        <form action="<?= /* @noEscape */ $editProfilePostUrl ?>" enctype="multipart/form-data"
              method="post" data-role="form-profile-validate" data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('seller.formkey')?>
            <?= $block->getBlockHtml('formkey')?>
            <div class="wk-mp-design">
                <fieldset class="fieldset info wk-mp-fieldset">
                    <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend"
                         id="wk-mp-editprofile-form">
                        <span><?= $block->escapeHtml(__('Edit Profile Information')) ?></span>
                        <button class="button wk-mp-btn" title="<?= $block->escapeHtml(__('Save Profile')) ?>"
                                type="submit" id="save-btn">
                            <span><span><?= $block->escapeHtml(__('Save Profile')) ?></span></span>
                        </button>
                    </div>
                    <legend class="legend"><span><?= $block->escapeHtml(__('Profile Information')) ?></span></legend>
                    <div class="field profile">
                        <input type="checkbox" id="twitterid" name="tw_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Twitter Icon in Profile Page')) ?>"
                            <?php if ($partner['tw_active'] == 1) { echo "checked='checked'";} ?> style="margin: 5px;">
                        <label for="twitterid"><?= $block->escapeHtml(__('Twitter ID')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintTw()) { ?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintTw()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <input type="text" id="twitter_id" name="twitter_id"
                                   value="<?= $block->escapeHtml($partner['twitter_id']); ?>"
                                   title="twitterid" class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="facebookid" name="fb_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Facebook Icon in Profile Page')) ?>"
                            <?php if ($partner['fb_active'] == 1) { echo "checked='checked'";} ?> style="margin: 5px;">
                        <label for="facebookid"><?= $block->escapeHtml(__('Facebook ID')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintFb()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintFb()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                             <input type="text" id="facebook_id" name="facebook_id"
                                    value="<?= $block->escapeHtml($partner['facebook_id']); ?>"
                                    title="facebookid" class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="instagramid" name="instagram_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Instagram Icon in Profile Page')) ?>"
                                <?php if ($partner['instagram_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="instagramid"><?= $block->escapeHtml(__('Instagram ID')) ?> </label>
                        <div class="control">
                             <input type="text" id="instagram_id" name="instagram_id"
                                    value="<?= $block->escapeHtml($partner['instagram_id']); ?>"
                                    class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="gplusid" name="gplus_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Google Plus Icon in Profile Page'))?>"
                                <?php if ($partner['gplus_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="gplusid"><?= $block->escapeHtml(__('Google Plus ID')) ?> </label>
                        <div class="control">
                             <input type="text" id="gplus_id" name="gplus_id"
                                    value="<?= $block->escapeHtml($partner['gplus_id']); ?>"
                                    class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="youtubeid" name="youtube_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Youtube Icon in Profile Page')) ?>"
                                <?php if ($partner['youtube_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="youtubeid"><?= $block->escapeHtml(__('Youtube ID')) ?> </label>
                        <div class="control">
                             <input type="text" id="youtube_id" name="youtube_id"
                                    value="<?= $block->escapeHtml($partner['youtube_id']); ?>"
                                    class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="vimeoid" name="vimeo_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Vimeo Icon in Profile Page')) ?>"
                                <?php if ($partner['vimeo_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="vimeoid"><?= $block->escapeHtml(__('Vimeo ID')) ?> </label>
                        <div class="control">
                             <input type="text" id="vimeo_id" name="vimeo_id"
                                    value="<?= $block->escapeHtml($partner['vimeo_id']); ?>"
                                    class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="pinterestid" name="pinterest_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Pinterest Icon in Profile Page')) ?>"
                                <?php if ($partner['pinterest_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="pinterestid"><?= $block->escapeHtml(__('Pinterest ID')) ?> </label>
                        <div class="control">
                            <input type="text" id="pinterest_id" name="pinterest_id"
                                   value="<?= $block->escapeHtml($partner['pinterest_id']); ?>"
                                   class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <input type="checkbox" id="moleskineid" name="moleskine_active" value="1"
                               title="<?= $block->escapeHtml(__('Allow to Display Moleskine Icon in Profile Page')) ?>"
                                <?php if ($partner['moleskine_active'] == 1) { echo "checked='checked'";} ?>
                               style="margin: 5px;">
                        <label for="moleskineid"><?= $block->escapeHtml(__('Moleskine ID')) ?> </label>
                        <div class="control">
                             <input type="text" id="moleskine_id" name="moleskine_id"
                                    value="<?= $block->escapeHtml($partner['moleskine_id']); ?>"
                                    class="input-text" />
                        </div>
                    </div>
                    <?php $contactPlaceholder = __('Enter Contact Number with country code ex: (123) 456-7890'); ?>
                    <div class="field profile">
                        <label><?= $block->escapeHtml(__('Contact Number')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintCn()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintCn()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                             <input type="text" id="contact_number" name="contact_number"
                                    value="<?= $block->escapeHtml($partner['contact_number']); ?>"
                                    title="<?= $block->escapeHtml(__('Enter Contact Number')) ?>"
                                    class="input-text"
                                    placeholder="<?= $block->escapeHtml($contactPlaceholder) ?>"/>
                        </div>
                    </div>
                    <div class="field profile">
                        <label><?= $block->escapeHtml(__('Tax/VAT Number')) ?> </label>
                        <div class="control">
                            <input type="text" id="taxvat" name="taxvat"
                                   value="<?= $block->escapeHtml($partner['taxvat']); ?>"
                                   title="<?= $block->escapeHtml(__('Enter Tax or VAT number')) ?>"
                                   class="input-text"
                                   placeholder="<?= $block->escapeHtml(__('Enter Tax or VAT number')) ?>"/>
                        </div>
                    </div>
                    <?php
                    if ($helper->getActiveColorPicker()) {?>
                        <div class="field profile">
                            <label for="background_width"><?=
                                $block->escapeHtml(__('Theme : Background Color'))
                            ?> </label>
                            <?php
                            if ($profile_hint_status && $helper->getProfileHintBc()) {?>
                                <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                     title="<?= $block->escapeHtml($helper->getProfileHintBc()) ?>"/>
                                <?php
                            } ?>
                            <div class="control">
                                <input type="text" id="background_width" name="background_width"
                                       value="<?= $block->escapeHtml($partner['background_width']); ?>"
                                       title="background_width" class="input-text" />
                                <span class="color-pick" data-role="color-pick"
                                    data-mage-init='{
                                        "colorPickerFunction":{
                                "spanBackgroundColor" : "<?= $block->escapeHtml($partner['background_width'])?>",
                                "getActiveColorPickerStatus" : "<?= /* @noEscape */ $helper->getActiveColorPicker()?>",
                                "backgroundWidthSelector" : "#background_width"}}'></span>
                            </div>
                        </div>
                        <?php
                    } ?>
                    <div class="field profile">
                        <label for="shoptitle"><?= $block->escapeHtml(__('Shop Title')) ?></label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintShop()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintShop()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <input type="text" id="shop_title" name="shop_title"
                                   value="<?= $block->escapeHtml($partner['shop_title']); ?>"
                                   title="<?= $block->escapeHtml(__('Shop Title'))?>"
                                   class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="banner-pic"> <?= $block->escapeHtml(__('Company Banner')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintBanner()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintBanner()) ?>"/>
                            <?php
                        } ?>
                        <label class="control-notification control-notification1">(<?=
                            $block->escapeHtml(__("Upload 700px X 100px for better look"))
                        ?>)</label>
                        <?php
                        $bannerpic = $partner['banner_pic'];
                        $logopic = $partner['logo_pic'];
                        $deleteIconUrl = $block->getViewFileUrl('Webkul_Marketplace::images/deleteIcon.png');
                        ?>
                        <div class="control">
                            <div data-provides="fileinput" class="fileinput fileinput-new">
                                <span class="btn btn-default btn-file">
                                    <span>Choose file</span>
                                    <input type="file" id="banner-pic" name="banner_pic" title="Banner Pic" size="26" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <span class="fileinput-new">No file chosen</span>
                            </div>
                            <div class="profileimage-set">
                                  <div class="setimage">
                                    <img class="wk-banner" alt=" <?= $block->escapeHtml(__('no image')) ?>"
                                         src="<?= /* @noEscape */ $helper->getMediaUrl().'avatar/'.$bannerpic; ?>"/>
                                    <?php
                                    if ($bannerpic) {
                                        ?>
                                    <span class="wk-profileimagedelete" title="<?= $block->escapeHtml(__('Delete'))?>">
                                        <img src="<?= /* @noEscape */ $deleteIconUrl ?>"
                                             alt="<?= $block->escapeHtml(__('Delete Image')) ?>"
                                             title="<?= $block->escapeHtml(__('Delete Image')) ?>"/>
                                    </span>
                                        <?php
                                    }?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="logo-pic"> <?= $block->escapeHtml(__('Company Logo')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintLogo()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintLogo()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <div data-provides="fileinput" class="fileinput fileinput-new">
                                <span class="btn btn-default btn-file">
                                    <span>Choose file</span>
                                    <input type="file" id="logo-pic" name="logo_pic"
                                           title="<?= $block->escapeHtml(__('Seller Logo')) ?>"
                                           size="26" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <span class="fileinput-new"><?= $block->escapeHtml(__('No file chosen'))?></span>
                            </div>
                            <div class="logoimage-set">
                                  <div class="setimage">
                                    <img class="prev-img"
                                         src="<?= /* @noEscape */ $helper->getMediaUrl().'avatar/'.$logopic; ?>"/>
                                    <?php
                                    if ($logopic) {
                                        ?>
                                        <span class="wk-logoimagedelete" title="<?= $block->escapeHtml(__('Delete'))?>">
                                            <img src="<?= /* @noEscape */ $deleteIconUrl ?>"
                                                 alt="<?= $block->escapeHtml(__('Delete Image')) ?>"
                                                 title="<?= $block->escapeHtml(__('Delete Image')) ?>"/>
                                        </span>
                                        <?php
                                    }?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="company_locality"><?= $block->escapeHtml(__('Company Locality')) ?></label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintLoc()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintLoc()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                             <input type="text" id="company_locality" name="company_locality"
                                    value="<?= $block->escapeHtml($partner['company_locality']); ?>"
                                    title="company_locality"
                                    class="input-text" />
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="company_description"><?= $block->escapeHtml(__('Company Description')) ?></label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintDesc()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintDesc()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                             <textarea type="text" id="company_description" name="company_description"
                                       title="company_description" class="input-text compdesi" ><?=
                                            $block->escapeHtml($partner['company_description']);
                                        ?> </textarea>
                                <?php if ($mpXtremoHelper->isWysiwygEnabled()): ?>
                             <script>
                                require([
                                "jquery", 
                                "mage/translate", 
                                "mage/adminhtml/events", 
                                "mage/adminhtml/wysiwyg/tiny_mce/setup"
                                ], function(jQuery){
                                    wysiwygCompanyDescription = new wysiwygSetup("company_description", {
                                        "width":"100%",
                                        "height":"200px",
                                        "plugins":[{"name":"image"}],
                                        "tinymce4":{
                                            "toolbar":"ltr rtl | formatselect | bold italic underline | alignleft " +
                                                "aligncenter alignright | bullist numlist | link table charmap",
                                            "plugins":"advlist autolink lists link charmap media noneditable table " +
                                                "contextmenu paste code help table directionality",
                                        }
                                    });
                                    wysiwygCompanyDescription.setup("exact");
                                });
                            </script>
                            <?php endif ?>
                        </div>
                    </div>
                    <?php
                    if ($helper->getSellerPolicyApproval()) {?>
                        <div class="field profile">
                            <label><?= $block->escapeHtml(__('Return Policy')) ?></label>
                            <?php
                            if ($profile_hint_status && $helper->getProfileHintReturnPolicy()) {?>
                                <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                     title="<?= $block->escapeHtml($helper->getProfileHintReturnPolicy()) ?>"/>
                                <?php
                            } ?>
                            <div class="control">
                                <textarea type="text" id="return_policy" name="return_policy" title="return_policy"
                                          class="input-text compdesi" ><?=
                                                $block->escapeHtml($partner['return_policy']);
                                            ?> </textarea>
                            </div>
                        </div>
                        <div class="field profile">
                            <label><?= $block->escapeHtml(__('Shipping Policy')) ?></label>
                            <?php
                            if ($profile_hint_status && $helper->getProfileHintShippingPolicy()) {?>
                                <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                     title="<?= $block->escapeHtml($helper->getProfileHintShippingPolicy()) ?>"/>
                                <?php
                            } ?>
                            <div class="control">
                                <textarea type="text" id="shipping_policy" name="shipping_policy"
                                          title="shipping_policy" class="input-text compdesi" ><?=
                                                $block->escapeHtml($partner['shipping_policy']);
                                            ?> </textarea>
                            </div>
                        </div>
                        <?php
                    } ?>
                    <div class="field profile">
                        <label for="country_pic"> <?= $block->escapeHtml(__('Country')) ?> </label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintCountry()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintCountry()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                             <select name="country_pic" id="country-pic">
                                <option value="" selected="selected" disabled="disabled"><?=
                                    $block->escapeHtml(__('Select Country'))
                                ?></option>
                            <?php foreach ($block->getCountryOptionArray() as $country) {?>
                                <option
                                <?php
                                if ($country['value'] != '') {
                                    echo ($partner['country_pic'] == $country['value']?"selected='selected'":""); ?>
                                    value="<?= $block->escapeHtml($country['value']) ?>"><?=
                                        $block->escapeHtml($country['label'])
                                    ?></option>
                                    <?php
                                }
                            } ?>
                            </select>
                            <img class="country_img_prev" alt="no image"
                                 src="<?=
                                    /* @noEscape */ $block->getViewFileUrl(
                                        'Webkul_Marketplace::images/country/countryflags/'
                                    )."/".
                                    strtoupper($partner['country_pic']==""?"xx":$partner['country_pic']).".png"; ?>"/>
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="meta_keywords"><?= $block->escapeHtml(__('Meta Keywords')) ?></label>
                        <label class="control-notification">(<?=
                            $block->escapeHtml(__("Enter Meta Keywords Comma(',') Separated.."))
                        ?>)</label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintMeta()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintMeta()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <textarea type="text" id="meta_keywords" name="meta_keyword" title="Meta Keyword"
                                      class="input-text compdesi" ><?=
                                            $block->escapeHtml($partner['meta_keyword']);
                                        ?> </textarea>
                        </div>
                    </div>
                    <div class="field profile">
                        <label for="meta_description"><?= $block->escapeHtml(__('Meta Description')) ?></label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintMetaDesc()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintMetaDesc()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <textarea type="text" id="meta_description" name="meta_description"
                                      title="<?= $block->escapeHtml(__('Meta Description')) ?>"
                                      class="input-text compdesi" ><?=
                                            $block->escapeHtml($partner['meta_description']);
                                        ?> </textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <?php
        if ($helper->getUrlRewrite()) { ?>
            <?php $rewritePostUrl = $block->getUrl(
                'marketplace/account/rewriteUrlPost',
                ["_secure" => $block->getRequest()->isSecure()]
            ) ?>
            <br/><br/>
            <form action="<?= /* @noEscape */ $rewritePostUrl ?>" enctype="multipart/form-data" method="post"
                  data-role="form-urlrewrite-validate" data-mage-init='{"validation":{}}'>
                <div class="page-title" style="width:100%;display:inline-block;">
                <h2 style="float:left;"><?= $block->escapeHtml(__('Manage Your Shop Url')) ?></h2>
                    <button class="button wk-mp-btn"
                            title="<?= $block->escapeHtml(__('Set Your New Shop Url')) ?>"
                            type="submit" style="float:right;">
                        <span><span><?= $block->escapeHtml(__('Save Url')) ?></span></span>
                    </button>
                </div>
                <?= $block->getBlockHtml('seller.formkey')?>
                <?= $block->getBlockHtml('formkey')?>
                <div class="wk-mp-design">
                    <fieldset class="fieldset info wk-mp-fieldset">
                        <legend class="legend"><span><?= $block->escapeHtml(__('Edit Your Shop Url')) ?></span></legend>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Profile Page Target Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       value="<?= 'marketplace/seller/profile/shop/'.
                                        $block->escapeHtml($partner['shop_url']) ?>" readonly/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Profile Page Request Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       name="profile_request_url" id="profile_request_url"
                                       value="<?= /* @noEscape */ $profileRewriteUrlPath ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Collection Page Target Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       value="<?= 'marketplace/seller/collection/shop/'.
                                        $block->escapeHtml($partner['shop_url']) ?>" readonly/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Collection Page Request Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       name="collection_request_url" id="collection_request_url"
                                       value="<?= /* @noEscape */ $collectionRewriteUrlPath ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Review Page Target Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       value="<?= 'marketplace/seller/feedback/shop/'.
                                        $block->escapeHtml($partner['shop_url']); ?>" readonly/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Review Page Request Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       name="review_request_url" id="review_request_url"
                                       value="<?= /* @noEscape */ $feedbackRewriteUrlPath ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Location Page Target Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       value="<?= 'marketplace/seller/location/shop/'.
                                        $block->escapeHtml($partner['shop_url']); ?>" readonly/>
                            </div>
                        </div>
                        <div class="field">
                            <label><?= $block->escapeHtml(__('Location Page Request Url Path')) ?></label>
                            <div class="control">
                                <input type="text" class="input-text"
                                       name="location_request_url" id="location_request_url"
                                       value="<?= /* @noEscape */ $locationRewriteUrlPath ?>"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            <?php
        }
        ?>
        <br/><br/>
        <?php $savePaymentInfoUrl = $block->getUrl(
            'marketplace/account/savePaymentInfo',
            ["_secure" => $block->getRequest()->isSecure()]
        ); ?>
        <form action="<?= /* @noEscape */ $savePaymentInfoUrl ?>" enctype="multipart/form-data"
              method="post" data-role="form-payment-validate" data-mage-init='{"validation":{}}'>
            <div class="wk-mp-page-title page-title">
                <h2><?= $block->escapeHtml(__('Edit Payment Information')) ?></h2>
                <button class="button wk-mp-btn" title="<?= $block->escapeHtml(__('Save Payment')) ?>" type="submit">
                    <span><span><?= $block->escapeHtml(__('Save Payment')) ?></span></span>
                </button>
            </div>
            <?= $block->getBlockHtml('seller.formkey')?>
            <?= $block->getBlockHtml('formkey')?>
            <div class="wk-mp-design">
                <fieldset class="fieldset info wk-mp-fieldset">
                    <legend class="legend"><span><?= $block->escapeHtml(__('Payment Information')) ?></span></legend>
                    <div class="field">
                        <label><?= $block->escapeHtml(__('Payment Details')) ?></label>
                        <?php
                        if ($profile_hint_status && $helper->getProfileHintBank()) {?>
                            <img src="<?= /* @noEscape */ $questImageUrl ?>" class='questimg'
                                 title="<?= $block->escapeHtml($helper->getProfileHintBank()) ?>"/>
                            <?php
                        } ?>
                        <div class="control">
                            <textarea class="input-text" name="payment_source" id="payment-source"
                                      title="payment source" cols="1" rows="3" ><?=
                                            $block->escapeHtml($partner['payment_source']);
                                        ?></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <br/><br/>
        <?= $block->getChildHtml(); ?>
        <div class="field profile">
            <div class="wk-profile-links">
                <a class="btn-primary" href="<?= /* @noEscape */ $profileRewriteUrl ?>"
                   target="_blank"><?= $block->escapeHtml(__('View Profile')) ?></a>
            </div>
            <div class="wk-profile-links">
                <a class="btn-primary" href="<?= /* @noEscape */ $collectionRewriteUrl ?>"
                   target="_blank"><?= $block->escapeHtml(__('View Collection')) ?></a>
            </div>
        </div>
        <div class="buttons-set">
            <p class="back-link">
                <a href="javascript:;" onclick="javascript: window.history.back();"
                   class="left">&laquo; <?= $block->escapeHtml(__('Back')) ?></a>
            </p>
        </div>
    </div>
    <?php
    $formData = [
        'countryPicSelector' => '#country-pic',
        'countryImgPrevSelector' => '.country_img_prev',
        'countryLatitudeSelector' => '#country-latitude',
        'countryLongitudeSelector' => '#country-longitude',
        'countryImgPrev' => $block->getViewFileUrl("Webkul_Marketplace::images/country/countryflags/"),
        'backgroundWidthSelector' => '#background_width',
        'logoPicSelector' => '#logo-pic',
        'bannerPicSelector' => '#banner-pic',
        'leftButtonSelector' => '.left',
        'buttonsSetLastSelector' => '.buttons-set:last',
        'inputTextSelector' => '.input-text',
        'profileimageSetSpanSelector' => '.profileimage-set span',
        'bannerSelector' => '.wk-banner',
        'bannerDeleteAjaxUrl' => $block->getUrl(
            'marketplace/account/deleteSellerBanner',
            ['_secure' => $block->getRequest()->isSecure()]
        ),
        'setimageSelector' => '.setimage',
        'profileImageDeleteSelector' => '.wk-profileimagedelete img',
        'logoImageSetSpanSelector' => '.logoimage-set span',
        'logoSelector' => '.wk-logo',
        'logoDeleteAjaxUrl' => $block->getUrl(
            'marketplace/account/deleteSellerLogo',
            ['_secure' => $block->getRequest()->isSecure()]
        ),
        'logoImageDeleteSelector' => '.wk-logoimagedelete img'
    ];
    $serializedFormData = $mpxtremoViewModel->getJsonHelper()->jsonEncode($formData);
    ?>

    <script type="text/x-magento-init">
        {
            "*": {
                "editSellerProfile": <?= /* @noEscape */ $serializedFormData; ?>
            }
        }
    </script>
</div>
