<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* @var $block \Magento\Wishlist\Block\Customer\Sidebar */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $wishlistHelper \Magento\Wishlist\Helper\Data */
$wishlistHelper = $xtremoViewModel->getWishlistHelper();
?>
<?php if ($wishlistHelper->isAllow()): ?>
    <div class="block block-wishlist" data-bind="scope: 'wishlist'">
        <div class="block-title">
            <strong><?= $block->escapeHtml($block->getTitle()) ?></strong>
            <!-- ko if: wishlist().counter -->
            <span data-bind="text: wishlist().counter" class="counter"></span>
            <!-- /ko -->
        </div>
        <div class="block-content">
            <strong class="subtitle"><?= $block->escapeHtml(__('Last Added Items')) ?></strong>
            <!-- ko if: wishlist().counter -->
                <ol class="product-items no-display" id="wishlist-sidebar"
                    data-bind="foreach: wishlist().items, css: {'no-display': null}">
                    <li class="product-item">
                        <div class="product-item-actions">
                            <div class="actions-secondary">
                                <a href="#"  data-bind="attr: {'data-post': delete_item_params}"
                                   title="<?= $block->escapeHtml(__('Remove This Item')) ?>"
                                   class="btn-remove action delete">
                                    <span><?= $block->escapeHtml(__('Remove This Item')) ?></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-item-info">
                            <a class="product-item-photo" data-bind="attr: { href: product_url, title: product_name }">
                                <!-- ko template: {name: $data.image.template, data: $data.image} --><!-- /ko -->
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a data-bind="attr: { href: product_url }" class="product-item-link">
                                        <span data-bind="text: product_name"></span>
                                    </a>
                                </strong>
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="actions-toolbar no-display" data-bind="css: {'no-display': null}">
                    <div class="primary">
                        <a class="action details"
                           href="<?= /* @noEscape */ $wishlistHelper->getListUrl() ?>"
                           title="<?= $block->escapeHtml(__('Go to Wish List')) ?>">
                            <span><?= $block->escapeHtml(__('Go to Wish List')) ?></span>
                        </a>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko ifnot: wishlist().counter -->
                <div class="empty"><?= $block->escapeHtml(__('You have no items in your wish list.')) ?></div>
            <!-- /ko -->
        </div>
    </div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }
</script>
<?php endif ?>
