<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ ?>
<div class="wk-mp-page-title page-title">
    <h2><?= $block->escapeHtml(__("My Wishlist")) ?></h2>
    <?= /* @noEscape */ $block->getChildHtml(); ?>
</div>
