<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $wishlistHelper \Magento\Wishlist\Helper\Data */
$wishlistHelper = $xtremoViewModel->getWishlistHelper();
?>
<?php $wishlistUrl = $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]);
if ($wishlistHelper->isAllow()): ?>
    <?= /* @noEscape */ $block->getChildHtml('wishlist.rss.link') ?>
    <form class="form-wishlist-items" id="wishlist-view-form"
          data-mage-init='{"wishlist":{
          "addToCartUrl":<?= /* @noEscape */ $block->getItemAddToCartParams("%item%");?>,
          "addAllToCartUrl":<?= /* @noEscape */ $block->getAddAllToCartParams(); ?>,
          "commentString":""},
          "validation": {}}' action="<?= /* @noEscape */ $wishlistUrl ?>" method="post">
        <?= /* @noEscape */ $block->getChildHtml('top') ?>
        <?php if ($block->hasWishlistItems()): ?>
            <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
            <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
            <?= /* @noEscape */ $block->getChildHtml('items') ?>
        <?php else: ?>
            <div class="message info empty">
                <span><?= $block->escapeHtml(__('You have no items in your wish list.')) ?></span>
            </div>
        <?php endif ?>
        <?= /* @noEscape */ $block->getChildHtml('bottom') ?>
        <?php if ($block->hasWishlistItems()): ?>
            <div class="actions-toolbar">
                <div class="primary">
                    <?= /* @noEscape */ $block->getChildHtml('control_buttons') ?>
                </div>
                <div class="secondary">
                    <a href="<?= $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
                        <span><?= $block->escapeHtml(__('Back')) ?></span>
                    </a>
                </div>
            </div>
        <?php endif ?>
    </form>
    <script id="form-tmpl" type="text/x-magento-template">
      <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
          <% if (data.qty) { %>
          <input name="qty" value="<%- data.qty %>">
          <% } %>

          <% if (data.item) { %>
          <input name="item" value="<%- data.item %>">
          <% } %>

          <% if (data.entity) { %>
          <input name="entity" value="<%- data.entity %>">
          <% } %>
      </form>
  </script>
<?php endif ?>
