<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Magento\Swatches\Block\LayeredNavigation\RenderLayered */
?>
<?php $swatchData = $block->getSwatchData(); ?>
<?php $params = $block->getRequest()->getParams(); ?>
<div class="swatch-attribute swatch-layered <?= $block->escapeHtml($swatchData['attribute_code']) ?>"
     attribute-code="<?= $block->escapeHtml($swatchData['attribute_code']) ?>"
     attribute-id="<?= $block->escapeHtml($swatchData['attribute_id']) ?>">
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <?php $flag = false;
            $additionalClassForBorder = "";
            $swatchOptionValue = $swatchData['swatches'][$option]['value']; ?>
            <?php if (isset($params[$swatchData['attribute_code']])
                && in_array($option, explode(",", $params[$swatchData['attribute_code']]))
            ) {
                $additionalClassForBorder = " swatch-selected";
                $flag = true;
            } ?>
            <a href="<?= /* @noEscape */ $label['link'] ?>"
               class="swatch-option-link-layered<?= /* @noEscape */ $additionalClassForBorder ?>">
                <?php if ($flag): ?>
                    <input type="hidden"
                           name="<?= $block->escapeHtml($swatchData['attribute_code']) ?>"
                           value="<?= $block->escapeHtml($option) ?>" />
                <?php endif; ?>
                <?php if (isset($swatchData['swatches'][$option]['type'])) { ?>
                    <?php switch ($swatchData['swatches'][$option]['type']) {
                        case '3':
                            ?>
                            <div class="swatch-option <?= $block->escapeHtml($label['custom_style']) ?>"
                                 option-type="3"
                                 option-id="<?= $block->escapeHtml($option) ?>"
                                 option-label="<?= $block->escapeHtml($label['label']) ?>"
                                 option-tooltip-thumb=""
                                 option-tooltip-value=""
                                ></div>
                            <?php
                                  break;
                        case '2':
                            ?>
                            <?php $swatchThumbPath = $block->getSwatchPath(
                                'swatch_thumb',
                                $swatchData['swatches'][$option]['value']
                            ); ?>
                            <?php $swatchImagePath = $block->getSwatchPath(
                                'swatch_image',
                                $swatchData['swatches'][$option]['value']
                            ); ?>
                            <div class="swatch-option image <?= $block->escapeHtml($label['custom_style']) ?>"
                                 option-type="2"
                                 option-id="<?= $block->escapeHtml($option) ?>"
                                 option-label="<?= $block->escapeHtml($label['label']) ?>"
                                 option-tooltip-thumb="<?= $block->escapeHtml($swatchThumbPath) ?>"
                                 option-tooltip-value=""
                                 style="background: url(<?= /* @noEscape */ $swatchImagePath ?>) no-repeat center;
                                        background-size: initial;"></div>
                            <?php
                                  break;
                        case '1':
                            ?>
                            <div class="swatch-option color <?= $block->escapeHtml($label['custom_style']) ?>"
                                 option-type="1"
                                 option-id="<?= $block->escapeHtml($option) ?>"
                                 option-label="<?= $block->escapeHtml($label['label']) ?>"
                                 option-tooltip-thumb=""
                                 option-tooltip-value="<?= /* @noEscape */ $swatchOptionValue ?>"
                                 style="background: <?= /* @noEscape */ $swatchOptionValue ?> no-repeat center;
                                        background-size: initial;"></div>
                            <?php
                                  break;
                        case '0':
                        default:
                            ?>
                                <div class="swatch-option text <?= $block->escapeHtml($label['custom_style']) ?>"
                                     option-type="0"
                                     option-id="<?= $block->escapeHtml($option) ?>"
                                     option-label="<?= $block->escapeHtml($label['label']) ?>"
                                     option-tooltip-thumb=""
                                     option-tooltip-value=""
                                    ><?= /* @noEscape */ $swatchOptionValue ?></div>
                            <?php
                                  break;
                    } ?>
                <?php } ?>
            </a>
        <?php endforeach; ?>
    </div>
</div>

<script>
    require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
        $('.swatch-layered.<?= /* @noEscape */ $swatchData['attribute_code'] ?>')
            .find('[option-type="1"], [option-type="2"], [option-type="0"], [option-type="3"]')
            .SwatchRendererTooltip();
    });
</script>
