/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

.estimation_day_from .admin__field-control{
    width: 112px !important;
    position: relative;
    padding-bottom: 55px;
}

.estimation_day_to{
    top: auto !important;
    width: 240px !important;
    left: calc((100%)*.25 - 30px) !important;
    margin-left: 150px !important;
    bottom: 119px !important;
}

.estimation_day_to .admin__field-control{
    width: 112px !important;
}

.estimation_day_to .admin__field-label::after{
    content: ' — ' !important;
}

.estimation_day_to .admin__field-label{
    margin-left: 12px !important;
}

.add-row{
    margin-top: 10px;
}

.row .row-coditions-text{
    font-weight: 600;
    padding: 12px;
}

.row .zip-range{
    display: inline-block;
    margin-left: 12px;
}