/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 
.add-row{
    margin-top: 10px;
}

.date-selector-block{
    text-align: center;
}

.date-selector-from{
    width: 45%;
}

.date-selector-to{
    width: 45%;
    margin-left: 5px;
}

.admin__fieldset > .admin__field > .admin__field-control {
    width: calc( (100%) * 0.6 - 30px );

}

