<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<section class="admin__page-section order-view-billing-shipping">
    <div class="admin__page-section-content">
        <?php
            $helper = $block->helper();
            $rmaDetails = $helper->getRmaDetails();
            $orderId = $rmaDetails->getOrderId();
            $order = $helper->getOrder($orderId);
            $orderRef = $rmaDetails->getOrderRef();
            $orderUrl = $block->getUrl("sales/order/view/")."order_id/".$rmaDetails->getOrderId();
            $rmaId = $rmaDetails->getId();
            $images = $helper->getImages($rmaId);
            $date = $rmaDetails->getCreatedDate();
            $date = $block->formatDate($date, \IntlDateFormatter::MEDIUM, true);
            $sellerName = $helper->getCustomerName($rmaId, true);
            $customerName = $helper->getCustomerName($rmaId, false);
            $qty = $rmaDetails->getQty();
            $price = $rmaDetails->getPrice();
            $totalPrice = $qty*$price;
            $status = $rmaDetails->getStatus();
            $finalStatus = $rmaDetails->getFinalStatus();
            $resolutionType = $rmaDetails->getResolutionType();
            $rmaStatus = $helper->getRmaStatusTitle($status, $finalStatus);
            $sellerStatus = $helper->getSellerStatusTitle($rmaDetails->getSellerStatus());
            $resolution = $helper->getResolutionTypeTitle($resolutionType);
            $orderStatus = $helper->getOrderStatusTitle($rmaDetails->getOrderStatus());
            $productDetails = $helper->getRmaProductDetails($rmaId);
            $sellerId = $rmaDetails->getSellerId();
            
            $rmaItemId = $helper->getRmaItems($rmaId)->getItemId();
            $rmaRefundQty = $helper->getRmaItems($rmaId)->getQty();
            $invoice = $order->getInvoiceCollection()->getFirstItem();
            $invoiceId = $invoice->getId();
            $productType = "";
            $count = 0;
        foreach ($productDetails as $product) {
            $totalPrice += $helper->getItemFinalPrice($product);
            $productTyp = $product->getProductType();
            if ($productTyp == "simple" || $productTyp == "configurable" || $productTyp == "bundle") {
                $count++;
            }
        }
        if ($count == 0) {
            $productType = "intangible";
        } else {
            $productType = "tangible";
        }
            $allStatus = $helper->getAllStatus($resolutionType, $productType);

        ?>
        <div class="wk-mprma-container wk-mprma-view">
            <div class="wk-title">
                <?= $block->escapeHtml(__("RMA Details")); ?>
                <span class="wk-date-info"><?= $block->escapeHtml($date);?></span>
            </div>
            <fieldset class="fieldset wk-mprma-fieldset">
                <div class="field">
                    <label for="Ordrer Id" class="label">
                        <span><?= $block->escapeHtml(__("Order Id")); ?></span>
                    </label>
                    <div class="control">
                        <a target="_blank" href="<?= $block->escapeUrl($orderUrl);?>">
                            <?= $block->escapeHtml($orderRef);?>
                        </a>
                    </div>
                </div>
                <div class="field">
                    <label for="Status" class="label">
                        <span><?= $block->escapeHtml(__("Status")); ?></span>
                    </label>
                    <div class="control">
                        <div class="wk-row">
                            <span><?= $block->escapeHtml(__("RMA Status")); ?> :</span> 
                                <?= $block->escapeHtml($rmaStatus); ?>
                        </div>
                        <div class="wk-row"><span>
                            <?= $block->escapeHtml(__("Order Status")); ?> :</span> 
                            <?= $block->escapeHtml($orderStatus);?>
                        </div>
                        <?php if ($rmaDetails->getOrderStatus() == 1):?>
                            <div class="wk-row">
                                <span>
                                    <?= $block->escapeHtml(__("Consignment Number")); ?> :</span> 
                                    <?= $block->escapeHtml($rmaDetails->getNumber()); ?>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
                <div class="field">
                    <label for="Resolution Type" class="label">
                        <span><?= $block->escapeHtml(__("Resolution Type")); ?></span>
                    </label>
                    <div class="control">
                        <?= $block->escapeHtml($resolution);?>
                    </div>
                </div>
                <div class="field">
                    <label for="Additional Information" class="label">
                        <span><?= $block->escapeHtml(__("Additional Information")); ?></span>
                    </label>
                    <div class="control">
                        <?= $block->escapeHtml($rmaDetails->getAdditionalInfo());?>
                    </div>
                </div>
                <?php if ($resolutionType == \Webkul\MpRmaSystem\Helper\Data::RESOLUTION_REFUND): ?>
                    <div class="field wk-refund-block wk-display-none">
                        <label for="Refund Details" class="label">
                            <span><?= $block->escapeHtml(__("Refund Details")); ?></span>
                        </label>
                        <div class="control">
                            <div class="wk-row">
                                <span><?= $block->escapeHtml(__("Refundable Amount")); ?> :</span>
                                <span class="wk-refundable-amount"></span>
                            </div>
                            <?php if ($rmaDetails->getRefundedAmount() > 0): ?>
                                <div class="wk-row">
                                    <span><?= $block->escapeHtml(__("Refunded Amount")); ?> :</span>
                                    <span class="wk-refunded-amount">
                                        <?= /* @noEscape */ $order->formatPrice($rmaDetails->getRefundedAmount()); ?>
                                    </span>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if (count($images) > 0): ?>
                    <div class="field wk-lg">
                        <label for="Images" class="label">
                            <span><?= $block->escapeHtml(__("Images")); ?></span>
                        </label>
                        <div class="control">
                            <div id="preview">
                                <?php foreach ($images as $image): ?>
                                    <div class="wk-showcase-block">
                                        <img src="<?= $block->escapeHtml($image);?>">
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </fieldset>
        </div>
        <?php if ($helper->isAdminRma()): ?>
            <div class="wk-mprma-container wk-mprma-view">
                <div class="wk-title wk-close-title">
                    <?= $block->escapeHtml(__("Change RMA Status")); ?>
                </div>
                <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
                    <?php if ($finalStatus == 0): ?>
                        <form method="get" action="<?= $block->escapeHtml($block->getUrl('*/*/update')); ?>" 
                            id="wk_rma_close_form" data-mage-init='{"validation":{}}'>
                            <input type="hidden" value="<?= $block->escapeHtml($rmaId); ?>" name="rma_id">
                            <div class="field">
                                <div class="control">
                                    <div class="wk-action-content">
                                        <select id="seller_status" name="seller_status" 
                                            class="select admin__control-select">
                                            <?php foreach ($allStatus as $key => $status): ?>
                                                <?php if ($rmaDetails->getSellerStatus() == $key): ?>
                                                    <option value="<?= $block->escapeHtml($key);?>" selected>
                                                        <?= $block->escapeHtml(__($status)); ?>
                                                    </option>
                                                <?php else: ?>
                                                    <option value="<?= $block->escapeHtml($key);?>">
                                                        <?= $block->escapeHtml(__($status)); ?>
                                                    </option>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="wk-action-btn">
                                        <button title="Save" class="action save primary wk-save" type="submit">
                                            <span><?= $block->escapeHtml(__("Save")); ?></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <?php else: ?>
                        <?= $block->escapeHtml($helper->getCloseRmaLabel($finalStatus, $sellerName)); ?>
                    <?php endif; ?>
                </fieldset>
            </div>
        <?php endif; ?>
        <?php if ($helper->isAdminRma()): ?>
            <?php if ($finalStatus == 0): ?>
                <?php if ($rmaDetails->getResolutionType() == 1): ?>
                    <div class="wk-mprma-container wk-mprma-view">
                        <div class="wk-title wk-close-title">
                            <?= $block->escapeHtml(__("Refund Amount")); ?>
                        </div>
                        <form method="get" action="<?= $block->escapeUrl($block->getUrl('mprmasystem/rma/refund')); ?>" 
                            id="wk_rma_refund_form" data-mage-init='{"validation":{}}'>
                            <input type="hidden" value="<?= /* @noEscape */ $block->escapeHtml($rmaId); ?>" 
                                name="rma_id">
                            <input type="hidden" value="1" class="payment_status" name="do_offline">
                            <input type="hidden" name="invoice_id" 
                                value="<?= /* @noEscape */ $block->escapeHtml($invoiceId) ?>">
                            <input type="hidden" name="id" value="<?= /* @noEscape */ $orderId ?>">
                            <input type="hidden" name="creditmemo[adjustment_positive]" value="0">
                            <input type="hidden" name="creditmemo[adjustment_negative]" value="0">
                            <input type="hidden" 
                                name="creditmemo[items][<?= /* @noEscape */ $block->escapeHtml($rmaItemId); ?>][qty]" 
                                value="<?= /* @noEscape */ $block->escapeHtml($rmaRefundQty); ?>">
                            <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
                                <div class="field">
                                    <label for="Payment Type" class="label">
                                        <span><?= $block->escapeHtml(__("Payment Type")); ?></span>
                                    </label>
                                    <div class="control">
                                        <select id="payment_type" name="payment_type" data-validate="{required:true}" 
                                            class="select admin__control-select required-entry">
                                            <option value="1" ><?= $block->escapeHtml(__("Full Amount")); ?></option>
                                            <option value="2" ><?= $block->escapeHtml(__("Partial Amount")); ?></option>
                                        </select>
                                        <div class="wk-partial-amount">
                                            <input type="text" value="<?= $block->escapeHtml($totalPrice);?>" 
                                                id="partial_amount" name="partial_amount" 
                                                data-validate="{required:true}" 
                                                class="validate-greater-than-zero input-text 
                                                admin__control-text required-entry _required">
                                        </div>
                                    </div>
                                    <div class="wk-refund-note">
                                        <span class="wk-refund-label">
                                            <?= $block->escapeHtml(__("Total Refundable Amount")); ?> : 
                                        </span>
                                        <span class="wk-refund-amount">
                                            <?= $block->escapeHtml($order->formatPrice($totalPrice)); ?>
                                        </span>
                                    </div>
                                    <div class="wk-refund-note">
                                        <span class="wk-refund-label">
                                            <?= $block->escapeHtml(__("Return to Stock")); ?> : 
                                        </span>
                                        <span class="">
                                            <input type="checkbox" name="back_to_stock" value="1">
                                        </span>
                                    </div>
                                    <div class="wk-action-btn">
                                        <button title="Refund Offline" 
                                            class="action save primary wk-refund" 
                                            type="submit">
                                            <span><?= $block->escapeHtml(__("Refund Offline")); ?></span>
                                        </button>
                                    </div>
                                    <?php if ($invoice && $invoice->getTransactionId()) { ?>

                                    <div class="wk-action-btn wk-refund-button">
                                        <button title="Refund Online" class="action save primary wk-refund" 
                                            id="wk-refund-online" type="submit">
                                            <span><?=  $block->escapeHtml(__("Refund")); ?></span>
                                        </button>
                                    </div>
                                        <?php
                                    } ?>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($helper->isAdminRma()): ?>
            <div class="wk-mprma-container wk-mprma-view">
                <div class="wk-title">
                    <?= $block->escapeHtml(__("Send Message")); ?>
                </div>
                <form method="get" 
                    action="<?= $block->escapeUrl($block->getUrl('mprmasystem/rma/message')); ?>" 
                        id="wk_rma_conversation_form" data-mage-init='{"validation":{}}' 
                        onsubmit="buttn.disabled = true; return true;">
                    <input type="hidden" value="<?= $block->escapeHtml($rmaId); ?>" name="rma_id">
                    <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
                        <div class="field required">
                            <label for="Enter Message" class="label">
                                <span><?= $block->escapeHtml(__("Enter Message")); ?></span>
                            </label>
                            <div class="control">
                                <textarea name="message" id="message" 
                                    class="textarea admin__control-textarea 
                                    required-entry validate-no-html-tags"></textarea>
                            </div>
                            <div class="wk-action-btn">
                                <button title="Save" name="buttn" class="action save primary wk-send" type="submit">
                                    <span><?= $block->escapeHtml(__("Send Message")); ?></span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        <?php endif; ?>
    </div>
</section>
<?php
    $data = $helper->jsonEncodeData([
                "totalPrice" => $totalPrice,
                "totalPriceWithCurrency" => $order->formatPrice($totalPrice),
                "errorMsg" => __("Partial amount can not be more then %1", $order->formatPrice($totalPrice)),
                "warningLable" => __("Warning")
            ]);
    ?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/rma": <?= /* @noEscape */ $data ?>
        }
    }
</script>
