<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $type = Webkul\MpRmaSystem\Helper\Data::TYPE_SELLER;
    $helper = $block->helper();
    $allRma = $block->getAllRma();
    $viewUrl = $block->getUrl("mprmasystem/seller/rma/");

    $orderUrl = $block->getUrl("marketplace/order/view/");
    $data = $helper->jsonEncodeData([
                "filterUrl" => $block->getUrl("mprmasystem/rma/filter"),
                "sortingUrl" => $block->getUrl("mprmasystem/rma/sorting"),
                "type" => 2,
            ]);
    ?>
<div class="wk-mprma-container">
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>
    <div class="wk-mp-rma-allrma">
        <div class="wk-mprma-container">
            <fieldset class="fieldset wk-mprma-fieldset table-wrapper">
                <table id="my-rma-table" class="data table wk-seller-rma-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__("Requested RMA")); ?></cation>
                    <thead class="wk-table-head-title <?= $block->escapeHtml($helper->getSortingFieldClass($type)); ?> 
                        <?= $block->escapeHtml($helper->getSortingOrderClass($type)); ?>">
                        <tr>
                            <th class="col wk-sorting-col" scope="col" data-col="wk_rma_id">
                                <?= $block->escapeHtml(__("RMA Id")); ?>
                            </th>
                            <th class="col wk-sorting-col" scope="col" data-col="wk_customer">
                                <?= $block->escapeHtml(__("Customer")); ?>
                            </th>
                            <th class="col wk-sorting-col" scope="col" data-col="wk_order_ref">
                                <?= $block->escapeHtml(__("Order #")); ?>
                            </th>
                            <th class="col" scope="col">
                                <?= $block->escapeHtml(__("Status")); ?>
                            </th>
                            <th class="col wk-sorting-col" data-col="wk_date">
                                <?= $block->escapeHtml(__("Date")); ?>
                            </th>
                            <th class="col actions" scope="col"></th>
                        </tr>
                    </thead>
                    <thead class="wk-table-head-action">
                        <tr>
                            <th class="col" scope="col">
                                <input id="wk-filter-rma-id" type="text" 
                                    placeholder="<?= $block->escapeHtml(__("RMA Id")); ?>" 
                                    value="<?= $block->escapeHtml($helper->getSellerFilterRmaId()); ?>">
                            </th>
                            <th class="col" scope="col">
                                <input id="wk-filter-customer" type="text" 
                                    placeholder="<?= $block->escapeHtml(__("Customer")); ?>" 
                                    value="<?= $block->escapeHtml($helper->getSellerFilterCustomer()); ?>">
                            </th>
                            <th class="col" scope="col">
                                <input id="wk-filter-order-ref" type="text" 
                                placeholder="<?= $block->escapeHtml(__("Order #")); ?>" 
                                value="<?= $block->escapeHtml($helper->getSellerFilterOrderRef()); ?>">
                            </th>
                            <th class="col" scope="col">
                                <select id="wk-filter-rma-status">
                                    <?php foreach ($helper->getAllRmaStatus() as $key => $rmaStatus): ?>
                                        <?php if ($key === $helper->getSellerFilterStatus()): ?>
                                            <option selected value="<?= $block->escapeHtml($key); ?>">
                                                <?= $block->escapeHtml(__($rmaStatus)); ?>
                                            </option>
                                        <?php else: ?>
                                            <option value="<?= $block->escapeHtml($key); ?>">
                                                <?= $block->escapeHtml(__($rmaStatus)); ?>
                                            </option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                            </th>
                            <th class="col wk-date-filter-col" scope="col">
                                <span class="wk-date-filter-box">
                                    <input id="wk-filter-date-from" type="text" 
                                        placeholder="<?= $block->escapeHtml(__("From")); ?>" 
                                        value="<?= $block->escapeHtml($helper->getSellerFilterFromDate()); ?>">
                                </span>
                                <span class="wk-date-filter-box">
                                    <input id="wk-filter-date-to" type="text" 
                                        placeholder="<?= $block->escapeHtml(__("To")); ?>" 
                                        value="<?= $block->escapeHtml($helper->getSellerFilterToDate()); ?>">
                                </span>
                            </th>
                            <th class="col" scope="col">
                                <button type="button" class="wk-apply-filter-btn">
                                    <?= $block->escapeHtml(__("Apply Filter")); ?>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <?php if ($allRma->getSize()): ?>
                        <tbody>
                            <?php foreach ($allRma as $rma): ?>
                                <?php
                                    $status = $rma->getStatus();
                                    $finalStatus = $rma->getFinalStatus();
                                    $rmaStatus = $helper->getRmaStatusTitle($status, $finalStatus);
                                    $customerName = $rma->getCustomerName();
                                if ($customerName == "") {
                                    $customerName = __("Guest");
                                }
                                ?>
                                <tr>
                                    <td class="col" data-th="Id">
                                        <?= $block->escapeHtml($rma->getId()); ?>
                                    </td>
                                    <td class="col" data-th="Order #">
                                        <?= $block->escapeHtml($customerName); ?>
                                    </td>
                                    <td class="col" data-th="Order #">
                                        <a target="_blank" 
                                            href="<?= $block->escapeUrl($orderUrl."id/".$rma->getOrderId()); ?>">
                                            <?= $block->escapeHtml($rma->getOrderRef()); ?>
                                        </a>
                                    </td>
                                    <td class="col" data-th="Status">
                                        <?= $block->escapeHtml(__($rmaStatus)); ?>
                                    </td>
                                    <td class="col" data-th="Date">
                                        <?= $block->escapeHtml($block->formatDate(
                                            $rma->getCreatedDate(),
                                            \IntlDateFormatter::MEDIUM,
                                            true
                                        )); ?>
                                    </td>
                                    <td class="col actions" data-th="Actions">
                                        <a class="action view" 
                                            href="<?= $block->escapeUrl($viewUrl."id/".$rma->getId()); ?>">
                                            <span><?= $block->escapeHtml(__("View")); ?></span>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    <?php else: ?>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <div class="message info empty">
                                        <span><?= $block->escapeHtml($helper->getMessage()); ?></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    <?php endif; ?>
                </table>
                <?php if ($block->getPagerHtml()): ?>
                    <div class="order-products-toolbar toolbar bottom">
                        <?= /* @noEscape */ $block->getPagerHtml(); ?>
                    </div>
                <?php endif ?>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/allRma": <?= /* @noEscape */ $data ?>
        }
    }
</script>