<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @block Webkul\MpSellerGroup\Block\RecurringProfile

$helper = $block->helper(); ?>
<?php if ($block->getAllRecurringProfiles() && $block->getAllRecurringProfiles()->getSize() <= 0): ?>
    <div class="fieldset">
        <h2 class="legend"><?= $block->escapeHtml(__('Recurring Profiles')) ?></h2>
        <div class="wk_emptymsg">
            <?= $block->escapeHtml(__('No Recurring Profile Available')) ?>
        </div>
    </div>
<?php else: ?>
    <?php $params = $block->getParameters();

    $filterRefId = '';
    $filterProfileState = '';
    $filterFromDate = '';
    $filterToDate = '';

    if (!empty($params['ref_id'])) {
        $filterRefId = $params['ref_id'] != '' ? $params['ref_id'] : '';
    }
    if (!empty($params['profile_state'])) {
        $filterProfileState = $params['profile_state'] != '' ? $params['profile_state'] : '';
    }
    if (!empty($params['from_date'])) {
        $filterFromDate = $params['from_date'] != '' ? $params['from_date'] : '';
    }
    if (!empty($params['to_date'])) {
        $filterToDate = $params['to_date'] != '' ? $params['to_date'] : '';
    } ?>
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend">
            <span><?= $block->escapeHtml(__('Recurring Profiles')) ?></span>
        </legend>
        <div class="grid">
            <div class="hor-scroll">
                <form action="<?= $block->escapeUrl($block->getUrl(
                    'mpsellergroup/recurring_profile/index',
                    ['_secure' => $block->getRequest()]
                ))?>"
                    id="recurring_profile_list_filter"
                    name="recurring_profile_list_filter"
                    method="GET"
                    data-mage-init='{"validation":{}}'>
                    <table cellspacing="0" class="border wk-mp-list-table">
                        <thead>
                            <tr id="wk-mp-tr-heading">
                                <th><span><?=
                                $block->escapeHtml(__('Payment Reference ID')) ?></span></th>
                                <th><span><?=
                                $block->escapeHtml(__('Profile State')) ?></span></th>
                                <th><span><?=
                                $block->escapeHtml(__('Created At')) ?></span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody class="wk-mp-body">
                            <tr>
                                <td>
                                    <input type="text"
                                            class="input-text"
                                            name="ref_id"
                                            placeholder='<?=
                                            $block->escapeHtml(__('Search by Payment Reference Id')) ?>'
                                            value="<?= $block->escapeHtml($filterRefId) ?>"/>
                                </td>
                                <td>
                                    <?php if (!empty($block->getAllProfileStates())): ?>
                                        <select name="profile_state" class="input-text select"
                                            placeholder='<?=
                                            $block->escapeHtml(__('Search by Profile State')) ?>'>
                                            <option value=""><?=
                                            $block->escapeHtml(__('All')) ?></option>
                                            <?php foreach ($block->getAllProfileStates() as $state): ?>
                                                <option value="<?=
                                                $block->escapeHtml($state['value']) ?>"
                                                    <?php if ($filterProfileState == $state['value']) {
                                                        echo $block->escapeHtml('selected="selected"');
                                                    }?>>
                                                    <?=
                                                    $block->escapeHtml($state['label']) ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <input type="text"
                                                class="input-text"
                                                name="profile_state"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by Profile State')) ?>'
                                                value="<?=
                                                $block->escapeHtml($filterProfileState) ?>"/>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <span class="wk-mp-td-span">
                                        <?= $block->escapeHtml(__('From: ')) ?>
                                        <input type="text"
                                                name="from_date"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by date')) ?>'
                                                id="from_date"
                                                class="input-text"
                                                value="<?=
                                                $block->escapeHtml($filterFromDate) ?>"
                                                readonly />
                                    </span>
                                    <span class="wk-mp-td-span">
                                        <?= $block->escapeHtml(__('To: ')) ?>
                                        <input type="text"
                                                name="to_date"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by date')) ?>'
                                                id="to_date"
                                                class="input-text"
                                                value="<?=
                                                $block->escapeHtml($filterToDate) ?>"
                                                readonly />
                                    </span>
                                </td>
                                <td>
                                    <button class="button" title="Save" type="submit">
                                        <span><span><span><?=
                                        $block->escapeHtml(__('Submit')) ?>
                                        </span></span></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <?php if ($block->getAllRecurringProfiles()
                        && $block->getAllRecurringProfiles()->getSize()
                    ): ?>
                    <table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
                        <thead>
                            <tr class="wk-content">
                                <th class="wk-first-td">
                                    <span class="label name">
                                                            <?=
                                                            $block->escapeHtml(__('Payment Reference Id')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                                            <?=
                                                            $block->escapeHtml(__('Profile State'))?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                                            <?=
                                                            $block->escapeHtml(__('Created At')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                                            <?=
                                                            $block->escapeHtml(__('Updated At')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                                            <?=
                                                            $block->escapeHtml(__('Payment Method')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                                            <?=
                                                            $block->escapeHtml(__('Action'))?>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($block->getAllRecurringProfiles() as $profile) {
                                $i++;
                                ?>
                                <tr class="wk-row-view <?=
                                $class = ($i == count($block->getAllRecurringProfiles()))? 'wk-last_tr':''?>">
                                    <td class="wk-first_td">
                                        <span class="label pro-status">
                                                                <?=
                                                                $block->escapeHtml($profile->getReferenceId()) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                                                <?=
                                                                $block->escapeHtml($profile->getState()); ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                                                <?=
                                                                $block->escapeHtml($profile->getCreatedAt()); ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                                                <?=
                                                                $block->escapeHtml($profile->getUpdatedAt()); ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                                                <?=
                                                                $block->escapeHtml($profile->getMethodCode()); ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label wk-action">
                                            <a href="<?=
                                            $block->escapeUrl($block->getUrl(
                                                "mpsellergroup/recurring_profile/view",
                                                ["profile" => $profile->getId()]
                                            )) ?>"><?=
                                            $block->escapeHtml(__("View")) ?></a>
                                        </span> 
                                    </td>
                                </tr>
                                <?php
                            }?>
                        </tbody>
                    </table>
                <?php else: ?>
                    <div class="wk-emptymsg">
                        <?= $block->escapeHtml(__('No Recurring Profile Available')) ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?php if ($block->getPagerHtml() && count($block->getAllRecurringProfiles()) > 0): ?>
            <div class="order-products-toolbar toolbar bottom"><?= /* @noEscape */ $block->getPagerHtml(); ?></div>
        <?php endif; ?>
    </fieldset>
    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;"
                onclick="javascript: window.history.back();"
                class="left">
                &laquo; <?= $block->escapeHtml(__('Back')) ?>
            </a>
        </p>
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "recurringProfile": {}
            }
        }
    </script>
<?php endif; ?>
