<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @block Webkul\MpSellerGroup\Block\RecurringProfile

$helper = $block->helper();
$params = $block->getRequestParams();
$profileData = $helper->getRecurringProfileData($params['profile']);
$groupData = $helper->getGroupDataByProfile($profileData->getId());
?>
<div class="order-page">

    <!-- title 'n' actions -->
    <div class="page-title recurring-profiles-title">
        <h1><?= $block->escapeHtml(__(
            'Recurring Profile # %1',
            $block->escapeHtml($profileData->getReferenceId())
        )) ?></h1>
    </div>
    <div class="title-buttons recurring-profiles-title-buttons">
        <?php if ($profileData->canCancel()): ?>
            <button type="button" title="<?= $block->escapeHtml(__('Cancel')) ?>"
            class="button action primary" onclick=
            "if( confirm('<?= $block->escapeHtml($block->getConfirmationMessage()) ?>') )
            { window.location.href = '<?= $block->escapeUrl($block->getCancelUrl($profileData->getId())) ?>'; }
            return false;"><span><span><?= $block->escapeHtml(__('Cancel')) ?></span></span></button>
        <?php endif; ?>
        <?php if ($profileData->canSuspend()): ?>
            <button type="button" title="<?= $block->escapeHtml(__('Suspend')) ?>"
            class="button action primary" onclick=
            "if( confirm('<?= $block->escapeHtml($block->getConfirmationMessage()) ?>') )
            { window.location.href = '<?= $block->escapeUrl($block->getSuspendUrl($profileData->getId())) ?>'; }
            return false;"><span><span><?= $block->escapeHtml(__('Suspend')) ?></span></span></button>
        <?php endif; ?>
        <?php if ($profileData->canActivate()): ?>
            <button type="button" title="<?= $block->escapeHtml(__('Activate')) ?>"
            class="button action primary" onclick=
            "if( confirm('<?= $block->escapeHtml($block->getConfirmationMessage()) ?>') )
            { window.location.href = '<?= $block->escapeUrl($block->getActivateUrl($profileData->getId())) ?>'; }
            return false;"><span><span><?= $block->escapeHtml(__('Activate')) ?></span></span></button>
        <?php endif; ?>
        <?php if ($profileData->canFetchUpdate()):?>
            <button type="button" title="<?= $block->escapeHtml(__('Get Update')) ?>"
            class="button action primary" onclick=
            "if( confirm('<?= $block->escapeHtml($block->getConfirmationMessage()) ?>') )
            { window.location.href = '<?= $block->escapeUrl($block->getUpdateUrl($profileData->getId())) ?>'; }
            return false;"><span><span><?= $block->escapeHtml(__('Get Update')) ?></span></span></button>
        <?php endif;?>
    </div>

    <?= $block->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>

    <!-- info blocks in 2 columns -->
    <div class="col2-set order-info-box">
        <div class="col-1">
            <div class="info-box">
                <div class="box-title">
                    <h2><?= $block->escapeHtml(__("Reference")) ?></h2>
                </div>
                <div class="box-content">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <th><?= $block->escapeHtml(__("Payment Method:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getMethodCode()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Payment Reference ID:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getReferenceId()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Schedule Description:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getScheduleDescription()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Profile State:")) ?></th>
                                <td><?= $block->escapeHtml(ucfirst($profileData->getState())) ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <div class="box-title">
                    <h2><?= $block->escapeHtml(__("Purchased Group")) ?></h2>
                </div>
                <div class="box-content">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <th><?= $block->escapeHtml(__("Group Name:")) ?></th>
                                <td><?= !empty($groupData->getGroupName())?
                                $block->escapeHtml($groupData->getGroupName()):""; ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Group Code:")) ?></th>
                                <td><?= !empty($groupData->getGroupCode())?
                                $block->escapeHtml($groupData->getGroupCode()):"" ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col2-set order-info-box">
        <div class="col-1">
            <div class="info-box">
                <div class="box-title">
                    <h2><?= $block->escapeHtml(__("Profile Schedule")) ?></h2>
                </div>
                <div class="box-content">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <th><?= $block->escapeHtml(__("Start Date:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getStartDatetime()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Maximum Payment Failures:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getSuspensionThreshold()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Billing Period:")) ?></th>
                                <td>
                                    <?= $block->escapeHtml(__(
                                        "%1 %2 cycle.<br>Repeats %3 time(s).",
                                        $profileData->getPeriodFrequency(),
                                        $profileData->getPeriodUnit(),
                                        $profileData->getPeriodMaxCycles()
                                    )) ?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <div class="box-title">
                    <h2><?= $block->escapeHtml(__("Profile Payments")) ?></h2>
                </div>
                <div class="box-content">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <th><?= $block->escapeHtml(__("Currency:")) ?></th>
                                <td><?= $block->escapeHtml($profileData->getCurrencyCode()) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Initial Fee:")) ?></th>
                                <td><?= /* @noEscape */ $helper->formatPrice(
                                    $profileData->getInitAmount(),
                                    $profileData->getCurrencyCode()
                                ) ?></td>
                            </tr>
                            <tr>
                                <th><?= $block->escapeHtml(__("Billing Amount:")) ?></th>
                                <td><?= /* @noEscape */ $helper->formatPrice(
                                    $profileData->getBillingAmount(),
                                    $profileData->getCurrencyCode()
                                ) ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-set">
        <p class="back-link">
            <a href="<?= $block->escapeUrl($block->getUrl("mpsellergroup/recurring_profile")) ?>">
                <small>&laquo; </small>
                <?= $block->escapeHtml(__('Back to Recurring Profiles')) ?>
            </a>
        </p>
    </div>
</div>