<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>

<?php $_product = $block->getProduct() ?>
<?php if ($_product->getIsSalable()): ?>
    <div class="stock available" title="<?= $block->escapeHtml(__('Availability')) ?>">
        <span><?= $block->escapeHtml(__('In stock')) ?></span>
    </div>
<?php else: ?>
    <div class="stock unavailable" title="<?= $block->escapeHtml(__('Availability')) ?>">
        <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
    </div>
<?php endif; ?>
<?php if ($_product->isSaleable() && $block->hasOptions()):?>
    <div class="bundle-actions">
        <button id="bundle-slide"
                class="action primary customize"
                type="button">
            <span><?= $block->escapeHtml(__('Customize and Add to Cart')) ?></span>
        </button>
    </div>
<?php endif;?>
