/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.xtremo-image-carousel{
    display: block;
    float: right;
    width: 80%;
    direction: ltr;
}
@media only screen and (max-width: 1750px){
    .xtremo-image-carousel{
        width: 78%;
    }
}
@media only screen and (max-width: 1650px){
    .xtremo-image-carousel{
        width: 76%;
    }
}
@media only screen and (max-width: 1550px){
    .xtremo-image-carousel{
        width: 74%;
    }
}
@media only screen and (max-width: 1450px){
    .xtremo-image-carousel{
        width: 85%;
    }
    .xtremo-image-carousel #owl-demo .item{
        max-height: 235px;
    }
}
@media only screen and (max-width: 1350px){
    .xtremo-image-carousel{
        width: 83%;
    }
}
@media only screen and (max-width: 1250px){
    .xtremo-image-carousel{
        width: 80%;
    }
}
@media only screen and (max-width: 1050px){
    .xtremo-image-carousel{
        width: 78%;
    }
}
@media only screen and (max-width: 1000px){
    .xtremo-image-carousel{
        width: 76%;
    }
}
@media only screen and (max-width: 950px){
    .xtremo-image-carousel{
        width: 75%;
    }
}
@media only screen and (max-width: 890px){
    .xtremo-image-carousel{
        width: 72%;
    }
}
.xtremo-image-carousel #owl-demo .item{
    height: auto;
    max-height: 340px;
}
.xtremo-image-carousel #owl-demo .item img{
    display: block;
    width: 100%;
    height: 100%;
}

.xtremo-image-carousel .owl-carousel .owl-nav .owl-prev{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 40%;
}

.xtremo-image-carousel .owl-carousel .owl-nav .owl-prev:before{
    background-image: url("../../images/Sprite.png");
    background-position: -24px -25px;
    content: " ";
    display: block;
    height: 58px;
    opacity: 1;
    width: 32px;
}

.xtremo-image-carousel .owl-carousel .owl-nav .owl-next{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    top: 40%;
}

.xtremo-image-carousel .owl-carousel .owl-nav .owl-next:after{
    background-image: url("../../images/Sprite.png");
    background-position: -55px -25px;
    content: " ";
    display: block;
    height: 58px;
    opacity: 1;
    width: 32px;
}
.cool-text{
    color: #fff;
    font-family: Roboto-Light;
    font-size: 3rem;
    font-weight: normal;
    margin-left: 65px;
    position: absolute;
    width: 390px;
    /*bottom: 28%;*/
    bottom: calc(100% - 70%);
    margin-bottom: 0;
    margin-top: 0;
}
.summer-head{
    color: #102a3d;
    font-family: PlayfairDisplay-Italic;
    font-size: 5.5rem;
    margin-left: 65px;
    position: absolute;
    /*bottom: 50%;*/
    bottom: calc(100% - 45%);
    margin-bottom: 0;
    margin-top: 0;
}
.buy-now-btn-custom{
    background-color: #102a3d !important;
    margin-left: 65px;
    /*padding: 10px 25px;*/
    position: absolute;
    text-transform: uppercase !important;
    width: auto;
    /*bottom: 12%;*/
    bottom: calc(100% - 90%);
    border-radius: 3px;
}
@media only screen and (max-width: 1000px){
    .cool-text{
        /*bottom: 30%;*/
        width: 300px;
        margin-left: 60px;
        font-size: 2.5rem;
    }
    .summer-head{
        /*bottom: 70%;*/
        margin-left: 60px;
        bottom: calc(100% - 30%);
    }
    .buy-now-btn-custom{
        margin-left: 60px;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-prev,
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-next{
        top: 35%;
    }
}
@media only screen and (max-width: 900px){
    .cool-text{
        font-size: 2rem;
        /*bottom: 34%;*/
        bottom: calc(100% - 65%);
    }
    .summer-head{
        /*bottom: 60%;*/
        bottom: calc(100% - 35%);
        font-size: 4.125rem;
    }
}
@media only screen and (max-width: 550px){
    .cool-text{
        /*bottom: 36%;*/
        font-size: 1.6rem;
        width: 250px;
        margin-left: 45px;
    }
    .summer-head{
        /*bottom: 70%;*/
        font-size: 4.08rem;
        margin-left: 45px;
    }
    .buy-now-btn-custom{
        margin-left: 45px;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-prev::before{
        background-position: -24px -35px;
        height: 40px;
        width: 20px;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-next::after{
        background-position: -67px -35px;
        height: 40px;
        width: 20px;
    }
}
@media only screen and (max-width: 500px){
    .summer-head{
        font-size: 3.4rem;
        margin-left: 45px;
    }
    .cool-text{
        /*bottom: 36%;*/
        width: 225px;
        font-size: 1.76rem;
        margin-left: 45px;
    }
}
@media only screen and (max-width: 450px){
    .cool-text {
        font-size: 1.6rem;
        width: 200px;
        /*bottom: 30%;*/
    }
    .buy-now-btn-custom{
        /*bottom: 8%;*/
        padding: 6px 20px !important;
    }
}
@media only screen and (max-width: 400px){
    .cool-text {
        width: 75%;
        /*bottom: 35%;*/
        margin-left: 30px;
        /*bottom: calc(100% - 62%);*/
        bottom: 38%;
    }

    .summer-head{
        margin-left: 30px;
        bottom: 65%;
    }
    .buy-now-btn-custom{
        margin-left: 30px;
        bottom: 10%;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-prev,
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-next{
        padding: 0;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-prev::before{
        background-position: -24px -40px;
        height: 30px;
        width: 15px;
    }
    .xtremo-image-carousel .owl-carousel .owl-nav .owl-next::after{
        background-position: -72px -40px;
        height: 30px;
        width: 15px;
    }
}
@media only screen and (max-width: 320px){
    .buy-now-btn-custom{
        /*bottom: 8%;*/
        padding: 4px 10px !important;
    }
    .cool-text{
        /*bottom: 30%;*/
        font-size: 1.3rem;
        bottom: calc(100% - 60%);
    }
    .summer-head{
        font-size: 2.7rem;
        bottom: calc(100% - 30%);
    }
}
.homepage-content-top-wrapper, .xtremo-category-sidebar-main{
    height: 340px !important;
}
.homepage-content-top-wrapper .xtremo-category-sidebar-main .nav-menu-left{
    height: 340px;
    overflow: overlay;
}
/* width */
.nav-menu-left::-webkit-scrollbar {
    width: 3px;
}
/* Track */
.nav-menu-left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey; 
    border-radius: 10px;
}
  /* Handle */
.nav-menu-left::-webkit-scrollbar-thumb {
    background: dimgrey;
}