/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
ul li{
	list-style: none;
	color: #757575;
	cursor: pointer;
}
ul li a,
ul li a:visited{
	color: #757575;
	cursor: pointer;
}
ul li a:hover{
	text-decoration: none;
	color: #fc8927;
}
.static-links-category ul li a:before{
	background-image: url(../../images/Sprite.png);
	content: "";
    float: left;
    font-size: 10px;
    height: 20px;
    margin-right: 15px;
    width: 21px;
}
.static-links-category ul li.support a:before{
	background-position: -79px -1px;
}
.static-links-category ul li.daily-deal a:before{
	background-position: -100px -3px;
}
.static-links-category ul li.sell-with-us a:before{
	background-position: -121px -4px;
}
.static-links-category ul li:last-child{
	margin-bottom: 0px;
}


