

/* custom css rajnesh */

.page-header .panel.header {

    background-color: #fff;

}

.page-header .header.panel .switcher.toplink.switcher-toplink .switcher-toplink-strong span{color:#000;}

.page-header .header.panel .switcher.toplink.switcher-toplink .action.toggle:after {
    margin: -3px 0 0 5px;
    float: right;
}



.page-header .header.panel .switcher.toplink.switcher-toplink{margin-top:22px;}

.block-search { margin-top: 25px; }

.minicart-wrapper {
    margin-top: 25px;
}
.header.content {
    display: none;
}

.xtremo-right-cms {margin-top:9px !important}

.page-header .panel.header {
    padding: 0px 20px 0 20px !important;
    border-radius: 0;

}

.xtremo-right-cms .wk-cms-wrapper span a {
    border-bottom: none;
    color: #ffffff;
}

.xtremo.header .navigation{margin-bottom:10px;}

.page-main .xtremo-category-sidebar-main .navigation .nav-menu-right > .submenu {padding-left:15px;}

.nav-toggle:before, .nav-toggle:hover:before {
    color: #000;
}

.summer-head {
    color: #fff;
    font-family: "Roboto-Bold" !important;
    font-size: 5.5rem;
}

.catalog-product-view .action.towishlist{ float: left; }

.block.newsletter input {
   
    height: 36px;
}

.page-header .header.panel .switcher.toplink.switcher-toplink .action.toggle:after {
    margin: -3px 0 0 5px;
    float: right;
    color: #000 !important;
}

.account .sidebar-additional {
    margin-top: 0;
}

.sidebar.sidebar-additional .block {
   margin-bottom: 10px !important;
}



.footer.content .links {
   margin-bottom: 0;
}

.logo img {
   background-color: #fff !important;
}

.page-header .panel.header{margin-bottom:0;}

.xtremo.header .navigation {
    margin-bottom: 5px;
    margin-top: 5px;
}

.xtremo-right-cms {
    margin-top: 12px !important;
}

.copyright {
    
    font-size: 14px;
}

.footer.content .footer.links li a:hover {
    color: #fc8927;
}

.footer.content .links > li:hover {
    opacity: inherit;
}

.page-header .switcher .options ul.dropdown a span:hover {
    color:#fc8927;
}
.page-main .xtremo-category-sidebar-main .navigation li.level1 > a span:hover{
    color: #fc8927;
}
.block.newsletter .field .control:before{line-height:38px;}

.wk-cat-image{
    display: none !important;
}

.minicart-wrapper .block-minicart{z-index:1;}

.clearfix{clear: both}
/* .container{width: 1080px;margin: 0 auto;}
.faq_qn ul{margin: 0;padding: 0;}*/
/*.faq_qn ul li{list-style: none;padding-bottom: 20px;}*/
.faq_qn ul li{list-style: decimal;font-weight: bold;padding-bottom: 5px;margin-left: 22px;}
.faq_qn ul li p{font-weight: 300;padding: 8px 0;line-height: 18px;margin-bottom:0px;}
.supplier_faq{background:#fff;padding:20px;}
.supplier_faq h1{text-align: center !important;text-transform: uppercase;text-decoration: underline;font-weight: bold !important;padding-bottom: 30px;font-size:22px;margin:0;}
.supplier_faq h2{text-transform: uppercase;text-decoration: underline;font-weight: bold !important;padding-bottom: 20px;font-size:22px;margin-bottom:0px;}

.inside_ul ul li{list-style: lower-alpha !important;font-weight: 300  !important;margin-bottom:0px;}
.inside_ul_b ul li{list-style: disc !important;font-weight: 300  !important;padding-bottom: 10px !important;margin-bottom:0px;}

.second_cl{padding-left: 0px;padding-top: 15px;}
.faq_qn h4{padding:10px 0 10px 0;margin:0;font-size:15px;}
.second_cl ul li{list-style: disc;font-weight: 300 !important;padding-bottom: 5px !important;margin-bottom: 0px !important;}
.faq_qn h5{font-weight: bold !important;font-size: 24px;text-decoration: underline;padding: 10px 0 20px 0;margin:0;}
table.table_con tr {padding: 5px;border: 1px solid #fff;color: #fff;}
table.table_con{border: 1px solid #fff;}
table.table_con tr td{line-height: 22px;height: 28px;text-align: left;padding:0px;font-weight:300;}
table.table_con tr th{border: 1px solid #fff;height: 28px;line-height: 28px;text-align: center;font-weight:300}
.table_con{width:800px;background: #5f9ea0;}
.customer_ca{margin-bottom: 20px;}
.customer_ca h2{padding:20px;font-weight: bold !important;background: #ccc;text-align: left;}
.customer_ca ul{margin: 20px 0 50px 0;padding: 0px;}
.customer_ca ul li{width:35%;line-height: 20px;border: 1px solid #ccc;border-radius: 5px;padding: 25px 35px;float: left;margin-right: 15px;list-style:none;background:#fff;}
.customer_ca ul li:nth-last-child(2){margin-right: 0px;}
.category_blk ul li:last-child{border-bottom:0px;margin-bottom:0px;}
.customer_ca ul li:first-child{margin-left: 7%;}
.customer_ca ul li h3{font-weight: 600 !important;padding-bottom: 15px;font-size: 16px;}
.customer_ca ul li p{font-size: 14px;padding-bottom: 20px}
.customer_ca ul li a{text-decoration: none;    color: #000;background: #e7e9ec;padding: 10px;    text-align: center;margin: 0 auto;display:block;border-radius: 5px;width: 100px;}
.customer_ca ul li button{padding: 10px 30px;border: 1px solid #ccc;border-radius: 5px;}
.second_cl_p{padding-left: 30px;padding-top: 0px;padding-bottom: 10px;}

.category_blk{width: 280px;border: 1px solid #ccc;border-radius: 5px;margin-bottom: 20px;background:#fff}
.category_blk ul{margin: 0;padding: 0}
.category_blk ul li:first-child{font-weight: bold;font-size: 20px !important;}
.category_blk ul li{border-bottom: 1px solid #ccc;padding: 10px 12px 10px 20px;list-style:none;font-size:16px !important;margin-bottom:0px}
.billing_cy{padding-bottom: 20px;}


.manage_a{margin-top: 0px;}
.manage_a p{font-weight: bold;padding-bottom: 5px;margin-left: 8px;margin-bottom:0px;}
.manage_a ul{margin-left: 10px;}
.manage_a ul li{font-weight: 300;list-style: lower-alpha;padding: 8px 0;margin-bottom:0px;}
.manage_a h6{padding-bottom: 20px;padding-left: 20px;font-size:14px;line-height:22px;margin:0;}
.manage_a ul li:last-child{padding-bottom: 20px;}
.supplier_faq ul{margin:0;padding:0;}

@media only screen and (max-width: 767px){
section.supplier_faq .container h1 {
    text-align: center;
}
}


	

/* custom css rajnesh */





