/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.action_toggle{
	.action.toggle{
		&:after{
			color: @color-white !important;
			content: "" !important;
			font-size: @font_46_px;
			line-height: @font_40_px; //
			margin: 8px 0 -6px -7px;
		}
		&:hover{
			&:after{
				color: @color-white;
			}
		}
		&.active{
			&:after{
				content: "" !important;
				font-size: @font_46_px;
				line-height: @font_40_px;//
				margin: 8px 0 -6px -7px;
			}
		}
	}
}

.switcher_options_after{
	.switcher{
		.options{
			.action_toggle;
			ul.dropdown{
				border-radius: 3px;
				right: 0;
				box-shadow: 0 0 34px 5px rgba(0, 0, 0, 0.2);
				border: medium none;
				padding: 5px 15px 10px;
				margin-top: 10px;
				&:before{
					left: 123px;
    				top: -12px;
    				border-width: 7px;
				}
				&:after{
					left: 123px;
    				top: -12px;
				}
				li{
					&:hover{
						background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
						a{
							color: @link-color;
						}
					}
				}
				a{
					padding: 3px 0;
					.fontRobotoMedium(@font_24_px, @color-gray);
				}
			}
		}
	}
}

.wrapper_max_width{
	box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: @max-screen-width;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

.button_bg_style{
	background: none repeat scroll 0 0 @link-color;
	border: medium none !important;
	text-transform: capitalize;
	padding: 10px 25px;
	.fontRobotoBold(1.4rem, @color-white);
	box-sizing: border-box;
	&:hover,
	&:focus,
	&:active{
		background: none repeat scroll 0 0 @link-hover-color !important;
		border: medium none !important;
		color: @color-white !important;
		text-decoration: none;
	}
}
.defaultButtonStyle{
	.button_bg_style;
	background-color: @dark-gray-color;
	&:hover,
	&:focus,
	&:visited,
	&:active {
		background-color: @medium-gray-color;
	}
}
.widgetBlock{
	.widget.block{
		margin-top: 0;
	}
}

.homepageBlockHeading{
	.wk-heading {
		text-transform: capitalize;
		margin-bottom: 30px;
		.fontRobotoBold(@font_28_px);
	}
}
.anchorLink{
	color: @link-color;
	text-transform: uppercase;
	.fontRobotoBold(@font_24_px, @link-color);
}
.removeIcon{
	.categorySpriteUrl;
	background-position: 29px 0;
    height: 17px;
    margin-top: 2px;
    width: 16px;
}
.categorySpriteUrl{
	background-image: url(../images/Sprite-Category-Page.png);
	content: "";
	display: block;
}
.spriteUrl{
	background-image: url(../images/Sprite.png);
	content: "";
}
.productPageSpriteUrl{
	background-image: url(../images/sprite-product-page.png);
	content: "";
}
.checkoutPageSpriteUrl{
	background-image: url(../images/Sprite-Checkout-Page.png);
	content: "";
}
.socialProfileSpriteUrl{
	background-image: url(../images/Sprite-Social-Profile.png );
	content: "";
}
.leftArrow{
	background-image: url("../images/Left-Arrow.png");
}
.leftArrowHover{
	background-image: url("../images/Arrow-Left-Hover.png");
}
.rightArrow{
	background-image: url("../images/Rigth-Arrow.png");
}
.rightArrowHover{
	background-image: url("../images/Arrow-Right-Hover.png");
}
.responsiveHomepageSprite{
	background-image: url("../images/Sprite-Home-Page.png");
}
.productName{
	.product-item-name,
	.product.name a,
	.price-box .price {
		.fontRobotoRegular(@font_26_px, @cat-link-color);
	}
}

.fontRobotoBold(@fontSize: @font_26_px; @fontColor: @footer-bg-color) {
   color: @fontColor;
   font-size: @fontSize;
   font-weight: normal;
   font-family: "Roboto-Bold";
}
.fontRobotoMedium(@fontSize: @font_26_px; @fontColor: @footer-bg-color) {
   color: @fontColor;
   font-size: @fontSize;
   font-weight: normal;
   font-family: "Roboto-Medium";
}
.fontRobotoRegular(@fontSize: @font_26_px; @fontColor: @footer-bg-color) {
   color: @fontColor;
   font-size: @fontSize;
   font-weight: normal;
   font-family: "Roboto-Regular";
}
.fontRobotoLight(@fontSize: @font_26_px; @fontColor: @footer-bg-color) {
   color: @fontColor;
   font-size: @fontSize;
   font-weight: normal;
   font-family: "Roboto-Light";
}
.checkboxStyle{
	&:not(:checked),
	&:checked{
		position: absolute;
		left: -9999px;
		& + label{
			position: relative;
			padding-right: 1.65em;
			cursor: pointer;
			font-size: @font_24_px !important;
			&:before,
			&:after{
				right: 0; top: 2px; bottom: 0;
				position: absolute;
				background-color: @color-white;
			}
			&:after{
				content: '';
				width: 12px; height: 12px;
				border: 2px solid @light-gray-color;
				border-radius: 3px;
			}
			&:before{
				content: '\f14a';
				line-height: 16px;
				transition: all .2s;
				color: @link-color;
				font-family: "FontAwesome";
				font-size: @font_32_px;
				z-index: 1;
			}
		}
		&:disabled{
			& + label{
				&:after{
					box-shadow: none;
					border-color: @light-gray-color;
					background-color: @disabled-gray-color;
				}
			}
		}
		&:focus{
			& + label:after{
				border: 2px solid @link-color;
			}
		}
	}
	&:not(:checked){
		& + label{
			&:before {
			  opacity: 0;
			  transform: scale(0);
			}
			&:hover:after{
				border: 2px solid @link-color;
			}
		}
	}
	&:checked{
		& + label{
			&:before {
				opacity: 1;
				transform: scale(1);
			}
			&:after{
				border: 2px solid transparent;
			}
		}
		&:disabled{
			& + label{
				&:before{
					color: @light-gray-color;
				}
			}
		}
		& ~ a,
		& ~ a > span{
			color: @link-color;
		}
	}
	&:disabled + label {
		color: @disabled-gray-color;
	}
}
.xtremoCheckboxStyle{
	&:not(:checked),
	&:checked{
		position: absolute;
	    left: -9999px;
		& + label{
			position: relative !important;
		    padding-left: 1.65em !important;
		    cursor: pointer;
            font-size: @font_24_px !important;
			&:before,
			&:after{
				left: 0; top: 2px;
				position: absolute;
				background-color: @color-white;
			}
			&:before{
				content: '';
			    width: 12px; height: 12px;
			    border: 2px solid @light-gray-color;
			    border-radius: 3px;
			}
			&:after{
				content: '\f14a';
				line-height: 1;
				transition: all .2s;
				color: @link-color;
				font-family: "FontAwesome";
				font-size: @font_30_px;
			}
		}
		&:disabled{
			& + label{
				&:before{
					box-shadow: none;
					border-color: @light-gray-color;
					background-color: @disabled-gray-color;
				}
			}
		}
		&:focus{
			& + label:before{
				border: 2px solid @link-color;
			}
		}
	}
	&:not(:checked){
		& + label:after {
		  opacity: 0;
		  transform: scale(0);
		}
	}
	&:checked{
		& + label:after {
			opacity: 1;
			transform: scale(1);
		}
		&:disabled{
			& + label{
				&:after{
					color: @light-gray-color;
				}
			}
		}
		& ~ a,
		& ~ a > span{
			color: @link-color;
		}
	}
	&:disabled + label {
		color: @disabled-gray-color;
	}
	& + label:hover:before{
		border: 2px solid @link-color;
	}
}
