/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/*-------------------------------COLORS-----------------------------------------*/
@header-bg-color: #102a3d;
@link-color: #fc8927;
@link-hover-color: #ef7915;
@color-white: #FFFFFF;
@color-gray: #747474;
@color-light-gray: #BEBEBE;
@color-black: #000;
@border-gray-color: #ccc;
@border-submenu: #d1d1d1;
@text-color-strong: #BDBDBD;
@footer-bg-color: #444444;
@copyright-bg-color: #222222;
@main-page-bg-color: #f2f2f2;
@cat-link-color : #757575;
@pinkish-color : #ff3b30;
@light-gray-color : #bfbfbf;
@disabled-gray-color: #ddd;
@light-green-color: #5ccd67;
@border-color: #d5d5d5;
@password-weak-color: #FF7172;
@earning-color: #FE705D;
@expense-color: #27b75e;
@dark-gray-color: #8B8A89;
@medium-gray-color: #9f9f9f;
@hint-red-color: #FF0400;
@thead-color: #EAEAEA;
@tbody-color: #F8F8F8;
@search-bar-bg-color: #F5F5F5;
@very-light-gray-color: #edeaea;
@blue-link-color: #0082d9;
@gray-shade: #5d5d5d;
@phone-bg-color : #F4F4F4;
@header-responsive-bg-color: #173246;
@switcher-bg-color: #203a4e;
@color-gray-filter: #6A6A6A;
@link-color-resp: #fc7d23;
@border-hover-color: #d05c00;
@light-gray: #979797;

/*-------------------------------LINES-----------------------------------------*/
@border-gray-line: 1px solid @light-gray-color;
@border-light-line: 1px solid @very-light-gray-color;

/*-------------------------------SIZE-----------------------------------------*/
@max-screen-width: 1900px;
@page-content-margin: 200px;

/*-------------------------------FONT SIZE-----------------------------------------*/
@suffix: 'px';
.mixin-loop (@i,@j) when (@i > 0) {

    @tmp:~"@@{j}_@{i}_@{suffix}";
    @{tmp}: @i/16rem;

    .mixin-loop(@i - 1,@j);
}

/*-------------------------------FONT SIZE-----------------------------------------*/
.mixin-loop(70,'font');
//@font_26_px

/*-------------------------------LINE HEIGHT-----------------------------------------*/
// .mixin-loop(40,'line_height');
