<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?= $block->getLayout()->createBlock(
    \Magento\Catalog\Block\Product\View::class
)->setTemplate(
    'Magento_Catalog::product/view/review.phtml'
)->toHtml(); ?>
<div id="product-review-container" data-role="product-review"></div>
<?= /* @noEscape */ $block->getChildHtml(); ?>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeJs($block->escapeUrl($block->getProductReviewUrl())) ?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>
