<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Profile */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $mpxtremoViewModel->getXtremoHelper();

/** @var $mpXtremoHelper \Webkul\Mpxtremo\Helper\Data */
$mpxtremoHelper = $mpxtremoViewModel->getMpxtremoHelper();

$partner = $block->getProfileDetail();

$writeReviewUrl = '';
$viewReviewUrl = "#xtremo_mp_profile_review";
if (!$xtremoHelper->isLoggedIn()) {
    $xtremoHelper->setCustomerAuthUrl($writeReviewUrl);
    $writeReviewUrl = $xtremoHelper->getCustomerModelUrl()->getLoginUrl();
}
$feedBackCollection = $mpxtremoHelper->getFeedbackCollection();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$products = $block->getBestsellProducts();
if ($helper->getActiveColorPicker()) {?>
    <style>
        .page-main{
            background-image:none;
            background-color:<?= $block->escapeHtml($partner['background_width']) ?>;
        }
    </style>
    <?php
} ?>
<?php if ($partner['company_description'] && $partner['company_description'] !== ""): ?>
    <div class="wk-mp-design">
        <div class="wk-mp-design-inner wk-mp-design-inner-last">
            <div class="wk-mp-profile-container storename">
                <div class="store-name">
                    <?= $block->escapeHtml(__("About Seller")) ?>
                </div>
            </div>
            <span class="data about-seller"><?= $block->escapeHtml($partner['company_description']) ?></span>
        </div>
    </div>
<?php endif; ?>
<div class="wk-mp-design review-list">
    <div class="wk-mp-design-inner wk-mp-design-inner-last">
        <?php if ($feedBackCollection->getSize()): ?>
            <?php $feedBackCollection->getSelect()->limit(5); ?>
            <div class="wk-mp-profile-container storename">
                <div class="store-name">
                    <?= $block->escapeHtml(__("Recent Seller Reviews")) ?>
                </div>
            </div>
            <div class="items review-items">
            <?php foreach ($feedBackCollection as $_review): ?>
                <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                    <div class="review-title" itemprop="name">
                        <?= $block->escapeHtml($_review->getFeedSummary()) ?>
                    </div>
                    <div class="review-ratings">
                        <div class="rating-summary item" itemprop="reviewRating"
                             itemscope itemtype="http://schema.org/Rating">
                            <?php
                            if ($_review->getTotalRatings() && $_review->getTotalRatings() !== "") {
                                $totalRating = $_review->getTotalRatings();
                            } else {
                                $totalRating = (
                                    $_review->getFeedPrice() + $_review->getFeedValue() + $_review->getFeedQuality()
                                ) / 60;
                                $totalRating = round($totalRating, 1, PHP_ROUND_HALF_UP);
                            }

                            $ratingPercent = (($totalRating*100)/5);
                            ?>
                            <div class="rating-result" title="<?= $block->escapeHtml($ratingPercent) ?>%">
                                <meta itemprop="worstRating" content = "1"/>
                                <meta itemprop="bestRating" content = "100"/>
                                <span style="width:<?= $block->escapeHtml($ratingPercent) ?>%">
                                    <span itemprop="ratingValue"><?= $block->escapeHtml($ratingPercent) ?>%</span>
                                </span>
                            </div>
                            <div class="rating-star"><?= $block->escapeHtml(__('%1 of 5 Stars', $totalRating)) ?></div>
                        </div>
                    </div>
                    <div class="review-details">
                        <p class="review-author">
                            <span class="review-details-label">
                                <?= $block->escapeHtml(__('By')) ?>
                            </span>
                            <strong class="review-details-value" itemprop="author">
                                <?= $block->escapeHtml($_review->getFeedNickname()) ?>
                            </strong>
                        </p>
                        <?php $reviewDateTime = $block->formatDate($_review->getCreatedAt(), $format); ?>
                        <p class="review-date">
                            <span class="review-details-label">
                                <?= $block->escapeHtml(__('Posted on')) ?>
                            </span>
                            <time class="review-details-value" itemprop="datePublished"
                                  datetime="<?= /* @noEscape */ $reviewDateTime ?>">
                                <?= /* @noEscape */ $reviewDateTime ?>
                            </time>
                        </p>
                    </div>
                    <div class="review-content" itemprop="description">
                        <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getFeedReview())) ?>
                    </div>
                </li>
            <?php endforeach; ?>
        </div>
        <?php endif; ?>
        <div class="write-seller-review">
            <div class="seller-review-wrapper">
                <?php if ($feedBackCollection->getSize()): ?>
                    <a href="<?= /* @noEscape */ $viewReviewUrl ?>" class="action view-review">
                        <?= $block->escapeHtml(__('View all seller reviews')) ?>
                    </a>
                <?php endif; ?>
                <a href="<?= /* @noEscape */ ($writeReviewUrl == '')? $viewReviewUrl : $writeReviewUrl ?>"
                   class="action write-review">
                    <?= $block->escapeHtml(__('Write a Seller Review')) ?>
                </a>
            </div>
        </div>
        <script>
            require([
                "jquery",
                "mage/mage"
            ], function($){
                $(".seller-review-wrapper a.action.view-review").on("click", function (e) {
                    e.preventDefault();
                    $(".product.data.items").find("#tab-label-xtremo_mp_profile_review").trigger("click");
                });
                $(".seller-review-wrapper a.action.write-review").on("click", function (e) {
                    if ($(this).attr('href') == "#xtremo_mp_profile_review")
                        e.preventDefault();
                    $(".product.data.items").find("#tab-label-xtremo_mp_profile_review").trigger("click");
                    if ($(".product.data.items").find("#xtremoshowreview").length > 0)
                        $(".product.data.items").find("#xtremoshowreview").trigger("click");
                });
            });
        </script>
    </div>
</div>
