<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * Tabs at Seller Profile Page
 *
 * @var $block \Webkul\Marketplace\Block\Profile
 */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = $block->getProfileDetail();
$shoptitle = $partner->getShopTitle();
if (!$shoptitle) {
    $shoptitle = $partner->getShopUrl();
} ?>
<?php $breadcrumbs = $block->getLayout()->getBlock('breadcrumbs');
$breadcrumbs->addCrumb(
    'home',
    [
        'label' => __('Home'),
        'title' => __('Home Page'),
        'link' => $block->getBaseUrl()
    ]
);
$breadcrumbs->addCrumb(
    'shop',
    [
        'label' => $block->escapeHtml($shoptitle),
        'title' => $block->escapeHtml($shoptitle),
        'link' => $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url'])
    ]
);
$breadcrumbs->addCrumb(
    'profile',
    [
        'label' => __('Profile'),
        'title' => __('Profile')
    ]
); ?>

<?php if ($detailedInfoGroup = $block->getGroupChildNames('seller_profile', 'getChildHtml')):?>
    <div class="product info detailed">
        <?= $block->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     aria-labeledby="tab-label-<?= $block->escapeHtml($alias) ?>-title"
                     data-role="collapsible" id="tab-label-<?= $block->escapeHtml($alias) ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= /* @noEscape */ $alias ?>"
                       id="tab-label-<?= $block->escapeHtml($alias) ?>-title">
                        <?= /* @noEscape */ $label; ?>
                    </a>
                </div>
                <div class="data item content" id="<?= $block->escapeHtml($alias) ?>" data-role="content">
                    <?= /* @noEscape */ $html; ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
