<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Profile */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = $block->getProfileDetail();
$products = $block->getBestsellProducts(); ?>
<?php if (!empty($products) && $products->getSize()): ?>
    <?php $products->setPageSize(4); ?>
    <div class="wk-mp-design recent-products-block">
        <div class="wk-mp-design-inner wk-mp-design-inner-last">
            <div class="wk-mp-profile-container storename">
                <div class="store-name">
                    <?= $block->escapeHtml(__("Recently Added Products")) ?>
                </div>
            </div>
            <ul class="page-products">
                <?php
                $_helper = $mpxtremoViewModel->getCatalogOutputHelper();
                $viewMode = 'grid';
                $image = 'category_page_grid';
                $showDescription = false;
                $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                ?>
                <div class="products wrapper grid products-grid">
                        <?php $iterator = 1; ?>
                    <ol class="products list items product-items">
                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                        <?php foreach ($products as $_product): ?>
                            <?= /* @noEscape */ ($iterator++ == 1)
                             ? '<li class="item product product-item">'
                             : '</li><li class="item product product-item">' ?>
                            <div class="product-item-info" data-container="product-grid">
                                <?php
                                $productImage = $block->getImage($_product, $image);
                                ?>
                                <?php // Product Image ?>
                                <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                                   class="product photo product-item-photo" tabindex="-1">
                                    <?= $productImage->toHtml(); ?>
                                </a>
                                <div class="product details product-item-details">
                                    <?php
                                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?= /* @noEscape */ $_product->getProductUrl() ?>">
                                            <?= /* @noEscape */ $_helper->productAttribute(
                                                $_product,
                                                $_product->getName(),
                                                'name'
                                            ); ?>
                                        </a>
                                    </strong>
                                    <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                </div>
                            </div>
                            <?= ($iterator == count($products)+1) ? '</li>' : '' ?>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </ul>
        </div>
    </div>
<?php endif; ?>
<?= $block->getChildHtml() ?>
