<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Feedbackcollection */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $mpxtremoViewModel->getXtremoHelper();

/** @var $mpXtremoHelper \Webkul\Mpxtremo\Helper\Data */
$mpxtremoHelper = $mpxtremoViewModel->getMpxtremoHelper();

$feedBackCollection = $mpxtremoHelper->getFeedbackCollection();
$partner = $block->getProfileDetail();

$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT; ?>

<div class="wk-mp-design review-list">
    <div class="wk-mp-design-inner wk-mp-design-inner-last">
        <?php if ($feedBackCollection->getSize()): ?>
            <div class="wk-mp-profile-container storename">
                <div class="store-name">
                    <?= $block->escapeHtml(__("Seller Reviews")) ?>
                </div>
            </div>
            <div class="items review-items">
                <?php foreach ($feedBackCollection as $_review): ?>
                    <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                        <div class="review-title" itemprop="name">
                            <?= $block->escapeHtml($_review->getFeedSummary()) ?>
                        </div>
                        <div class="review-ratings">
                            <div class="rating-summary item" itemprop="reviewRating"
                                 itemscope itemtype="http://schema.org/Rating">
                                <?php
                                if ($_review->getTotalRatings() && $_review->getTotalRatings() !== "") {
                                    $totalRating = $_review->getTotalRatings();
                                } else {
                                    $totalRating = (
                                        $_review->getFeedPrice() + $_review->getFeedValue() + $_review->getFeedQuality()
                                    ) / 60;
                                    $totalRating = round($totalRating, 1, PHP_ROUND_HALF_UP);
                                }

                                $ratingPercent = (($totalRating*100)/5);
                                ?>
                                <div class="rating-result" title="<?= $block->escapeHtml($ratingPercent) ?>%">
                                    <meta itemprop="worstRating" content = "1"/>
                                    <meta itemprop="bestRating" content = "100"/>
                                    <span style="width:<?= $block->escapeHtml($ratingPercent) ?>%">
                                        <span itemprop="ratingValue"><?= $block->escapeHtml($ratingPercent) ?>%</span>
                                    </span>
                                </div>
                                <div class="rating-star"><?=
                                    $block->escapeHtml(__('%1 of 5 Stars', $totalRating))
                                ?></div>
                            </div>
                        </div>
                        <div class="review-details">
                            <p class="review-author">
                                <span class="review-details-label">
                                    <?= $block->escapeHtml(__('By')) ?>
                                </span>
                                <strong class="review-details-value" itemprop="author">
                                    <?= $block->escapeHtml($_review->getFeedNickname()) ?>
                                </strong>
                            </p>
                            <?php $reviewDateTime = $block->formatDate($_review->getCreatedAt(), $format); ?>
                            <p class="review-date">
                                <span class="review-details-label">
                                    <?= $block->escapeHtml(__('Posted on')) ?>
                                </span>
                                <time class="review-details-value" itemprop="datePublished"
                                      datetime="<?= /* @noEscape */ $reviewDateTime ?>">
                                    <?= /* @noEscape */ $reviewDateTime ?>
                                </time>
                            </p>
                        </div>
                        <div class="review-content" itemprop="description">
                            <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getFeedReview())) ?>
                        </div>
                    </li>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    </div>
    <?php
    if ($xtremoHelper->isLoggedIn()) { ?>
        <?php $feedbackUrl = $block->getUrl(
            'marketplace/seller/newfeedback',
            ['_secure' => $block->getRequest()->isSecure()]
        ); ?>
        <div href="#xtremoshowreview" id="xtremoshowreview" class="xtremoshowreview showreview">
            <div class="wk-mp-design">
                <div><h3><strong><?= $block->escapeHtml(__('Write Your Own Feedback')) ?></strong></h3></div>
                <div class="fieldset wk-mp-fieldset">
                    <form id="review-form" method="post" action="<?= /* @noEscape */ $feedbackUrl ?>"
                          enctype="multipart/form-data" >
                        <?= $block->getBlockHtml('formkey'); ?>
                        <fieldset class="fieldset info wk-mp-fieldset">
                            <h3><?= $block->escapeHtml(__('How do you rate this Store')) ?>?</h3>
                            <span id="input-message-box"></span>
                            <table id="product-review-table" class="data-table">
                            <colgroup>
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                            </colgroup>
                            <thead>
                                <tr class="first last">
                                    <th>&nbsp;</th>
                                    <th><span class="nobr">1 <?= $block->escapeHtml(__('star')) ?></span></th>
                                    <th><span class="nobr">2 <?= $block->escapeHtml(__('stars')) ?></span></th>
                                    <th><span class="nobr">3 <?= $block->escapeHtml(__('stars')) ?></span></th>
                                    <th><span class="nobr">4 <?= $block->escapeHtml(__('stars')) ?></span></th>
                                    <th><span class="nobr">5 <?= $block->escapeHtml(__('stars')) ?></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="first odd">
                                    <th><?= $block->escapeHtml(__('Price')) ?></th>
                                    <td class="value"><input type="radio" class="radio" value="20" id="Price_1"
                                        name="feed_price" checked="checked"/></td>
                                    <td class="value"><input type="radio" class="radio" value="40" id="Price_2"
                                        name="feed_price"></td>
                                    <td class="value"><input type="radio" class="radio" value="60" id="Price_3"
                                        name="feed_price"></td>
                                    <td class="value"><input type="radio" class="radio" value="80" id="Price_4"
                                        name="feed_price"></td>
                                    <td class="value last"><input type="radio" class="radio" value="100" id="Price_5"
                                        name="feed_price"></td>
                                </tr>
                                <tr class="even">
                                    <th><?= $block->escapeHtml(__('Value')) ?></th>
                                    <td class="value"><input type="radio" class="radio" value="20" id="Value_1"
                                        name="feed_value" checked="checked"/></td>
                                    <td class="value"><input type="radio" class="radio" value="40" id="Value_2"
                                        name="feed_value"></td>
                                    <td class="value"><input type="radio" class="radio" value="60" id="Value_3"
                                        name="feed_value"></td>
                                    <td class="value"><input type="radio" class="radio" value="80" id="Value_4"
                                        name="feed_value"></td>
                                    <td class="value last"><input type="radio" class="radio" value="100" id="Value_5"
                                        name="feed_value"></td>
                                </tr>
                                <tr class="last odd">
                                    <th><?= $block->escapeHtml(__('Quality')) ?></th>
                                    <td class="value"><input type="radio" class="radio" value="20" id="Quality_1"
                                        name="feed_quality" checked="checked"/></td>
                                    <td class="value"><input type="radio" class="radio" value="40" id="Quality_2"
                                        name="feed_quality"></td>
                                    <td class="value"><input type="radio" class="radio" value="60" id="Quality_3"
                                        name="feed_quality"></td>
                                    <td class="value"><input type="radio" class="radio" value="80" id="Quality_4"
                                        name="feed_quality"></td>
                                    <td class="value last"><input type="radio" class="radio" value="100" id="Quality_5"
                                        name="feed_quality"></td>
                                </tr>
                            </tbody>
                            </table>
                            <input type="hidden" name="seller_id" id="seller_id"
                                   value="<?= $block->escapeHtml($partner->getSellerId()) ?>"/>
                            <input type="hidden" name="shop_url"
                                   value="<?= $block->escapeHtml($partner->getShopUrl()) ?>" />
                            <div class="field required">
                                <label class="label"><?= $block->escapeHtml(__('Nickname')) ?></label>
                                <div class="control">
                                    <input type="text" value="<?=$block->escapeHtml($block->getCustomerSessionName())?>"
                                           class="input-text required-entry widthinput nickname"
                                           id="nickname_field" name="feed_nickname">
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label"><?= $block->escapeHtml(__('Summary of Your Review')) ?></label>
                                <div class="control">
                                   <input type="text" value=""
                                          class="input-text required-entry widthinput summary_field"
                                          id="summary_field" name="feed_summary">
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label"><?= $block->escapeHtml(__('Review')) ?></label>
                                <div class="control">
                                    <textarea class="required-entry widthinput review_field" rows="3" cols="5"
                                              id="review_field" name="feed_review"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons-set">
                            <button class="button" title="<?= $block->escapeHtml(__('Submit Review')) ?>" type="submit">
                                <span><span><?= $block->escapeHtml(__('Submit Review')) ?></span></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <?php }?>
              
</div>
