<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Profile */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = $block->getProfileDetail();
?>
<?php if ($helper->getSellerPolicyApproval()) { ?>
    <div class="wk-mp-design-inner wk-mp-design-inner-last">
        <div class="wk-mp-profile-container storename" id="return-policy">
            <div class="store-name">
                <?= $block->escapeHtml(__("Return Policies")) ?>
            </div>
        </div>
        <div>
            <div class="wk-mp-detail">
                <div class="row">
                    <span class="data"><?= /* @noEscape */ $partner['return_policy'];?></span>
                </div>
            </div>
        </div>
        <div class="wk-mp-profile-container storename" id="shipping-policy">
            <div class="store-name">
                <?= $block->escapeHtml(__("Shipping Policies")) ?>
            </div>
        </div>
        <div>
            <div class="wk-mp-detail">
                <div class="row">
                    <span class="data"><?= /* @noEscape */ $partner['shipping_policy'];?></span>
                </div>
            </div>
        </div>
        <div class="wk-mp-profile-container storename" id="privacy-policy">
            <div class="store-name">
                <?= $block->escapeHtml(__("Privacy Policies")) ?>
            </div>
        </div>
        <div>
            <div class="wk-mp-detail">
                <div class="row">
                    <span class="data"><?= /* @noEscape */ $partner['privacy_policy'];?></span>
                </div>
            </div>
        </div>
    </div>
    <?php
} ?>
