<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<div class="admin__field-label">
    <label for="demoo">
        <span><?= /*@noEscape*/ __("Holidays") ?></span>
    </label>
</div>
<div id="holiday-section" data-bind="scope:'holidays'" class="admin__field-control" data-index="holidays">

    <table class="data-grid">
        <thead>
            <tr>
                <th class="data-grid-th">
                    <?= /** @noEscape */ __("Duration Type") ?>
                </th>
                <th class="data-grid-th">
                <?= /** @noEscape */ __("Duration") ?>
                </th>
                <th class="data-grid-th">
                    <?= /** @noEscape */ __("Action") ?>
                </th>
            </tr>
        </thead>
        <tbody id="holiday-records">
        </tbody>
    </table>

    <button class="add-row" data-records="0"><?= /** @noEscape */ __("Add Row") ?></button>
</div>
<!-- ko template: getTemplate() --><!-- /ko -->

<?php
    $holidays = $block->getHolidays();
    $rangeTypes = $block->helper->jsonEncode($block->getRangeTypes());
?>
<script type="text/x-magento-init">
    {
        "#holiday-section": {
            "Magento_Ui/js/core/app": {
                "components" : {
                    "holidays": {
                        "component":"Webkul_MpExpectedDeliveryDate/js/holiday",
                        "rangeTypes" :  <?= /** @noEscape */ $rangeTypes; ?>,
                        "holidays" : <?= /** @noEscape */ $holidays; ?>
                    }
                }
            }
        }
    }
</script>
<script>
    jQuery('#holiday-section').trigger('contentUpdated');
</script>
