<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<span style="padding-left:250px;">
    <a  target="_blank" href="<?= $block->escapeUrl(
        $block->getViewFileUrl('Webkul_MpExpectedDeliveryDate::sample.csv')
    );?>"><?= $block->escapeHtml(__("Download Example CSV")); ?>
    </a>
</span>