<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $helper = $block->getMpHelper();
    $isPartner = $helper->isSeller();
    $isSellerGroup = $helper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner): ?>
    <?php if (($isSellerGroup && $helper->isAllowedAction('mprmasystem/seller/allrma')) || !$isSellerGroup): ?>
        <li class="nav item 
            <?= $block->escapeHtml(strpos($magentoCurrentUrl, 'mprmasystem/seller/allrma') !== false? "current":"");?>">
            <?php if (strpos($magentoCurrentUrl, 'mprmasystem/seller/allrma') !== false) { ?>
                <strong><?= $block->escapeHtml(__('Marketplace RMA')); ?></strong>
            <?php } else { ?>
                <a href="<?= $block->escapeUrl($block->getUrl('mprmasystem/seller/allrma')); ?>">
                    <?= $block->escapeHtml(__('Marketplace RMA')); ?>
                </a>
            <?php } ?>
        </li>
    <?php endif; ?>
<?php endif; ?>
