<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart */
/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$commentBlock = "";
$actionsBlock = "";
?>
<?php foreach ($block->getChildNames() as $childName): ?>
    <?php if ($childName == "customer.wishlist.item.comment") {
        $commentBlock = $block->getLayout()->renderElement($childName, false);
    } elseif ($childName == "customer.wishlist.item.actions") {
        $actionsBlock = $block->getLayout()->renderElement($childName, false);
    } else {
        /* @noEscape */ echo $block->getLayout()->renderElement($childName, false);
    } ?>
<?php endforeach;?>
<div class="box-tocart">
    <fieldset class="fieldset">
    <?php if ($item->canHaveQty() && $product->isVisibleInSiteVisibility()): ?>
        <div class="field qty">
            <label class="label" for="qty[<?= /* @noEscape */ $item->getId() ?>]">
                <span><?= $block->escapeHtml(__('Qty')) ?></span>
            </label>
            <div class="control">
                <input type="number" data-role="qty" id="qty[<?= /* @noEscape */ $item->getId() ?>]"
                       class="input-text qty" data-validate="{'required-number':true,'validate-greater-than-zero':true}"
                       name="qty[<?= /* @noEscape */ $item->getId() ?>]"
                       value="<?= /* @noEscape */ $block->getAddToCartQty($item) * 1 ?>">
            </div>
        </div>
    <?php endif; ?>
    <?= /* @noEscape */ $actionsBlock ?>
    <?= /* @noEscape */ $commentBlock ?>
    <?php if ($product->isSaleable()): ?>
    <div class="product-item-actions">
        <div class="actions-primary">
            <button type="button" data-role="tocart"
                    data-post='<?= /* @noEscape */ $block->getItemAddToCartParams($item) ?>'
                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                    data-item-id="<?= /* @noEscape */ $item->getId()?>"
                    class="action tocart primary">
                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
            </button>
        </div>
    </div>
    <?php else: ?>
        <?php if ($product->getIsSalable()): ?>
            <p class="available stock" title="<?= $block->escapeHtml(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('In stock')) ?></span>
            </p>
        <?php else: ?>
            <p class="unavailable stock" title="<?= $block->escapeHtml(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
            </p>
        <?php endif; ?>
    <?php endif; ?>
    </fieldset>
</div>
