<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
?>
<?php $customerLoginBlock = $block->getLayout()->createBlock(\Magento\Customer\Block\Form\Login::class); ?>
<li class="forgot-password-link" data-label="<?= $block->escapeHtml(__('forgot password')) ?>">
    <a class="action remind" href="<?= /* @noEscape */ $customerLoginBlock->getForgotPasswordUrl() ?>">
        <span><?= $block->escapeHtml(__('Forgot your password?')) ?></span>
    </a>
</li>
