<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

/**
 * Configures categories in top header
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<nav class="navigation" data-action="navigation">
    <div class="switcher category switcher-category"
        id="switcher-category">
        <strong class="label switcher-label">
            <span><?= $block->escapeHtml(__('shop products by')) ?></span>
        </strong>
        <div class="actions dropdown options switcher-options">
            <div class="action toggle switcher-trigger" id="switcher-category-trigger">
                <strong class="switcher-category-strong">
                    <span><?= $block->escapeHtml(__("shop products by")) ?></span>
                </strong>
                <span class="wk-cat-text">
                    <?= $block->escapeHtml(__("category")) ?>
                </span>
            </div>
            <ul class="dropdown switcher-dropdown" data-mage-init='{
                    "dropdownDialog":{
                        "appendTo":"#switcher-category > .options",
                        "triggerTarget":"#switcher-category-trigger",
                        "closeOnMouseLeave": false,
                        "triggerClass":"active",
                        "parentClass":"active",
                        "buttons":null}}'>
                <div class="nav-menu-left">
                    <div class="choose-cat"><?= $block->escapeHtml(__('Choose Category')) ?></div>
                    <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
                        <?= /* @noEscape */ $_menu; ?>
                        <?= /* @noEscape */ $block->getChildHtml(); ?>
                    </ul>
                </div>
                <div class="nav-menu-right">
                    <?= /* @noEscape */ $block->newHtml(); ?>
                </div>
            </ul>
        </div>
    </div>
</nav>
