<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

/**
 * Configures cms links in top header
 *
 * @var $block \Webkul\Xtremo\Block\Header\Cms
 */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $helper \Webkul\Xtremo\Helper\Data */
$helper = $xtremoViewModel->getXtremoHelper();
?>
<div class="wk-cms-modal"></div>
<div class="wk-xtremo-phone-cms">
    <?php
    $phoneNumber = $helper->getHeaderPhoneNumberConfig(); ?>
    <?php if ($phoneNumber && $phoneNumber!==0 && $phoneNumber !== ""): ?>
        <div class="phone-number-wrapper">
            <div class="phone-number"><?= $block->escapeHtml(__('+%1', $phoneNumber)) ?></div>
        </div>
    <?php endif; ?>
    <?php
    $links = $block->getCmsPagesLinks();?>
    <?php if ($links && !empty($links)): ?>
        <?php $i = 1;
        $count = count($links); ?>
        <div class="wk-cms-wrapper">
            <div class="wk-cms-block">
            <?php foreach ($links as $key => $value): ?>
                <?php if ($i<=4): ?>
                    <span>
                        <a href="<?= /* @noEscape */ $value['url']; ?>">
                          <?= $block->escapeHtml($value['title']) ?>
                        </a>
                    </span>
                <?php else: ?>
                    <?php if ($i==5): ?>
                        <div class="switcher cms switcher-cms"
                            id="switcher-cms<?= $block->escapeHtml($key) ?>">
                            <strong class="label switcher-label">
                                <span><?= $block->escapeHtml(__('others')) ?></span>
                            </strong>
                            <div class="actions dropdown options switcher-options">
                                <div class="action toggle switcher-trigger"
                                     id="switcher-cms-trigger<?= $block->escapeHtml($key) ?>">
                                        <strong class="switcher-cms-strong">
                                            <span><?= $block->escapeHtml(__("others")) ?></span>
                                        </strong>
                                </div>
                                <ul class="dropdown switcher-dropdown" data-mage-init='{
                                    "dropdownDialog":{
                                        "appendTo":"#switcher-cms<?= $block->escapeHtml($key) ?> > .options",
                                        "triggerTarget":"#switcher-cms-trigger<?= $block->escapeHtml($key) ?>",
                                        "closeOnMouseLeave": false,
                                        "triggerClass":"active",
                                        "parentClass":"active",
                                        "buttons":null}}'>
                    <?php endif; ?>
                                    <li class="cms-<?= $block->escapeHtml($key) ?> switcher-option">
                                        <a href="<?= /* @noEscape */ $value['url'] ?>">
                                            <?= $block->escapeHtml($value['title']) ?>
                                        </a>
                                    </li>
                    <?php if ($count == $i): ?>
                                </ul>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
                <?php $i++; ?>
            <?php endforeach; ?>
            </div>
        </div>
    <?php endif; ?>
</div>
