/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

.wk-sellergroup .wk-sellergroup-wrapper-container {
    margin-bottom: 20px;
    width: 280px!important;
    list-style: none;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.wk-sellergroup-wrapper-container2 {
    padding-left: 0!important;
}
.wk-sellergroup ol {
    padding-left: 0;
    text-align: center;
}
.wk-sellergroup-wrapper .basic .plan-title {
    background-color: #1979c3;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 13px 13px 0 0px;
}
.wk-sellergroup-description {
    padding: 15px;
    border: 1px solid #1979c3;
}
.wk-sellergroup-wrapper .basic .plan-price {
    color: #1979c3;
}
.wk-sellergroup-description>h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.wk-sellergroup-description p {
    margin: 0;
    color: #999;
    font-size: 12px;
    text-align: center;
}
.wk-sellergroup-feature-list {
    text-align: left;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 240px;
}
.wk-sellergroup-feature-list>li {
    position: relative;
    padding-left: 19px;
    list-style: none;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 luma-icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-check {
    color: #55c7a7;
    position: absolute;
    top: 3px;
    left: 0px;
}
.fa-check:before {
    content: "\e610";
}
.wk-sellergroup-wrapper .link-color {
    color: #4164f6;
}
.wk-sellergroup-wrapper button.primary {
    width: 100%;
}
.wk-mp-banner-container {
    margin-bottom: 20px;
}

.wk-seller-group-table {
    width: 100%;
    border: 1px solid #cbd3d4;
    border-bottom: none;
}
.wk-seller-group-table table.border {
    border: 1px solid #cbd3d4;
}
.wk-seller-group-table tbody {
    background: #fff;
}
.wk-seller-group-table tr:hover{
    background: #fcf5dd; cursor:pointer;
}
.wk-seller-group-table td {
    border-width: 0 1px 1px 0;
    border-color: #dadfe0;
    border-style: solid;
    padding: 10px;
    vertical-align: top;
}
.sellergroup-notify{
    color: red;
    font-size: 24px;
}
.wk-sellergroup-block dt {
    font-weight: bold;
    font-style: italic;
    width: 100%;
}
.wk-sellergroup-block dd {
    padding-left: 10px;
    margin: 0 0 6px;
}
.wk-sellergroup-description-pricing {
    min-height: 70px;
}

.title-buttons.recurring-profiles-title-buttons {
    float: right;
    text-align: right;
    margin-bottom: 30px;
}
.order-info-box {
    margin-bottom: 40px;
    margin-top: 20px;
}
.col2-set {
    width: 100%;
    display: inline-block;
}
.order-info-box .col-1, .order-info-box .col-2 {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}
.order-info-box .col-1 {
    padding-right: 0;
    width: 48%;
}
.col2-set .col-1 {
    float: left;
    padding-left: 0;
}
.col2-set .col-1, .col2-set .col-2 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.info-box {
    border: 1px solid silver;
    padding: 12px 15px;
    margin: 0 0 15px;
    /* display: inline-block; */
}
.order-info-box .box-title {
    padding-right: 10px;
    float: left;
}
.order-info-box .box-title h2 {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    color: #636363;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.info-box h2 {
    font-weight: bold;
    font-size: 13px;
}
.order-info-box .box-content {
    display: inline-block;
    width: 100%;
}
.order-info-box .box-content th {
    padding-top: 10px;
}
.order-info-box .box-content td, .order-info-box .box-content th {
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.3;
}
.info-table th {
    font-weight: bold;
    padding: 4px 20px 4px 0;
}
.info-table th, .info-table td {
    vertical-align: top;
}
.order-info-box .box-content td {
    padding-left: 15px;
}
.info-table td {
    padding: 4px 0;
}
.info-table th, .info-table td {
    vertical-align: top;
}
.primary.purchase-booster {
    text-align: right;
}