<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

 $data = $block->getFormData();
 $estimationType = $block->getEstimationTypes();
 $deliveryType = $block->getDeliveryTypes();
?>
<form action="<?= $block->escapeUrl($block->getUrl(
    'mpexpecteddate/rules/save',
    ['_secure' => $block->getRequest()->isSecure()]
)) ?>" 
enctype="multipart/form-data" 
method="post" id="expdd-add-rule" data-form="expdd-add-rule">
    <div class="wk-mp-design" id="wk-bodymain">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend">
            <?php if (!empty($data['name'])): ?>
                <span><?= /* @noEscape */  $block->escapeHtml($data['name']) ?></span>
                <?php else: ?>
                <span><?= /* @noEscape */  __('New Rule') ?></span>
            <?php endif ?>
                <button class="button wk-mp-btn" title="<?= /* @noEscape */  __('Save') ?>" 
                    type="submit" id="save-btn">
                    <span><span><?= /* @noEscape */  __('Save') ?></span></span>
                </button>
                <button id="frontend-back" type="button" class="action- scalable back"
                        title="<?= /* @noEscape */  __('Back') ?>" 
                        onclick='location.href = "<?= $block->escapeUrl($block->getUrl('*/*/index')) ?>"'>
                    <span><span><?= /* @noEscape */  __('Back') ?></span></span>
                </button>
            </div>
            <?= $block->getBlockHtml('formkey')?>
            <?= $block->getBlockHtml('seller.formkey')?>
            <input class="hidden" type="hidden" name="entity_id" 
            value="<?= $block->escapeHtml(!empty($data['entity_id'])?
                        $data['entity_id']:'')?>"/>
            <div class="field required">
                <label class="label"><?= /* @noEscape */  __('Enable') ?>:</label>
                <div class="control">
                    <select id="" class="select" name="status" required="true">
                        <option value="1" <?php if (!empty($data['status']) && $data['status'] == 1) {
                            echo "selected='selected'";}?>>
                            <?= /* @noEscape */ __("Yes"); ?>
                        </option>
                        <option value="0" <?php if (empty($data['status']) || $data['status'] == 0) {
                            echo "selected='selected'";}?>>
                            <?= /* @noEscape */ __("No"); ?>
                        </option>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label"><?= /* @noEscape */ __('Name') ?>:</label>
                <div class="control">
                    <input type="text" class="input-text" name="name" id="name" 
                    required="true" value="<?= $block->escapeHtml(!empty($data['name'])?
                        $data['name']:'')?>"/>
                </div>
            </div>
            <div class="field">
                <label class="label"><?= /*@noEscape*/ __('Description') ?>:</label>
                <div class="control">
                    <textarea class="textarea" id="description" 
                    name="description"><?= $block->escapeHtml(!empty($data['description'])
                    ?$data['description']:'')?></textarea>
                </div>
            </div>

            <div class="field required">
                <label class="label"><?= /* @noEscape */ __('Estimation Type') ?>:</label>
                <div class="control">
                    <select  class="select" name="estimation_type" required="true">
                            <?php
                            foreach ($estimationType as $key => $type) {
                                ?>
                                <option value="<?= /*@noEscape*/ $key ?>"
                                    <?php
                                    if (!empty($data) && in_array($key, explode(',', $data['estimation_type']))) {
                                        echo "selected='selected'";
                                    }
                                    ?>
                                >
                                    <?= $block->escapeHtml($type) ?>
                                </option>
                                <?php
                            }
                            ?>
                    </select>
                    <span class="tip-content">
                        <?= /*@noEscape*/
                            __("In days will show the Estimation in Days and In Dates will show in Date Format")
                        ?>
                    </span>
                </div>
            </div>

            <div class="field required">
                <label class="label"><?= /* @noEscape */ __('Delivery Type') ?>:</label>
                <div class="control">
                    <select  class="select" name="delivery_type" required="true" id="delivery_type">
                            <?php
                            foreach ($deliveryType as $key => $type) {
                                ?>
                                <option value="<?= /*@noEscape*/ $key ?>"
                                    <?php
                                    if (!empty($data) && in_array($key, explode(',', $data['delivery_type']))) {
                                        echo "selected='selected'";
                                    }
                                    ?>
                                >
                                    <?= $block->escapeHtml($type) ?>
                                </option>
                                <?php
                            }
                            ?>
                    </select>
                    <span class="tip-content">
                        <?= /*@noEscape*/
                        __("Delivery will be at specific day like: in 2 days or in Range like: 5 to 6 Days")
                        ?>
                    </span>
                </div>
            </div>

            <div class='field required'>
                <label class="label"><?= /* @noEscape */ __('Estimation Duration') ?>:</label>
            </div>
            <div class="control">
                <div class="estimations">
                     <input type="number" class="input-text" name="days_from" id="days_from" placeholder="From"
                        required="true" value="<?= $block->escapeHtml(!empty($data['days_from'])?
                        $data['days_from']:'')?>"/>
                        <span id="separator"> — </span>
                        <input type="number" class="input-text" name="days_to" id="days_to" placeholder="To"
                    required="true" value="<?= $block->escapeHtml(!empty($data['days_to'])?
                        $data['days_to']:'')?>" greaterThan="#days_from"/>
                </div>
            </div>
        </fieldset>
    </div>
</form>

<script>
    require(['jquery', 'mage/translate', 'jquery/validate'],
    function($, $t){
        $.validator.addMethod("greaterThan",
            function (value, element, param) {
                var $otherElement = $(param);
                return parseInt(value, 10) > parseInt($otherElement.val(), 10);
        }, $t("Value must be more than Day From"));
        $(document).ready(function(){
            var form = $('#expdd-add-rule');
            form.validate();
            $('#save-btn').click(function (event) {
                event.preventDefault();
                let isValid = form.valid();
                if(isValid){
                    form.submit();
                }
            });

            setTimeout(()=> handleEle(), 500)
            $(document).on('change', '#delivery_type', function(){
                handleEle();
            });
        })

        function handleEle(){
            var selectEle = $('#delivery_type');
            let ele = $("#days_to");
            if (selectEle.val() === 'specific') {
                ele.hide();
                $("#separator").hide();
            } else {
                ele.show();
                $("#separator").show();
            }
        }
    })
</script>