<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @block Webkul\MpSellerGroup\Block\Booster\ActiveList

$helper = $block->helper(); ?>
<?php if ($block->getAllActiveBoosters() && $block->getAllActiveBoosters()->getSize() <= 0): ?>
    <div class="fieldset">
        <h2 class="legend"><?= $block->escapeHtml(__('Purchased Boosters')) ?></h2>
        <div class="wk_emptymsg">
            <?= $block->escapeHtml(__('No Boosters Available')) ?>
        </div>
    </div>
<?php else: ?>
    <?php $params = $block->getParameters();

    $filterTransactionId = '';
    $filterTransactionStatus = '';
    $filterFromDate = '';
    $filterToDate = '';

    if (!empty($params['transaction_id'])) {
        $filterTransactionId = $params['transaction_id'] != '' ? $params['transaction_id'] : '';
    }
    if (!empty($params['transaction_status'])) {
        $filterTransactionStatus = $params['transaction_status'] != '' ? $params['transaction_status'] : '';
    }
    if (!empty($params['from_date'])) {
        $filterFromDate = $params['from_date'] != '' ? $params['from_date'] : '';
    }
    if (!empty($params['to_date'])) {
        $filterToDate = $params['to_date'] != '' ? $params['to_date'] : '';
    } ?>
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend">
            <span><?= $block->escapeHtml(__('Purchased Boosters')) ?></span>
        </legend>
        <div class="grid">
            <div class="hor-scroll">
                <form action="<?= $block->escapeUrl($block->getUrl(
                    'mpsellergroup/booster/index',
                    ['_secure' => $block->getRequest()]
                ))?>"
                    id="recurring_profile_list_filter"
                    name="recurring_profile_list_filter"
                    method="GET"
                    data-mage-init='{"validation":{}}'>
                    <table cellspacing="0" class="border wk-mp-list-table">
                        <thead>
                            <tr id="wk-mp-tr-heading">
                                <th><span><?=
                                $block->escapeHtml(__('Transaction ID')) ?></span></th>
                                <th><span><?=
                                $block->escapeHtml(__('Transaction Status')) ?></span></th>
                                <th><span><?=
                                $block->escapeHtml(__('Created At')) ?></span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody class="wk-mp-body">
                            <tr>
                                <td>
                                    <input type="text"
                                            class="input-text"
                                            name="transaction_id"
                                            placeholder='<?=
                                            $block->escapeHtml(__('Search by Transaction Id')) ?>'
                                            value="<?= $block->escapeHtml($filterTransactionId) ?>"/>
                                </td>
                                <td>
                                    <?php if (!empty($block->getAllTransactionStatus())): ?>
                                        <select name="transaction_status" class="input-text select"
                                            placeholder='<?=
                                            $block->escapeHtml(__('Search by Transaction Status')) ?>'>
                                            <option value=""><?=
                                            $block->escapeHtml(__('All')) ?></option>
                                            <?php foreach ($block->getAllTransactionStatus() as $status): ?>
                                                <option value="<?=
                                                $block->escapeHtml($status['value']) ?>"
                                                    <?php if ($filterTransactionStatus == $status['value']) {
                                                        echo $block->escapeHtml('selected="selected"');
                                                    }?>>
                                                    <?=
                                                    $block->escapeHtml($status['label']) ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <input type="text"
                                                class="input-text"
                                                name="transaction_status"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by Transaction Status')) ?>'
                                                value="<?=
                                                $block->escapeHtml($filterTransactionStatus) ?>"/>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <span class="wk-mp-td-span">
                                        <?= $block->escapeHtml(__('From: ')) ?>
                                        <input type="text"
                                                name="from_date"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by date')) ?>'
                                                id="from_date"
                                                class="input-text"
                                                value="<?=
                                                $block->escapeHtml($filterFromDate) ?>"
                                                readonly />
                                    </span>
                                    <span class="wk-mp-td-span">
                                        <?= $block->escapeHtml(__('To: ')) ?>
                                        <input type="text"
                                                name="to_date"
                                                placeholder='<?=
                                                $block->escapeHtml(__('Search by date')) ?>'
                                                id="to_date"
                                                class="input-text"
                                                value="<?=
                                                $block->escapeHtml($filterToDate) ?>"
                                                readonly />
                                    </span>
                                </td>
                                <td>
                                    <button class="button" title="Save" type="submit">
                                        <span><span><span><?=
                                        $block->escapeHtml(__('Submit')) ?>
                                        </span></span></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <?php if ($block->getAllActiveBoosters()
                        && $block->getAllActiveBoosters()->getSize()
                    ): ?>
                    <table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
                        <thead>
                            <tr class="wk-content">
                                <th class="wk-first-td">
                                    <span class="label name">
                                        <?= $block->escapeHtml(__('Booster Name')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Transaction Id')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Transaction Status')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Expiry Status'))?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Created At')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Updated At')) ?>
                                    </span>
                                </th>
                                <th>
                                    <span class="label pro-status">
                                        <?= $block->escapeHtml(__('Action'))?>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php
                        $i = 0;
                        foreach ($block->getAllActiveBoosters() as $booster) {
                            $i++;
                            $expiryStatus = $booster->getExpiredStatus() ? __('Expired') : __('Active');
                            ?>
                                <tr class="wk-row-view <?=
                                $class = ($i == count($block->getAllActiveBoosters()))? 'wk-last_tr':''?>">
                                    <td class="wk-first_td">
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($booster->getBoosterName()) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($booster->getTransactionId()) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml(ucfirst($booster->getTransactionStatus())) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($expiryStatus) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($booster->getCreatedAt()) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label pro-status">
                                            <?= $block->escapeHtml($booster->getUpdatedAt()) ?>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="label wk-action">
                                            <a href="<?=
                                            $block->escapeUrl($block->getUrl(
                                                "mpsellergroup/booster/view",
                                                ["boostertype" => $booster->getId()]
                                            )) ?>"><?=
                                            $block->escapeHtml(__("View")) ?></a>
                                        </span> 
                                    </td>
                                </tr>
                            <?php
                        }?>
                        </tbody>
                    </table>
                <?php else: ?>
                    <div class="wk-emptymsg">
                        <?= $block->escapeHtml(__('No Boosters Available')) ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?php if ($block->getPagerHtml() && count($block->getAllActiveBoosters()) > 0): ?>
            <div class="order-products-toolbar toolbar bottom"><?= /* @noEscape */ $block->getPagerHtml(); ?></div>
        <?php endif; ?>
    </fieldset>
    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;"
                onclick="javascript: window.history.back();"
                class="left">
                &laquo; <?= $block->escapeHtml(__('Back')) ?>
            </a>
        </p>
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "recurringProfile": {}
            }
        }
    </script>
<?php endif; ?>
