<?php
/**
 * Webkul Software.
 *
 * @category Webkul
 * @package Webkul_MpExpectedDeliveryDate
 * @author Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
$_helper = $block->getMpHelper();
$isPartner= $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
$isSellerGroup = $_helper->isSellerGroupModuleInstalled();
?>
<?php
if ($isPartner) { ?>
    <?php if (($isSellerGroup && $_helper->isAllowedAction('mpexpecteddate/configuration/index'))
        || !$isSellerGroup) { ?>
    <li class="wk-mp-expdd-menu level-0 
        <?= $block->escapeHtml(
            strpos(
                $magentoCurrentUrl,
                'mpexpecteddate/configuration/index'
            )
                ? "current active":""
        );?>" id="wk-mp-expdd-menu">
        <a href="javascript:void(0)" onclick="return false;" class="">
            <span><?= /* @noEscape */ __('Expected Delivery Date')?></span>
        </a>

        <div class="wk-mp-submenu">
                <strong class="wk-mp-submenu-title"><?= /* @noEscape */ __('Expected Delivery Date')?></strong>
                <a href="javascript:void(0)" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                <ul>
                    <li data-ui-id="menu-webkul-marketplace-menu" class="item-menu parent level-1">
                        <strong class="wk-mp-submenu-group-title">
                            <span><?= /* @noEscape */ __('Menu')?></span>
                        </strong>
                        <div class="wk-mp-submenu">
                            <ul>
                                <?php if ($_helper->isAllowed('mpexpecteddate/configuration/index')): ?>
                                    <li class="level-2">
                                        <a href="<?= $block->escapeUrl($block->getUrl(
                                            'mpexpecteddate/configuration/index',
                                            ['_secure' => $block->getRequest()->isSecure()]
                                        )); ?>">
                                            <span><?= /* @noEscape */ __('General Settings') ?></span>
                                        </a>
                                    </li>
                                <?php endif; ?>
                                <?php if ($_helper->isAllowed('mpexpecteddate/rules/index')): ?>
                                    <li class="level-2">
                                        <a href="<?= $block->escapeUrl($block->getUrl(
                                            'mpexpecteddate/rules/index',
                                            ['_secure' => $block->getRequest()->isSecure()]
                                        )); ?>">
                                            <span><?= /* @noEscape */ __('Rules') ?></span>
                                        </a>
                                    </li>
                                <?php endif; ?>
                                <?php if ($_helper->isAllowed('mpexpecteddate/regions/index')): ?>
                                    <li class="level-2">
                                            <a href="<?= $block->escapeUrl($block->getUrl(
                                                'mpexpecteddate/region/index',
                                                ['_secure' => $block->getRequest()->isSecure()]
                                            )); ?>">
                                                <span><?= /* @noEscape */ __('Regions') ?></span>
                                            </a>
                                        </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    <?php } ?>
<?php } ?>
