<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

?>
<!doctype html>
<html dir="rtl" <?= /* @noEscape */ $htmlAttributes ?>>
    <head <?= /* @noEscape */ $headAttributes ?>>
        <?= /* @noEscape */ $requireJs ?>
        <?= /* @noEscape */ $headContent ?>
        <?= /* @noEscape */ $headAdditional ?>
        <?php $bodyAttributes = str_replace('class="', 'class="xtremo-rtl ', $bodyAttributes); ?>
    </head>
    <body data-container="body"
          data-mage-init='{"loaderAjax": {}, "loader": {
               "icon": "<?= /* @noEscape */ $loaderIcon; ?>"}}' <?= /* @noEscape */ $bodyAttributes ?>>
        <?= /* @noEscape */ $layoutContent ?>
    </body>
</html>
