<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $allRma = $block->getAllRma();
    $url = $block->getUrl("mprmasystem/customer/newrma");
    $viewUrl = $block->getUrl("mprmasystem/customer/rma/");
    $cancelUrl = $block->getUrl("mprmasystem/customer/cancel/");
    $orderUrl = $block->getUrl("sales/order/view/");

    $data = $block->jsonEncodeData([
                "filterUrl" => $block->getUrl("mprmasystem/rma/filter"),
                "sortingUrl" => $block->getUrl("mprmasystem/rma/sorting"),
                "confirmationLabel" => __("Confirmation"),
                "cancelRmaLabel" => __("Do you want to cancel RMA ?"),
                "type" => 1,
            ]);
    ?>
<div class="wk-mprma-container">
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>
    <div class="wk-mp-rma-newrma">
        <a href="<?= $block->escapeUrl($url); ?>"><?= $block->escapeHtml(__("Request New RMA")); ?></a>
    </div>
    <div class="wk-mp-rma-allrma">
        <div class="wk-mprma-container">
            <fieldset class="fieldset wk-mprma-fieldset table-wrapper">
                <table id="my-rma-table" class="data table wk-buyer-rma-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__("RMA History")); ?></caption>
                    <thead class="wk-table-head-title 
                        <?= $block->escapeHtml($block->getSortingFieldClass()); ?> 
                        <?= $block->escapeHtml($block->getSortingOrderClass()); ?>">
                        <tr>
                            <th class="col wk-sorting-col" scope="col" data-col="wk_rma_id">
                                <?= $block->escapeHtml(__("RMA Id")); ?>
                            </th>
                            <th class="col wk-sorting-col" scope="col" data-col="wk_order_ref">
                                <?= $block->escapeHtml(__("Order #")); ?>
                            </th>
                            <th class="col" scope="col">
                                <?= $block->escapeHtml(__("Status")); ?>
                            </th>
                            <th class="col wk-sorting-col" data-col="wk_date">
                                <?= $block->escapeHtml(__("Date")); ?>
                            </th>
                            <th class="col actions" scope="col"></th>
                        </tr>
                    </thead>
                    <thead class="wk-table-head-action">
                        <tr>
                            <th class="col" scope="col">
                                <input id="wk-filter-rma-id" type="text" 
                                    placeholder="<?= $block->escapeHtml(__("RMA Id")); ?>" 
                                    value="<?= $block->escapeHtml($block->getBuyerFilterRmaId()); ?>">
                            </th>
                            <th class="col" scope="col">
                                <input id="wk-filter-order-ref" type="text" 
                                    placeholder="<?= $block->escapeHtml(__("Order #")); ?>" 
                                    value="<?= $block->escapeHtml($block->getBuyerFilterOrderRef()); ?>">
                            </th>
                            <th class="col" scope="col">
                                <select id="wk-filter-rma-status">
                                    <?php foreach ($block->getAllRmaStatus() as $key => $rmaStatus): ?>
                                        <?php if ($key === $block->getBuyerFilterStatus()): ?>
                                            <option selected value="<?= $block->escapeHtml($key); ?>">
                                                <?= $block->escapeHtml(__($rmaStatus)); ?>
                                            </option>
                                        <?php else: ?>
                                            <option value="<?= $block->escapeHtml($key); ?>">
                                                <?= $block->escapeHtml(__($rmaStatus)); ?>
                                            </option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                            </th>
                            <th class="col wk-date-filter-col" scope="col">
                                <span class="wk-date-filter-box">
                                    <input id="wk-filter-date-from" type="text" 
                                        placeholder="<?= $block->escapeHtml(__("From")); ?>" 
                                        value="<?= $block->escapeHtml($block->getBuyerFilterFromDate()); ?>">
                                </span>
                                <span class="wk-date-filter-box">
                                    <input id="wk-filter-date-to" type="text" 
                                        placeholder="<?= $block->escapeHtml(__("To")); ?>" 
                                        value="<?= $block->escapeHtml($block->getBuyerFilterToDate()); ?>">
                                </span>
                            </th>
                            <th class="col" scope="col">
                                <button type="button" class="wk-apply-filter-btn">
                                    <?= $block->escapeHtml(__("Apply Filter")); ?>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <?php if ($allRma->getSize()): ?>
                        <tbody>
                            <?php foreach ($allRma as $rma): ?>
                                <?php
                                    $status = $rma->getStatus();
                                    $finalStatus = $rma->getFinalStatus();
                                    $rmaStatus = $block->getRmaStatusTitle($status, $finalStatus);
                                ?>
                                <tr>
                                    <td class="col" data-th="Id"><?= $block->escapeHtml($rma->getId()); ?></td>
                                    <td class="col" data-th="Order #">
                                        <a target="_blank" 
                                            href="<?= $block->escapeUrl($orderUrl."order_id/".$rma->getOrderId()); ?>">
                                            <?= $block->escapeHtml($rma->getOrderRef()); ?>
                                        </a>
                                    </td>
                                    <td class="col" data-th="Status">
                                        <?= $block->escapeHtml(__($rmaStatus)); ?>
                                    </td>
                                    <td class="col" data-th="Date">
                                        <?= $block->escapeHtml($block->formatDate(
                                            $rma->getCreatedDate(),
                                            \IntlDateFormatter::MEDIUM,
                                            true
                                        )); ?>
                                    </td>
                                    <td class="col actions" data-th="Actions">
                                        <?php if ($rma->getFinalStatus() > 0): ?>
                                            <a class="action view" 
                                                href="<?= $block->escapeUrl($viewUrl."id/".$rma->getId()); ?>">
                                                <span><?= $block->escapeHtml(__("View")); ?></span>
                                            </a>
                                        <?php else: ?>
                                            <a class="action view" 
                                                href="<?= $block->escapeUrl($viewUrl."id/".$rma->getId()); ?>">
                                                <span><?= $block->escapeHtml(__("View")); ?></span>
                                            </a>
                                            <a class="action order wk-cancel-rma" 
                                                href="<?= $block->escapeUrl($cancelUrl."id/".$rma->getId()); ?>">
                                                <span><?= $block->escapeHtml(__("Cancel")); ?></span>
                                            </a>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    <?php else: ?>
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <div class="message info empty">
                                        <span><?= $block->escapeHtml($block->getMessage()); ?></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    <?php endif; ?>
                </table>
                <?php if ($block->getPagerHtml()): ?>
                    <div class="order-products-toolbar toolbar bottom">
                        <?= /* @noEscape */ $block->getPagerHtml(); ?>
                    </div>
                <?php endif ?>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/cancel": <?= /* @noEscape */ $data ?>
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/allRma": <?= /* @noEscape */ $data ?>
        }
    }
</script>