<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $helper \Webkul\Xtremo\Helper\Data */
$helper = $xtremoViewModel->getXtremoHelper();
?>
<?php $_product = $block->getProduct();
$flag = 1; ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($helper->isModuleEnabled('Webkul_MarketplacePreorder')
 && $helper->isOutputEnabled('Webkul_MarketplacePreorder')) {
    $preorderHelper = $this->helper(\Webkul\MarketplacePreorder\Helper\Data::class);
    if ($preorderHelper->isPreorder($_product->getId())) {
        $flag = 0;
    }
} ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?= /* @noEscape */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtml(__('Qty')) ?>" class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <?php if ($block->displayProductStockStatus()): ?>
            <?php if ($_product->isAvailable()): ?>
                <div class="stock available" title="<?= $block->escapeHtml(__('Availability')) ?>">
                    <span><?= $block->escapeHtml(__('In stock')) ?></span>
                </div>
            <?php else: ?>
                <div class="stock unavailable" title="<?= $block->escapeHtml(__('Availability')) ?>">
                    <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        <?= /* @noEscape */ $block->getChildHtml('', true) ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtml($buttonTitle) ?>"
                    class="action primary tocart <?php if (!$flag) { ?>single<?php } ?>"
                    id="product-addtocart-button">
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?php if ($flag): ?>
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Buy Now')) ?>"
                        class="action primary buynow-button"
                        id="product-buynow-button"
                        value="1"
                        name="buy_btn">
                    <span><?= $block->escapeHtml(__('Buy Now')) ?></span>
                </button>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php else: ?>
    <?php if ($block->displayProductStockStatus()): ?>
        <?php if ($_product->isAvailable()): ?>
            <div class="stock available" title="<?= $block->escapeHtml(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('In stock')) ?></span>
            </div>
        <?php else: ?>
            <div class="stock unavailable" title="<?= $block->escapeHtml(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
            </div>
        <?php endif; ?>
    <?php endif; ?>
    <?= /* @noEscape */ $block->getChildHtml('product.info.social', true) ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()): ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>
