<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data title <?php if ($alias == "reviews") { ?>active<?php } ?>"
                     aria-labeledby="tab-label-<?= $block->escapeHtml($alias) ?>-title"
                    data-role="collapsible" id="tab-label-<?= $block->escapeHtml($alias) ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= $block->escapeHtml($alias) ?>"
                       id="tab-label-<?= $block->escapeHtml($alias) ?>-title">
                        <?= $block->escapeHtml($label) ?>
                    </a>
                </div>
                <div class="data content" id="<?= $block->escapeHtml($alias) ?>" data-role="content">
                    <?= /* @noEscape */ $html; ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
