<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * Display product name at product view page
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>

<?php
/** @var $viewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $xtremoViewModel->getXtremoHelper();

$_product = $block->getProduct();
?>
<?php $discount = $xtremoHelper->displayDiscountLabel($_product); ?>
<?php if ($discount && $xtremoHelper->isXtremoEnabled()): ?>
    <div class="disount-wrapper">
        <div class="percent-label"><span><?= $block->escapeHtml(__('%1% Off', $discount)) ?></span></div>
        <div class="sale-label"><span><?= $block->escapeHtml(__('SALE')) ?></span></div>
    </div>
<?php endif; ?>
