<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>

<?php
/** @var $viewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $_helper \Magento\Catalog\Helper\Output */
$_helper = $xtremoViewModel->getCatalogOutputHelper();
?>
<?php $_product = $block->getProduct(); ?>
<?php $isConfig = false; ?>

<div class="product-add-form">
    <form action="<?= /* @noEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"
            <?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= $block->escapeHtml($_product->getId()) ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
        <?= /* @noEscape */ $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()):?>
            <?= /* @noEscape */ $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?= /* @noEscape */ $block->getChildChildHtml('options_container') ?>
            <?php else: ?>
                <?php if ($_product->getTypeId() == "configurable"): ?>
                    <?php $isConfig = true; ?>
                    <?php if ($_product->isSaleable()
                     && $block->hasOptions()
                     && $block->getOptionsContainer() == 'container2'):?>
                        <?= /* @noEscape */ $block->getChildChildHtml('options_container') ?>
                    <?php else: ?>
                        <?= /* @noEscape */ $block->getChildHtml('product_info_form_content') ?>
                    <?php endif;?>
                <?php endif; ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable()
         && $block->hasOptions()
         && $block->getOptionsContainer() == 'container2' && !$isConfig):?>
            <?= /* @noEscape */ $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= /* @noEscape */ $block->getChildHtml('form_bottom'); ?>
    </form>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId())?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @noEscape */ $block->getJsonConfig() ?>});
    });
</script>
