<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/**
 * Display product name at product view page
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
$_product = $block->getProduct(); ?>
<div class="product-name">
    <span class="h1"><?= $block->escapeHtml($_product->getName()) ?></span>
</div>
