<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpBuyerSellerChat
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>

<script id="reply_template" type="text/x-magento-template">
    <li class="<%- data.class %>">
        <div class="avatar">
            <img src="<%- data.image %>" />
        </div>
        <div class="messages">
            <%- data.message %>
            <time datetime="2009-11-13T20:14">37 mins</time>
        </div>
    </li>
</script>