<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
use Magento\Framework\App\Action\Action;

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $xtremoViewModel->getXtremoHelper();

/** @var $_helper \Magento\Catalog\Helper\Output*/
$_helper = $xtremoViewModel->getCatalogOutputHelper();

$_productCollection = $block->getLoadedProductCollection();
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else: ?>
    <div class="current-cat">
    <h3><?php if ($xtremoHelper->getCurrentCategory()) {
         echo $block->escapeHtml($xtremoHelper->getCurrentCategory()->getName());
        } ?></h3>
    </div>
    <?= /* @noEscape */ $block->getToolbarHtml() ?>
    <?= /* @noEscape */ $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned(); ?>
    <div class="products wrapper <?= $block->escapeHtml($viewMode) ?> products-<?= $block->escapeHtml($viewMode) ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?= /* @noEscape */ ($iterator++ == 1)
                 ? '<li class="item product product-item">'
                 : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                       class="product photo product-item-photo" tabindex="-1">
                        <?= /* @noEscape */ $productImage->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @noEscape */ $_product->getProductUrl() ?>">
                                <?= /* @noEscape */ $_helper->productAttribute(
                                    $_product,
                                    $_product->getName(),
                                    'name'
                                ); ?>
                            </a>
                        </strong>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?= /* @noEscape */ $_helper->productAttribute(
                                    $_product,
                                    $_product->getShortDescription(),
                                    'short_description'
                                ) ?>
                            </div>
                        <?php endif; ?>
                        <?= /* @noEscape */ $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                        <?php $discount = $xtremoHelper->displayDiscountLabel($_product); ?>
                        <?php if ($discount && $xtremoHelper->isXtremoEnabled()): ?>
                            <div class="disount-wrapper">
                                <div class="percent-label">
                                <span><?= $block->escapeHtml(__('%1% Off', $discount)) ?></span>
                                </div>
                                <div class="sale-label"><span><?= $block->escapeHtml(__('SALE')) ?></span></div>
                            </div>
                        <?php endif; ?>
                        <?= /* @noEscape */ $block->getProductDetailsHtml($_product); ?>

                        <div class="product-item-inner"><div class="product actions product-item-actions"
                          <?= $block->escapeHtml(strpos($pos, $viewMode . '-actions') ? $position : '') ?>>
                                <div class="actions-primary"
                                  <?= $block->escapeHtml(strpos($pos, $viewMode . '-primary') ? $position : '') ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form"
                                              action="<?= /* @noEscape */ $postParams['action']; ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden"
                                                   name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED; ?>"
                                                   value="<?= /* @noEscape */
                                                         $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?= /* @noEscape */ $block->getBlockHtml('formkey')?>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available">
                                            <span><?= $block->escapeHtml(__('In stock')) ?></span>
                                            </div>
                                        <?php else: ?>
                                            <div class="stock unavailable">
                                            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?= /* @noEscape */ $block->getChildHtml('custom-action') ?>
                        </div>
                    </div>
                </div>
                <?= /* @noEscape */ ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= /* @noEscape */ $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
