<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$dateTime = $block->formatDate($_review->getCreatedAt(), $format); ?>

<?php if (count($_items)):?>
<div class="block review-list" id="customer-reviews">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Customer Reviews')) ?></strong>
    </div>
    <div class="block-content">
        <div class="toolbar review-toolbar">
            <?= /* @noEscape */ $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items">
        <?php foreach ($_items as $_review):?>
            <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                <div class="review-title" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                <?php if (count($_review->getRatingVotes())): ?>
                    <div class="review-ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                    <div class="rating-summary item" itemprop="reviewRating"
                         itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label">
                            <span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span>
                        </span>
                        <div class="rating-result" title="<?= /* @noEscape */ $_vote->getPercent() ?>%">
                            <meta itemprop="worstRating" content = "1"/>
                            <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?= /* @noEscape */ $_vote->getPercent() ?>%">
                                <span itemprop="ratingValue"><?= /* @noEscape */ $_vote->getPercent() ?>%</span>
                            </span>
                        </div>
                        <div class="rating-star"><?= $block->escapeHtml(__('%1 of 5 Stars', $_vote->getValue()))?></div>
                    </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="review-details">
                    <p class="review-author">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Review by')) ?></span>
                        <strong class="review-details-value"
                                itemprop="author"><?= $block->escapeHtml($_review->getNickname()) ?></strong>
                    </p>
                    <p class="review-date">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Posted on')) ?></span>
                        <time class="review-details-value" itemprop="datePublished"
                              datetime="<?= /* @noEscape */ $dateTime ?>"><?= /* @noEscape */ $dateTime ?></time>
                    </p>
                </div>
                <div class="review-content" itemprop="description">
                    <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>

            </li>
        <?php endforeach; ?>
        </ol>
        <div class="toolbar review-toolbar">
            <?= /* @noEscape */ $block->getChildHtml('toolbar') ?>
        </div>
    </div>
</div>
<?php endif;?>
