/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.marketplace-seller-profile,
.marketplace-seller-collection,
.marketplace-seller-location{
    .sidebar-main{
        background-color: unset;
        padding: 0;
    }
    .column.main,
    .sidebar-additional{
        margin-bottom: 40px;
    }
    .product-item-info:hover,
    .products-grid .product-item-info.active{
        margin: 0;
    }
    .bannerpicrs{
        border-bottom: medium none;
        width: 100%;
    }
    .wk-mp-design-inner{
        border: medium none;
        padding: 15px;
        background-color: @color-white;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    .page-products{
        .product-item-info{
            box-sizing: border-box;
            padding: 10px;
        }
        .item.product.product-item{
            &:hover{
                .product-item-info{
                    box-shadow: 0 10px 16px -1px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .wk-mp-profile_container{
        #info .section{
            padding: 0;
            border-bottom: medium none;
            .store-name{
                .fontRobotoBold();
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .breadcrumbs{
            display: none;
        }
    }
}

.marketplace-index-index{
    .wk-mp-design{
        h1{
            font-size: 40px !important;
        }
        .wk-mp-header h1{
            font-size: 3.9em !important;
        }
    }
}
