/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@import '_common-page.less';
@import '_marketplace-seller-profile.less';
@import '_marketplace-seller-profile-rating.less';
@import '_marketplace-seller-collection.less';
@import '_marketplace-account-dashboard.less';
@import '_marketplace-account.less';
@import '_marketplace-seller-common.less';
.xtremo-marketplace-block{
    box-sizing: border-box;
    display: block;
    margin-left: -@page-content-margin;
    margin-right: -@page-content-margin;
    margin-top: 40px;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 1450px) {
        margin-left: -100px;
        margin-right: -100px;
    }
    @media only screen and (max-width: 767px) {
        margin-left: -20px;
        margin-right: -20px;
    }
    @media only screen and (min-width: 2000px) {
        margin-left: -278px;
        margin-right: -278px;
    }
    @media only screen and (min-width: 2300px) {
        margin-left: -400px;
        margin-right: -400px;
    }
    @media only screen and (min-width: 2600px) {
        margin-left: -570px;
        margin-right: -570px;
    }
    @media only screen and (min-width: 3000px) {
        margin-left: -785px;
        margin-right: -785px;
    }
    @media only screen and (min-width: 3700px) {
        margin-left: -1090px;
        margin-right: -1090px;
    }
    @media only screen and (min-width: 4600px) {
        margin-left: -1550px;
        margin-right: -1550px;
    }
    @media only screen and (min-width: 6000px) {
        margin-left: -2320px;
        margin-right: -2320px;
    }
    .mp-banner{
        box-sizing: border-box;
        display: inline-block;
        padding: 50px @page-content-margin;
        width: 100%;
        background-color: rgba(21, 54, 81, 0.75);
        @media only screen and (max-width: 1450px) {
    		padding: 50px @page-content-margin - 100;
    	}
        @media only screen and (max-width: 767px) {
            padding: 20px;
        }
        .mp-main-heading {
            display: inline-block;
            text-align: center;
            width: 100%;
            h1{
                margin: 30px 0 15px;
                .fontRobotoBold(@font_54_px, @color-white);
            }
        }
        .mp-content {
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 50%;
            @media only screen and (max-width: 1450px) {
                width: 70%;
            }
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            p {
                margin-bottom: 20px;
                .fontRobotoRegular(@font_30_px, @color-white);
            }
        }
        .mp-open-shop {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
            .action.primary.open-shop {
                text-transform: uppercase;
                .fontRobotoBold(@font_26_px, @color-white);
            }
        }
    }
}
div#wantptr{
    .label{
        width: auto;
        display: inline-block;
    }
}
.marketplace-product-add,
.marketplace-product-edit{
    .column.main{
        & > div{
            h3{
                margin-top: 18px !important;
                margin-bottom: 10px !important;
            }
        }
    }
    .attribute-option {
        .action-save, .action-remove {
            color: #333333 !important;
        }
    }
}
.selectmenu-toggle{
    padding: 0 !important;
}
.data-grid-filters-action-wrap .action-default::before{
    // top: 4px !important;
    color: @color-white !important;
    // margin-right: 4px;
    @media only screen and (max-width: 767px) {
        color: @color-white !important;
    }
}
.data-grid-filters-action-wrap .action-default._active{
    &:hover:before{
        color: @color-white !important;
    }
    &:before{
        color: @footer-bg-color !important;
    }
}
.selectmenu-item-action{
    background: transparent none repeat scroll 0 0 !important;
    color: @footer-bg-color !important;
    font-weight: normal !important;
    padding: 10px 60px 10px 15px !important;
}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap{
    border-color: @color-white;
    background-color: @color-white;
}
/*-------------------------------------------New css start here -----------------------------------*/


.file-row {
    margin: @font_5_px 0;
}

#product-variations-matrix .actions-image-uploader .action.toggle{
    border-color: #b7b2a7 #b7b2a7 #b7b2a7 !important;
    border-style: solid solid solid none !important;
    border-width: 1px 1px 1px medium !important;
}
#product-variations-matrix .actions-image-uploader .action.toggle:after{
    color: @footer-bg-color;
}
/*downloadable*/
.admin__control-table .action-delete{
    color: #999;
    &:hover{
        background-color: transparent !important;
    }
}

.control-select, .ui-datepicker .ui-datepicker-title select {
    min-width: 114px !important;
}

.downloadable-form .action-delete{
    &:hover{
        background-color: transparent !important;
    }
}
/*end downloadable*/
.admin__action-dropdown {
    padding-left: 15px !important;
    padding-right: 30px !important;
    &:after {
        border-color: #fff transparent transparent;
        @media only screen and (max-width: 767px) {
            border-color: @color-white transparent transparent !important;
        }
    }
    &:hover:after {
        border-color: #fff transparent transparent;
    }
}
.tabs-horiz .ui-state-active .ui-tabs-anchor {
    border-bottom: 1px solid #fff;
    border-top: @font_4_px solid #eb5202;
    padding-top: @font_11_px;
}
.tabs-horiz .ui-tabs-anchor {
    text-decoration: none;
}

.wk-mp-design{
    .wk-mp-fieldset {
        .fieldset{
            @media only screen and (max-width: 767px) {
                // padding-right: 10px;
            }
        }
        #bundle_product_container{
            .fieldset-wrapper-title{
                .admin__collapsible-title{
                    @media only screen and (max-width: 1450px) and (min-width: 768px) {
                        // padding-top: 23px !important;
                    }
                }
            }
        }
    }
    .admin__collapsible-block-wrapper.fieldset-wrapper{
        @media only screen and (max-width: 767px) {
            // max-width: 100%;
            // overflow: auto;
        }
    }
    .fieldset-alt > .field{
        // @media only screen and (max-width: 767px) {
        //     min-width: 100px;
        // }
        // &.no-display{
        //     @media only screen and (max-width: 767px) {
        //         min-width: unset !important;
        //         display: none !important;
        //         padding: 0 !important;
        //     }
        // }
    }
    &.fieldset-wrapper .dragable-handle,
    .fieldset .dragable-handle{
        @media only screen and (max-width: 767px) {
            // top: 12px !important;
        }
    }
    .fieldset-wrapper-title .actions .action-delete{
        @media only screen and (max-width: 767px) {
            // top: 8px !important;
        }
    }
}

.data-grid-filters-action-wrap .action-default._active {
    // margin: -1px 0 0;
    // padding-bottom: @font_16_px;
    // padding-top: @font_8_px;
    color: @footer-bg-color;
    border-right: 1px solid @border-gray-color !important;
    border-left: 1px solid @border-gray-color !important;
    font-weight: normal !important;
    &:before{
        color: @footer-bg-color;
    }
    @media only screen and (max-width: 767px) {
        // padding-bottom: 10px !important;
        // padding-top: 10px !important;
    }
}

.admin__data-grid-filters-current {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.steps-wizard .action-create-new{
    background-color: transparent;
    color: @link-color;
    &:hover{
        background-color: transparent !important;
        color: @link-color !important;
        text-decoration: underline;
    }
}
.action-tertiary, .action-quaternary, .downloadable-form .action-add, .steps-wizard .attribute-entity .action-remove-all{
    background-color: transparent !important;
    &:hover{
        background-color: transparent !important;
    }
}
.action-tertiary, .downloadable-form .action-add{
    color: @link-color !important;
    &:hover{
        color: @link-color !important;
        text-decoration: underline;
    }
}
.action-select-wrap .action-select {
    color: unset;
    &:hover {
        border : 1px solid #adadad !important;
    }
}
.data-grid-filters-action-wrap{
    .action-default:hover{
        border: 1px solid #ccc !important;
    }
}
.wk-field.wk-category {
    input[type="checkbox"].wk-elements {
        margin: 5px 0 0 5px;
    }
}
.hor-scroll{
    form{
        // max-width: 100%;
        // overflow: auto;
        input,
        select{
            // min-width: 100px;
        }
    }
}
.wk-seller-rating{
    @media only screen and (max-width: 767px) {
        margin-left: 0 !important;
    }
    @media only screen and (max-width: 350px) {
        margin-left: 0 !important;
        max-width: 250px !important;
    }
}
.wk-mp-page-wrapper .copyright{
    margin: 0;
}
.wk-mp-page-bottom{
    padding: 2rem;
}
.wk-mp-page-header-before {
    &.page-header {
        .panel.header {
            padding-top: 15px !important;
        }
    }
}
.admin__data-grid-actions-wrap{
    margin-top: 0;
}
.admin__data-grid-pager .admin__control-text {
    border-left: 1px solid #bfbfbf;
    margin-left: 10px;
}

/* credit memo generation css */
.account.page-layout-2columns-left {
    .wk-mp-design {
        .wk-mp-fieldset {
            .wk-order-creditmemo-button {
                button.button {
                    margin-right: 10px;
                }
            }
        }
    }
}

/* mpSellerCoupon Page CSS */
body.mpsellercoupons-index-index {
    .wk-mp-design {
        & > .wk-mp-fieldset {
            min-width: 100%;
        }
    }
}
