/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.marketplace-account-dashboard{
    .columns{
        margin-bottom: 0px;
        .column.main{
            background-color: unset;
            padding: 0;
            margin-bottom: 20px;
            & > .page-title-wrapper{
                display: none;
            }
        }
    }
    .askque{
        position: static;
        @media only screen and (max-width: 480px) {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 100%;
        }
    }
    .wk-mp-design{
        .ask-que{
            display: none;
        }
        .button{
            padding: 7px 15px;
        }
        .block{
            display: inline-block;
            width: 100%;
            background-color: @color-white;
            padding: 15px;
            margin-bottom: 20px;
            box-sizing: border-box;
            .title{
                .fontRobotoBold();
                width: 100%;
                display: inline-block;
                margin-bottom: 15px;
                strong{
                    .fontRobotoBold(@font_28_px);
                    margin: 0;
                }
            }
            .content{
                .fontRobotoMedium(@font_26_px, @cat-link-color);
            }
            &.dashboard-table,
            &.order-table{
                @media only screen and (max-width: 767px) {
                    max-width: 768px;
                    overflow: scroll;
                }
            }
        }
        .dashboard-heading.block{
            .title{
                font-size: @font_26_px;
                margin-bottom: 5px;
            }
        }
        .wk-content th{
            padding: 15px;
            .fontRobotoBold();
        }
        .wk-row-view td{
            padding: 15px;
            .fontRobotoMedium(@font_26_px, @cat-link-color);
        }
        .wk-mp-page-title{
            margin-bottom: 15px;
            background-color: @color-white;
            padding: 15px;
            box-sizing: border-box;
            h2{
                .fontRobotoBold(@font_28_px);
                margin: 0;
            }
            & > div {
                display: inline-block;
                width: 100%;
                padding: 0;
                &.block{
                    padding: 0;
                }
            }
        }
        .block.income-data{
            .title{
                margin-bottom: 0;
            }
            .seller-income{
                float: left;
                text-align: center;
                .fontRobotoBold();
                border: @border-light-line;
                box-sizing: border-box;
                margin: 1%;
                padding: 20px;
                width: 30%;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                h4{
                    margin: 10px 0 0;
                    .fontRobotoBold();
                }
            }
        }
        .earning-exp{
            .title{
                margin-bottom: 10px;
            }
            .mark-up{
                float: right;
                .earning,
                .expense{
                    display: inline-block;
                    line-height: 1;
                    &:before{
                        content: "";
                        float: left;
                        height: 20px;
                        line-height: 0;
                        margin-right: 10px;
                        width: 10px;
                    }
                }
                .earning{
                    margin-right: 30px;
                    &:before{
                        background-color: @earning-color;
                    }
                }
                .expense{
                    &:before{
                        background-color: @expense-color;
                    }
                }
            }
            .current-year{
                padding: 10px 0;
                border-bottom: @border-gray-line;
    			border-top: @border-gray-line;
                margin-bottom: 10px;
                display: inline-block;
                width: 100%;
                & > div{
                    .fontRobotoMedium(@font_26_px, @cat-link-color);
                }
            }
        }
        center img{
            width: 100%;
            border-radius: 3px;
        }
        .block.order-table{
            .wk-row-view{
                td:last-child{
                    padding-right: 0;
                    span{
                        float: right;
                    }
                }
            }
        }
        .block.location-chart{
            padding-bottom: 0;
            .title{
                border-bottom: @border-gray-line;
                padding-bottom: 15px;
            }
            .content{
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}
