/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.marketplace-seller-profile{
    .wk-mp-modal-footer{
        border-top: medium none;
        padding: 15px 0;
        & > .wk-btn{
            text-transform: uppercase;
            padding: 7px 25px;
            &.primary{
                margin-left: 10px;
            }
        }
    }
    .wk-mp-modal-header{
    	border-bottom: medium none;
    	padding: 0;
    }
    .wk-mp-modal-title{
    	.fontRobotoBold(@font_28_px);
    }
    .wk-mp-modal-body{
        margin-top: 15px;
        padding: 0;
    	position: static;
        width: 100%;
        & > label{
            margin-bottom: 10px !important;
            display: inline-block;
            &:not(:first-child){
                margin-top: 15px !important;
            }
            #wk-mp-captchalable1,
            #wk-mp-captchalable2{
                .fontRobotoMedium(@font_26_px, @cat-link-color);
            }
        }
    }
    .column.main{
        padding: 0;
        background-color: unset;
    }
    .sidebar-main{
        margin-bottom: 30px;
    }
    .product.info.detailed,
    .recent-products-block{
        padding: 10px;
        background-color: @color-white;
        box-sizing: border-box;
        .store-name{
            .fontRobotoBold(@font_26_px, @footer-bg-color);
        }
    }
    @media only screen and (max-width: 767px) {
        .product.info.detailed{
            & > .product.data.items {
                & > .data.title {
                    &:after{
                        color: inherit;
                        content: "";
                        display: inline-block;
                        font-family: "icons-blank-theme";
                        font-size: 35px;
                        font-weight: normal;
                        line-height: inherit;
                        margin: -50px 0 0;
                        overflow: hidden;
                        position: absolute;
                        right: 20px;
                        text-align: center;
                        vertical-align: middle;
                    }
                    &.active::after {
                        content: "";
                        color: @link-color;
                    }
                }
            }
        }
    }
    .recent-products-block{
        .page-products{
            padding: 0;
            margin: 0;
            & > .products{
                margin: 0;
                li.product-item{
                    margin-bottom: 0;
                    @media only screen and (max-width: 767px) {
                        width: 50%;
                    }
                    @media only screen and (max-width: 320px) {
                        width: 100%;
                    }
                    .product-item-info{
                        @media only screen and (max-width: 320px) {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    .review-items{
        li.item.review-item:first-child{
            padding-top: 0;
        }
    }
    .wk-btn{
        border-radius: 3px;
    }
    .data.item.content{
        .wk-mp-design-inner{
            padding: 0;
            .about-seller,
            span{
                .fontRobotoRegular(@font_24_px, @cat-link-color);
            }
        }
    }
    .product.data.items{
        margin-bottom: 0;
    }
    .wk-mp-design-inner{
        &.wk-mp-design-inner-last{
            margin-bottom: 0;
        }
        .wk-logo-block{
            display: inline-block;
            width: 100%;
            padding-bottom: 0;
            & > a {
                display: inline-block;
                width: 100%;
            }
        }
        .seller-collection{
            clear: both;
            float: none;
            max-height: 345px;
            overflow: hidden;
            .product-item-photo{
                display: inline-block;
                margin: 0;
                width: 60px;
                height: 60px;
                img{
                    width: 100%;
                }
            }
        }
        .rating-links{
            .fontRobotoBold(@font_26_px, @link-color);
        }
        .wk-storeloc-icon{
            background-image: none;
            margin-right: 10px;
            height: auto;
            width: auto;
            &:before{
                color: @link-color;
                content: "";
                font-family: "FontAwesome";
                font-size: @font_28_px;
                line-height: 1;
            }
        }
    }
    .wefrom{
        .cont-name{
            .fontRobotoMedium(@font_24_px, @cat-link-color);
        }
    }
    .wk-icon{
        .socialProfileSpriteUrl;
        margin-right: 3px;
        &.wk-social-icon {
            height: 32px;
            width: 32px;
        }
        &.wk-social-icon-fb{
            background-position: 0 0;
        }
        &.wk-social-icon-tw{
            background-position: -33px 0;
        }
        &.wk-social-icon-instagram{
            background-position: -66px 0;
        }
        &.wk-social-icon-gplus{
            background-position: -99px 0;
        }
        &.wk-social-icon-utube{
            background-position: -132px 0;
        }
        &.wk-social-icon-vimeo{
            background-position: -165px 0;
        }
        &.wk-social-icon-pinterest{
            background-position: -198px 0;
        }
        &.wk-social-icon-moleskin{
            background-position: -231px 0;
        }
    }
    .store-name{
        text-transform: capitalize;
        float: left;
        .fontRobotoBold(@font_26_px, @footer-bg-color);
        & ~ a {
            display: inline-block;
            float: right;
            margin-bottom: 15px;
            button{
                padding: 5px 10px;
                text-transform: capitalize;
            }
        }
    }
    .storename{
        text-transform: capitalize;
        display: inline-block;
        width: 100%;
    }
    .social-profiles{
        margin-top: 15px;
        clear: both;
        display: inline-block;
        float: none;
        width: 100%;
        padding: 0;
        & > a{
            display: inline-block;
        }
    }
    .review-list {
        margin-bottom: 0px;
    }
    .write-seller-review{
        border-top: @border-gray-line;
        padding-top: 20px;
        display: inline-block;
        width: 100%;
        .seller-review-wrapper {
            display: inline-block;
            width: 100%;
            text-align: center;
            .action{
                .button_bg_style;
                border-radius: 3px;
                display: inline-block;
                @media only screen and (max-width: 767px) {
                    &:not(:last-child){
                        margin: 10px 0 0;
                    }
                }
                &.view-review{
                    margin-bottom: 10px;
                    @media only screen and (max-width: 500px) {
                        width: 100%;
                        padding: 12px;
                    }
                    &:before{
                        font-family: "Fontawesome";
                        content: "\f06e";
                        margin-right: 10px;
                        font-size: @font_26_px;
                    }
                }
                &.write-review{
                    margin-left: 10px;
                    @media only screen and (max-width: 500px) {
                        margin: 0;
                        width: 100%;
                        padding: 12px;
                    }
                    &:before{
                        .productPageSpriteUrl;
                        background-position: -112px -21px;
                        display: inline-block;
                        height: 20px;
                        line-height: 0;
                        margin-right: 7px;
                        vertical-align: sub;
                        width: 20px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    .wk-mp-collection-header-box a {
        &:focus,
        &:active,
        &:visited {
            color: #626b69;
        }
        &:hover {
            color: @link-color;
        }
    }
}
