/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 a.store-name {
    float: none !important;
    font-family: "Roboto-Regular" !important;
    font-size: 1em !important;
}.mpxtremo-profile {
    margin-left:4%;
}.mpxtremo-profile-content {
    margin-right: 1%;
}.mpxtremo-profile-content.product.info.detailed {
    padding:10px;
    margin-right: 2%;
    .wk_mp_design{
        margin-top:2px !important;
    }
}
.marketplace-seller-collection {
    .sidebar{
        margin-left:1%;
    }
}.marketplace-transaction-history {
    .wk-mp-tr-payout-total {
        width : auto !important;
    }
}.xtremoshowreview {
    border-top: 1px solid #d1d1d1;
}
.control-select, .ui-datepicker .ui-datepicker-title select{
    background-position: calc(100% - 4px) -36px, 100% center, calc(100% - 3.2rem) 0 !important;
}