/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.marketplace-seller-collection{
    .toolbar-products{
        .ask-question{
            display: none;
            float: right;
            @media only screen and (max-width: 400px) {
                margin-top: 18px;
                width: 50%;
            }
            .action.primary.ask {
                text-transform: capitalize;
                padding: 6px 10px;
                font-size: @font_24_px;
            }
        }
        .sorter{
            @media only screen and (max-width: 400px) {
                display: inline-block;
                float: left;
                width: 50%;
            }
        }
    }
    .column.main{
        @media only screen and (max-width: 767px) {
            order: 2;
        }
        .products.list.items.product-items {
            margin-left: 0;
            .product-item-actions {
                .actions-primary + .actions-secondary {
                    white-space: unset;
                    vertical-align: top;
                    & > .action::before{
                        line-height: 15px;
                    }
                }
            }
        }
    }
    .sidebar-additional{
        margin-top: 20px;
        @media only screen and (max-width: 767px) {
            order: 1;
            // margin-top: 20px;
            margin-bottom: 20px;
        }
        .wk-mp-design{
            padding: 15px;
            background-color: @color-white;
            box-sizing: border-box;
        }
        .block-layered-nav{
            .filter-options{
                .filter-options-title{
                    display: none;
                }
            }
            .block-title{
                margin-bottom: 10px;
                span{
                    text-transform: capitalize;
                    .fontRobotoBold(@font_28_px, @footer-bg-color);
                }
            }
            li.item{
                a{
                    .fontRobotoMedium(@font_24_px, @cat-link-color);
                    text-transform: capitalize;
                }
                &:hover{
                    a,
                    span{
                        color: @link-color;
                    }
                }
            }
        }
    }
    .wk_mp_design {
        .block-title {
            h4{
                margin: 0;
                text-transform: capitalize;
                .fontRobotoBold(@font_28_px, @footer-bg-color);
            }
        }
        .block.block-account{
            margin-bottom: 5px;
        }
        .store-name{
            text-transform: capitalize;
        }
        .storename.shop-name{
            margin-bottom: 5px;
            .fontRobotoRegular(@font_24_px, @footer-bg-color);
            .store-name{
                padding: 0;
                text-transform: capitalize;
            }
        }
    }
    .view-profile-link{
        .store-name{
            text-transform: capitalize;
            color: @link-color !important;
            padding: 0;
        }
    }
}
