/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 .wk-mp-design {
     .fieldset > .legend{
         font-size: @font_28_px;
         margin-bottom: 15px;
         padding-bottom: 0;
         & > span{
             vertical-align: middle;
         }
     }
     .block-order-details-view{
         .box .box-title{
             margin-bottom: 10px !important;
             & > span{
                 font-family: "Roboto-Medium";
                 font-size: 1rem !important;
                 font-weight: normal !important;
             }
         }
     }
     .wk-mp-fieldset{
         @media only screen and (max-width: 400px) {
             width: 100% !important;
             overflow: scroll;
         }
         .page-title-wrapper{
             display: inline-block;
             margin: 0;
             padding-left: 0;
             width: 100%;
            .page-title{
                font-size: @font_34_px;
                font-family: "Roboto-Medium";
                display: inline-block;
            }
            .order-date{
                margin: 0;
            }
         }
     }
     .order-details-items{
         dl{
             & > dt{
                 color: @color-black;
             }
         }
     }
 }
.account.page-layout-2columns-left{
    .wk-mp-design{
        .fieldset{
            & > .field{
                &:not(:last-child){
                    margin: 0 0 20px;
                }
                &:not(.choice) {
                    & > .label,
                    & > label{
                        .fontRobotoMedium(@font_24_px, @cat-link-color);
                        padding-right: 0;
                    }
                    & > .control{
                        margin-top: 5px;
                        min-height: 17px;
                    }
                }
            }
        }
        .product-create-configuration{
            .product-create-configuration-info{
                .fontRobotoMedium(@font_24_px, @cat-link-color);
            }
            @media only screen and (max-width: 550px) {
				.product-create-configuration-info,
                .product-create-configuration-actions{
                    float: none;
                    clear: both;
                    display: inline-block;
                    width: 100%;
                }
                .product-create-configuration-actions{
                    text-align: center;
                    .product-create-configuration-action{
                        float: none;
                        margin-top: 10px;
                    }
                }
			}
        }
        .weight-control{
            & > label{
                .fontRobotoMedium(@font_24_px, @cat-link-color);
            }
            & >.control {
                margin: 5px 0 15px;
                & > .control{
                    float: left;
                    display: inline-block;
                    width: auto !important;
                    padding: 5px 0;
                    &:last-child{
                        margin-left: 10px;
                    }
                }
            }
        }
        .field-control.link-switcher{
            .field-control-group{
                margin-top: 5px;
                .field-option{
                    float: left;
                    display: inline-block;
                    width: auto;
                    &:last-child{
                        margin-left: 10px;
                    }
                }
            }
        }
        #image-container,
        #media_gallery_content{
            border: @border-gray-line;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            .image{
                margin: 5px;
                height: 120px; width: 120px;
            }
        }
        .button{
            text-transform: uppercase;
        }
        .wk-mp-option-box{
            border: @border-gray-line;
            .button{
                padding: 5px 25px;
            }
            li{
                .fontRobotoMedium(@font_24_px, @cat-link-color);
            }
            .wk-mp-headcus{
                background-color: @tbody-color;
                margin-bottom: 5px;
                &:not(.ul_first),
                &:not(:first-child){
                    border-top: @border-gray-line;
                    border-bottom: @border-gray-line;
                }
                &.ul_first{
                    background-color: @thead-color;
                    border-bottom: @border-gray-line;
                    & > li{
                        padding: 20px 10px;
                    }
                }
                & > li{
                    display: inline-block;
                    float: none;
                    box-sizing: border-box;
                    padding: 15px;
                }
            }
        }
        .wk-btn-group {
            display: inline-block;
            float: right;
            @media only screen and (max-width: 767px) {
                float: none;
                clear: both;
                width: 100%;
                margin-top: 10px;
            }
            .button{
                margin: 0;
                &:not(:last-child){
                    @media only screen and (max-width: 767px) {
                        margin: 0 0 10px;
                    }
                }
                &:first-child{
                    margin-right: 10px;
                    @media only screen and (max-width: 767px) {
                        margin-right: 0;
                    }
                }
            }
        }
        #downloadable_items-content{
            margin-top: 1%;
            box-sizing: border-box;
            overflow: unset;
            .entry-edit{
                padding-left: 1.95em;
                .legend{
                    font-size: @font_24_px;
                    margin-bottom: 0;
                }
            }
            .field-is-downloaodable{
                label{
                    .fontRobotoRegular(@font_24_px, @cat-link-color);
                }
            }
            .input-text.control-text{
                min-width: 60px;
            }
            .fieldset.downloadable-form{
                margin-top: 5px;
                min-width: 100%;
                & > legend{
                    .fontRobotoMedium(@font_24_px, @cat-link-color);
                    padding-bottom: 20px;
                    .note{
                        &:before{
                            content: "( ";
                            overflow: visible;
                            vertical-align: unset;
                            .fontRobotoMedium(@font_24_px, @cat-link-color);
                        }
                        &:after{
                            content: " )";
                            overflow: visible;
                            vertical-align: unset;
                            .fontRobotoMedium(@font_24_px, @cat-link-color);
                        }
                    }
                }
                .col-actions-add{
                    margin-top: 1%;
                    margin-bottom: 2%;
                    .action-add{
                        .button_bg_style;
                        text-transform: uppercase;
                    }
                }
                .validate-downloadable-url{
                    width: auto;
                    max-width: 100px;
                }
                .field.field-option.field-file-url {
                    margin-top: 20px;
                }
                .field-note {
                    color: @hint-red-color;
                    font-style: italic;
                    margin-top: 10px;
                }
            }
            .control-table-wrapper{
                overflow: auto;
                @media only screen and (max-width: 400px) {
                    width: 100%;
                }
                table.control-table{
                    border: @border-gray-line;
                    thead{
                        background-color: @thead-color;
                        margin-bottom: 5px;
                        th{
                            .fontRobotoMedium(@font_24_px, @cat-link-color);
                            padding: 30px 10px;
                            @media only screen and (max-width: 400px) {
                                padding: 10px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            border-top: @border-gray-line;
                            border-bottom: @border-gray-line;
                            background-color: @tbody-color;
                            margin-bottom: 5px;
                            td{
                                padding: 25px 10px;
                                text-align: left !important;
                                .fontRobotoRegular(@font_24_px, @cat-link-color);
                                @media only screen and (max-width: 400px) {
                                    padding: 10px;
                                }
                                &.col-limit{
                                    .field.field-option{
                                        margin-top: 10px;
                                    }
                                }
                            }
                            &.seperator{
                                td{
                                    padding: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .buttons-set.field.required{
            display: inline-block;
            width: 100%;
        }
        .action-tertiary{
            color: @link-color;
            &:active,
            &:hover,
            &:focus{
                color: @link-color !important;
            }
        }

        input[type="checkbox"]:not(.wk-elements):not(#is-downloaodable){
        	.checkboxStyle;
        }
        .control-notification{
            color: @hint-red-color !important;
            font-size: @font_22_px !important;
        }
        .wk-mp-fieldset {
            .button{
                margin: 0;
            }
            & > legend{
                & > .button{
                    float: right;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .wk-check-first-td{
            border-right: unset;
        }
        .wk-mp-list-table{
            border: unset;
            margin-top: 5px;
            .wk-mp-td-span{
                @media only screen and (max-width: 900px) {
                    display: inline-block;
                    float: none;
                    width: 100%;
                    padding: 0 !important;
                    margin-bottom: 10px;
                    input{
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
            thead{
                span{
                    font-weight: normal;
                }
            }
            #wk-mp-tr-heading{
                background-color: unset;
                span{
                    font-weight: normal;
                }
                th{
                    border-color: @light-gray-color;
                    padding: 15px;
                    .fontRobotoBold(@font_26_px, @cat-link-color);
                }
            }
            .wk-mp-body{
                td{
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                    padding: 20px;
                    & > .wk-mp-td-span:last-child{
                        box-sizing: border-box;
                        padding-left: 20px;
                    }
                }
                & > tr {
                    background-color: @search-bar-bg-color;
                    & > td {
                        border:@border-gray-line;
                        .fontRobotoMedium(@font_26_px, @cat-link-color);
                        &.wk-mp-td-last{
                            button,
                            a{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .wk-mp-list-container-table{
            border: @border-gray-line;
            border-collapse: separate;
            padding: 20px;
            margin: 0;
            .fontRobotoMedium(@font_26_px, @cat-link-color);
            .wk-content{
                & > th{
                    border-top: @border-gray-line;
                    border-left: @border-gray-line;
                    border-bottom: @border-gray-line;
                    padding: 10px;
                    &:last-child{
                        border-right: @border-gray-line;
                    }
                }
            }
            .wk-row-view{
                & > td{
                    border-left: @border-gray-line;
                    border-bottom: @border-gray-line;
                    padding: 10px;
                    &:last-child{
                        border-right: @border-gray-line;
                    }
                }
            }
        }

        input.admin__control-checkbox {
            & + label.admin__action-multiselect-label {
                &:after {
                    left: 0;
                }
                &:before {
                    border: none;
                }
            }
            &:not(:checked) {
                & + label.admin__action-multiselect-label {
                    &:after {
                        width: 16px !important;
                        height: 16px !important;
                    }
                }
            }
        }
    }
    .wk-profile-links{
        width: 25%;
        @media only screen and (max-width: 1000px) {
            width: auto;
        }
        &:last-child{
            margin-left: 2%;
        }
        .btn-primary{
            .button_bg_style;
            text-shadow: none;
            opacity: 1;
            text-transform: uppercase;
        }
    }
    .btn-default{
        .button_bg_style;
        padding: 5px 20px;
    }
    .fileinput {
        .fileinput-filename,
        .fileinput-new{
            margin-left: 20px;
            .fontRobotoMedium(@font_24_px, @cat-link-color);
        }
    }
    .back-link {
        margin-top: 10px;
    }
    .wk-mp-btn{
        text-transform: uppercase;
    }
}
