/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

 .marketplace-seller-profile, .marketplace-seller-collection, .marketplace-seller-feedback {
    .wk-mp-collection-header-right {
        .wk-mp-collection-count-txt {
            font-family: "Roboto-Bold";
        }
        .wk-mp-collection-rating-count-container a.store-name {
            font-family: "Roboto-Bold" !important;
        }
    }
    .wk-mp-collection-view-btn a {
        color: #ffffff;
    }
}
.marketplace-seller-profile {
    .wk-mp-collection-header-right {
        .wk-mp-collection-rating-count-container a.store-name {
            float: unset !important;
            font-size: unset !important;
        }
    }
}