<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpEasyPost
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helperBlock = $block->getLayout()->createBlock(\Webkul\MpEasyPost\Block\EasyPostData::class);
$_helper = $helperBlock->getMarketplaceHelper();
$helper = $helperBlock->getHelper();
    $isPartner = $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
if ($isPartner && $helper->getConfigData('active') && $helper->getConfigData('allow_seller')) { ?>
        <li class="nav item <?=strpos($magentoCurrentUrl, 'easypost/shipping/view')!== false? "current":"";?>">
        <?php
        if (strpos($magentoCurrentUrl, 'easypost/shipping/view') !== false) { ?>
                <strong><?=$block->escapeHtml(__('Manage EasyPost Shipping')) ?></strong>
        <?php } else { ?>
                <a href="<?=$block->escapeUrl($block->getUrl('easypost/shipping/view')); ?>">
                    <?=$block->escapeHtml(__('Manage EasyPost Shipping')) ?>
                </a>
        <?php } ?>
        </li>
<?php } ?>
