<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpEasyPost
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php if ($block->isConfigSettingAllowed()): ?>
    <form class="form" action="<?=$block->escapeUrl($block->getUrl(
        'easypost/shipping',
        ['_secure' => $block->getRequest()->isSecure()]
    )) ?>"
    method="post" id="form-validate" data-mage-init='{"validation":{}}' enctype="multipart/form-data" autocomplete="off"
    data-hasrequired="<?=$block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <fieldset class="fieldset info">
            <legend class="legend"><span><?=$block->escapeHtml(__('Marketplace EasyPost Configuration')) ?></span>
                <button type="submit" class="button wk-mp-btn action save primary">
                    <span><span><?=$block->escapeHtml(__('Save')) ?></span></span>
                </button>
            </legend><br>
            <?=$block->getBlockHtml('formkey')?>
            <div class="field required">
                <label class="label"><span><?=$block->escapeHtml(__("API Key")); ?>:</span></label>
                <div class="control">
                    <input id="easypost_api_key" class="required-entry select" type="password" 
                    name="easypost_api_key" data-validate="{required:true}" 
                    value="<?=$block->escapeHtmlAttr($block->_getCustomerEtsyApiData()); ?>" />
                    <input id="easypost_api_change" type="hidden" name="easypost_api_change" value="0" />
                </div>
            </div>
        </fieldset>
    </form>
    <script type="text/x-magento-init">
        {
            "#form-validate": {
                "apikeyvalidate": [{}]
            }
        }
    </script>
<?php endif; ?>
