<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $helper = $block->helper();
?>
<?php if ($helper->isGuestLoggedIn()): ?>
    <div class="wk-guest-logout">
        <a href="<?= $block->escapeUrl($block->getUrl('mprmasystem/guest/logout')); ?>">
            <?= $block->escapeHtml(__("Log Out")); ?>
        </a>
    </div>
<?php endif; ?>