<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$_item = $block->getItem();
$product = $_item->getProduct();
$_product=$product;
$groupData = $block->getGroupDataByProductId($_product['entity_id']);
if ($groupData->getId()) { ?>
    <div class="wk-sellergroup-block">
        <dl class="item-options">
            <dt><?= $block->escapeHtml(__('Membership Start Date')) ?></dt>
            <dd><?= /* @noEscape */ $block->getDate();?></dd>
            <dt><?= $block->escapeHtml(__('Allowed No. of Products')) ?></dt>
            <dd>
                <?php if ($groupData['check_type'] == 1) {
                    echo $block->escapeHtml(__('Unlimited'));
                } else {
                    echo $block->escapeHtml($groupData->getNoOfProducts());
                } ?>
            </dd>
            <?php if ($groupData['check_type'] != 0) { ?>
                <dt><?= $block->escapeHtml(__('Membership Expire Time')) ?></dt>
                <dd><?= /* @noEscape */ $groupData['time_periods']." ".__('Days') ?></dd>
                <?php
            } ?>
        </dl>
    </div>
    <?php
} ?>