<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $helper = $block->getMpHelper();
    $isPartner = $helper->isSeller();
    $isSellerGroup = $helper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner): ?>
    <?php if (($isSellerGroup && $helper->isAllowedAction('mprmasystem/seller/allrma')) || !$isSellerGroup): ?>
        <li id="wk-mp-menu-rma" 
            class="wk-mp-item-order level-0 
                <?= $block->escapeHtml(strpos(
                    $magentoCurrentUrl,
                    'mprmasystem/seller/allrma'
                )? "current":"");?>">
            <a href="<?= $block->escapeUrl($block->getUrl(
                'mprmasystem/seller/allrma',
                ['_secure' => $block->getRequest()->isSecure()]
            )); ?>">
                <span><?= $block->escapeHtml(__('Marketplace RMA')); ?></span>
            </a>
        </li>
    <?php endif; ?>
<?php endif; ?>
