<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */
 -->
<div class="row">
    <button onclick='location.href = "<?= $block->escapeUrl($block->getUrl('*/*/add'))?>"'>
        <?= /*@noEscape*/ __("Add New Rule")?>
    </button>
</div>
<script>
    window.FORM_KEY = "<?= $block->escapeHtml($block->getFormKey()) ?>";
</script>