<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $mpAssignBlock = $block->getLayout()->createBlock(\Webkul\MpAssignProduct\Block\Link::class);
    $productId = $block->getProduct()->getId();
    $helper = $mpAssignBlock->getHelperObject();
    $collection = $helper->getAssignProductCollection($productId);
    $collection->addFieldToFilter('main_table.status', 1);
    $totalSellers = $collection->getSize();
    $orignalProductId = $helper->getOrignalProductId($productId);
?>
<?php if ($totalSellers > 0): ?>
    <?php if ($helper->showMinimumPrice()): ?>
            <?php
            $price = $helper->getCurrency()->currency($block->getProduct()->getPrice(), true, false);
                $productType = $block->getProduct()->getTypeId();
                $minPrice = $helper->getMinimumPriceHtml($orignalProductId, $productType);
            ?>
            <?php if ($minPrice && $price != $minPrice): ?>
            <div class="wk-ap-from-price">
                <span><?= $block->escapeHtml(__('From')); ?> :</span>
                <span class="wk-ap-minimum-price"><?= $block->escapeHtml($minPrice); ?></span>
            </div>
        <?php endif; ?>
        <?php endif; ?>

    <div class="wk-ap-price-block">
        <div class="wk-ap-available-sellers">
            <a href="#wk_list_header"><?= /* @noEscape */ __('Available from %1 more seller(s)', $totalSellers);  ?></a>
        </div>
    </div>
<?php endif; ?>
