<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$mpgroupViewModel = $block->getMpgroupViewModel();
$_helper = $mpgroupViewModel->getMpHelper();
$isPartner= $_helper->isSeller();
$mpSellerGroupHelper = $mpgroupViewModel->getMpgroupHelper();
$boosterDisplay = $mpSellerGroupHelper->getConfigurationValue('mpsellergroup/booster/display');
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<nav class="account-nav">
    <ul class="nav items">
        <?php if ($isPartner) { ?>
            <li class="nav item <?= /* @noEscape */
                    strpos($magentoCurrentUrl, 'mpsellergroup/group/manage') ? "current" : "" ?>">      
                <a href="<?= /* @noEscape */
                    $block->getUrl('mpsellergroup/group/manage', ['_secure' => $block->getRequest()->isSecure()]) ?>">
                    <?= $block->escapeHtml(__('Manage Seller Membership')) ?>
                </a>                                   
            </li>
            <li class="nav item <?= /* @noEscape */
                    strpos($magentoCurrentUrl, 'mpsellergroup/recurring_profile') ? "current" : "" ?>">      
                <a href="<?= /* @noEscape */
                $block->getUrl('mpsellergroup/recurring_profile', ['_secure' => $block->getRequest()->isSecure()]) ?>">
                    <?= $block->escapeHtml(__('Recurring Profiles')) ?>
                </a>                                   
            </li>
            <?php if ($boosterDisplay) { ?>
                <li class="nav item <?= /* @noEscape */
                    strpos($magentoCurrentUrl, 'mpsellergroup/booster') ? "current" : "" ?>">      
                <a href="<?= /* @noEscape */
                $block->getUrl('mpsellergroup/booster', ['_secure' => $block->getRequest()->isSecure()]) ?>">
                    <?= $block->escapeHtml(__('Purchased Boosters')) ?>
                </a>                                   
            </li>
            <?php } ?>
        <?php } ?>
    </ul>
</nav>
