<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorRegistration
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
// $block->escapeHtml()
?>
<?php
$sellerId = $block->getSellerDetails()->getSellerId();
$_collection = $block->getAttributeCollection();
$moduleEnable = $block->currentHelper()->getConfigData('visible_registration');
$registerHelper = $block->currentHelper();
if (count($_collection) && $moduleEnable):
    $helper =$block->getMarketplaceHelper();
    $mediaUrl = $helper->getMediaUrl();
    ?>
<div class="wk-mp-design">
    <div class="wk-mp-design-inner-last">
        <div class="wk-mp-profile-container storename">
            <div class="store-name">
                <?= $block->escapeHtml($block->getConfigData('profile_label')) ?>
            </div>
        </div>
        <div class="fieldset wk_mp_fieldset">
            <table class="admin__table-secondary order-information-table">
                <tbody>
            <?php
                $_customerData = $block->_loadCustomer($sellerId)->toArray();
                $storeId = $block->getStore()->getId();

            foreach ($_collection as $attributeData):
                        
                $attrAsArray = $attributeData->toArray();
                        
                $attributLabel = $block->getAttrLabel($attrAsArray['attribute_code']);

                if ($attributLabel->getStoreLabel() != null) {
                    $label = $attributLabel->getStoreLabel();
                } elseif ($attrAsArray['frontend_label'] != null) {
                    $label = $attrAsArray['frontend_label'];
                } else {
                    $label = $attrAsArray['attribute_label'];
                }
                        
                $_fieldValue = '';
                $_imageValue = '';
                $multiSelectData = [];

                foreach ($_customerData as $key => $value) {
                    if ($attrAsArray['attribute_code'] == $key) {
                        if ($attrAsArray['frontend_input'] == 'date') {
                            $_fieldValue = $block->formatDate($value, \IntlDateFormatter::SHORT, false);
                            continue;
                        } elseif ($attrAsArray['frontend_input'] == 'boolean') {
                            $_fieldValue = $value ? __('Yes') : __('No');
                            continue;
                        } elseif ($attrAsArray['frontend_input'] == 'select') {
                            $optiondata = $registerHelper->getAllOptions($attributeData->getAttributeCode());
                            foreach ($optiondata as $instance) {
                                if ($instance['value'] == $value) {
                                    $_fieldValue =  $instance['label'];
                                }
                            }
                             continue;
                        } elseif ($attrAsArray['frontend_input'] == 'multiselect') {
                            $_fieldValue = $value;
                            $optiondata = $registerHelper->getAllOptions($attributeData->getAttributeCode());
                            usort($optiondata, function ($a, $b) {
                                if (!empty($a['value']) && !empty($b['value'])) {
                                    return $a['value'] - $b['value'];
                                }
                            });

                              $_fieldValueArray = $_fieldValue;
                            foreach ($optiondata as $instance) {
                                if (in_array($instance['value'], $_fieldValueArray)) {
                                    array_push($multiSelectData, $instance['label']);
                                }
                            }
                             $_fieldValue = implode(',', $multiSelectData);
                             continue;
                        } elseif ($attrAsArray['frontend_input'] == 'image') {
                            $imageUrl = $mediaUrl.'wkmpvrfiles/'.explode('/', $value)[count(explode('/', $value))-1];
                            $_fieldValue =  '<a href="'.$imageUrl.'" 
                            onclick="imagePreview(\'customfields_your_image_image\'); return false;">
                                        <img src="'.$imageUrl.'" id="customfields_your_image_image" 
                                        title="'.__('Preview Image').'" height="22" width="22" 
                                        class="small-image-preview v-middle">
	                                </a>';

                            $_imageValue = $mediaUrl.'wkmpvrfiles/'.explode('/', $value)[count(explode('/', $value))-1];
                            continue;

                        } elseif ($attrAsArray['frontend_input'] == 'file') {
                            $fileUrl = $mediaUrl.'wkmpvrfiles/'.explode('/', $value)[count(explode('/', $value))-1];
                            $_fieldValue = '<a href="'.$fileUrl.'"><img alt="Download" title="Download" 
                            src="'.$block->escapeHtml($block->getViewFileUrl(
                                'Webkul_MpVendorRegistration::images/download.gif'
                            )).'" class="v-middle wk_download_link" style="float:right;width: 22px;"></a>'.
                              '<a href="'.$fileUrl.'" download>'.__('Download').'</a>';
                             $_imageValue =
                             $mediaUrl.'wkmpvrfiles/'.explode('/', $value)[count(explode('/', $value))-1];
                             continue;
                        } else {
                            $_fieldValue = $value;
                        }
                    }
                }
                ?>
                    <?php if ($_fieldValue != ''): ?>
                        <tr>
                            <th><?= $block->escapeHtml($label); ?></th>
                            <td><?= /* @noEscape */($_fieldValue) ?></td>
                        </tr>
                    <?php endif; ?>
                <?php endforeach; ?>

                </tbody>
            </table>
        </div>
    </div>
</div>
<?php endif; ?>
<?php //endif; ?>
