<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$data = $block->helper()->getPermission();
if ($data['status']) { ?>    
    <script>
        require([
            "jquery",
            "mage/mage"
        ], function($){
            $(function(){
                $('#form-customer-product-new input,#form-customer-product-new button').attr('disabled','disabled');
                $('#edit-product button').attr('disabled','disabled');
                $('.wk-mp-design select').attr('disabled','disabled');
            });
        }); 
    </script>
    <style type="text/css">.wk-mp-design{ opacity: 0.5; }</style>
    <?php if ($data['expire']) { ?>
        <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Your Group Pack is Expired...")) ?></h1>   
    <?php } elseif ($data['payment'] == "pending") { ?>
        <?php if ($data['group_type'] == 1): ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Your current billing cycle
            payment is in pending , please approve the payment first.")) ?></h1>
        <?php else: ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Your current
            group payment is in pending.")) ?></h1>
        <?php endif; ?>
    <?php } elseif ($data['payment'] == "wait") { ?>
        <?php if ($data['group_type'] == 1): ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Please wait for billing cycle payment.")) ?></h1>
        <?php else: ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Please wait for transaction.")) ?></h1>
        <?php endif; ?>
    <?php } else {
        if (!$data['qty']) { ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Limit exceeded, you can't add
            more products because your %1 group does not allow products to add.", $data['type'])) ?></h1>
        <?php } else {  ?>
            <h1 class="sellergroup-notify"><?= $block->escapeHtml(__("Limit exceeded, you can't add more
            products because your %1 group allow only %2 products to add.", $data['type'], $data['qty'])) ?></h1>
    <?php }
    }
}?>