<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$flag = $block->isRenewvalRequired();
$mpSellerGroupHelper = $block->helperData();
$boosterDisplay = $mpSellerGroupHelper->getConfigurationValue('mpsellergroup/booster/display');
?>
<?php if ($flag): ?>
    <?php
        $record = $block->getSellerGroupData();
        $groupDataByGroupId = $block->getGroupDataByGroupId($record->getGroupId());
    ?>
    <div class="wk-mp-design">
        <?php if ($record->getTransactionStatus() == 'pending') { ?>
            <div class="wk-profile-alert">
                <?= /* @noEscape */ __('Please Complete Your Membership Order.') ?>
            </div>
        <?php } ?>
        <?php if ($boosterDisplay) { ?>
            <?php $boosterUrl = /* @noEscape */ $block->getUrl(
                "mpsellergroup/booster/manage"
            ) ?>
            <div class="primary purchase-booster">
                <a href="<?= /* @noEscape */ $boosterUrl ?>">
                    <button class="action primary purchase-booster-button">
                        <span><?= $block->escapeHtml(__('Purchase Membership Boosters')) ?></span>
                    </button>
                </a>
            </div>
        <?php } ?>
        <fieldset class="info wk-mp-fieldset fieldset">
            <legend class="legend">
                <span><?= /* @noEscape */ __('Seller Membership Details') ?></span>
            </legend>
            <div class="fieldset form-list">
                <table class="wk-seller-group-table">
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Group Membership : '); ?></label>
                        </td>
                        <td>
                            <?= $block->escapeHtml(ucfirst($groupDataByGroupId->getGroupName())) ?>
                        </td>
                    </tr>
                    <?php if ($record->getCheckType() != 1): ?>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('No of allowed products : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ $record->getNoOfProducts() >= 100000 ? 'Unlimited' : $record->getNoOfProducts() ; ?>
                            </td>
                        </tr>
                    <?php else: ?>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('No of allowed products : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ __('Unlimited'); ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Allowed Functionalities : '); ?></label>
                        </td>
                        <td>
                            <?php
                            $allowedControllers = $block->getAllowedControllersBySetData(
                                $record['allowed_modules_functionalities']
                            );
                            ?>
                            <ul class="list-block wk-sellergroup-feature-list">
                                <?php foreach ($allowedControllers as $key => $value) { ?>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <?= /* @noEscape */ $value;?>
                                    </li>
                                    <?php
                                } ?>
                            </ul>
                        </td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Paid Amount : '); ?></label>
                        </td>
                        <td>
                            <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $priceHelper = $objectManager->create(\Magento\Framework\Pricing\Helper\Data::class);
                            $price =  $record->getFeeAmount();
                            $formattedPrice = $mpSellerGroupHelper->convertPrice($price);
                            ?>
                            <?= /* @noEscape */ $formattedPrice; ?>
                        </td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Payment Type'); ?> : </label>
                        </td>
                        <td>
                            <label><?= /* @noEscape */ __('One Time Memebership'); ?></label>
                        </td>
                    </tr>
                    <?php if ($record->getTransactionId()): ?>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Payment Transaction ID : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ $record->getTransactionId(); ?>
                            </td>
                        </tr>
                    <?php else: ?>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Assigned By : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ __('Admin'); ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Payment Status'); ?> : </label>
                        </td>
                        <td>
                            <?php $paymentStatus = $record->getTransactionStatus();
                            /* @noEscape */ echo ucfirst($paymentStatus); ?>
                        </td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Started At : '); ?></label>
                        </td>
                        <td>
                        <?= /* @noEscape */ $mpSellerGroupHelper->
                        formatDateByDateTime($record->getTransactionDate()); ?>
                        </td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Expired On : '); ?></label>
                        </td>
                        <td>
                            <?php if ($record->getExpiredOn() && $record->getCheckType() != 0) {
                                /* @noEscape */ echo $mpSellerGroupHelper->
                                formatDateByDateTime($record->getExpiredOn());
                            } else {
                                /* @noEscape */ echo "N/A";
                            } ?>
                        </td>
                    </tr>
                    <?php if ($record->getGroupType() ==
                    \Webkul\MpSellerGroup\Model\SellerGroup::MEMBERSHIP_TYPE_SUBSCRIPTION
                        && $record->getRecurringProfileId()
                    ): ?>
                        <?php $profileData = $mpSellerGroupHelper->
                        getRecurringProfileData($record->getRecurringProfileId()); ?>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Payment Reference Id : '); ?></label>
                            </td>
                            <td>
                            <?php $url = /* @noEscape */ $block->getUrl(
                                "mpsellergroup/recurring_profile/view",
                                ["profile" => $profileData->getId()]
                            ) ?>
                                <a href="<?= /* @noEscape */ $url ?>"><?=
                                /* @noEscape */ $profileData->getReferenceId(); ?></a>
                            </td>
                        </tr>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Profile State : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ $profileData->getState(); ?>
                            </td>
                        </tr>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Next Payment Date : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ $mpSellerGroupHelper->
                                formatDateByDateTime($record->getNextDueDate()); ?>
                            </td>
                        </tr>
                        <tr class="pointer">
                            <td>
                                <label><?= /* @noEscape */ __('Last Payment Date : '); ?></label>
                            </td>
                            <td>
                                <?= /* @noEscape */ $mpSellerGroupHelper->
                                formatDateByDateTime($record->getLastPaymentDate()); ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                </table>
            </div>
        </fieldset>
        <?php if ($record->getTransactionStatus() != 'pending') { ?>
            <div class="wk-profile-alert">
                <?= /* @noEscape */ __('Note: To switch to another membership, you have to cancel this membership.') ?>
            </div>
            <!-- <form
                action="<?= /* @noEscape */
                            $block->getUrl(
                                'mpsellergroup/group/unsubscribe',
                                [
                                    '_secure' => $block->getRequest()->isSecure(),
                                    'id' => $record->getId(),
                                    'sellerId' => $record->getSellerId()
                                ]
                            ) ?>"
                method="POST"  id="seller-membership-unsubscribe">
                <button type="submit" class="action primary">
                    <span><?= /* @noEscape */ __('Cancel Membership');?></span>
                </button>
            </form> -->
        <?php } ?>
    </div>
<?php else: ?>
    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $showDescription = false;
    $pos = $block->getPositioned();
    $_helper = $block->catalogHelper();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $groupsCollection = $block->getActiveGroupLists();
    $allowedDefaultControllers = $block->getAllowedDefaultControllers(); ?>
    <?php if ($groupsCollection && $groupsCollection->getSize()): ?>
        <div class="wk-sellergroup <?= /* @noEscape */ $viewMode; ?> products-<?= /* @noEscape */ $viewMode; ?>">
            <?php $iterator = 1;
            $data = $block->helper->getPermission();
            if (isset($data['expire']) && $data['expire']) {
                $block->messageManager->addWarning(__("Your membership has expired!"));
            }?>
            <ol class="" style="text-align:left;">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($groupsCollection as $group): ?>
                    <?php
                        $groupData = $group->getData();
                        $_product = $block->getProductById($groupData['product_id']);
                        $groupColor = $groupData['group_color'];
                        preg_match_all('/#([a-f]|[A-F]|[0-9]){3}(([a-f]|[A-F]|[0-9]){3})?\b/', $groupColor, $matches);
                    if (!count($matches[0])) {
                        $groupColor = '#1979c3';
                    }
                    ?>
                    <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="wk-sellergroup-wrapper-container">' :
                    '</li><li class="wk-sellergroup-wrapper-container">' ?>
                    <div class="wk-sellergroup-wrapper">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image ?>
                        <?php $productImage->toHtml(); ?>
                        <div class="basic">
                            <div class="plan-title" <?= /* @noEscape */ 'style="background-color:'.$groupColor.'"';?>>
                                <?= $block->escapeHtml($groupData['group_name']) ?>
                            </div>
                            <div class="wk-sellergroup-description" <?= /* @noEscape */
                            'style="border-color:'.$groupColor.'"';?>>
                                <h2 class="plan-price" <?= /* @noEscape */ 'style="color:'.$groupColor.'"';?>>
                                    <?= /* @noEscape */ $mpSellerGroupHelper->convertPrice($_product->getPrice());?>
                                </h2>
                                <div class="wk-sellergroup-description-pricing">
                                    <?php if ($groupData['check_type'] == 1) { ?>
                                        <p>
                                            <?= /* @noEscape */ __('Membership expire time');?> -
                                            <?= /* @noEscape */ $groupData['time_periods'].' ';
                                            ?><?= /* @noEscape */ __('days')?>
                                        </p>
                                        <?php
                                    } elseif ($groupData['check_type'] == 2) { ?>                            
                                        <p>
                                            <?= /* @noEscape */ __('Membership expire time');?> -
                                            <?= /* @noEscape */ $groupData['time_periods'].' '; ?><?= /* @noEscape */
                                            __('days')?> <?= /* @noEscape */ __('and Until all products added.')?>
                                        </p>
                                        <?php
                                    } else { ?>
                                        <p>
                                            <?= /* @noEscape */ __('Membership expire time');?> -
                                            <?= /* @noEscape */ __('Until all products added.')?>
                                        </p>
                                        <?php
                                    } ?>
                                    <?php if ($groupData['check_type'] != 1) { ?>
                                        <p>
                                            <?= /* @noEscape */ __('Allowed products');?> -
                                            <?= /* @noEscape */ $groupData['no_of_products']?>
                                        </p>
                                        <?php
                                    } ?>
                                    <?php if ($groupData['check_type'] == 1) { ?>
                                        <p>
                                            <?= /* @noEscape */ __('Allowed products');?> -
                                            <?= /* @noEscape */ /* @noEscape */ __('Unlimited');?>
                                        </p>
                                        <?php
                                    } ?>
                                </div>
                                <?php
                                $allowedControllers = $block->getAllowedControllersBySetData(
                                    $groupData['allowed_modules_functionalities']
                                );
                                ?>
                                <ul class="list-block wk-sellergroup-feature-list">
                                    <?php foreach ($allowedControllers as $key => $value) { ?>
                                        <li>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <?= /* @noEscape */ $value;?>
                                        </li>
                                        <?php
                                    } ?>
                                </ul>
                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                <?php if ($groupData['group_type'] ==
                                \Webkul\MpSellerGroup\Model\SellerGroup::MEMBERSHIP_TYPE_SUBSCRIPTION) {
                                    $postParams['action'] = $block->getUrl("mpsellergroup/group/subscribe");
                                } ?>
                                <form data-role="tocart-form" action="<?= /* @noEscape */
                                $postParams['action']; ?>" method="post">
                                    <input type="hidden" name="product" value="<?= /* @noEscape */
                                    $postParams['data']['product']; ?>">
                                    <input type="hidden" name="uenc" value="<?= /* @noEscape */
                                    $postParams['data']['uenc']; ?>">
                                    <?= /* @noEscape */ $block->getBlockHtml('formkey')?>
                                    <?= /* @noEscape */ $block->getBlockHtml('seller.formkey')?>
                                    <button type="submit" class="action primary" <?= /* @noEscape */
                                    'style="background-color:'.$groupColor.';border-color:'.$groupColor.'"';?>>
                                        <span <?= /* @noEscape */ 'style="background-color:'.$groupColor.'"';?>>
                                        <?= /* @noEscape */ __('Purchase Membership');?></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?= /* @noEscape */ ($iterator == count($groupsCollection)+1) ? '</li>' : '' ?>
                <?php endforeach; ?>
            </ol>
        </div>
    <?php else: ?>
        <div style="color:#e02b27" class="messages">
            <span><?= /* @noEscape */ __("No membership plan available") ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
