<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$currentHelper = $block->helperData();
$groupsCollection = $block->getActiveGroupLists();
$allowedDefaultControllers = $block->getAllowedDefaultControllers();
$defaultAllowedProducts = $currentHelper->getDefaultProductAllowed();
$defaultAllowedFeatures = $currentHelper->getDefaultAllowedFeatures();
$banner_display = $currentHelper->getDisplayBanner();
$bannerImage = $currentHelper->getBannerImage();
$bannerLabel = $currentHelper->getBannerLabel();
$bannerLabelColor = $currentHelper->getPricingConfigValue('banner_label_color');
$bannerContentColor = $currentHelper->getPricingConfigValue('banner_content_color');
$bannerContent = $currentHelper->getBannerContent();
$isGroupAssigned = false;
if ($block->helper->getCustomerId()) {
    $sellerGroupData = $currentHelper->getSellerGroupData($block->helper->getCustomerId());
    if ($sellerGroupData !== []) {
        $isGroupAssigned = true;
    }
}
?>
<div class="wk-sellergroup">
    <?php if ($banner_display) { ?>
        <div class="wk-mp-banner-container">
            <div class="wk-mp-banner" <?php if ($bannerImage) { ?> style="background-image: url("<?= /* @noEscape */
            $bannerImage ?>");" <?php } else { ?>style="background-color: #1979c3;" <?php }?>>
                <div class="wk-mp-header">
                    <h1 <?php if ($bannerLabelColor) { /* @noEscape */
                        echo 'style="color:'.$bannerLabelColor.'"'; } ?>>
                    <?= /* @noEscape */   $bannerLabel; ?></h1>
                    <h2 <?php if ($bannerContentColor) { /* @noEscape */
                        echo 'style="color:'.$bannerContentColor.'"'; } ?>>
                        <?= /* @noEscape */   $bannerContent; ?>
                    </h2>
                </div>
            </div>
        </div>
    <?php } ?>
    <?php $iterator = 1; ?>
    <ol class="">
        <?php if (!$block->helper->getCustomerId() && $defaultAllowedProducts) { ?>
            <?= /* @noEscape */  ($iterator++ == 1) ? '<li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' : '</li><li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' ?>
            <div class="wk-sellergroup-wrapper">
                <div class="basic">
                    <div class="plan-title">
                        <?= /* @noEscape */   __('Default');?>
                    </div>
                    <div class="wk-sellergroup-description">
                        <h2 class="plan-price">
                            <?= /* @noEscape */   __('Free Membership');?>
                        </h2>
                        <div class="wk-sellergroup-description-pricing">
                            <p>
                                <?= /* @noEscape */   __('Free for %1 products', $defaultAllowedProducts);?>
                            </p>
                            <p>
                                <?= /* @noEscape */   __('Yes! You heard it right, Free until you
                                add %1 products !', $defaultAllowedProducts);?>
                            </p>
                        </div>
                        <ul class="list-block wk-sellergroup-feature-list">
                            <?php
                            $allowedControllers = $block->getAllowedControllersBySetData(
                                $defaultAllowedFeatures
                            ); ?>
                            <?php foreach ($allowedControllers as $key => $value) { ?>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <?= /* @noEscape */   $value;?>
                                </li>
                                <?php
                            } ?>
                        </ul>
                        <a href="<?= /* @noEscape */   $block->getUrl('customer/account/');?>">
                            <button type="submit" title="Add to Cart" class="action tocart primary">
                                <span><?= /* @noEscape */   __('SIGN UP FOR FREE');?></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <?php
        } ?>
        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php foreach ($groupsCollection as $group): ?>
            <?php
                $groupData = $group->getData();
                $_product = $block->getProductById($groupData['product_id']);
                $groupColor = $groupData['group_color'];
                preg_match_all('/#([a-f]|[A-F]|[0-9]){3}(([a-f]|[A-F]|[0-9]){3})?\b/', $groupColor, $matches);
            if (!count($matches[0])) {
                $groupColor = '#1979c3';
            }
            ?>
            <?= /* @noEscape */  ($iterator++ == 1) ? '<li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' : '</li><li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' ?>
            <div class="wk-sellergroup-wrapper">
                <div class="basic">
                    <div class="plan-title" <?= /* @noEscape */   'style="background-color:'.$groupColor.'"';?>>
                        <?= $block->escapeHtml($groupData['group_name']) ?>
                    </div>
                    <div class="wk-sellergroup-description" <?= /* @noEscape */
                    'style="border-color:'.$groupColor.'"';?>>
                        <h2 class="plan-price" <?= /* @noEscape */   'style="color:'.$groupColor.'"';?>>
                            <?= /* @noEscape */   $currentHelper->convertPrice($_product->getPrice());?>
                        </h2>
                        <div class="wk-sellergroup-description-pricing">
                            <?php if ($groupData['check_type'] == 1) { ?>
                                <p>
                                    <?= /* @noEscape */   __('Membership expire time');?> -
                                    <?= /* @noEscape */   $groupData['time_periods'].' ';
                                    ?><?= /* @noEscape */   __('days')?>
                                </p>
                                <?php
                            } elseif ($groupData['check_type'] == 2) { ?>
                                <p>
                                    <?= /* @noEscape */   __('Membership expire time');?> -
                                    <?= /* @noEscape */   $groupData['time_periods'].' '; ?><?= /* @noEscape */
                                    __('days')?> <?= /* @noEscape */   __('and Until all products added.')?>
                                </p>
                                <?php
                            } else { ?>
                                <p>
                                    <?= /* @noEscape */   __('Membership expire time');?> -
                                    <?= /* @noEscape */   __('Until all products added.')?>
                                </p>
                                <?php
                            } ?>
                            <?php if ($groupData['check_type'] != 1) { ?>
                                <p>
                                    <?= /* @noEscape */   __('Allowed products');?> -
                                    <?= /* @noEscape */   $groupData['no_of_products'] >= 100000 ? 'Unlimited' : $groupData['no_of_products']; ?>
                                </p>
                                <?php
                            } ?>
                            <?php if ($groupData['check_type'] == 1) { ?>
                                <p>
                                    <?= /* @noEscape */   __('Allowed products');?> -
                                    <?= /* @noEscape */   __('Unlimited');?>
                                </p>
                                <?php
                            } ?>
                        </div>
                        <?php
                        $allowedControllers = $block->getAllowedControllersBySetData(
                            $groupData['allowed_modules_functionalities']
                        );
                        ?>
                        <ul class="list-block wk-sellergroup-feature-list">
                            <?php foreach ($allowedControllers as $key => $value) { ?>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <?= /* @noEscape */   $value;?>
                                </li>
                                <?php
                            } ?>
                        </ul>
                        <a href="<?= /* @noEscape */   $block->getUrl('mpsellergroup/group/manage');?>">
                            <button type="button" class="action primary" <?= /* @noEscape */
                            'style="background-color:'.$groupColor.';border-color:'.$groupColor.'"';?>>

                            <?php
                            if ($isGroupAssigned && $sellerGroupData->getGroupId() === $groupData['entity_id']) { ?>
                                <span <?= /* @noEscape */   'style="background-color:'.$groupColor.'"';?>>
                                <?= /* @noEscape */   __('Your Current Membership');?></span>
                            <?php } else { ?>
                                <span <?= /* @noEscape */   'style="background-color:'.$groupColor.'"';
                                ?>><?= /* @noEscape */   __('Purchase Membership');?></span>
                            <?php } ?>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <?= /* @noEscape */  ($iterator == count($groupsCollection)+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </ol>
</div>
<script>
    require([
        "jquery",
        "mage/mage",
    ], function($){
        $('.page-title-wrapper').hide();
        <?php if ($banner_display) { ?>
        $('.wk-mp-banner').css('background-image','url("<?= /* @noEscape */   $bannerImage ?>")');
        <?php } ?>
    });
</script>
