/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@import 'xtremo/_variables.less';
@import 'xtremo/_mixins.less';

body {
    &.page-print {
        .page-main#maincontent {
            box-sizing: border-box ;
            margin-left: auto ;
            margin-right: auto ;
            max-width: 1280px ;
            padding-left: 20px ;
            padding-right: 20px ;
        }
        tfoot {
            text-align: right;
        }
    }
}

body{
    .fontRobotoRegular(1.4rem); //1.4rem // add 9-10 px
    &.catalog-product-compare-index{
        .action.print{
            margin: 0 0 -20px;
        }
    }
}

.page-header{
    background-color: @header-bg-color;
    margin: 0;
    padding: 0;
    .panel{
        margin: 0;
        &.header{
            padding: 20px 20px 0 20px !important;
            width: 100%;
            background-color: @header-bg-color;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        &.wrapper{
            background-color: @header-bg-color;
            border-radius: unset;
            box-shadow: none;
            border: medium none;
        }
    }
    .switcher_options_after;
    .switcher .options .action.toggle{
        &:after {
            margin: 0;
        }
        &.active{
            &:after {
                margin: 0;
            }
        }
    }
    .widgetBlock;
}
.page-footer{
    .switcher_options_after;
    .widgetBlock;
    .switcher .options {
        .action.toggle{
            &::after,
            &.active::after{
                margin: 0;
            }
        }
        ul.dropdown{
            &::before,
            &::after{
                left: auto;
                right: 10px;
            }
        }
    }
}
.product-info-main .special-price,
.product-options-bottom .special-price{
    margin-top: 0;
    margin-bottom: 0;
}
.block-search{
    width: 55%;
    padding-left: 0;
    box-sizing: border-box;
    display: inline-block;
    @media only screen and (max-width: 1085px) and (min-width: 900px){
        width: 45%;
    }
    @media only screen and (max-width: 900px) and (min-width: 768px) {
        width: 35%;
    }
    .block-content,
    .form.minisearch{
        display: inline-block;
        width: 100%;
    }
    .form.minisearch{
        box-sizing: border-box;
        padding: 0 !important;
    }
    .form{
        & > .field.search{
            display: inline-block;
            // float: left;
            width: 100%;
        }
        // & > .actions{
        // 	display: inline-block;
        //     float: left;
        //     width: 12%;
        // 	button{
        // 		position: static;
        // 		width: 100%;
        // 	}
        // }
    }
    input{
        padding-right: 60px;
        border-radius: 0 !important;
        border-right: medium none !important;
        width: 100%;
        &:focus{
            box-shadow: unset !important;
        }
    }
    .control{
        padding: 0;
    }
    .action.search{
        opacity: 1 !important;
        background-color: @link-color;
        color: @color-white;
        border-radius: 0 2px 2px 0;
        right: 0px;
        padding: 5px 10px;
        height: 32px;
        box-sizing: border-box;

        &:before{
            color: @color-white;
            font-size: @font_30_px;
            margin-right: 5px;
            font-weight: bold;
        }

        &:hover,
            &:active{
            background-color: @link-hover-color;
        }

        &:focus{
            &:before{
                color: @color-white;
            }
        }

        & > span{
            display: inline-block;
            height: auto;
            position: static;
            width: auto;
            overflow: visible;
            text-transform: uppercase;
            box-sizing: border-box;
            .fontRobotoBold(@font_25_px, @color-white);
        }
    }
}
.account-nav,
.block-collapsible-nav{
    .item{
        &.current{
            a,
            strong{
                font-weight: normal;
            }
        }
        a,
        & > strong{
            border-left: medium none;
            padding: 5px 10px 5px 0;
        }
    }
}
.block .title strong{
    .fontRobotoBold();
}
.minicart-wrapper{
    margin-top: 0;
    .action.showcart{
        background-color: @link-color;
        box-sizing: border-box;
        height: 32px;
        padding: 0 10px;
        border-radius: 2px;
        &.active{
            &:before{
                content: "";
            }
        }
        &:before{
            .spriteUrl;
            background-position: -18px 2px;
            height: 30px;
            width: 23px;
        }
        .text{
            margin: 5px 0 0 5px;
            position: static;
            text-transform: uppercase;
            display: inline-block;
            height: auto;
            width: auto;
            .fontRobotoBold(@font_25_px, @color-white);
        }
        .counter.qty{
            border-radius: 50%;
            background: none repeat scroll 0 0 @color-white;
            height: 20px;
            line-height: 20px;
            margin: 3px 0 0 5px;
            min-width: 14px;
            .fontRobotoBold(@font_23_px, @link-color);
        }
    }
    .block-minicart{
        right: 0;
        border-radius: 3px;
        margin: 10px 0 0;
        border: medium none;
        box-shadow: 0 0 34px 5px rgba(0, 0, 0, 0.2);
        padding: 15px 20px;
        &:before{
            right: 15px;
            border-width: 7px;
            top: -13px;
        }
        &:after{
            right: 15px;
            top: -13px;
        }
    }
    .action.close{
        display: none;
    }
    .product{
        .actions{
            display: inline-block;
            float: left;
            margin: 43px 0 0 8px;
            width: auto;
        }
    }
}
.logo{
    margin-top: 0;
    margin-bottom: 0;
}
.action{
    &.primary{
        .button_bg_style;
    }
    &.default,
    &.continue,
    &.apply.primary{
        .defaultButtonStyle;
    }
    &.primary.continue{
        .button_bg_style;
    }
}
.action-primary{
    .button_bg_style;
}
.review-form .action.submit.primary{
    .button_bg_style;
    text-transform: uppercase;
}
.action-default{
    .defaultButtonStyle;
}
.block-minicart{
    color: @color-gray;
    .items-total{
        box-sizing: border-box;
        float: none;
        margin: 0 0 10px;
        width: 100%;
        display: inline-block;
    }
    .subtotal {
        display: inline-block;
        margin: 0;
        text-align: left;
        width: 100%;
        .label{
            &:after{
                content: "- ";
                margin-left: 2px;
            }
        }
        .amount{
            display: inline-block;
            margin-left: 2px;
        }
    }
    .amount{
        .price-wrapper{
            &:first-child{
                .price{
                    color: @color-gray;
                    font-weight: normal;
                    font-size: @font_25_px;
                }
            }
        }
    }
    .block-content{
        & > .actions{
            display: inline-block;
            width: 100%;
            .fontRobotoBold();
            & > .secondary{
                float: left;
                .action.viewcart{
                    box-sizing: border-box;
                    color: @link-color;
                    display: block;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    width: 100%;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            & > .primary{
                margin: 0;
                float: right;
                .action.primary{
                    margin-bottom: 0;
                    padding: 10px 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

input[type="number"] {
    -moz-appearance: unset;
}

.minicart-items{
    color: @color-gray;
    .item-qty{
        border-radius: 3px;
        text-align: left;
        width: 60px;
    }
    .product-item-pricing{
        display: inline-block;
        float: left;
        .label{
            text-transform: uppercase;
        }
    }
    .product-item{
        padding: 10px 0;
        &:first-child{
            border-top: 1px solid @border-gray-color;
            padding-top: 10px;
        }
    }
    .product-item-name{
        margin: 0 0 5px;
        a{
            color: @color-gray;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .product-item-details{
        .details-qty{
            margin-top: 5px;
        }
        .price{
            font-weight: normal;
        }
    }
    .action{
        &.edit{
            margin-right: 10px;
            &:before{
                .spriteUrl;
                background-position: -116px -22px;
                height: 23px;
                width: 23px;
            }
        }
        &.delete{
            &:before{
                .spriteUrl;
                background-position: -101px -23px;
                height: 23px;
                width: 16px;
            }
        }
    }
    .product{
        .toggle{
            padding-bottom: 5px;
        }
        .product.options.list{
            dt{
                .fontRobotoBold(@font_23_px, @footer-bg-color);
            }
        }
    }
}

.minicart-items-wrapper{
    border: medium none;
}

button:not(.action-close),
.button
.cart.table-wrapper .actions-toolbar > .action,
.cart.table-wrapper .action-gift{
    .button_bg_style;
}

.widget {
    clear: none;
}
.footer{
    &.content{
        border-top: medium none;
        margin-top: 0;
        display: block;
        padding-bottom: 0;
        & > div.links{
            padding-right: 0;
            float: left;
            width: 80%;
            @media only screen and (max-width: 1000px) {
                width: 70%;
            }
            .links{
                float: left;
                @media only screen and (max-width: 1000px) {
                    float: none;
                    clear: both;
                    display: inline-block;
                }
            }
            .widget.block{
                float: left;
                box-sizing: border-box;
                @media only screen and (max-width: 1000px) {
                    float: none;
                    clear: both;
                    display: inline-block;
                    padding: 0 50px 0 0;
                    box-sizing: border-box;
                }
            }
        }
    }
}

/*.navigation,*/
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container,
.page-main{
    padding-left: @page-content-margin;
    padding-right: @page-content-margin;
    max-width: @max-screen-width;
    @media only screen and (max-width: 1450px) {
        padding-left: @page-content-margin - 100;
        padding-right: @page-content-margin - 100;
    }
}
@media only screen and (min-width: 768px){
    .sections.nav-sections{
        display: none;
    }
}
body > .page-wrapper{
    background-color: @main-page-bg-color;
}
.page-main{
    .columns{
        margin-top: 20px;
    }
}
a,
.alink{
    color: @link-color;
    &:hover,
        &:focus,
        &:active,
        &:visited{
        color: @link-color;
    }
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
textarea,
select{
    border-radius: 2px;
    border: @border-gray-line;
    .fontRobotoRegular(14px);
    &::-moz-placeholder{
        .fontRobotoRegular(14px, @cat-link-color);
    }
    &::-webkit-input-placeholder{
        .fontRobotoRegular(14px, @cat-link-color);
    }
    &:-ms-input-placeholder{
        .fontRobotoRegular(14px, @cat-link-color);
    }
    &:-moz-placeholder{
        .fontRobotoRegular(14px, @cat-link-color);
    }
}

._keyfocus *:focus,
input:focus:not([disabled]),
textarea:focus:not([disabled]),
select:focus:not([disabled]){
    box-shadow: 0 0 3px 1px @link-color;
}
select:focus:not([disabled]){
    box-shadow: none;
}
.downloadable-form .fileinput-button{
    color: @blue-link-color;
}
.fieldset {
    margin: 0 0 30px;
    & > .field{
        margin: 0 0 10px;
        &:not(.choice){
            &  > .label{
                float: none;
                text-align: left;
                margin-bottom: 5px;
                width: 100%;
            }
            &  > .control{
                width: 100%;
            }
        }
        & > .label{
            display: block;
            .fontRobotoMedium(@font_24_px, @cat-link-color);
            @media only screen and (max-width: 767px) {
                .fontRobotoRegular(@font_24_px, @cat-link-color);
            }
        }
        &.choice{
            &:before{
                float: none;
            }
        }
        &.no-label{
            &:before{
                float: none;
            }
        }
        &.required,
        &._required{
            & > .label{
                &:after{
                    font-size: @font_23_px;
                }
            }
        }
    }
    & > .fields{
        & > .field{
            & > .label{
                display: block;
            }
            &.required,
            &._required{
                & > .label{
                    &:after{
                        font-size: @font_23_px;
                    }
                }
            }
        }
    }
    & > .legend{
        .fontRobotoBold(@font_28_px);
        @media only screen and (max-width: 767px) {
            .fontRobotoMedium(@font_28_px);
        }
    }
}
h4{
    font-size: @font_25_px;
    font-weight: normal;
}
.abs-margin-for-forms-desktop,
.fieldset .legend,
.column:not(.sidebar-main) form .actions-toolbar,
.column:not(.sidebar-additional) form .actions-toolbar,
.login-container .fieldset:after{
    margin-left: 0;
}
.login-container{
    .fieldset{
        & > .field{
            & > .control{
                width: 100%;
            }
        }
        &:after{
            margin-top: 10px;
        }
    }
    .block{
        .block-title{
            .fontRobotoBold(@font_26_px, @footer-bg-color);
            border-bottom: medium none;
            margin-bottom: 5px;
            padding-bottom: 0;
            @media only screen and (max-width: 767px) {
                .fontRobotoMedium(@font_26_px, @footer-bg-color);
            }
            strong {
                font-weight: normal;
            }
        }
    }
}
.form {
    &.password.reset,
    &.send.confirmation,
    &.password.forget,
    &.create.account{
        display: inline-block;
        min-width: auto;
        width: 100%;
    }
}
a{
    &:hover,
        &:focus,
        &:active{
        text-decoration: none !important;
    }
}
.password-strength-meter-0{
    .password-strength-meter{
        &:before{
            background-color: @color-white;
        }
    }
}
.password-strength-meter-1{
    .password-strength-meter{
        &:before{
            background-color: @password-weak-color;
        }
    }
}
.password-strength-meter{
    background-color: @color-white;
    margin-top: 30px;
    padding: 0;
    .fontRobotoRegular(@font_24_px);
    &:before{
        height: 4px;
        margin-top: -10px;
    }
    span{
        .fontRobotoRegular(@font_24_px, @cat-link-color);
    }
}
.product-item-description{
    margin: 0;
}
.product-item{
    .price-box{
        margin: 5px 0;
        .price{
            font-size: @font_26_px;
            font-weight: normal;
        }
        .price-label{
            font-size: @font_24_px;
        }
    }
    .special-price{
        .price{
            font-size: @font_26_px;
            font-weight: normal;
        }
    }
}

.old-price,
.old.price{
    text-decoration: none;
    .price-wrapper {
        span.price{
            text-decoration: line-through;
        }
    }
}
.price-box{
    margin: 5px 0 15px;
    display: inline-block;
    .old-price,
    .special-price{
        .price-label{
            display: none;
        }
    }

    .old-price{
        float: left;
        &.map-old-price{
            float: none;
        }
        & + *{
            clear: both;
            float: none;
        }
    }
    .special-price {
        float: right;
        margin-left: 5px;
    }
}
.modes{
    float: right;
    margin-right: 5px;
}
.modes-mode{
    border: medium none;
    padding: 7px 5px;
    &:before {
        .categorySpriteUrl;
        background-repeat: no-repeat;
        background-position: -47px 0;
        height: 20px;
        width: 24px;
    }
    &:hover{
        &:not(.active){
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
    }
    &:last-child {
        border: medium none;
    }
}
.mode-grid{
    &:before{
        background-position: -47px 0;
    }
    &:hover{
        &:not(.active):before {
            background-position: -71px 0;
        }
    }
    &.active:before {
        background-position: -71px 0;
    }
}
.mode-list{
    &:before{
        background-position: 1px 0;
    }
    &:hover{
        &:not(.active):before{
            background-position: -23px 0;
        }
    }
    &.active:before {
        background-position: -23px 0;
    }
}
.sorter {
    padding: 0;
    .sorter-label{
        .fontRobotoRegular(14px, @footer-bg-color);
    }
}
.sorter-options{
    .fontRobotoRegular(14px, @footer-bg-color);
    border-radius: 3px;
    border: @border-gray-line;
    margin: 0 0 0 2px;
}
.sorter-action{
    &.sort-desc:before {
        content: "";
    }
    &:hover:before{
        color: @link-color;
    }
}

.toolbar-amount{
    .fontRobotoMedium(12px, @cat-link-color);
    text-transform: capitalize;
    .toolbar-number{
        color: @footer-bg-color;
    }
}
.productName;

/*---------------------------end--------------------------------------*/
.product.data.items{
    & > .item.title {
        & > .switch {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: medium none;
            padding: 5px 10px;
            .fontRobotoBold();
            &:focus,
                &:hover,
                &:visited{
                color: @footer-bg-color;
            }
        }
        &:not(.disabled){
            & > .switch{
                &:active{
                    color: @link-color;
                    border-bottom: 4px solid @link-color;
                    padding-bottom: 3px;
                }
            }
        }
        &.active{
            & > .switch{
                color: @link-color;
                border-bottom: 4px solid @link-color;
                padding-bottom: 3px;
                &:focus,
                    &:hover{
                    color: @link-color;
                    border-bottom: 4px solid @link-color;
                    padding-bottom: 3px;
                }
            }
        }
    }
    & > .item.content{
        padding: 10px;
    }
}
.table:not(.cart):not(.totals) > thead > tr > th,
.table:not(.cart):not(.totals) > thead > tr > td{
    border-bottom: medium none;
}
.table:not(.additional-attributes){
    margin-bottom: 0;
    &:not(.cart){
        &:not(.totals){
            & > thead{
                border-bottom: @border-gray-line;
                border-top: @border-gray-line;
                & > tr{
                    & > th,
                    & > td{
                        border-bottom: medium none;
                        .fontRobotoBold();
                        &:first-child{
                            padding-left: 0;
                        }
                    }
                }
            }
            & > tbody{
                & > tr{
                    &:not(:last-child){
                        border-bottom: @border-gray-line;
                    }
                    & > th,
                    & > td{
                        .fontRobotoMedium(@font_26_px, @cat-link-color);
                        &:first-child{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.opc-wrapper .edit-address-link {
    clear: both;
    display: block;
    float: none;
    margin: 10px 10px 0 0;
    &:hover{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
        color: @link-color !important;
        text-decoration: none !important;
    }
}
.cart-summary{
    padding: 30px 0;
    width: 30%;
    background-color: @color-white;
    box-sizing: border-box;
    .block{
        & > .title{
            border: medium none;
            padding: 0;
            &:after{
                top: -10px;
            }
        }
        .fieldset{
            margin: 10px 0 0;
        }
    }
    .action.primary.apply{
        .defaultButtonStyle;
    }
}
.cart-container{
    .form-cart{
        width: 68%;
        .action.continue{
            .defaultButtonStyle;
            text-transform: uppercase;
            padding-left: 5px;
        }
        .action.update{
            padding-left: 20px;
            &:before{
                content: "";
            }
        }
    }
}
.cart.table-wrapper{
    .items {
        & > .item {
            border: medium none;
        }
    }
    .action-gift{
        .fontRobotoMedium(@font_26_px, @link-color);
        &:after{
            line-height: unset;
        }
        &:hover:after{
            color: @link-color;
        }
    }
    .item .col.item{
        padding: 20px;
    }
    .gift-content{
        &._active{
            @media only screen and (min-width: 768px) {
                min-width: 320px;
            }
        }
    }
}
.gift-options {
    .actions-toolbar {
        .secondary {
            .action-cancel,
            .action-update{
                margin-top: 0;
                display: inline-block;
                line-height: 1;
            }
        }
    }
}
.column.main{
    .cart-summary .block > .title strong,
    .paypal-review-discount .block > .title strong{
        font-weight: normal;
        font-size: @font_26_px;
    }
    .product-items {
        margin-left: 0;
    }
}
.toolbar-products{
    margin-bottom: 20px;
}
.table-comparison{
    table-layout: auto;
    td{
        background-color: unset !important;
    }
    thead > tr > th:first-child {
        padding-left: 20px !important;
    }
    .cell{
        width: auto;
        padding: 20px;
        &.product.info{
            display: table-row;
            border-bottom: unset;
            .product-item-photo,
            .product-item-details{
                display: table-cell;
                vertical-align: top;
                padding: 20px;
            }
            .product-item-details{
                padding-left: 0;
            }
        }
        &.remove{
            padding-bottom: 20px;
            padding-top: 20px;
        }
        &.product.attribute{
            max-width: 500px;
        }
    }
    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name{
        display: inline-block;
        margin: 0;
    }
}
.table-comparison .cell.remove .action.delete{
    &:before{
        .spriteUrl;
        background-position: -101px -23px;
        display: block;
        height: 22px;
        line-height: 0;
        width: 16px;
    }
}
.product-item-name > a,
.product.name a > a{
    .fontRobotoRegular(@font_26_px, @cat-link-color);
}
.row {
    margin-left: 0;
    margin-right: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3{
    font-weight: normal !important;
}
.block-reorder .actions-toolbar{
    margin: 17px 0 0;
}
.nav{
    & > li{
        & > a{
            &:hover,
                &:focus{
                background-color: unset;
            }
        }
    }
}
.cms-content table th,
.cms-content table td,
.opc-estimated-wrapper .estimated-block,
.block-wishlist-management .wishlist-select-items .current,
.table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before,
.table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before,
.tooltip.wrapper .tooltip.content .subtitle,
.pages .items,
.actual-price,
.block-minicart .items-total .count,
.opc-estimated-wrapper .estimated-block,
.checkout-payment-method .credit-card-types .item._active,
.field.downloads .price-including-tax,
.block-giftregistry-shared-items .col .price-wrapper,
.block-wishlist-management .wishlist-select .wishlist-name-label,
.block-order-details-comments .comment-date,
.nav-sections .header.links li.greet.welcome,
.modal-popup .modal-title,
h1,
h2,
h3,
h4,
h5,
h6,
dt{
    font-weight: normal !important;
}
.price,
.label,
.title,
.action,
.cart.table-wrapper .col:before,
b,
strong,
span,
a{
    font-weight: normal !important;
}
.bundle-actions .action.primary,
.bundle-options-container .block-bundle-summary .box-tocart .action.primary,
.product-info-main .box-tocart .action.tocart,
.product-options-bottom .box-tocart .action.tocart,
.cart-container .checkout-methods-items .action.primary,
.block-minicart .block-content > .actions > .primary .action.primary,
.methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register,
.block-authentication .action.action-login,
.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
.form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary,{
    font-size: @font_26_px;
    padding: 5px 20px;
}
.abs-account-blocks .block-title > strong,
.block-compare .block-title > strong,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-shared-items .block-title > strong,
.block-wishlist-search-results .block-title > strong,
.block-reorder .block-title > strong,
.widget .block-title > strong,
.block-wishlist .block-title > strong,
.account .column.main .block:not(.widget) .block-title > strong,
.multicheckout .block-title > strong,
.paypal-review .block .block-title > strong,
.magento-rma-guest-returns .column.main .block:not(.widget) .block-title > strong,
[class^="sales-guest-"] .column.main .block:not(.widget) .block-title > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong{
    font-size: @font_32_px;
}
.block-category-event .block-title strong,
.multicheckout.order-review .block-title > strong {
    font-size: @font_34_px;
}
.block-wishlist-info-items .block-title{
    font-size: @font_32_px;
}
.multicheckout .checkout-review .grand.totals{
    font-size: @font_30_px;
}
.block-category-event .ticker .value {
    font-size: @font_70_px;
}
.block-category-event .dates .date,
.block-category-event .dates .start:after {
    font-size: @font_60_px;
}
.block-wishlist-management .wishlist-title strong{
    font-size: @font_50_px;
}
.block-authentication .block-title,
.block-cart-failed .block-title,
.bundle-options-container .legend.title,
.bundle-options-container .block-bundle-summary > .title > strong,
.block.add.review > .title,
.block.reviews.list > .title,
.review-list .block-title strong,
.block-event .slider-panel .slider .item .ticker .value,
.block-wishlist-management .wishlist-title strong,
h1,
h2{
    font-size: @font_26_px;
}
.gift-options .actions-toolbar .action-update{
    font-size: @font_30_px;
}
.gift-options-title {
    font-size: @font_28_px;
}
.message,
div.mage-error[generated]{
    font-size: @font_26_px !important;
}
.swatch-input + .mage-error{
    display: inline-block;
}
.authentication-wrapper{
    margin-top: -90px;
}
.block-authentication .block-title{
    font-size: @font_36_px;
}
.return-status,
.order-status{
    font-size: @font_26_px;
    border: 2px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 3px 0 0;
    padding: 2px 10px;
    text-transform: uppercase;
    vertical-align: top;
}
.order-links{
    margin-top: 20px;
}
.modal-popup .modal-footer{
    padding-bottom: 30px;
    padding-top: 30px;
}
.modal-popup .modal-header,
.modal-popup .modal-content,
.modal-popup .modal-footer{
    padding-left: 30px;
    padding-right: 30px;
}
.price-container .price{
    font-size: @font_24_px;
}
.footer.content .links > li:hover{
    opacity: 0.8;
}
.prices-tier{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.field.downloads-all {
    .label{
        cursor: pointer;
        color: @link-color;
    }
    input{
        opacity: 0;
        cursor: pointer;
        position: absolute;
    }
}

.table-order-items .subtotal + tr,
.table-order-items .amount + tr{
    text-align: right;
}
.product-info-main .box-tocart.update{
    .actions{
        display: inline-block;
        text-align: left;
        width: 100%;
    }
}
.order-details-items.ordered .order-title{
    display: none;
}
.price-including-tax,
.price-excluding-tax{
    font-size: @font_32_px;
}
.page-title-wrapper .order-date{
    margin-top: 5px;
}
.page-product-downloadable {
    .product-options-wrapper{
        width: 45%;
    }
    .product-options-bottom {
        width: 52%;
    }
}
.paypal.before::before,
.paypal.after::before{
    content: "";
}

.box-tocart .paypal,
.block-minicart .paypal{
    a{
        display: inline-block;
        margin-top: 10px;
    }
    input + a {
        margin-top: 0;
        display: inline-flex;
        & > img{
            display: inline-block;
            // margin: -20px 0 0;
        }
    }
}
.modals-wrapper{
    .modal-content{
        font-size: @font_26_px;
    }
}
.review-ratings{
    max-width: 100%;
}
.multishipping-checkout-addresses{
    .column.main{
        .page-title-wrapper{
            display: block;
        }
        & > .multicheckout.address.form{
            background-color: @color-white;
            box-sizing: border-box;
            margin-top: 40px;
            padding: 15px 20px;
        }
    }
}
.copyright{
    background-color: @copyright-bg-color;
    color: @text-color-strong;
    display: inline-block;
    padding: 20px @page-content-margin;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    @media only screen and (max-width: 1450px) {
        padding-left: @page-content-margin - 100;
        padding-right: @page-content-margin - 100;
    }
}
.page-print {
    .logo {
        display: block;
        float: none;
        margin-top: 20px;
    }
    .page-title-wrapper{
        background-color: transparent;
    }
    .columns{
        margin-bottom: 0;
    }
    main.page-main{
        width: 100%;
    }
}
.block-order-details-view{
    .block-title{
        padding-bottom: 10px;
        border-bottom: 1px solid @border-submenu;
    }
}
@media all and (min-width:768px), print{
    .ie10 .page-wrapper,
    .ie11 .page-wrapper{
        height: auto;
    }
}
.cms-content{
    &.privacy-policy {
        .block-collapsible-nav,
        .privacy-policy-content{
            background-color: @color-white;
            padding: 20px;
        }
        .block-collapsible-nav{
            & > .block-collapsible-nav-title{
                .fontRobotoMedium(@font_28_px, @color-black);
            }
            & > .block-collapsible-content{
                li {
                    & > a{
                        color: @cat-link-color;
                        &:hover{
                            color: @link-color;
                        }
                    }
                    &.current > a{
                        color: @link-color;
                    }
                }
            }
        }
        .privacy-policy-content{
            width: 76%;
            h2{
                margin-top: 25px;
                .fontRobotoMedium(@font_28_px, @color-black);
            }
            ul,
            ol {
                list-style: none;
                li{
                    &:before{
                        background-color: @link-color;
                        border-radius: 50%;
                        content: "";
                        display: inline-block;
                        height: 7px;
                        margin-right: 10px;
                        width: 7px;
                    }
                }
            }
        }
    }
    &.about-info,
    &.customer-service{
        background-color: @color-white;
        padding: 20px;
        p{
            .fontRobotoRegular(@font_24_px, @cat-link-color);
        }
        .cms-content-important{
            margin-left: 0;
            .fontRobotoMedium(@font_32_px, @footer-bg-color);
        }
        ul > li > a{
            color: @cat-link-color;
            &:hover{
                color: @link-color;
            }
        }
    }
}
.fieldset > .field:not(.choice) > input.wk_rma_checkall + label {
    display: inline-block;
    width: auto;
    padding-top: 0;
    vertical-align: top;
}

.footer.content .block.newsletter {
    button.subscribe.sr-only {
        position: unset;
        height: unset;
        width: unset;
    }
}
@import '_responsive.less';
