/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {

    // 5-6 adds

    // body{
    //     font-size: @font_16_px;
    // }
    .order-links{
        margin-bottom: 0 !important;
    }
    .account .page-main,
    .cms-privacy-policy .page-main{
        padding-top: 0;
    }
    .account{
        .page.messages{
            display: unset;
        }
    }
    .table:not(.additional-attributes):not(.cart):not(.totals) > tbody > tr > th,
    .table:not(.additional-attributes):not(.cart):not(.totals) > tbody > tr > td{
        text-align: left;
    }
    // .price-including-tax,
    // .price-excluding-tax{
    //     font-size: @font_16_px;
    // }
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main{
		padding-left: 20px;
	    padding-right: 20px;
    }
    .page-header{
        border-bottom: medium none;
        .panel.header{
            padding: 15px 15px 0 15px !important;
        }
    }
    .block-collapsible-nav .content{
        display: none;
        &.active{
            display: block;
        }
    }
    .block-collapsible-nav {
        .title{
            cursor: pointer;
            width: 100% !important;
            &:after{
                content: "\e622";
                color: inherit;
                display: inline-block;
                font-family: "icons-blank-theme";
                font-size: 35px;
                font-weight: normal;
                line-height: inherit;
                overflow: hidden;
                text-align: center;
                vertical-align: middle;
                position: absolute;
                right: 20px;
                margin: -15px 0 0;
            }
            &.active{
                &:after{
                    content: "\e621";
                }
            }
        }
    }
    .columns {
        .sidebar-main{
            order: 0;
        }
        .column.main{
            width: 100%;
            padding-bottom: 10px;
            -webkit-flex-basis: auto;
        }
    }
    .sections.nav-sections ul{
        padding-left: 0;
    }
    .nav-toggle{
        &:before,
        &:hover:before{
            color: @color-white;
        }
    }
    .logo{
        margin-left: 50px;
        max-width: 40%;
    }
    .minicart-wrapper{
        .action.showcart {
            background-color: transparent;
            .text{
                display: none;
            }
        }
    }
    .block-search {
        box-sizing: border-box;
        clear: both;
        display: inline-block;
        float: none;
        width: 100%;
        margin-top: 15px;
        .xtremo-cat-search-wrapper{
            display: none;
        }
        .block-content{
            display: inline-block;
            width: 100%;
        }
        .control{
            margin: 0;
            padding: 0;
            width: 100%;
            border-top: medium none;
        }
        input{
            margin: 0;
            position: static;
            width: 100% !important;
            box-sizing: border-box;
        }
        .label{
            position: absolute;
            right: 20px;
            top: auto;
            &:before{
                font-size: 25px;
            }
        }
    }
    .xtremo.header{
        display: inline-block;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        .navigation{
            display: none !important;
        }
        .xtremo-right-cms{
            margin-top: 0;
            .wk-cms-modal{
                cursor: pointer;
                display: inline-block;
                float: right;
                width: auto;
                position: absolute;
                right: 0;
                padding: 0 20px 0 10px;
                box-sizing: border-box;
                &:before{
                    .responsiveHomepageSprite;
                    content: "";
                    display: block;
                    background-position: 0 0;
                    height: 22px;
                    width: 5px;
                }
            }
            .wk-cms-block{
                span{
                    padding: 15px;
                    border-bottom: @border-gray-line;
                    box-sizing: border-box;
                }
            }
            .action.toggle{
                &.switcher-trigger{
                     width: 100%;
                }
                &:after{
                    color: @color-white !important;
                    content: "" !important;
                    font-size: @font_44_px !important;
                    float: right;
                    margin: 12px 0 0 !important;
                }
                &.active{
                    &:after{
                        content: "" !important;
                    }
                }
            }
            .wk-cms-wrapper{
                margin-left: 0;
                span{
                    a{
                        border-bottom: medium none;
                        color: @cat-link-color;
                    }
                }
                .switcher-cms{
                    border-bottom: @border-gray-line;
                    .action.toggle:after{
                        color: @footer-bg-color !important;
                    }
                    .switcher-label{
                        position: static;
                        display: none;
                    }
                    .switcher-cms-strong{
                        border-bottom: medium none;
                        display: inline-block;
                        width: auto;
                        span{
                            border-bottom: medium none;
                        }
                    }
                    ul.dropdown{
                        position: static;
                        margin: 0;
                        padding: 5px 0 5px 30px;
                        // font-size: @font_24_px;
                        box-shadow: unset;
                        &:after,
                        &:before{
                            display: none;
                        }
                        // a{
                        //     font-size: @font_24_px;
                        // }
                    }
                }
            }
            .wk-xtremo-phone-cms{
                background-color: @color-white;
                float: none;
                clear: both;
                max-width: 500px;
                position: fixed;
                right: -100%;
                top: 0;
                width: 250px;
                color: @cat-link-color;
                box-sizing: border-box;
                z-index: 9;
                transition: all 1s ease 0s;
                font-size: 1.36rem;
                box-sizing: border-box;
                padding: 0 0 5px;
                &.active{
                    right: 0;
                    transition: all 1s ease 0s;
                }
                .phone-number-wrapper{
                    padding: 20px 15px;
                    background-color: @phone-bg-color;
                    box-sizing: border-box;
                }
                .phone-number-wrapper,
                .wk-cms-wrapper,
                span,
                .switcher,
                .switcher-options,
                .switcher-trigger.toggle{
                    float: none;
                    clear: both;
                    width: 100%;
                    display: inline-block;
                    color: @cat-link-color;
                    // font-size: @font_16_px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .wk-loader {
        background-color: @color-black;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.73;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    .navigation{
        .level0 {
            .fontRobotoMedium(1.36rem);
            & > .level-top{
                .fontRobotoBold(1.36rem);
            }
            & > .level1{
                font-weight: normal;
            }
        }
        a{
            color: @footer-bg-color;
            &:visited{
                color: @footer-bg-color;
                font-weight: normal;
            }
            &:hover,
            &:focus,
            &:active{
                color: @link-color;
                font-weight: normal;
            }
        }
    }
    .nav-sections{
        .header.links{
            display: inline-block !important;
            width: 100%;
            a{
                .fontRobotoBold(1.36rem);
                &:visited{
                    color: @footer-bg-color;
                    font-weight: normal;
                }
                &:hover,
                &:focus,
                &:active{
                    color: @link-color;
                    font-weight: normal;
                }
            }
        }
    }
    .footer{
        &.content{
    	    & > div.links{
    			width: 100%;
                display: inline-block;
                float: none;
                clear: both;
                padding-bottom: 20px;
                .links,
                .widget.block{
                    margin-bottom: 10px;
                    width: 100%;
                }
    	    }
    	}
    }
    .review-form .action.submit.primary{
        background-color: @link-color;
        color: @color-white;
    }
    table{
        & > caption{
            width: 100%;
        }
    }
    .block{
        .block-title{
            strong{
                .fontRobotoMedium(@font_30_px, @footer-bg-color);
            }
        }
    }
    .table-wrapper thead .col.item,
    .cart.table-wrapper thead .col.qty,
    .cart.table-wrapper thead .col.price,
    .cart.table-wrapper thead .col.subtotal,
    .cart.table-wrapper thead .col.msrp{
        display: none;
    }
    .cart.table-wrapper{
    	.items {
    		thead{
    			& + .item{
    	            border-top: @border-light-line;
    			}
    		}
    	}
        .item-actions td{
            text-align: left;
        }
    }
    .cart-summary{
        padding: 0;
        margin-top: 15px;
    }
    .authentication-wrapper{
    	margin-top: 0;
    }
    // .bundle-actions .action.primary,
    // .bundle-options-container .block-bundle-summary .box-tocart .action.primary,
    // .product-info-main .box-tocart .action.tocart,
    // .product-options-bottom .box-tocart .action.tocart,
    // .cart-container .checkout-methods-items .action.primary,
    // .block-minicart .block-content > .actions > .primary .action.primary,
    // .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register,
    // .block-authentication .action.action-login,
    // .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
    // .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary,{
    // 	padding: 0 20px;
    // }
    .minicart-wrapper{
        .block-minicart{
            right: -60px;
            &:before,
            &:after{
                right:70px;
            }
        }
    }
    .block-minicart{
        .block-content{
    		& > .actions{
                & > .secondary,
                & > .primary{
                    float: none;
                    clear: both;
                }
            }
        }
    }
    .box-tocart{
		.paypal{
			text-align: center;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
    .block-minicart .paypal img{
		margin: 0;
	}
    .form.search.advanced {
        .fields.range .field.with-addon {
            .control{
                padding-right: 0;
            }
            .addon{
                display: unset;
                input{
                    width: 100%;
                }
            }
        }
        .group.price .addon .addafter{
            right: ~"calc(50% - 25px)";
        }
    }
}
@media only screen and (max-width: 450px) {
    .logo{
        margin-left: 35px;
    }
}
// @media only screen and (max-width: 320px) {
//     .logo{
//         max-width: 40%;
//     }
// }
@media only screen and (max-width: 300px) {
    .minicart-wrapper{
        clear: both;
    }
}
