/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */
 
.add-row{
    margin-top: 10px;
}

.date-selector-block{
    text-align: center;
}

.date-selector{
    width: 45% !important;
}

.date-selector-to{
    margin-left: 5px;
}

.admin__fieldset > .admin__field > .admin__field-control {
    width: calc( (100%) * 0.6 - 30px );

}
.tip-content {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 4px;
    margin-top: 31px;
    font-size: 10px;
    text-align: center;
}

label.error{
    font-size: 13px;
    font-weight: 600;
    color: #f00;
}

.wk-mp-design .wk-mp-fieldset .control {
    overflow: hidden;
}