/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */
.loader {
	border: .2em solid currentcolor;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: 1s loader linear infinite;
    position: relative;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
    pointer-events: none;
    margin: 8px;
    display: none;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#wk-mpexpdd-regex{
    width: 50%;
}

#wk-mpexpdd-check{
    display: inline-block;
}

.error-block{
    color: #f00;
}

.wk-mpexpdd-zipform {
    width: 60% !important;
    max-width: 180px !important;
}

.action-select-wrap {
    width: 20% !important;
    min-width: 180px !important;
}