/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .xtremo-right-cms {
        .switcher-currency {
            ul.dropdown{
                left: 0;
                &:before,
                &:after{
                    left: 3px !important;
                }
            }
        }
        .phone-number-wrapper{
            &:before{
                .responsiveHomepageSprite;
                background-position: -22px 0;
            }
        }
    }
    .nav-sections{
        .welcome-msg{
            box-sizing: border-box;
            display: inline-block;
            font-size: 17px;
            padding: 10px 20px;
            width: 100%;
            .fontRobotoBold(@font_20_px, @color-black);
            // font-size: @font_20_px !important;
        }
        .header.links a,
        .header.links a:hover{
            padding: 12px 20px;
        }

    }
    .page-header{
        .header.panel{
            .xtremo-authorization-link{
                box-sizing: border-box;
                display: inline-block;
                float: right;
                line-height: 2;
                color: @link-color;
    			&:after{
                    color: @link-color;
                    content: "\f105";
                    font-family: Fontawesome;
                    font-weight: 700;
    			}
    		}
        }
        .xtremo.header{
            width: 100%;
            background-color: @header-responsive-bg-color;
            .xtremo-right-cms{
                float: none;
                clear: both;
                min-height: 17px;
                & > .switcher{
                    .switcher-options{
                        .action.toggle.switcher-trigger{
                            background-color: @switcher-bg-color;
                            padding: 2px;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}
