/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

.page-header{
	.header.panel{
		margin-bottom: 15px;
	    .switcher.toplink.switcher-toplink{
	    	float: right;
	    	margin-left: 13px;
    		margin-right: 0;
    		margin-top: -4px;
			max-width: 170px;
			.welcome-msg{
				display: none;
			}
    		.action.toggle{
    			&:after{
    				margin: -5px 0 0 25px;
					float: right;
    			}
				.switcher-toplink-strong{
					max-width: 130px;
				    overflow: hidden;
					text-overflow: ellipsis;
				    white-space: nowrap;
					// overflow-wrap: break-word;
				}
    		}
    		.actions.dropdown.options.switcher-options::before{
				.spriteUrl;
				background-position: -40px 1px;
			    float: left;
			    height: 26px;
			    margin-top: 5px;
			    width: 26px;
			    margin-right: 8px;
    		}
    		.switcher-toplink-strong{
			    display: block;
				.fontRobotoRegular(@font_24_px, @color-white);
				// @media only screen and (max-width: 1450px) {
				// 	margin-top: 5px;
				// }
    		}
    		.wk-cat-text{
    			font-size: @font_26_px;
			    margin-top: -3px;
			    width: auto !important;
    		}
    		ul.dropdown{
    			right: 30%;
    			min-width: 190px;
    			padding: 12px 15px;
				// @media only screen and (max-width: 1450px) {
				// 	min-width: 145px;
				// }
    			&:before,
				&:after{
					left: 150px !important;
					// @media only screen and (max-width: 1450px) {
					// 	left: 115px !important;
					// }
				}
    			.reg-sign-wrapper{
					.fontRobotoBold();
    				ul{
    					list-style: none outside none;
    					padding: 0;
    					display: inline-block;
    					width: 100%;
    					li{
    						font-size: @font_24_px;
    						text-transform: uppercase;
    						&.authorization-link{
    							float: left;
    							a{
    								color: @link-color;
    							}
    						}
    						& + li{
    							float: right;
    							a{
    								color: @color-white;
    								background-color: @link-color;
    								border-radius: 3px;
    								padding: 5px 8px;
    								&:hover{
    									background-color: @link-hover-color;
    								}
    							}
    						}
    						a{
    							padding: 5px;
    						}
    					}
    				}
    			}
    			li.forgot-password-link{
    				text-transform: none;
    				border-top: 1px solid @color-light-gray;
				    margin-top: 10px;
    				a{
    					color: @link-color;
    					padding: 10px 5px 0;
    				}
    			}
    		}
	    }
		.xtremo-authorization-link{
			display: none;
		}
	}
	.xtremo.header{
		.wrapper_max_width;
	}
}
.block-search{
	.xtremo-cat-search-wrapper {
	    float: left;
	    width: 100px;
		@media only screen and (max-width: 1000px) {
			width: 60px;
		}
	    .xtremo-cat-search{
	    	border-radius: 2px 0 0 2px;
			background-color: @color-white;
		    // border-radius: 3px;
		    box-shadow: 0 1px 0 0 @color-white inset, 0 -1px 0 0 rgba(204, 204, 204, 0.3) inset;
			-moz-appearance: none;
			-webkit-appearance:none;
			appearance:none;
		    background-image: url("../images/Arrow-Icon.png");
			background-repeat: no-repeat;
			background-size: 9% auto;
			background-position: 80px 10px;
		    text-indent: 0.01em;
		    text-overflow: "";
			@media only screen and (max-width: 1000px) {
				background-position: 45px 12px;
				background-size: 12% auto;
			}
	    }
		& + input{
			// width: 85% !important;
			width: ~"calc(100% - 100px)" !important;
			// @media only screen and (max-width: 1200px) {
			// 	width: 75% !important;
			// }
			@media only screen and (max-width: 1000px) {
				width: ~"calc(100% - 60px)" !important;
			}
			@media only screen and (max-width: 767px) {
				width: 100% !important;
			}
		}
		& ~ .search-autocomplete{
			left: 100px;
			@media only screen and (max-width: 1000px) {
				left: 60px;
			}
			@media only screen and (max-width: 767px) {
				left: auto;
				margin-top: 0;
			}
		}
	}
}
.wk-cat-text{
	float: left !important;
	height: 100% !important;
	position: static !important;
	width: 100% !important;
	.fontRobotoBold(@font_26_px, @link-color);
}

.xtremo.header{
	.navigation{
		z-index: 9;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: inline-block;
		width: auto;
		top: -20px;
		max-width: 160px;
		position: static;
		margin-bottom: 5px;
		font-weight: normal;
		.switcher.category{
			margin-right: 0;
			.switcher-category-strong{
			    text-transform: capitalize;
				.fontRobotoRegular(@font_24_px, @color-white);
			}
			.wk-cat-text{
			    font-size: @font_26_px;
			    font-weight: normal;
			    margin-top: -8px !important;
			    text-transform: capitalize;
			}
			ul.dropdown{
				left: -2px;
				min-width: unset;
				right: auto;
				width: auto;
				margin-top: 6px;
				min-height: 500px;
				&:before,
				&:after{
					left: 25px !important;
				}
			}
		}
		/*@media only screen and (min-width: 768px) {*/
			.nav-menu-left {
			    float: left;
				// width: 200px;
		    	width: 300px;
				// max-width: 300px;
			    box-sizing: border-box;
			    padding-top: 10px;
				.fontRobotoMedium(@font_24_px);
				@media only screen and (max-width: 1200px) {
					width: 200px;
				}
			    .choose-cat{
			    	padding: 0 8px 15px;
			    	font-size: @font_26_px;
			    }
			}
			.nav-menu-right {
			    float: left;
			    // width: 100%;
				width: ~"calc(100% - 300px)";
			    padding-top: 5px;
			    height: auto;
			    max-width: 600px;
				.fontRobotoMedium(@font_24_px);
			    // max-height: 500px;
	    		overflow-x: hidden;
	    		overflow-y: auto;
				@media only screen and (max-width: 1200px) {
					width: ~"calc(100% - 200px)";
				}
			    & > .submenu {
				    display: none;
					height: 100%;
				}
				.submenu .level1.submenu {
				    display: block !important;
				    position: relative;
				}
				li{
					position: static;
	    			// z-index: 9;
				}
			}
		/*}*/
		.level0{
			position: static;
			.wk-cat-image{
				clear: both;
				display: block;
				bottom: 0;
				height: auto;
				position: absolute;
				// width: 607px;
				width: ~"calc(100% - 323px)";
				max-height: 450px;
				z-index: -1;
				@media only screen and (max-width: 1280px) {
					width: ~"calc(100% - 319px)";
				}
				@media only screen and (max-width: 1200px) {
					width: ~"calc(100% - 219px)";
				}
				.img-cat-0 {
					height: 100%;
					overflow: hidden;
					width: 100%;
					opacity: 0.7;
					max-height: 450px;
				}
			}
			& > .level-top{
				position: static;
				line-height: @font_40_px;
				text-overflow: ellipsis;
				span{
					overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow-wrap: break-word;
				    display: block;
					margin-right: 10px;
				}
			}
			&.parent{
				& > .level-top{
					&:after{
						.spriteUrl;
						background-position: -87px -24px;
						float: right;
						height: 12px;
						margin-top: -16px;
						width: 8px;
						margin-left: 10px;
					}
				}
				&:hover,
				&:active,
				&:focus{
					& > .level-top{
						&:after{
							background-position: -94px -24px;
						}
					}
				}
			}
			&.active-level{
				& > .level-top{
					&:after{
						background-position: -94px -24px;
					}
				}
			}
			& > li > .submenu{
				background: none repeat scroll 0 0 transparent;
			}
			.submenu{
				position: static;
				top: 0 !important;
				border: medium none;
				box-shadow: none;
				min-width: 80px;
				.fontRobotoMedium(@font_24_px);
				&.level0{
					box-shadow: 20px 5px 34px rgba(0, 0, 0, 0.2);
				}
				.submenu{
					position: static !important;
					box-shadow: none;
					height: auto;
					display: inline !important;
				}
				a{
					&:hover{
						background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
					}
					&.ui-state-focus{
						background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
					}
				}
			}
			li.level2{
				.submenu{
					box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
					display: none !important;
					padding: 5px;
					position: absolute !important;
					left: auto !important;
					margin-left: 40px !important;
					margin-top: -30px !important;
					top: auto !important;
					border: 1px solid @border-submenu;
				}
				&:hover{
					.level2.submenu{
						display: block !important;
					}
				}
				li.level3{
					&:hover{
						.level3.submenu{
							display: block !important;
						}
					}
					li.level4{
						&:hover{
							.level4.submenu{
								display: block !important;
							}
						}
						li.level5{
							&:hover{
								.level5.submenu{
									display: block !important;
								}
							}
						}
					}
				}
			}
		}
		ul{
			position: static;
			box-sizing: border-box;
		}
		li{
			&.level0{
				display: block;
			}
			&.level1{
				float: left;
				display: inline-block;
				margin-bottom: 20px !important;
				&:not(.last){
					margin-right: 30px !important;
				}
				& > a{
					font-size: @font_26_px !important;
					color: @color-black !important;
				}
				&:hover{
					& > ul li{
						a{
							color: @color-gray !important;
						}
					}
				}
			}
		}
	}
}
.xtremo-right-cms{
	float: right;
	width: auto;
	margin-top: 15px;
	.fontRobotoRegular(@font_24_px, @color-white);
	margin-bottom: 5px;
	max-width: 78%;
	.wk-xtremo-phone-cms{
		float: left;
		display: inline-block;
		// max-width: 90%;
	}
	.phone-number-wrapper{
	    float: left;
		box-sizing: border-box;
	    &:before{
	    	.spriteUrl;
	    	background-position: 26px -4px;
		    float: left;
		    height: 18px;
		    width: 17px;
			margin-top: 2px;
	    }
	    .phone-number{
	    	float: left;
		    margin-left: 3px;
			padding-right: 10px;
			box-sizing: border-box;
	    }
	}
	.wk-cms-wrapper{
		margin-left: 10px;
		float: left;
		span{
			margin-right: 10px;
			a{
				border-bottom: 1px dotted;
    			color: @color-white;
    			&:hover{
    				text-decoration: none;
    			}
			}
		}
		.wk-cms-block{
			& > span{
				vertical-align: top;
			}
		}
		.switcher-cms{
			float: none;
			.switcher-cms-strong{
				border-bottom: 1px dotted;
				text-transform: capitalize;
			}
			ul.dropdown{
				min-width: 90px !important;
				@media only screen and (max-width: 1450px) {
					min-width: 70px !important;
				}
				&:before,
				&:after{
					left: 55px !important;
					@media only screen and (max-width: 1450px) {
						left: 40px !important;
					}
				}
			}
		}
	}
	.switcher{
		display: block;
		float: left;
	}

	.action.toggle.switcher-trigger{
		&:after{
			font-size: @font_34_px !important;
			margin: 0 0 0 -16px !important;
		}
	}

	.switcher-currency,
	.switcher-language{
		.action.toggle.switcher-trigger{
			&:after{
				margin: 0 -7px 0 -6px !important
			}
		}
	}
	.switcher-currency{
		ul.dropdown{
			min-width: 205px !important;
			@media only screen and (max-width: 1450px) {
				min-width: 140px !important;
			}
			&:before,
			&:after{
				left: 170px !important;
				@media only screen and (max-width: 1450px) {
					left: 115px !important;
				}
			}
		}
	}
	.switcher-language{
		ul.dropdown{
			min-width: 95px !important;
			@media only screen and (max-width: 1450px) {
				min-width: 60px !important;
			}
			&:before,
			&:after{
				left: 62px !important;
				@media only screen and (max-width: 1450px) {
					left: 35px !important;
				}
			}
		}
	}
}

.block-minicart{
	.items-total{
		& > span{
			&:first-child{
				&:after{
					content: "(";
				}
			}
			&:last-child{
				&:after{
					content: " )";
				}
			}
		}
	}
}
.page-header .panel.header {
   
    background-color: #ffffff;
}
@import '_responsive.less';
