<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
?>
 <div class="no-route-wrapper no-search">
     <div class="no-route-icon">
            <?php $imageCheck = getimagesize($block->getViewFileUrl('images/Sprite-search-not-found.png'));
            if ($imageCheck && !empty($imageCheck) && $imageCheck!==false): ?>
             <img src="<?= /* @noEscape */ $block->getViewFileUrl('images/Sprite-search-not-found.png') ?>" />
            <?php endif; ?>
     </div>
     <div class="no-route-text">
         <h4>
            <?= $block->escapeHtml(
                __('Something wrong here. The content you are looking is not found, sorry please try again.')
            ) ?>
         </h4>
     </div>
 </div>
