<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $helper = $block->helper();
    $rmaDetails = $helper->getRmaDetails();
    $orderRef = $rmaDetails->getOrderRef();
    $orderId = $rmaDetails->getOrderId();
    $order = $helper->getOrder($orderId);
    $rmaId = $rmaDetails->getId();
    $images = $helper->getImages($rmaId);
    $date = $rmaDetails->getCreatedDate();
    $conversations = $block->getAllConversations();
    $date = $block->formatDate($date, \IntlDateFormatter::MEDIUM, true);
    $sellerName = $helper->getCustomerName($rmaId, true);
    $customerName = $helper->getCustomerName($rmaId, false);
    $status = $rmaDetails->getStatus();
    $finalStatus = $rmaDetails->getFinalStatus();
    $resolutionType = $rmaDetails->getResolutionType();
    $rmaStatus = $helper->getRmaStatusTitle($status, $finalStatus);
    $sellerStatus = $helper->getSellerStatusTitle($rmaDetails->getSellerStatus());
    $orderStatus = $helper->getOrderStatusTitle($rmaDetails->getOrderStatus());
    $resolution = $helper->getResolutionTypeTitle($rmaDetails->getResolutionType());
    $productDetails = $helper->getRmaProductDetails($rmaId);
    $totalPrice = 0;
?>
<div class="wk-mprma-container wk-mprma-view">
<a href="<?= $block->escapeUrl($block->getUrl('mprmasystem/guest/allrma')); ?>" 
class="wk-date-info" ><?= $block->escapeHtml(__('Back')); ?></a>
    <div class="wk-title">
        <?= $block->escapeHtml(__("RMA Details")); ?>
        <span class="wk-date-info"><?= $block->escapeHtml($date);?></span>
    </div>
    <fieldset class="fieldset wk-mprma-fieldset">
        <div class="field">
            <label for="Ordrer Id" class="label">
                <span><?= $block->escapeHtml(__("Order Id")); ?></span>
            </label>
            <div class="control">
                <?= $block->escapeHtml($orderRef);?>
            </div>
        </div>
        <div class="field">
            <label for="Status" class="label">
                <span><?= $block->escapeHtml(__("Status")); ?></span>
            </label>
            <div class="control">
                <div class="wk-row">
                    <span><?= $block->escapeHtml(__("RMA Status")); ?> :</span> 
                            <?= $block->escapeHtml($rmaStatus); ?>
                </div>
                <?php if ($rmaDetails->getOrderStatus() != Webkul\MpRmaSystem\Helper\Data::ORDER_NOT_APPLICABLE):?>
                    <div class="wk-row">
                        <span><?= $block->escapeHtml(__("Order Status")); ?> :</span> 
                                <?= $block->escapeHtml($orderStatus);?>
                        </div>
                <?php endif; ?>
                <?php if ($rmaDetails->getOrderStatus() == Webkul\MpRmaSystem\Helper\Data::ORDER_DELIVERED):?>
                    <div class="wk-row"><span><?= $block->escapeHtml(__("Consignment Number")); ?> :</span> 
                        <?= $block->escapeHtml($rmaDetails->getNumber());?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <div class="field">
            <label for="Resolution Type" class="label">
                <span><?= $block->escapeHtml(__("Resolution Type")); ?></span>
            </label>
            <div class="control">
                <?= $block->escapeHtml($resolution);?>
            </div>
        </div>
        <div class="field">
            <label for="Additional Information" class="label">
                <span><?= $block->escapeHtml(__("Additional Information")); ?></span>
            </label>
            <div class="control">
                <?= $block->escapeHtml($rmaDetails->getAdditionalInfo());?>
            </div>
        </div>
        <?php if ($resolutionType == \Webkul\MpRmaSystem\Helper\Data::RESOLUTION_REFUND): ?>
            <div class="field wk-refund-block wk-display-none">
                <label for="Refund Details" class="label">
                    <span><?= $block->escapeHtml(__("Refund Details")); ?></span>
                </label>
                <div class="control">
                    <div class="wk-row">
                        <span><?= $block->escapeHtml(__("Refundable Amount")); ?> :</span>
                        <span class="wk-refundable-amount"></span>
                    </div>
                    <?php if ($rmaDetails->getRefundedAmount() > 0): ?>
                        <div class="wk-row">
                            <span><?= $block->escapeHtml(__("Refunded Amount")); ?> :</span>
                            <span class="wk-refunded-amount">
                                <?= /* @noEscape */ $order->formatPrice($rmaDetails->getRefundedAmount()); ?>
                            </span>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php if (count($images) > 0): ?>
            <div class="field wk-lg">
                <label for="Images" class="label">
                    <span><?= $block->escapeHtml(__("Images")); ?></span>
                </label>
                <div class="control">
                    <div id="preview">
                        <?php foreach ($images as $image): ?>
                            <div class="wk-showcase-block">
                                <img src="<?= $block->escapeHtml($image);?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    </fieldset>

    <div class="wk-title wk-close-title">
        <?= $block->escapeHtml(__("Close RMA")); ?>
    </div>
    <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
        <div class="field">
            <?php if ($finalStatus == 0 || $finalStatus == 3): ?>
                <form method="post" action="<?= $block->escapeHtml($block->getUrl('mprmasystem/rma/close')); ?>" 
                    id="wk_rma_close_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
                    <input type="hidden" value="<?= $block->escapeHtml($rmaId); ?>" name="rma_id">
                    <input type="hidden" value="1" name="is_guest">
                    <div class="control">
                        <div class="wk-action-content">
                            <input data-validate="{required:true}" class="input-text required-entry" 
                                type="checkbox" name="close_rma" value="1">
                            <span><?= $block->escapeHtml(__("Please Agree To Mark it as solved.")); ?></span>
                        </div>
                        <div class="wk-action-btn">
                            <button title="Save" class="action save primary wk-save" type="submit">
                                <span><?= $block->escapeHtml(__("Save")); ?></span>
                            </button>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <?= $block->escapeHtml($helper->getCloseRmaLabel($finalStatus, $sellerName)); ?>
            <?php endif; ?>
        </div>
    </fieldset>
</div>
<div class="wk-mprma-container wk-mprma-view">
    <div class="wk-title">
        <?= $block->escapeHtml(__("Item(s) Requested for RMA")); ?>
    </div>
    <div class="wk-table-wrapper">
        <table id="mprma-items-table" class="data table">
            <thead>
                <tr>
                    <th class="col" scope="col"><?= $block->escapeHtml(__("Product Name")); ?></th>
                    <th class="col" scope="col"><?= $block->escapeHtml(__("Sku")); ?></th>
                    <th class="col" scope="col"><?= $block->escapeHtml(__("Price")); ?></th>
                    <th class="col" scope="col"><?= $block->escapeHtml(__("Qty")); ?></th>
                    <th class="col" scope="col"><?= $block->escapeHtml(__("Reason")); ?></th>
                </tr>
            </thead>
            <?php foreach ($productDetails as $product): ?>
                <?php
                    $totalPrice += $helper->getItemFinalPrice($product);
                ?>
                <tbody>
                    <tr>
                        <td class="col">
                            <?= $block->escapeHtml($product->getName()); ?>
                            <?= /* @noEscape */ $helper->getOptionsHtml($product); ?>
                        </td>
                        <td class="col"><?= $block->escapeHtml($product->getSku()); ?></td>
                        <td class="col"><?= /* @noEscape */ $order->formatPrice($product->getData("price")); ?></td>
                        <td class="col"><?= $block->escapeHtml($product->getQty()); ?></td>
                        <td class="col"><?= $block->escapeHtml($helper->getReasonById($product->getReasonId()));?></td>
                    </tr>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>
</div>
<?php if ($conversations->getSize()):?>
    <div class="wk-mprma-container wk-mprma-view">
        <div class="wk-title">
            <?= $block->escapeHtml(__("Conversations")); ?>
        </div>
        <?php foreach ($conversations as $conversation): ?>
            <?php
                $date = $conversation->getCreatedTime();
                $date = $block->formatDate($date, \IntlDateFormatter::MEDIUM, true);
                $type = $conversation->getSenderType();
            if ($type == 1) {
                $text = __("Seller")." : ".$sellerName;
                $class = "wk-mprma-seller-section";
            } elseif ($type == 2) {
                $text = __("Customer")." : ".$customerName;
                $class = "wk-mprma-customer-section";
            } elseif ($type == 3) {
                $text = __("Guest");
                $class = "wk-mprma-customer-section";
            } else {
                $text = __("Administrator");
                $class = "wk-mprma-admin-section";
            }
            ?>
            <div class="wk-mprma-conversation">
                <div class="wk-mprma-conversation-head <?= $block->escapeHtml($class); ?>">
                    <div class="wk-mprma-conversation-head-left">
                        <?= $block->escapeHtml($date); ?>
                    </div>
                    <div class="wk-mprma-conversation-head-right">
                        <?= $block->escapeHtml($text); ?>
                    </div>
                </div>
                <div class="wk-mprma-conversation-body">
                    <?= $block->escapeHtml($block->escapeHtml($conversation->getMessage())); ?>
                </div>
            </div>
        <?php endforeach; ?>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </div>
<?php endif ?>
<div class="wk-mprma-container wk-mprma-view">
    <div class="wk-title">
        <?= $block->escapeHtml(__("Send Message")); ?>
    </div>
    <form method="post" action="<?= $block->escapeUrl($block->getUrl('mprmasystem/rma/conversation')); ?>" 
        id="wk_rma_conversation_form" data-mage-init='{"validation":{}}'>
        <input type="hidden" value="3" name="sender_type">
        <input type="hidden" value="<?= $block->escapeHtml($rmaId); ?>" name="rma_id">
        <input type="hidden" value="1" name="is_guest">
        <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
            <div class="field required">
                <label for="Enter Message" class="label">
                    <span><?= $block->escapeHtml(__("Enter Message")); ?></span>
                </label>
                <div class="control">
                    <textarea name="message" data-validate="{required:true}" 
                        class="wk-rma-msg input-text required-entry validate-no-html-tags">
                    </textarea>
                </div>
                <div class="wk-action-btn">
                    <button title="Save" class="action save primary wk-send-guest" type="submit">
                        <span><?= $block->escapeHtml(__("Send Message")); ?></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<?php
    $data = $helper->jsonEncodeData([
                "totalPrice" => $totalPrice,
                "totalPriceWithCurrency" => $order->formatPrice($totalPrice),
                "errorMsg" => __("Partial amount can not be more then %1", $order->formatPrice($totalPrice)),
                "warningLable" => __("Warning")
            ]);
    ?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/rma": <?= /* @noEscape */ $data ?>
        }
    }
</script>