<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Mpxtremo\Block\Homepage */

$sellerData = $block->getSellerShopUrl();
$xtremoHelper = $block->getXtremoHelper();
$messageString = __('Register as Shop and increase your business 10x.');
?>
<?php if ($xtremoHelper->isModuleEnabled('Webkul_Marketplace')
         && $xtremoHelper->isOutputEnabled('Webkul_Marketplace')): ?>
    <?php $bannerImageUrl = $block->getViewFileUrl('Webkul_Marketplace::images/mp-banner.png'); ?>
    <div class="xtremo-marketplace-block" style="background-image:url(<?= /* @noEscape */ $bannerImageUrl ?>)">
        <div class="mp-banner">
            <div class="mp-main-heading">
                <h1><?= $block->escapeHtml(__('Sell With Us')) ?></h1>
            </div>
            <div class="mp-content">
                <p><?= $block->escapeHtml($messageString) ?></p>
            </div>
            <div class="mp-open-shop">
                <a href="<?= $block->escapeHtml($sellerData['url']) ?>" class="action primary open-shop">
                    <span><span><?= $block->escapeHtml($sellerData['label']); ?></span></span>
                </a>
            </div>
        </div>
    </div>
<?php endif; ?>
