<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
?>
<div class="no-route-wrapper">
    <div class="no-route-icon">
        <?php $imageCheck = getimagesize($block->getViewFileUrl('images/sprite-404.png'));
        if ($imageCheck && !empty($imageCheck) && $imageCheck!==false): ?>
            <img src="<?= /* @noEscape */ $block->getViewFileUrl('images/sprite-404.png') ?>" />
        <?php endif; ?>
    </div>
    <div class="no-route-text">
        <h4><?= $block->escapeHtml(__('Sorry, the page you are looking for is not found')) ?></h4>
    </div>
    <div class="back-home">
        <a href="<?= /* @noEscape */ $block->getBaseUrl() ?>" class="action primary">
            <span>
                <span>
                    <?= $block->escapeHtml(__('back to home page')) ?>
                </span>
            </span>
        </a>
    </div>
</div>
