<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */
    $id = $block->getRequest()->getParam('region_id');
    $url = "*/*/edit";
?>
<div class="row">
    <button id="frontend-back" type="button" class="action- scalable back"
            title="<?= /* @noEscape */  __('Back') ?>" 
            onclick='location.href = "<?= $block->escapeUrl($block->getUrl('*/*/index')) ?>"'>
        <span><span><?= /* @noEscape */  __('Back') ?></span></span>
    </button>
    <button onclick='location.href = "<?= $block->escapeUrl($block->getUrl($url, ['id'=>$id]))?>"'>
        <?= /*@noEscape*/ __("Edit Region") ?>
    </button>
</div>
<script>
    window.FORM_KEY = "<?= $block->escapeHtml($block->getFormKey()) ?>";
</script>