<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 */

$helper = $block->getHelper();
?>
<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table"
    summary="<?= $block->escapeHtml(__('Items Ordered')) ?>">
        <caption class="table-caption"><?= $block->escapeHtml(__('Items Ordered')) ?></caption>
        <thead>
            <?php if ($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="5" data-block="order-items-pager-top" 
                        class="order-pager-wrapper order-pager-wrapper-top">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <tr>
                <th class="col name"><?= $block->escapeHtml(__('Product Name')) ?></th>
                <th class="col sku"><?= $block->escapeHtml(__('SKU')) ?></th>
                <th class="col price"><?= $block->escapeHtml(__('Price')) ?></th>
                <th class="col qty"><?= $block->escapeHtml(__('Qty')) ?></th>
                <th class="col subtotal"><?= $block->escapeHtml(__('Subtotal')) ?></th>
            </tr>
        </thead>
        <?php $items = $block->getItems();?>
        <?php $giftMessage = ''?>
        <tbody>
        <?php foreach ($items as $item):?>
            <?php
            if ($item->getParentItem()):
                continue;
            endif;
            ?>
                <?= $block->getItemHtml($item) ?>
                <?php if ($helper->getGiftMessageHelper()->isMessagesAllowed('order_item', $item)
                            && $item->getGiftMessageId()): ?>
                    <?php $giftMessage = $helper->getGiftMessageHelper()->getGiftMessageForEntity($item); ?>
                    <tr>
                        <td class="col options" colspan="5">
                            <a href="#"
                               id="order-item-gift-message-link-<?= (int) $item->getId() ?>"
                               class="action show"
                               aria-controls="order-item-gift-message-<?= (int) $item->getId() ?>"
                               data-item-id="<?= (int) $item->getId() ?>">
                                <?= $block->escapeHtml(__('Gift Message')) ?>
                            </a>
                            <?php $giftMessage = $helper->getGiftMessageHelper()->getGiftMessageForEntity($item); ?>
                            <div class="order-gift-message" id="order-item-gift-message-<?= (int) $item->getId() ?>"
                                role="region" aria-expanded="false" tabindex="-1">
                                <a href="#"
                                   title="<?= $block->escapeHtml(__('Close')) ?>"
                                   aria-controls="order-item-gift-message-<?= (int) $item->getId() ?>"
                                   data-item-id="<?= (int) $item->getId() ?>"
                                   class="action close">
                                    <?= $block->escapeHtml(__('Close')) ?>
                                </a>
                                <dl class="item-options">
                                    <dt class="item-sender"><strong class="label">
                                        <?= $block->escapeHtml(__('From')) ?>
                                    </strong><?= $block->escapeHtml($giftMessage->getSender()) ?></dt>
                                    <dt class="item-recipient"><strong class="label">
                                        <?= $block->escapeHtml(__('To')) ?></strong>
                                        <?= $block->escapeHtml($giftMessage->getRecipient()) ?>
                                    </dt>
                                    <dd class="item-message">
                                    <?= /* @noEscape */ $helper->getGiftMessageHelper()->getEscapedGiftMessage($item) ?>
                                    </dd>
                                </dl>
                            </div>
                        </td>
                    </tr>
                <?php endif ?>
                <?php if ($item->getAdditionalData()):?>
                    <tr>
                        <td>
                            <?= $block->escapeHtml($helper->getMpExpddData($item->getAdditionalData()));?>
                        </td>
                    </tr>
                <?php endif ?>
        <?php endforeach; ?>
        </tbody>
        <tfoot>
            <?php if ($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="5" data-block="order-items-pager-bottom" 
                    class="order-pager-wrapper order-pager-wrapper-bottom">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
</div>
<?php if ($giftMessage): ?>
<script type="text/x-magento-init">
    {
        "a.action.show, a.action.close": {
            "giftMessage": {}
        }
    }
</script>
<?php endif; ?>
