/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
@media only screen and (max-width: 767px) {
    .page-footer{
        .social.links{
            width: 100% !important;
            display: inline-block;
            float: none;
            clear: both;
            li.card_links a{
                display: inline-block;
            }
        }
    }
    .page-footer{
        .copyright{
            padding-left: 20px;
    	    padding-right: 20px;
        }
    }
}
