/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.footer{
	&.content{
		.block-title{
			margin-bottom: 24px;
			strong{
				.fontRobotoBold(@font_26_px, @text-color-strong);
			}
		}
		.footer.links{
			li{
				a{
					.fontRobotoMedium(@font_26_px, @color-white);
					&:hover{
						text-decoration: none;
					}
				}
				&.current{
					strong{
						.fontRobotoMedium(@font_26_px, @color-white);
					}
				}
			}
		}
		.switcher{
			.switcher-trigger{
				span{
					color: @color-white;
				}
			}
		}
	}
}

.page-footer{
	background-color: @footer-bg-color;
	.social.links{
		float: right !important;
    	width: 20% !important;
		@media only screen and (max-width: 1000px) {
			width: 30% !important;
		}
		.links{
			padding-right: 0;
		}
		.footer.links{
			display: inline-block;
    		width: 100%;
    		margin-bottom: 0;
		}
		ul.footer.links{
			width: auto;
		}
		.block-title{
			display: block;
    		width: auto;
		}
		li.social_links{
			float: left;
			margin-right: 5px;
			a{
				font-size: 0;
				display: inline-block;
				&:before{
					background-image: url(../images/Sprite-Social-Icons.png);
					content: "";
				    display: block;
				    height: 34px;
				    width: 34px;
				}
			}
			&.google_link a:before{
				.social-bg-position(-33px,1);
				background-position: @calculated-position 0;
			}
			&.facebook_link a:before{
				.social-bg-position(-33px,2);
				background-position: @calculated-position 0;
			}
			&.linkedin_link a:before{
				.social-bg-position(-33px,3);
				background-position: @calculated-position 0;
			}
			&.instagram_link a:before{
				.social-bg-position(-33px,4);
				background-position: @calculated-position 0;
			}
		}
		li.card_links{
			float: left;
			margin-right: 5px;
			display: inline-block;
			&:hover{
				opacity: 1;
			}
			a{
				font-size: 0;
				cursor: default;
				&:before{
					background-image: url(../images/Sprite-Credit-Card.png);
					content: "";
				    display: block;
				    height: 30px;
				    width: 44px;
				}
			}
			&.visa_link a:before{
				.social-bg-position(-43px,1);
				background-position: @calculated-position 0;
			}
			&.discover_link a:before{
				.social-bg-position(-43px,2);
				background-position: @calculated-position 0;
			}
			&.master_link a:before{
				.social-bg-position(-43px,3);
				background-position: @calculated-position 0;
			}
			&.maestro_link a:before{
				.social-bg-position(-43px,4);
				background-position: @calculated-position 0;
			}
		}
	}
}
@import '_responsive.less';
