/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

 @media (max-width: 767px) {
    body.xtremo-rtl {
        .actions-toolbar>.primary {
            float: right !important;
            width: 100% !important;
            .action {
                float: right !important;
            }
        }
        .actions-toolbar>.secondary {
            float: right !important;
            width: 100% !important;
            .action {

                float: right !important;
            }
        }
        .xtremo-authorization-link {
            float: left !important; 
            &:after {
                float: left !important;
                content: "\f104" !important;
            }
        }
        .nav-toggle {  
            position: unset !important;
            float: right !important;
            margin-left: 10px !important;
        }
        .block-search .label {
            right: unset !important;
            left: 30px !important;
            float: left !important;
        }
        .sections.nav-sections .header.links ul {
            padding-right: 0px !important;
        }
        &.catalog-product-view .product.info.detailed>.product.data.items>.data.title:after {
            right: unset !important;
            left: 20px !important;  
        }
        .product-item .price-box .price-label {
            float: right !important;
        }
        .block.block-search {
            margin-left: 0px !important;
        }
        .items-total span.shopping-cart.label {
            float: right !important; 
        }
        .minicart-wrapper .block-minicart {
            right: unset !important;
            left: -50px !important;   
            &:before, &:after {
                right: unset !important;
                left: 67px !important;
            }
        }
        &.checkout-cart-index #shopping-cart-table
        {
            &>caption {
                text-align: right !important;
            }
            & .item-actions .action.action-delete {
                right: unset !important;
                left: 5px !important;
            }
        }
        .cart.table-wrapper {
            .col.qty, .col.price, .col.subtotal {
                float: right !important;
            }
        }
        &.checkout-cart-index .cart-summary .block.shipping>.title {
            padding-right: unset !important;
        }
        &.checkout-cart-index .cart-summary .block>.title:after {
            right: unset !important;
            left: -5px !important;
        }
        &.checkout-cart-index .cart-summary .cart-totals th.mark {
            padding-right: 20px !important; 
            &:after {
                float: left !important;
            }
            span.label {
                float: right !important;
            }
        }
        .cart-summary .block .item-options {
            margin-right: 0px !important;
        }
        input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked)+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before, input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before, input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked)+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):after, input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):after {          
            left: unset !important;
            right: 0px !important;
        }
        #checkout .opc-estimated-wrapper .estimated-block {
            float: right !important;
        }
        .checkout-payment-method .checkout-billing-address .billing-address-details {
            padding: 0 23px 0 0 !important;
        }
        .field-tooltip .field-tooltip-content {
            right: auto !important;
            left: -5px !important;
            &:before, &:after {
                right: auto !important;
                left: 5px !important;
            }
        }
        .checkout-payment-method .payment-option {
            margin-top: 35px !important;
        }
        .sidebar .block-collapsible-nav .title:after {
            right: unset !important;
            left: 20px !important;
        }
        &.page-products .products-grid .product-item {
            width: 47% !important;
            &:nth-child(4n + 1) {
                margin-right: calc(2.356%) !important;
            }
        }
    
    }
}
.xtremo-rtl {
    .widget.block.block-static-block {
        @media (max-width: 1000px) {
            padding: 0px !important;
        }
    }
}