/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

 .xtremo-rtl {
    &.marketplace-seller-collection.page-layout-2columns-left {
        .column.main {
            margin-left: 5px;
        }
    }.additional-attributes-wrapper.table-wrapper {
        th.col.label{
            text-align: right !important;
        }
        td.col.label{
            text-align: left !important;
        }
    }.review-field-ratings .review-field-rating .label{
        padding-left: 10px;
    }
    &.catalog-product-view {
        .product-reviews-summary {
                .rating-result {
                float: right !important;
            }
        }
    }
    &.catalog-product-view{
        .product-info-main,.product.media,.bundle-options-wrapper,.block-bundle-summary{
            float: left ! important;
        }
    }.bundle-options-container .bundle-options-wrapper, .bundle-options-container .product-options-wrapper{
        float: left ! important;
    }.legend.review-legend{
        strong{
                float: right;
        }
    }&.catalog-product-view {
            .field.qty{
            float: none ! important;
            .label,.control{
                width: 100%;
                float: right !important;
                text-align: right !important;
            }
        }
    }
    #wantptr{
        .control {
            label {
                float: right ! important;
            }
        }
    }
    &.marketplace-seller-profile.page-layout-2columns-left {
        .rating-summary .rating-result {
            margin-right: 10px;
            width: 90px;
        }
    }
    &.page-layout-2columns-left .column.main
    {
        float: left ! important;
    }
    &.catalog-product-view .swatch-attribute-label,
    &.catalog-product-view .swatch-attribute-options.clearfix {
        float: right !important;
    }
    &.page-layout-2columns-left .sidebar-main {
        float: right !important;
    }
    &.page-layout-2columns-left .sidebar-additional {
        float: right !important;
        clear: right !important;
    }.swatch-input {
        right: -1000px !important;
    }
    &.page-products .products-grid .product-item {
        margin-right: calc((100% - 4 * 23.233%) / 3) !important;
        margin-left: auto ! important;
    }
    &.page-products .products-grid .product-item:nth-child(4n + 1) {
        margin-right: 0 !important;
    }
    .logo,
    .wk-cat-text,
    .page-header .header.panel .switcher.toplink.switcher-toplink .actions.dropdown.options.switcher-options::before,
    .xtremo.header .navigation,
    .xtremo.header .navigation li.level1,
    .xtremo.header .navigation .nav-menu-left,
    .page-main .xtremo-category-sidebar-main .navigation .nav-menu-left,
    .page-main .xtremo-category-sidebar-main .navigation li.level1,
    .page-main .xtremo-banner-cat .left-banner,
    .footer.content>div.links,
    .footer.content>div.links .links,
    .footer.content>div.links .widget.block,
    .opc-wrapper
    {
        float: right ! important;
    }
    input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked), input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked,
    .xtremo-checkbox:not(:checked), .xtremo-checkbox:checked{
        right: -9999px !important;
    }
    input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked)+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5), input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5) 
    {
        padding-right: 1.95em !important;
    }.wk_mp_design {
        margin-top: 0px;
    }
    .block-search,
    .page-header .header.panel .switcher.toplink.switcher-toplink,
    .minicart-wrapper,
    .xtremo-right-cms,
    .page-main .xtremo-banner-cat .right-banner,
    .opc-sidebar,
    .page-main .xtremo-category-sidebar-main .navigation .level0.parent>.level-top:after
    {
        float: left ! important;
    }.xtremo-marketplace-block .mp-banner .mp-open-shop .action.primary.open-shop{
        float: none !important;
    }
    .opc-sidebar {
        padding-left: auto ! important;
        padding-right: 30px ! important;
    }
    .fieldset>.field:not(.choice)>.label {
        text-align: right !important; 
    }.authentication-wrapper {
        text-align: left !important;
        float: left !important;
    }.field-tooltip {
        right: auto;
        left: 0 !important;
    }.opc-block-shipping-information .shipping-information-title .action-edit {
        right : auto !important;
    }
    .page-header .header.panel .switcher.toplink.switcher-toplink .actions.dropdown.options.switcher-options::before{
        margin-left: 8px;
    }
    .xtremo.header .navigation .switcher.category ul.dropdown {
        right : -2px !important;
        width: 300px;
    }.xtremo.header .navigation .level0.parent>.level-top:after {
        float: left !important;
    }
    .xtremo.header .navigation li.level1{
        // min-width: 170px !important;
    }.xtremo.header .navigation li.level1:not(.last){
        margin-left: 30px !important;
    }
        .toolbar-amount {
            float: left;
        }
    &.catalog-category-view .filter-options .main-cat-parent:nth-child(1):before{
        content: "\f105" !important;
        font-family: "FontAwesome";
        font-size: 1.625rem;
        float: right;
        margin-right: unset;
        margin-left: 5px;
    }.breadcrumbs .item:not(:last-child):after {
        content: "\f104" !important;
        font-family: "FontAwesome";
        font-size: 13px;
        font-weight: bold;
        line-height: 24px;
        margin: 0px 3px;
        color: #757575;
    }table th {
        text-align: right;
    }.block-compare .product-item .product-item-name{
        margin-right: 22px !important;
    }.form.form-edit-account input[type="checkbox"]:not(:checked), .form.form-newsletter-manage input[type="checkbox"]:not(:checked), .form.form-edit-account input[type="checkbox"]:checked, .form.form-newsletter-manage input[type="checkbox"]:checked{
        right: -9999px !important;
    }
    .xtremo.header .navigation .switcher.category ul.dropdown:before, .xtremo.header .navigation .switcher.category ul.dropdown:after {
        right: 25px !important;
    }.block-search .action.search, .wk-search .button{
        right: unset;
        left: 0px !important;
    }.block.block-search {
        margin-left: 13px !important;
    }.page-header .switcher .options ul.dropdown{
        left :0 !important;
        right: auto;
    }
    .page-header .switcher .options ul.dropdown:before,
    .page-header .switcher .options ul.dropdown:after {
        right: 123px !important;
    }.block-search input {
        padding-left : 60px !important;
        padding-right: 5px !important;
    }.page-header .header.panel .switcher.toplink.switcher-toplink ul.dropdown {
        left :30% !important;
        right: auto !important;
    }
    .xtremo-image-carousel {
        float: none !important;
    }.page-main .xtremo-category-sidebar-main {
        float: right !important;
        position: unset;
    }.block-static-block {
        .wk-cat-image {
            width: calc(100% - 470px);
        }
    }
    .page-main .xtremo-category-sidebar-main .navigation .nav-menu-right {
        float: none !important;
    }.page-main .xtremo-banner-cat .left-banner {
        padding-left: 30px !important;
    }.product-reviews-summary.short {
        .rating-summary{
            direction: ltr;
        }
    }
    .minicart-wrapper .block-minicart {
        right: -111px !important;
    }
    .minicart-wrapper .block-minicart:before,
    .minicart-wrapper .block-minicart:after {
        right: 111px !important;
    }.wk-mp-landing-sellers-logo,.swatch-option {
        float: right !important;
    }&.page-layout-2columns-left .sidebar-additional .block-title .counter:before,.price-box{
        float: right !important;
    }
    &.cms-home {
       .price-box{
            float: none !important;
        } 
    }.wk-mp-landing-sellers-details {
        text-align: right ! important;
    }


    .wk-mp-policy-block-data {
        overflow-x: scroll;
    }
    .wk-mp-policy-block-title:after {
        left: 0;
        right: inherit;
    }
    .wk-mp-rating-left {
        float: right;
    }
    .wk-mp-menu-wrapper {
        position: fixed;
    }
    .wk-mp-page-header-hgroup,
    .wk-mp-page-header-actions {
        float: right;
    }
    .wk-mp__action-dropdown-wrap,
    .wk-mp-page-wrapper {
        float: left;
    }
    ul.wk-mp__action-dropdown-menu {
        left: 0;
        right: inherit;
    }
    .wk-mp__action-dropdown-menu>li>a {
        padding-left: 0;
        padding-right: 3rem;
    }
    .wk-mp-dropdown-menu-buyer:before {
        right: .7rem;
        left: inherit;
    }
    .wk-mp-dropdown-menu-logout:before {
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
    .wk-mp-menu-wrapper:before {
        right: 0;
        left: inherit;
    }
    .wk-mp-menu .level-0>.wk-mp-submenu {
        right: 100%;
        left: inherit;
        transform: translateX(100%);
    }
    .wk-mp-menu .action-close,
    .wk-mp-dashboard-chart-dropdown {
        left: 0;
        right: inherit;
    }
    .wk-mp-menu .level-0>.wk-mp-submenu {
        transform: translateX(0);
    }
    .wk-mp-float-left,
    .wk-mp-dashboard-total-left,
    .wk-foldersign,
    .wk-cat-name,
    .wk-plus,
    .wk-minus,
    .wk-no,
    .wk-plusend,
    .wk-minusend,
    .wk-mp-tr-amount-total,
    .wk-mp-tr-amount-total-title,
    .wk-mp-tr-remain-title {
        float: right;
    }
    .wk-mp-float-right,
    .wk-mp-dashboard-total-right,
    .wk-mp-tr-amount-total-desc,
    .wk-mp-tr-remain-btn {
        float: left;
    }
    .wk-mp-notification-time {
        padding-right: 2rem;
        padding-left: 0;
    }
    .wk-no,
    .wk-plus,
    .wk-plusend {
        width: 18px;
        height: 14px;
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
    .wk-node-loader {
        right: 15px;
        left: inherit;
    }
    .wk-mp-dashboard-total-left {
        border-left: 1px solid #eae9e9;
        border-right: none;
    }
    @media all and (min-width: 766px), print {
        .wk-mp-tr-amount-total,
        .wk-mp-tr-payout-total {
            border-left: 1px solid #eae9e9;
            border-right: none;
        }
    }
    .wk-mp-tr-amount-total-desc,
    .wk-mp-tr-amount-total-desc .wk-mp-tr-amount-style,
    .wk-mp-tr-last-style {
        text-align: left;
    }
    .wk-mp-fixed {
        left: 0;
        right: inherit;
    }
}


body.xtremo-rtl {
    .profileimage-set .wk-profileimagedelete {
        right: unset;
        left: 0px;
    }
    &.page-layout-2columns-left {
        .logoimage-set .wk-logoimagedelete {
            left: unset;
            right: 110px;
        }
    }
    &.page-layout-seller-2columns-left {
        .logoimage-set .wk-logoimagedelete {
            left: unset;
            right: 160px;
        }
    }
    .defaultSkin table.mceToolbar {
        margin-left: unset;
        float: right;
        margin-right: 3px;
    }
    .mce-container, .mce-container-body {
        text-align: right;
        direction: rtl;
    }
    .page-main .xtremo-category-sidebar-main .navigation .level0.parent>.level-top:after {
        background-image: unset;
        font-family: "Fontawesome";
        content: "\f104";
        margin-top: -23px;
    }
    .xtremo.header .navigation .level0.parent>.level-top:after {
        background-image: unset;
        font-family: "Fontawesome";
        content: "\f104";
        margin-top: -23px;
    }
    .price-box .special-price {
        clear: left;
        float: left !important;
        margin-left: unset !important;
        margin-right: 5px;
    }
    &.cms-home .xtremo-feature-carousel .product-reviews-summary .rating-summary {
        float: right;
        margin-right: 5px;
    }
    .password-strength-meter {
        &:before{
            left: unset;
            right: 0;
        }
        #password-strength-meter-label {
            float: left;
            margin-left: 40px;
        }
    }
    &.catalog-product-view {
        .magnifier-preview {
            left: 375px !important;
        }
        .product-info-main .disount-wrapper {
            float: right;
            margin-right: 20px;
        }
        button#product-addtocart-button {
            float: none !important;
        }
        .product-info-main .box-tocart .field.qty {
            padding-right: unset;
            padding-left: 15px;
            width: 115px;
        }
        .fotorama__wrap {
            direction: rtl;
        }
        &.fotorama__fullscreen {
            .fotorama__fullscreen-icon {
                right: unset !important;
                left: 92px;
            }
        }
        @media (min-width: 768px) {
            .product-info-main {
                float: left !important;
            }
            .product.media {
                float: right !important;
            }
            .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
                left: 0px !important;
                right: auto !important;
            }
            .fotorama__nav__shaft {
                text-align: right;
            }
            .fotorama__arr.fotorama__arr--next {
                display: none !important;
            }
        }
        .wk-seller-block>div:first-child>span {
            float: right;
            &.wk-block-title-css {
                margin: 0 0 0 5px;
            }
        }
        .wk-seller-card-details-content-block {
            padding-left: unset;
            padding-right: 15px;
            .wk-seller-shop-title {
                margin-right: unset;
                margin-left: 10px;
            }
        }
        .wk-seller-rating-number {
            padding-left: 17px;
            padding-right: 25px;
            &::before {
                left: unset;
                right: 8px;
            }
            &::after {
                right: unset;
                left: 5px;
            }
        }
        .wk-seller-location-link {
            padding-left: unset;
            padding-right: 15px;
            &::before {
                left: unset;
                right: 0;
            }
        }
        .wk-seller-card-product-container {
            float: left;
        }
    }
    .sidebar .block-wishlist {
        .product-items .product-item-info {
            padding-left: unset;
            padding-right: 16px;
            .product-item-photo {
                float: right !important;
            }
            .product-item-details {
                padding-left: 0px;
                padding-right: 10px;
            }
        }
        .actions-toolbar .primary {
            float: left !important;
            .action {
                margin: 0 5px 0 0 !important;
            }
        }
    }
    .sidebar {
        @media (min-width: 768px) {
            .block-compare, .block-reorder {
                .actions-toolbar .primary {
                    float: left !important;
                    .action {
                        margin: unset !important;
                    }
                }
                .actions-toolbar>.secondary .action {
                    margin: unset !important;
                }
            }
        }
    }
    &.catalog-category-view {
        @media (min-width: 768px) {
            .filter-actions {
                padding-left: unset;
                padding-right: 15px;
                .button.layer-filter-btn {
                    float: left;
                }
            }
            .filter-options .filter-options-title {
                padding: 10px 10px 0 40px;
                &:after {
                    right: unset;
                    left: 13px;
                }
            }
            .filter-options .count {
                float: left;
            }
        }
    }
    .wk-mp-menu .wk-mp-submenu li {
        text-align: right;
    }
    &.marketplace-account-editprofile {
        .page-title {
            &>h2 {
                float: right !important;
            }  
            button.wk-mp-btn {
                float: left !important;
            }
        }
        .wk-mp-page-title {
            button.wk-mp-btn {
                float: left;
            }
        }
        .logoimage-set .setimage {
            float: right;
        }
        .profileimage-set .setimage {
            float: right;
        }
    }
    .mpxtremo-profile-content{
        margin-right: 0% !important;
    }
    .wk_mp_design {
        margin-top: -20px !important;
        .wk-mp-aboutus-title {
            border-right: unset !important;
            border-left: 1px solid #ccc;
            float: right !important;
        }
    }
    .wk-mp-collection-seller-title-container {
        float: right !important;
        padding-left: unset !important;
        padding-right: 14%;
        .wk-mp-collection-logo {
            left: unset !important;
            right: 1%;
        }
    }
    .wk-mp-collection-header-right-wrapper {
        float: left !important;
        .wk-mp-collection-header-right {
            float: right !important;
            .wk-mp-collection-product-right {
                float: left !important;
                .wk-mp-collection-rating-count-container, .wk-mp-collection-order-count-container {
                    float: right !important;
                }
            }
        }
    }
    &.marketplace-seller-collection {
        padding: unset !important;
        .wk_mp_design {
            @media (min-width: 768px) {
                margin-top: -20px !important;
            }
            .wk-mp-collection-left {
                float: right;
                padding-right: unset;
                padding-left: 2%;
                .filter-options-title {
                    padding: 10px 10px 0 40px;
                    &:after {
                        right: unset;
                        left: 13px;
                    }
                }
                .filter-options-content {
                    span.count {
                        float: left;
                    }
                }      
            }
            .wk-mp-collection-right {
                .sorter, .modes {
                    float: left !important;
                }
                .toolbar-amount {
                    float: right !important;
                }
                .products.wrapper~.toolbar .limiter {
                    float: left;
                    label.label {
                        float: right;
                    }
                }
                .product-item .price-box {
                    float: none !important;
                }
            }
        }
    }
    &.marketplace-seller-profile {
        .page-products .product-item-info {
            height: 330px;
        }
    }
    .block-minicart .subtotal {
        text-align: right !important;
    }
    .minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container {
        float: right;
    }
    .minicart-items .product-item-pricing {
        @media (min-width: 768px) {
            float: right;
        }
    }
    .minicart-wrapper .product .actions {
        @media (min-width: 768px) {
            margin: 40px 8px 0 0px !important;
        }
    }
    .block-minicart .block-content>.actions>.primary {
        @media (min-width: 768px) {
            width: 224px;
        }  
    }
    #minicart-content-wrapper .items-total span.shopping-cart.label {
        @media (min-width: 768px) {
            float: right;
        }
    }
    &.checkout-cart-index {
        @media (min-width: 768px) {
            .cart-summary {
                float: left;
                .block.shipping>.title {
                    padding-right: unset;
                }
                dd.item-options {
                    margin-right: 0px;
                }
                .cart-totals {
                    th.mark {
                        padding: 0 30px 10px 0px;
                        span.label {
                            float: right;
                        }
                    }
                    td.amount {
                        padding: 0 0px 10px 30px;
                        text-align: left;
                    }
                }
                .checkout-methods-items .action.primary {
                    float: unset !important;
                }
            }
            .cart-summary .block>.title:after, .paypal-review-discount .block>.title:after {
                right: unset;
                left: -5px;
            }
            input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked)+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before, 
            input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):before, 
            input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):not(:checked)+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):after, 
            input[type="radio"]:not(.admin__control-radio):not(.wk_rma_order_selection):checked+label:not(.rating-1):not(.rating-2):not(.rating-3):not(.rating-4):not(.rating-5):after {          
                left: unset;
                right: 0px;
            }
            .form.form-cart {
                float: right;
                .cart.table-wrapper .item-actions .actions-toolbar {
                    text-align: right;
                }
                .cart.main.actions>.action.continue {
                    margin-right: unset;
                    margin-left: 10px;
                    padding-left: 20px;
                    padding-right: 5px;
                    float: right;
                    &:before {
                        content: '\e608' !important;
                    }
                }
                .product-item-details {
                    .wk-seller-block .wk-block-font-bold-up {
                        float: right !important;
                    }
                    .item-options dt {
                        margin: 0 0px 5px 10px !important;
                        clear: right !important;
                        float: right !important;
                    }
                    .item-options dd {
                        float: right !important;
                    }
                }
            }
        }
    }
    #checkout {
        @media (min-width: 768px) {
            .opc-progress-bar {
                float: right !important;
            }
            .opc-progress-bar-item>span:before, .opc-progress-bar-item>span:after {
                left: 10%;
            }
            .opc-sidebar {
                padding-left: unset !important;
                .opc-block-summary {
                    .items-in-cart>.title {
                        padding: 10px 0px 10px 40px;
                        strong {
                            padding-left: unset;
                            padding-right: 10px;
                        }
                        &:after {
                            right: unset;
                            left: 0px;
                        }
                    }
                    .minicart-items .product-item-details {
                        padding-left: unset;
                        padding-right: 88px;
                        .product-item-name-block {
                            padding-right: unset;
                            padding-left: 5px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    &.checkout-index-index {
        @media (min-width: 768px) {
            .checkout-shipping-method .actions-toolbar>.primary {
                float: left !important;
            }
            .form-discount .actions-toolbar>.primary {
                float: left !important;
                .action {
                    margin: unset !important;
                }
            }
            .field-tooltip .field-tooltip-content {
                left: unset;
                right: 30px;
                &:before, &:after {
                    left: unset;
                    right: -6px;
                    content: '\f0da';
                    font-family: 'Fontawesome';
                    border: unset;
                }
            }
            .opc-block-shipping-information .shipping-information-title .action-edit {
                right: unset !important;
                left: 0px;
            }
        }
        .action-select-shipping-item {
            float: right;
            &>span:before {
                float: right;
                margin-right: unset;
                margin-left: 15px;
            }
        }
        .payment-method-title>label {
            &:before {
                left: unset;
                right: 0;
            }
            &:after {
                left: unset;
                right: 0;
                margin-left: unset;
                margin-right: 5px;
            }
        }
    }
    @media print {
        .logo {
            float: none !important;
        }
    }
    &.sales-order-view, &.sales-order-invoice, &.sales-order-shipment, &.sales-order-creditmemo, &.sales-guest-view {
        @media (min-width: 768px) {
            .order-actions-toolbar .action {
                margin: 0 0px 0 20px !important;
                &.print {
                    float: left !important;
                }
            }
            .table-order-items tfoot th.mark {
                text-align: left;
            }
            .table-order-items .amount {
                text-align: left;
            }
            .column.main .block:not(.widget) .block-content .box:nth-child(odd) {
                clear: right !important;
                float: right !important;
            }
        }
    }
    .cart.table-wrapper .col, .order-items.table-wrapper .col  {
        &.price, &.qty, &.subtotal, &.msrp {
            text-align: left;
        }
    }
    &.sales-order-history {
        @media (min-width: 768px) {
            .orders-history {
                td.actions a.action {
                    float: right;
                    margin-left: 20px !important;
                }
            }
        }
    }
    &.account {
        @media (min-width: 768px) {
            .column.main>.page-title-wrapper .page-title {
                margin: unset !important;
            }
            .toolbar {
                .toolbar-amount {
                    float: right;
                }
                .limiter {
                    float: left;
                    .limiter-label {
                        float: right;
                    }
                }
            }
            .column.main .actions-toolbar>.secondary {
                float: left !important;
                a.action {
                    margin: unset !important;
                }
            }  
        }
    }
    &.account.page-layout-2columns-left .wk-mp-design input[type="checkbox"]:not(.wk-elements):not(#is-downloaodable):not(:checked), .account.page-layout-2columns-left .wk-mp-design input[type="checkbox"]:not(.wk-elements):not(#is-downloaodable):checked {
        left: unset;
        right: -9999px;
    }
    &.newsletter-manage-index, &.customer-account-edit {
        @media (min-width: 768px) {
            .form.form-newsletter-manage input[type="checkbox"]+label, .form.form-edit-account input[type="checkbox"]+label {
                padding-left: unset !important;
                padding-right: 1.65em !important;
                &:before, &:after {
                    left: unset;
                    right: 0px;
                }
            }
        }
    }
    &.wishlist-index-index {
        @media (min-width: 768px) {
            .form-wishlist-items {
                .wk-mp-page-title {
                    h2 {
                        float: right;
                    }
                    button {
                        float: left;
                    }
                }
                .actions-toolbar {
                    .primary {
                        text-align: left;
                    }
                    .secondary {
                        text-align: right;
                    }
                }
                .box-tocart .field.qty {
                    float: right;
                    padding-right: unset !important;
                    &>label {
                        float: right; 
                        padding: 6px 0px 0 15px;                    
                    }
                    &+.product-item-actions>.btn-remove {
                        float: right;
                    }
                }
                .products-grid .product-item {
                    margin-left: unset;
                    margin-right: calc((100% - 4*24.439%)/3);
                }
                .products-grid .product-item:nth-child(4n+1) {
                    margin-left: unset;
                    margin-right: 0;
                }
            }
        }
    }
    &.page-layout-seller-2columns-left .page-header .switcher {
        float: left !important;
    }
    &.marketplace-product-attribute-new {
        .legend .wk-mp-btn {
            float: left;
        }
    }
    &.marketplace-product_attribute-new {
        .legend .wk-mp-btn {
            float: left;
        }
    }
    &.account.page-layout-2columns-left .wk-mp-design .wk-btn-group {
        float: left;
    }
    &.account.page-layout-2columns-left .wk-mp-design .wk-mp-fieldset>legend>.button {
        float: left !important;
    }
    &.account.marketplace-product-productlist.page-layout-2columns-left {
        #mass-delete-butn {
            float: right !important;
        }
    }
    &.account.marketplace-transaction-history.page-layout-2columns-left {
        .wk-mp-tr-amount-total-title, .wk-mp-tr-remain-title {
            float: right !important;
        }
        .wk-mp-tr-amount-total-desc {
            float: left !important;
        }
    }
    &.account.marketplace-product-productlist.page-layout-2columns-left {
        input[type="checkbox"]+label {
            &:before, &:after {
                right: unset !important;
                left: 0px !important;
            }
        }
    }
    &.marketplace-order-history, &.marketplace-product-productlist ,&.marketplace-account-customer, 
    &.marketplace-transaction-history, &.marketplace-account-review {
        .admin__data-grid-header {
            .admin__data-grid-actions-wrap {
                float: left;
                .admin__action-dropdown {
                    padding-left: 30px !important;
                    padding-right: 15px !important;
                    &:before {
                        float: right;
                        margin-right: unset;
                        margin-left: 0.7rem;
                    }
                    &:after {
                        right: unset;
                        left: 1rem;
                    }
                }
                .admin__action-dropdown-menu {
                    right: auto;
                    left: 0;
                }
            }
            .data-grid-filters-actions-wrap {
                float: left;
                .action-default:before {
                    float: right;
                    margin-right: unset;
                    margin-left: 0.4rem;
                }
            }
            .row-gutter {
                .col-xs-2 {
                    float: right;
                }
                .col-xs-3 {
                    float: right;
                    .admin__control-support-text {
                        float: right;
                    }
                }
                .col-xs-9 {
                    .admin__data-grid-pager-wrap {
                        float: left;
                        .selectmenu {
                            float: right;
                            .selectmenu-toggle {
                                &:before {
                                    right: 48px;
                                }
                                &:after {
                                    right: 6.1rem;
                                }
                            }
                        }
                        .admin__control-support-text {
                            float: right;
                        }
                        .admin__data-grid-pager {
                            .action-previous {
                                float: right;
                                &:before {
                                    content: "\e62a";
                                }
                            }
                            .admin__control-text {
                                float: right;
                                margin-left: unset;
                                margin-right: 10px;
                            }
                            .action-next {
                                float: left;
                                &:before {
                                    content: "\e629";                 
                                }
                            }
                        }
                    }
                }
            }
            .selectmenu-item-action {
                padding: 10px 15px 10px 60px !important;
            }
        }
        .admin__data-grid-wrap {
            .action-multicheck-wrap .action-menu {
                left: auto;
            }
        }
    }
    &.marketplace-product-create {
        .wk-mp-design {
            .wk-mp-btn {
                float: left;
            }
        }
    }
    &.marketplace-product-add, &.marketplace-product-edit {
        .wk-mp-design {
            .wk-mp-btn {
                float: left;
            }
            .product-create-configuration {
                .product-create-configuration-info {
                    float: right;
                }
                .product-create-configuration-actions {
                    float: left;
                    .product-create-configuration-action {
                        float: left;
                        margin-left: unset;
                        margin-right: 1rem;
                    }
                }
            }
            .wk-category {
                .wk-plus, .wk-plusend, .wk-minus, .wk-minusend, .wk-foldersign, .wk-cat-name, .wk-no {
                    float: right !important;
                }
            }
            #status_enable + label {
                float: right;
            }
        }
    }
    &.page-products {
        @media (min-width: 768px) {
            .toolbar .limiter {
                float: left !important;
                label.label {
                    float: right;
                }
            }
            .toolbar-amount {
                float: right;
            }
            .toolbar-sorter {
                float: left;
            }
            .modes {
                float: left;
            }
        }
    }
    .pages {
        .action.previous:before {
            content: '\e608' !important;
        }
        .action.next:before {
            content: '\e617' !important;
        }
    }
    .product-item-details .price-final_price .price-label {
        float: right;
    }
    .table-wrapper.comparison {
        .action.print {
            margin: unset;
        }
        #product-comparison .table-caption {
            text-align: right;
        }
    }
    .page.messages .messages .message {
        padding-left: unset;
        padding-right: 40px;
        &>*:first-child:before {
            left: unset;
            right: 0;
        }
    }
    .block-search .xtremo-cat-search-wrapper .xtremo-cat-search {
        background-position: 10px 10px !important;
    }
    .xtremo-cat-search-wrapper {
        float: right !important;
    }
    .modes-mode:before {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .rating-summary .rating-result, .mpfeedback .ratingslider-box {
        direction: ltr !important;
        transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
    &.catalog-product-view .review-items .review-ratings .rating-summary .rating-result {
        direction: rtl !important;
        transform: unset;
    }
    &.cms-no-route {
        .no-route-wrapper .back-home a {
            float: none !important;
        }
    }

    &.marketplace-account-dashboard {
        .wk-mp-dashboard-review-container {
            .wk-feedback-details {
                float: right;
                .mpfeedback {
                    border-right: none;
                    border-left: 1px solid #ccc;
                    span.wk-ordertitle-label.wk-span {
                        float: right;
                    }
                    span.wk-ordertitle-label {
                        float: right;
                    }
                    .ratingslider-box {
                        float: right !important;
                        margin-left: unset;
                        margin-right: 3%;
                    }
                }
            }
            .wk-orderbox-details {
                float: right;
                span.wk-title-label {
                    float: right;
                }
                span.wk-label {
                    float: right;
                    margin-left: 10px;
                }
            }
        }
    }
    .notification-block {
        left: unset;
        right: 125px;
        .notifications-action {
            padding: 5px 0 5px 10px !important;
            .notification-count {
                margin-left: unset;
                margin-right: .3em;
                left: unset;
                right: 50%;
            }
        }
    }
    #wk-mp-ask-data {
        .modal-header {
            .modal-title {
                float: right;
            }
            .action-close.wk-close {
                right: unset;
                left: 0;
            }
        }
        .modal-footer {
            text-align: left;
        }
    }
    .block-search .action.search:before {
        float: right;
        margin-right: unset;
        margin-left: 5px;
    }
    &.sendfriend-product-send {
        @media (min-width: 768px) {
            .fieldset>.field:not(.choice)>.control {
                float: right;
            }
            #product-sendtofriend-form>.actions-toolbar .secondary {
                float: left !important ;
            }
        }
    }
    .footer.content .block.newsletter {
        @media (min-width: 768px) {
            float: left;
        }
        .field {
            margin-right: unset;
            margin-left: 5px;
        }
        input {
            padding-left: 9px;
            padding-right: 35px;
        }
    }
}
