/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

/**
 * Magento_Theme
 */
 .xtremo-rtl{
    .primary, .secondary{
            float : right !important;
        .action{
            margin: 0 0 0 15px !important;
        }       
    }
}
.xtremo.header {
    .navigation {
        float: left;
    }
}
.footer.content {
    .links {
        padding-left: 50px !important;
        padding-right: 0 !important;
    }
    & > div.links {
        padding-left: 0 !important;
    }
}
.page-footer {
    .social.links {
        ul.footer.links {
            float: right;
        }
        .footer.links {
            padding-left: 0 !important;
        }
    }
}
.page-main {
    .homepage-content-top-wrapper {
        direction: ltr;
    }
    .xtremo-category-sidebar-main{
        text-align: right;
    }
    .xtremo-feature-carousel {
        .owl-carousel.owl-theme.product-item-info{
            direction: ltr;
        }
    }
}
.block-search {
    .xtremo-cat-search-wrapper {
        & + input{
            padding-right: 100px;
        }
    }
}
@import '_rtl.less';
@import '_responsive.less';