<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$sellerId = $block->getProductSellerId()??0;
$productId = $block->getProductid();
$isEnable = $block->isEnable($sellerId);
$postalCode = $block->getPostalCode();
if ($isEnable) {
    $data = $block->helper->jsonEncode([
        "url" => $block->getUrl('mpexpecteddate/rules/validate'),
    ]);
    ?>
    <div class="blocks" data-productid="<?= $block->escapeHtml($productId);?>"
        data-sellerid="<?= $block->escapeHtml($sellerId);?>">
        <div>
            <strong id="wk-mpexpdd-delivery-detail-<?= $block->escapeHtml($productId)?>"></strong>
        </div>
        <form autocomplete="off">
            <input type="text" name="zipcode" 
                placeholder="<?= /*@noEscape*/ __('Enter Delivery Zipcode'); ?>" 
                class="wk-mpexpdd-zipform" title="zipcode"
                id="wk-mpexpdd-zipform-<?= $block->escapeHtml($productId)?>"
                data-seller-id="<?= $block->escapeHtml($sellerId); ?>"  
                autocomplete="off" maxlength="6" 
                value="<?= $block->escapeHtml($postalCode); ?>"/>
            <div id="wk-mpexpdd-check">
                <div class="loader" id="loader-<?= $block->escapeHtml($productId)?>"></div>
                <a href="javascript:void(0)" class="validateExpdd" 
                type="button" data-productid="<?= $block->escapeHtml($productId)?>" 
                data-sellerid="<?= $block->escapeHtml($sellerId);?>"
                id="validateExpdd-<?= $block->escapeHtml($productId)?>">
                    <?= /*@noEscape*/ __('Check'); ?>
                </a>
            </div>
            <div class="error-block" id="error-block-<?= $block->escapeHtml($productId)?>"></div>
        </form>
    </div>
<script type="text/x-magento-init">
{
    "body": {
    "cartItemView": <?= /* @noEscape */ $data ?>
    }
}
</script>
    <?php
}
?>