<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $catalogHelper \Magento\Catalog\Helper\Data */
$catalogHelper = $xtremoViewModel->getCatalogHelper();
?>
<ol class="items">
    <?php $params = $block->getRequest()->getParams(); ?>
    <?php foreach ($filterItems as $filterItem): ?>
        <?php $inputType="";
        $filterItem->getUrl();
        $requestVar = $filterItem->getFilter()->getRequestVar(); ?>
        <li class="item">
            <?php if ($filterItem->getFilter()->hasAttributeModel()) {
                $inputType = $filterItem->getFilter()->getAttributeModel()->getFrontendInput();
            } ?>
            <?php if ($requestVar == "cat"
                && $filterItem->getFilter()->getCurrentCat() == $filterItem->getValue()): ?>
                <?php $highLighted = "highlighted-filter"; ?>
            <?php else: ?>
                <?php $highLighted = ""; ?>
            <?php endif; ?>
            <?php if ($filterItem->getCount() > 0): ?>
                <?php if ($inputType && $inputType == "multiselect"): ?>
                    <input type="checkbox" name="<?= $block->escapeHtml($requestVar) ?>"
                           value="<?= $block->escapeHtml($filterItem->getValue()) ?>"
                           class="xt-filter-check xtremo-checkbox"
                           id="<?= $block->escapeHtml("xtremo-checkbox-id".$filterItem->getValue()) ?>"
                    <?php if (isset($params[$requestVar])
                            && in_array($filterItem->getValue(), explode(",", $params[$requestVar]))
                    ) { ?> checked="checked" <?php } ?> />
                    <label for="<?= $block->escapeHtml("xtremo-checkbox-id".$filterItem->getValue()) ?>"></label>
                <?php elseif ($inputType && $inputType == "select"): ?>
                    <input type="radio" name="<?= $block->escapeHtml($requestVar) ?>"
                           value="<?= $block->escapeHtml($filterItem->getValue()) ?>"
                           class="xt-filter-check"
                    <?php if (isset($params[$requestVar])
                            && in_array($filterItem->getValue(), explode(",", $params[$requestVar]))
                    ) { ?> checked="checked" <?php } ?> />
                <?php elseif ($inputType && $inputType == "price"): ?>
                    <?php $highLighted .= " filter-price"; ?>
                    <input type="checkbox" name="<?= $block->escapeHtml($requestVar) ?>"
                           value="<?= $block->escapeHtml(explode(",", $filterItem->getValue())[0]) ?>"
                           class="xt-filter-check xtremo-checkbox"
                           id="<?= $block->escapeHtml("xtremo-checkbox-id".$filterItem->getValue()) ?>"
                    <?php if (isset($params[$requestVar])
                            && in_array($params[$requestVar], explode(",", $filterItem->getValue()))
                    ) { ?> checked="checked" <?php } ?> />
                    <label for="<?= $block->escapeHtml("xtremo-checkbox-id".$filterItem->getValue()) ?>"></label>
                <?php endif; ?>
                <a href="<?= $block->escapeUrl($filterItem->getUrl()) ?>"
                   class="<?= $block->escapeHtml($highLighted) ?>">
                    <?= /* @noEscape */ $filterItem->getLabel() ?>
                    <?php if ($catalogHelper->shouldDisplayProductCountOnLayer()): ?>
                        <span class="count"><?= $block->escapeHtml($filterItem->getCount()) ?><span
                              class="filter-count-label">
                            <?php if ($filterItem->getCount() == 1):?> <?= $block->escapeHtml(__('item'))?>
                            <?php else:?> <?= $block->escapeHtml(__('items')) ?><?php endif;?></span></span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <?= $block->escapeHtml($filterItem->getLabel()) ?>
                <?php if ($catalogHelper->shouldDisplayProductCountOnLayer()): ?>
                    <span class="count"><?= $block->escapeHtml($filterItem->getCount()) ?><span
                          class="filter-count-label">
                        <?php if ($filterItem->getCount() == 1):?><?= $block->escapeHtml(__('item'))?>
                        <?php else:?><?= $block->escapeHtml(__('items')) ?><?php endif;?></span></span>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
