<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
/**
 * Category layered navigation state
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\State
 */
?>
<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)): ?>
<div class="filter-current">
    <strong class="block-subtitle filter-current-subtitle"
            role="heading"
            aria-level="2"
            data-role="title"
            data-count="<?= /* @noEscape */ count($_filters); ?>"><?= $block->escapeHtml(__('Refined by')) ?></strong>
    <ol class="items">
        <?php foreach ($_filters as $_filter): ?>
            <?php if (is_array($_filter->getLabel())): ?>
                <?php $label = implode(", ", $_filter->getLabel()); ?>
            <?php else: ?>
                <?php $label = $_filter->getLabel(); ?>
            <?php endif; ?>
                <li class="item">
                    <span class="filter-label"><?= $block->escapeHtml(__($_filter->getName())); ?></span>
                    <span class="filter-value"><?= /* @noEscape */ $block->stripTags($label) ?></span>
                    <?php
                    $clearLinkUrl = $_filter->getClearLinkUrl();
                    $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($label);
                    if ($clearLinkUrl):
                        ?>
                        <a class="action previous" href="<?= /* @noEscape */ $_filter->getRemoveUrl() ?>"
                           title="<?= $block->escapeHtml(__('Previous')) ?>">
                            <span><?= $block->escapeHtml(__('Previous')) ?></span>
                        </a>
                        <a class="action remove"
                           title="<?= $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>"
                           href="<?= /* @noEscape */ $clearLinkUrl ?>">
                            <span><?= $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></span>
                        </a>
                    <?php else: ?>
                        <a class="action remove" href="<?= /* @noEscape */ $_filter->getRemoveUrl() ?>"
                           title="<?= /* @noEscape */ $block->escapeHtml(__('Remove')) . " " . $currentFilterName;?>">
                            <span><?= $block->escapeHtml(__('Remove This Item')) ?></span>
                        </a>
                    <?php endif; ?>
                </li>
        <?php endforeach; ?>
    </ol>
    <?php if ($block->getLayer()->getState()->getFilters()): ?>
        <div class="block-actions filter-actions-clear">
            <a href="<?= /* @noEscape */ $block->getClearUrl() ?>" class="action clear filter-clear">
                <span><?= $block->escapeHtml(__('Clear All')) ?></span>
            </a>
        </div>
    <?php endif; ?>
</div>
<?php endif; ?>
