<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php
/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $jsonHelper \Magento\Framework\Json\Helper\Data */
$jsonHelper = $xtremoViewModel->getJsonHelper();
?>
<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block"
         data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false,
             "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <div class="block-title filter-title">
            <strong><?= $block->escapeHtml(__('Shop By')) ?></strong>
        </div>
        <div class="block-content filter-content">
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if (!$wrapOptions): ?>
                    <strong role="heading"
                        aria-level="2"
                        class="block-subtitle filter-subtitle">
                        <?= $block->escapeHtml(__('Shopping Options')) ?>
                    </strong>
                    <div class="filter-options"
                        id="narrow-by-list"
                        data-role="content"
                        data-mage-init='{"accordion":{"openedState": "active", "collapsible": true,
                             "active": false, "multipleCollapsible": false}}'>
                    <?php $wrapOptions = true; ?>
                <?php endif; ?>

                <?php if ($filter->getItemsCount()): ?>
                    <?php if ($filter->getRequestVar() == "cat"): ?>
                        <?php $categoryCount = count($filter->getAllParentCategories());
                        $i = 1; ?>
                        <?php foreach ($filter->getAllParentCategories() as $parentCategory => $catUrl): ?>
                            <?php if ($i < $categoryCount): ?>
                                <div class="main-cat-parent">
                                    <a href="<?= /* @noEscape */ $catUrl ?>">
                                        <?= $block->escapeHtml(__($parentCategory)) ?>
                                    </a>
                                </div>
                            <?php endif; ?>
                            <?php $i++; ?>
                        <?php endforeach; ?>
                        <?php if (isset($catUrl)): ?>
                            <div data-role="collapsible" class="filter-options-item">
                                <div data-role="title" class="filter-options-title main-cat-parent">
                                    <a href="<?= /* @noEscape */ $catUrl ?>">
                                        <?= $block->escapeHtml(__($parentCategory)) ?>
                                    </a>
                                </div>
                                <div class="filter-options-content" data-role="content">
                                    <?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter); ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div data-role="collapsible" class="filter-options-item">
                            <div data-role="title" class="filter-options-title">
                                <?= $block->escapeHtml(__($filter->getName())) ?>
                            </div>
                            <div class="filter-options-content" data-role="content">
                                <?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter); ?>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php endif; ?>
            <div class="block-actions filter-actions">
                <?php if ($block->getLayer()->getState()->getFilters()): ?>
                    <a href="<?= /* @noEscape */ $block->getClearUrl() ?>" class="action clear filter-clear">
                        <span><?= $block->escapeHtml(__('Clear All')) ?></span>
                    </a>
                <?php endif; ?>
                <a href="<?= /* @noEscape */ $block->getClearUrl() ?>" class="button layer-filter-btn"
                   title="<?= $block->escapeHtml(__('Submit')) ?>" id="layer-filter">
                    <button class="button" title="<?= $block->escapeHtml(__('Filter')) ?>" id="layer-filter">
                        <span><span><?= $block->escapeHtml(__('Filter')) ?></span></span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <?php
        $formData = [
            'category_url' => $block->getClearUrl()
        ];
        $serializedFormData = $jsonHelper->jsonEncode($formData);
        ?>

    <script type="text/x-magento-init">
        {
            "*": {
                "customlayer": <?= /* @noEscape */ $serializedFormData; ?>
            }
        }
    </script>
<?php endif; ?>
