<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Xtremo
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
?>

<?php
/** @var $block \Magento\Framework\View\Element\Template */

/** @var $xtremoViewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $helper \Magento\Search\Helper\Data */
$helper = $xtremoViewModel->getSearchHelper();

/** @var $wkHelper \Webkul\Xtremo\Helper\Data */
$wkHelper = $xtremoViewModel->getXtremoHelper();
?>
<div class="block block-search">
    <div class="block block-title">
      <strong><?= $block->escapeHtml(__('Search')) ?></strong>
    </div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form"
              action="<?= /* @noEscape */ $helper->getResultUrl() ?>"
              method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?= $block->escapeHtml(__('Search')) ?></span>
                </label>
                <div class="control">
                <?php if ($wkHelper->getHeaderSearchCategoryIsEnableConfig() && $wkHelper->isXtremoEnabled()): ?>
                    <?= /* @noEscape */ $wkHelper->getCategorySearchListToHtml(); ?>
                <?php endif; ?>
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= /* @noEscape */ $block->getUrl(
                                    'search/ajax/suggest',
                                    ['_secure' => $block->getRequest()->isSecure()]
                                ) ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?= $block->escapeHtml($helper->getQueryParamName()) ?>"
                           value="<?= /* @noEscape */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= $block->escapeHtml(__('Search entire store here...')) ?>"
                           class="input-text"
                           maxlength="<?= $block->escapeHtml($helper->getMaxQueryLength()) ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?= /* @noEscape */ $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?= $block->escapeHtml(__('Search')) ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
