<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
?>

<?php
/** @var $viewModel \Webkul\Xtremo\ViewModel\Xtremo */
$xtremoViewModel = $block->getXtremoViewModel();
if ($xtremoViewModel === null) {
    $xtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Xtremo\Block\GetViewModel::class
    )->getXtremoViewModel();
}

/** @var $_helper \Magento\Catalog\Helper\Output */
$_helper = $xtremoViewModel->getCatalogOutputHelper();

/** @var $compareHelper \Magento\Catalog\Helper\Product\Compare */
$compareHelper = $xtremoViewModel->getProductCompareHelper();
?>
<?php $_total = $block->getItems()->getSize() ?>
<?php if ($_total): ?>
    <div class="table-wrapper comparison">
        <a href="#" class="action print" title="<?= $block->escapeHtml(__('Print This Page')) ?>">
            <span><?= $block->escapeHtml(__('Print This Page')) ?></span>
        </a>
        <table class="data table table-comparison" id="product-comparison"
            data-mage-init='{"compareList":{
                "windowPrintSelector":".action.print",
                "productsInRow":"5",
                "selectors":{
                    "productAddToCartSelector":"button.action.tocart"}
            }}'>
            <caption class="table-caption"><?= $block->escapeHtml(__('Product Compare')) ?></caption>
            <thead>
                <tr>
                    <th class="cell label" scope="row">
                        <span class="attribute label"><?= $block->escapeHtml(__("Product")) ?></span>
                    </th>
                    <?php foreach ($block->getAttributes() as $_attribute): ?>
                        <th scope="row" class="cell label">
                            <span class="attribute label">
                                <?= $block->escapeHtml($_attribute->getStoreLabel()
                                 ? $_attribute->getStoreLabel()
                                 : __($_attribute->getFrontendLabel())) ?>
                            </span>
                        </th>
                    <?php endforeach; ?>
                    <th scope="row" class="cell label remove">
                        <span></span>
                    </th>
                </tr>
            </thead>
            <tbody>
            <?php $_i = 0; ?>
            <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($block->getItems() as $_item): ?>
            <tr>
                <td data-th="<?= $block->escapeHtml(__('Product')); ?>" class="cell product info">
                    <a class="product-item-photo"
                       href="<?= /* @noEscape */ $block->getProductUrl($_item) ?>"
                       title="<?= /* @noEscape */ $block->stripTags($_item->getName(), null, true) ?>">
                        <?= /* @noEscape */ $block->getImage($_item, 'product_comparison_list')->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details">
                        <strong class="product-item-name">
                            <a href="<?= /* @noEscape */ $block->getProductUrl($_item) ?>"
                               title="<?= /* @noEscape */ $block->stripTags($_item->getName(), null, true) ?>">
                                <?= /* @noEscape */  $_helper->productAttribute($_item, $_item->getName(), 'name') ?>
                            </a>
                        </strong>
                        <?= /* @noEscape */ $block->getReviewsSummaryHtml($_item, 'short') ?>
                        <?= /* @noEscape */ $block->getProductPrice($_item, '-compare-list-top') ?>
                    </div>
                </td>
                <?php foreach ($block->getAttributes() as $_attribute): ?>
                    <td class="cell product attribute">
                        <div class="attribute value">
                            <?php switch ($_attribute->getAttributeCode()) {
                                case "price":
                                    ?>
                                    <?=
                                        /* @noEscape */ $block->getProductPrice(
                                            $_item,
                                            '-compare-list-' . $_attribute->getCode()
                                        )
                                    ?>
                                    <?php
                                          break;
                                case "small_image":
                                    ?>
                                    <?php $block->getImage($_item, 'product_small_image')->toHtml(); ?>
                                    <?php
                                          break;
                                default:
                                    if ($_item->hasData($_attribute->getAttributeCode())) {
                                        /* @noEscape */ echo $_helper->productAttribute(
                                            $_item,
                                            $block->getProductAttributeValue(
                                                $_item,
                                                $_attribute
                                            ),
                                            $_attribute->getAttributeCode()
                                        );
                                    } else {
                                        /* @noEscape */ echo $block->getProductAttributeValue(
                                            $_item,
                                            $_attribute
                                        );
                                    }
                                          break;
                            }
                            ?>
                        </div>
                    </td>
                <?php endforeach; ?>
                <td class="cell remove product">
                    <a href="#" data-post='<?= /* @noEscape */ $compareHelper->getPostDataRemove($_item); ?>'
                       class="action delete" title="<?= $block->escapeHtml(__('Remove Product')) ?>">
                        <span><?= $block->escapeHtml(__('Remove Product')) ?></span>
                    </a>
                </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form]": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('You have no items to compare.')) ?></div></div>
<?php endif; ?>
