<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpEasyPost
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helperBlock = $block->getLayout()->createBlock(\Webkul\MpEasyPost\Block\EasyPostData::class);
$_helper = $helperBlock->getMarketplaceHelper();
$helper = $helperBlock->getHelper();
    $isPartner= $_helper->isSeller();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
if ($isPartner && $helper->getConfigData('active') && $helper->getConfigData('allow_seller')) { ?>
    <?php if (($isSellerGroup && $_helper->isAllowedAction('easypost/shipping/view')) || !$isSellerGroup) { ?>
        <li class="level-2">
            <a href="<?=$block->escapeUrl($block->getUrl(
                'easypost/shipping/view',
                ['_secure' => $block->getRequest()->isSecure()]
            )); ?>">
                <span><?=$block->escapeHtml(__('EasyPost Shipping'))?></span>
            </a>
        </li>
    <?php } ?>
<?php }?>
