<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$currentHelper = $block->helperData();
$boostersCollection = $block->getActiveBoosterLists();
$banner_display = $currentHelper->getDisplayBanner();
$bannerImage = $currentHelper->getBannerImage('booster');
$bannerLabel = $currentHelper->getBannerLabel('booster');
$bannerLabelColor = $currentHelper->getConfigurationValue('mpsellergroup/booster/banner_label_color');
$bannerContentColor = $currentHelper->getConfigurationValue('mpsellergroup/booster/banner_content_color');
$bannerContent = $currentHelper->getBannerContent('booster');

$sellerBoosterCollection = $block->getSellerBoosterCollection();
$sellerBoosterIds = $sellerBoosterCollection->getColumnValues('booster_id');

?>
<div class="wk-sellergroup">
    <?php if ($banner_display) { ?>
        <div class="wk-mp-banner-container">
            <div class="wk-mp-banner" <?php if ($bannerImage) { ?> style="background-image: url("<?= /* @noEscape */
            $bannerImage ?>");" <?php } else { ?>style="background-color: #1979c3;" <?php }?>>
                <div class="wk-mp-header">
                    <h1 <?php if ($bannerLabelColor) { /* @noEscape */
                        echo 'style="color:'.$bannerLabelColor.'"'; } ?>>
                    <?= /* @noEscape */   $bannerLabel; ?></h1>
                    <h2 <?php if ($bannerContentColor) { /* @noEscape */
                        echo 'style="color:'.$bannerContentColor.'"'; } ?>>
                        <?= /* @noEscape */   $bannerContent; ?>
                    </h2>
                </div>
            </div>
        </div>
    <?php } ?>
    <?php $iterator = 1; ?>
    <ol class="">
        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php foreach ($boostersCollection as $booster): ?>
            <?php
                $boosterData = $booster->getData();
                $_product = $block->getProductById($boosterData['product_id']);
                $boosterColor = $boosterData['booster_color'];
                preg_match_all('/#([a-f]|[A-F]|[0-9]){3}(([a-f]|[A-F]|[0-9]){3})?\b/', $boosterColor, $matches);
            if (!count($matches[0])) {
                $boosterColor = '#1979c3';
            }
            ?>
            <?= /* @noEscape */  ($iterator++ == 1) ? '<li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' : '</li><li class="wk-sellergroup-wrapper-container
            wk-sellergroup-wrapper-container'.$iterator.'">' ?>
            <div class="wk-sellergroup-wrapper">
                <div class="basic">
                    <div class="plan-title" <?= /* @noEscape */   'style="background-color:'.$boosterColor.'"';?>>
                        <?= $block->escapeHtml($boosterData['booster_name']) ?>
                    </div>
                    <div class="wk-sellergroup-description" <?= /* @noEscape */
                    'style="border-color:'.$boosterColor.'"';?>>
                        <h2 class="plan-price" <?= /* @noEscape */   'style="color:'.$boosterColor.'"';?>>
                            <?= /* @noEscape */   $currentHelper->convertPrice($_product->getPrice());?>
                        </h2>
                        <?php
                        $allowedControllers = $block->getAllowedControllersBySetData(
                            $boosterData['allowed_modules_functionalities']
                        );
                        ?>
                        <ul class="list-block wk-sellergroup-feature-list">
                            <?php foreach ($allowedControllers as $key => $value) { ?>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <?= /* @noEscape */   $value;?>
                                </li>
                                <?php
                            } ?>
                        </ul>
                        <?php if (!in_array($booster->getId(), $sellerBoosterIds)) { ?>
                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                            <form data-role="tocart-form" action="<?= /* @noEscape */
                            $postParams['action']; ?>" method="post">
                                <input type="hidden" name="product" value="<?= /* @noEscape */
                                $postParams['data']['product']; ?>">
                                <input type="hidden" name="uenc" value="<?= /* @noEscape */
                                $postParams['data']['uenc']; ?>">
                                <?= /* @noEscape */ $block->getBlockHtml('formkey')?>
                                <?= /* @noEscape */ $block->getBlockHtml('seller.formkey')?>
                                <button type="submit" class="action primary" <?= /* @noEscape */
                                'style="background-color:'.$boosterColor.';border-color:'.$boosterColor.'"';?>>
                                    <span <?= /* @noEscape */ 'style="background-color:'.$boosterColor.'"';?>>
                                    <?= /* @noEscape */ __('Purchase Booster');?></span>
                                </button>
                            </form>
                        <?php } else { ?>
                            <a href="<?= /* @noEscape */ $block->getUrl('mpsellergroup/booster/index') ?>">
                                <button type="button" class="action primary" <?= /* @noEscape */
                                'style="background-color:'.$boosterColor.';border-color:'.$boosterColor.'"';?>>
                                    <span <?= /* @noEscape */ 'style="background-color:'.$boosterColor.'"';?>>
                                    <?= /* @noEscape */ __('Already Purchased');?></span>
                                </button>
                            </a>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <?= /* @noEscape */  ($iterator == count($boostersCollection)+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </ol>
</div>
<script>
    require([
        "jquery",
        "mage/mage",
    ], function($) {
        $('.page-title-wrapper').hide();
        <?php if ($banner_display) { ?>
            $('.wk-mp-banner').css('background-image','url("<?= /* @noEscape */   $bannerImage ?>")');
        <?php } ?>
    });
</script>
