<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @block Webkul\MpSellerGroup\Block\Booster\ActiveList

$mpSellerGroupHelper = $block->helper();
$params = $block->getRequestParams();
$boosterTypeData = $mpSellerGroupHelper->getSellerBoosterTypeData($params['boostertype']);
$boosterData = $mpSellerGroupHelper->getBoosterDataByBoosterId($boosterTypeData->getBoosterId());
?>
<div class="wk-mp-design">
    <?php if ($boosterTypeData->getTransactionStatus() == 'pending') { ?>
        <div class="wk-profile-alert">
            <?= /* @noEscape */ __('Please Complete Your Membership Booster Order.'); ?>
        </div>
    <?php } ?>
    <fieldset class="info wk-mp-fieldset fieldset">
        <legend class="legend">
            <span><?= /* @noEscape */ __('Seller Membership Booster Details') ?></span>
        </legend>
        <div class="fieldset form-list">
            <table class="wk-seller-group-table">
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Membership Booster : '); ?></label>
                    </td>
                    <td>
                        <?= $block->escapeHtml(ucfirst($boosterData->getBoosterName())) ?>
                    </td>
                </tr>
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Allowed Functionalities : '); ?></label>
                    </td>
                    <td>
                        <?php
                        $allowedControllers = $block->getAllowedControllersBySetData(
                            $boosterTypeData['allowed_modules_functionalities']
                        );
                        ?>
                        <ul class="list-block wk-sellergroup-feature-list">
                            <?php foreach ($allowedControllers as $key => $value) { ?>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <?= /* @noEscape */ $value;?>
                                </li>
                                <?php
                            } ?>
                        </ul>
                    </td>
                </tr>
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Paid Amount : '); ?></label>
                    </td>
                    <td>
                        <?php
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $priceHelper = $objectManager->create(\Magento\Framework\Pricing\Helper\Data::class);
                        $price =  $boosterTypeData->getFeeAmount();
                        $formattedPrice = $mpSellerGroupHelper->convertPrice($price);
                        ?>
                        <?= /* @noEscape */ $formattedPrice; ?>
                    </td>
                </tr>
                <?php if ($boosterTypeData->getTransactionId()): ?>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Payment Transaction ID : '); ?></label>
                        </td>
                        <td>
                            <?= /* @noEscape */ $boosterTypeData->getTransactionId(); ?>
                        </td>
                    </tr>
                <?php else: ?>
                    <tr class="pointer">
                        <td>
                            <label><?= /* @noEscape */ __('Assigned By : '); ?></label>
                        </td>
                        <td>
                            <?= /* @noEscape */ __('Admin'); ?>
                        </td>
                    </tr>
                <?php endif; ?>
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Payment Status'); ?> : </label>
                    </td>
                    <td>
                        <?php $paymentStatus = $boosterTypeData->getTransactionStatus();
                        /* @noEscape */ echo ucfirst($paymentStatus); ?>
                    </td>
                </tr>
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Expiry Status'); ?> : </label>
                    </td>
                    <td>
                        <?php $expiryStatus = $boosterTypeData->getExpiredStatus() ? __('Expired') : __('Active');
                        /* @noEscape */ echo $expiryStatus; ?>
                    </td>
                </tr>
                <tr class="pointer">
                    <td>
                        <label><?= /* @noEscape */ __('Started At : '); ?></label>
                    </td>
                    <td>
                    <?= /* @noEscape */ $mpSellerGroupHelper->
                    formatDateByDateTime($boosterTypeData->getTransactionDate()); ?>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>

    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;"
                onclick="javascript: window.history.back();"
                class="left">
                &laquo; <?= $block->escapeHtml(__('Back')) ?>
            </a>
        </p>
    </div>
</div>