<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpSellerGroup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// updated file to add notification for seller.
$mpgroupViewModel = $block->getMpgroupViewModel();
$_helper = $mpgroupViewModel->getMpHelper();
$isPartner= $_helper->isSeller();
$mpSellerGroupHelper = $mpgroupViewModel->getMpgroupHelper();
$boosterDisplay = $mpSellerGroupHelper->getConfigurationValue('mpsellergroup/booster/display');
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php
if ($isPartner) { ?>
    <li id="wk-mp-manage-group" class="wk-mp-seller-group level-0 <?= /* @noEscape */
            strpos($magentoCurrentUrl, 'mpsellergroup/group/manage') ? "current active" : "" ?>">      
        <a href="<?= /* @noEscape */
            $block->getUrl('mpsellergroup/group/manage', ['_secure' => $block->getRequest()->isSecure()]) ?>">
            <span> <?= $block->escapeHtml(__('Membership Details')) ?> </span>
        </a>                                   
    </li>
    <!-- <li id="wk-mp-manage-group" class="wk-mp-seller-group level-0 <?= /* @noEscape */
            strpos($magentoCurrentUrl, 'mpsellergroup/recurring_profile') ? "current active" : "" ?>">
        <a href="<?= /* @noEscape */
            $block->getUrl('mpsellergroup/recurring_profile', ['_secure' => $block->getRequest()->isSecure()]) ?>">
            <?= $block->escapeHtml(__('Recurring Profiles')) ?>
        </a>                                   
    </li> -->
    <?php if ($boosterDisplay) { ?>
        <li id="wk-mp-manage-booster" class="wk-mp-seller-booster level-0 <?= /* @noEscape */
            strpos($magentoCurrentUrl, 'mpsellergroup/booster') ? "current active" : "" ?>">
        <a href="<?= /* @noEscape */
            $block->getUrl('mpsellergroup/booster', ['_secure' => $block->getRequest()->isSecure()]) ?>">
            <?= $block->escapeHtml(__('Purchased Boosters')) ?>
        </a>                                   
    </li>
    <?php } ?>
<?php } ?>