<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Xtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */  ?>
<div class="resp-filter-wrapper">
    <div class="container">
        <div class="block-filter tab">
            <button type="button" class="button filter">
                <span>
                    <span>
                        <?= $block->escapeHtml(__("Filter")) ?>
                    </span>
                </span>
            </button>
        </div>
        <div class="block-sort tab">
            <button type="button" class="button sort">
                <span>
                    <span>
                        <?= $block->escapeHtml(__("Sort")) ?>
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
