<?php

/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorRegistration
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
  
$currentHelper = $block->getDataByKey("curHelper");
$helper = $block->getDataByKey("mpHelper");
$seller_exist= $helper->isSellerExist();
$registerHelper = $block->getDataByKey("curHelper");

if ($seller_exist) { ?>
        <div class="fieldset">
            <h4 class="legend"><?=/* @noEscape */  __('Seller Request Panel') ?></h4>
                <div class="wk_emptymsg"><?=/* @noEscape */  __('Waiting for approval from admin') ?></div>
        </div>
    <?php } elseif (!$seller_exist) {
           $count = 0;
           $fieldset = 0;
           $fieldsetTotal = 0;
    ?>
        <form action="<?=
        $block->escapeUrl($block->getUrl(
            'vendorregistration/account/becomesellerPost',
            ["_secure" => $block->getRequest()->isSecure()]
        )) ?>" enctype="multipart/form-data" 
        method="post" id="form-become-seller" data-role="form-become-seller" 
        data-mage-init='{"validation":{}}'>
         <?=/* @noEscape */$block->getBlockHtml('seller.formkey')?>
         <?=/* @noEscape */$block->getBlockHtml('formkey')?>
          <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
            <legend class="legend">
              <span><?=/* @noEscape */ __('Seller Request Panel') ?></span>
              <button type="reset" class="button wk-mp-btn">
                <span><span><?=/* @noEscape */ __('Cancel') ?></span></span>
              </button>
              <button type="submit" title="Save" class="button pay wk-mp-btn">
                <span>
                  <span><?=/* @noEscape */  __('Save') ?></span>
                </span>
              </button>
            </legend>
            <div class="field required">
              <label class="label"><?=/* @noEscape */  __('Shop URL') ?></label>
             <?php
                if ($helper->getProfileHintStatus() && $helper->getProfileHintShopurl()) {?>
                <img src="<?=$block->escapeUrl($block->getViewFileUrl('Webkul_Marketplace::images/quest.png')); ?>"
                 class='questimg' title="<?=$block->escapeHtml($helper->getProfileHintShopurl())?>"/>
                    <?php
                } ?>
              <div class="control shop" id="wk-mp-become-seller-box-wrapper"
               data-role="wk-mp-become-seller-box-wrapper">
                <input type="text" class="required-entry wk_input_width"
                 name="profileurl" id="profileurl" data-role="shop-url"
                  placeholder="<?=/* @noEscape */ __("Please enter shop URL")?>"/>
                <div id="wk-load" class="no-display">
                  <img src=
                  "<?=$block->escapeUrl($block->getViewFileUrl('Webkul_Marketplace::images/ajax-loader-tr.gif'));?>"
                   height="16px" width="16px"/>
                </div>
              </div>
            </div>
            <div class="field required">
              <input type="checkbox" class="required-entry" name="is_seller" id="is_seller"/>
              <label class="label"><?=/* @noEscape */  __('Do you want to become a seller / vendor ?') ?></label>
            </div>
          </fieldset>
        </div>
        <?php
        if (!$currentHelper->getConfigData('group_display')) {
            $collection = $currentHelper->getAttributeCollectionFrontend();
            $totalAttr = $collection->getSize();
            $storeId = $currentHelper->getStore()->getId();
            foreach ($collection as $attribute):

                $totalAttr--;
                $fieldset++;
                if ($count == 0) { ?>
                      <fieldset class="fieldset vendorfields form_fields_<?= $block->escapeHtml($fieldsetTotal); ?>
                       profileurl">

                    <?php
                      $fieldsetTotal++;
                }
                $allowedeImageExtension = $currentHelper->getConfigData('allowed_image_extension');
                $allowedFileExtension = $currentHelper->getConfigData('allowed_file_extension');
                $attibuteArray = $attribute->toArray();
                $isRequiredArray = explode(' ', $attribute->getFrontendClass());
                $storeLabels = $attribute->getStoreLabels();
                $label = isset($storeLabels[$storeId]) ? $storeLabels[$storeId] : $attibuteArray['frontend_label'];
                ?>
                <div class=
                "field <?=$block->escapeHtml($attribute->getAttributeCode()) ?> 
                <?=/* @noEsacpe */ in_array('required', $isRequiredArray)?'required':'' ?>">
                <?php if ($attribute->getFrontendInput() != 'boolean'): ?>
                    <label for="<?=$block->escapeHtml($attribute->getAttributeCode()) ?>" 
                    class="label"><span><?= $block->escapeHtml($label); ?></span></label>
                <?php endif ?>
                    <div class="control">
                        <?php if ($attribute->getFrontendInput() == 'text'): ?>
                            <input type="text" name="<?=$block->escapeHtml($attribute->getAttributeCode()) ?>" 
                            id="<?= $block->escapeHtml($attribute->getAttributeCode()) ?>" value=""  
                            class="input-text <?= $block->escapeHtml($attribute->getFrontendClass()) ?>" 
                            <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                             'data-validate="{required:true}"':''?>
                             autocomplete="off">

                        <?php elseif ($attribute->getFrontendInput() == 'textarea'):?>
                            <textarea name="<?=$block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            class="input-text <?= $block->escapeHtml($attribute->getFrontendClass()) ?>" 
                            <?=/* @noEscape*/ in_array('required', $isRequiredArray)?
                             'data-validate="{required:true}"':'' ?> ></textarea>
                            <?php $frontClass = explode(' ', $attribute->getFrontendClass());
                            elseif ($attribute->getFrontendInput() == 'date'):?>
                                <button type="button" class="wk-ui-datepicker-trigger v-middle" >
                                    <span style="display: none;">Select Date</span></button>
                            <input type="text" name="<?=$block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" value="" 
                            class="dob_type <?= $block->escapeHtml($attribute->getFrontendClass()) ?>" 
                                <?=/*noEscape*/ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?> autocomplete="off">
                        <?php elseif ($attribute->getFrontendInput() == 'select' &&
                         !in_array('dependable_field_'.$attibuteArray['attribute_code'], $isRequiredArray)):
                                                $value = '';
                                                $optiondata = $registerHelper
                                                ->getAllOptions($attribute->getAttributeCode());
                                                usort($optiondata, function ($a, $b) {
                                                    if (!empty($a['value']) && !empty($b['value'])) {
                                                        return $a['value'] - $b['value'];
                                                    }
                                                });
                                                ?>
                            <select name="<?=$block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            class="input-select <?= $block->escapeHtml($attribute->getFrontendClass())?>" 
                                                <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                                                'data-validate="{required:true}"':'' ?>>
                                                <?php foreach ($optiondata as $instance) { ?>
                                                <option value="<?=$block->escapeHtml($instance['value']) ?>" 
                                                    <?=/* @noEscape */ $instance['value'] == $value ?
                                                    'selected' : ''; ?>> 
                                                    <?=$block->escapeHtml($instance['label'])?>
                                                </option>
                                <?php } ?>
                            </select>
                        <?php elseif ($attribute->getFrontendInput() == 'multiselect'):
                            $values = [];
                            $optiondata = $registerHelper->getAllOptions($attribute->getAttributeCode());
                            usort($optiondata, function ($a, $b) {
                                if (!empty($a['value']) && !empty($b['value'])) {
                                    return $a['value'] - $b['value'];
                                }
                            });
                            ?>
                            <select name="<?=$block->escapeHtml($attibuteArray['attribute_code']) ?>[]" 
                            id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            class="input-select <?= $block->escapeHtml($attribute->getFrontendClass()) ?>"
                             <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?> multiple="multiple">
                            <?php foreach ($optiondata as $instance) { ?>
                                <?php if ($instance['value'] != ''):?>
                                    <option value="<?=$block->escapeHtml($instance['value'])?>" 
                                    <?=/* @noEscape */ in_array($instance['value'], $values) ? 'selected' : ''; ?>>
                                     <?= $block->escapeHtml($instance['label'])?></option>
                                <?php endif ?>
                                <?php } ?>
                            </select>
                        <?php elseif ($attribute->getFrontendInput() == 'boolean'):?>
                            <input type="checkbox" 
                            name="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                            class="input-text <?= $block->escapeHtml($attribute->getFrontendClass()) ?>" 
                            <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                             'data-validate="{required:true}"':'' ?> value="1">
                            <label for="<?= $block->escapeHtml($attribute->getAttributeCode()) ?>"
                             class="label <?=/* @noEscape */ in_array('required', $isRequiredArray)?'wkboolreq':''?> ">
                             <span><?=$block->escapeHtml($label); ?></span></label>

                        <?php elseif ($attribute->getFrontendInput() == 'image'):?>
                            <input type="file" name="<?=$block->escapeHtml($attibuteArray['attribute_code']) ?>"
                             id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>" 
                             class="input-text custom_file <?= $block->escapeHtml($attribute->getFrontendClass()) ?>"
                              data-allowed = "<?= $block->escapeHtml($allowedeImageExtension); ?>"
                               <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?>><br>
                            <span class="note"><span>
                                <?= $block->escapeHtml($currentHelper->getConfigData('allowede_image_extension')) ?>
                            </span></span>

                        <?php elseif ($attribute->getFrontendInput() == 'file'):?>
                            <input type="file" name="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>"
                             id="<?= $block->escapeHtml($attibuteArray['attribute_code']) ?>"
                              class="input-text custom_file <?= $block->escapeHtml($attribute->getFrontendClass())?>"
                               data-allowed = "<?= $block->escapeHtml($allowedFileExtension); ?>"
                                <?=/* @noEscape */ in_array('required', $isRequiredArray)?
                                 'data-validate="{required:true}"':'' ?>><br>
                            <span class="note"><span>
                                <?= $block->escapeHtml($currentHelper->getConfigData('allowede_file_extension')) ?>
                            </span></span>
                        <?php endif; ?>
                    </div>
                </div>
                <?php
                if ($count == 4 || $totalAttr == 0) {
                    $count = 0
                    ?>
                      </fieldset>
                    <?php } else {
                      $count++;
                    } ?>
            <?php endforeach; ?>
        <?php  } else { ?>
            <input type="hidden" name="is_vendor_group" value="1"/>
            <script>
                window.vendorConfig = 
                <?= $block->escapeHtml(\Zend_Json::encode($currentHelper->getVendorConfig())); ?>;
                window.isVendorForm = '1';
            </script>
            <div id="vendor-component" data-bind="scope:'vendor-form-field'" class="field">
                <!-- <button id="main" class="button back action primary"><?=/* @noEscape */ __('Back') ?></button> -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <script type="text/x-magento-init">
                {
                    "#vendor-component": {
                        "Magento_Ui/js/core/app":  <?= $block->getJsLayout();?>
                    }
                }
                </script>
            </div>
          </form>
                <?php
        }
        $data = [
            'fieldsetCount' => $fieldsetTotal
        ];
        $serializedData = $block->getDataByKey("jsonHelper")->jsonEncode($data);
        ?>
    <script type="text/x-magento-init">
      {
          "*": {
              "displayVendorFields":<?= /* @noEscape */ $serializedData; ?>
          }
      }
      </script>
    <script>
        require([
            'jquery',
            'mage/mage',
            'mage/translate'
        ], function($){
            $('fieldset.form_fields_'+(<?= $block->escapeHtml($fieldsetTotal);?>-1))
            .append($('div.privacy-container'));

            if($('#wk-termsconditions-box').length) {
                $('#wk-termsconditions-box').remove();
            }
            if($('#vendor-component').length) {
                $('.wk-list-container-registration .form-create-account').prepend($("#vendor-component"));
                $("#vendor-component").append($('div.privacy-container'));
            }
            $('.form-create-account .actions-toolbar .submit.primary').text($.mage.__('Next'));
        }
    );
    </script>

<?php } ?>
<?php
$formData = [
    'ajaxSaveUrl' => $block->getUrl(
        "marketplace/seller/usernameverify",
        ["_secure" => $block->getRequest()->isSecure()]
    ),
    'successMessage' => __("Congratulations! Shop name is available."),
    'errorMessage' => __("Sorry! But this shop name is not available, please set another shop name."),
    'button' => '.button'
];
$serializedFormData = $block->getDataByKey("jsonHelper")->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "[data-role=form-become-seller]": {
            "validation": {},
            "verifySellerShop": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
