<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpExpectedDeliveryDate
 * @author    Webkul <support@webkul.com>
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

 $data = $block->getFormData();
 $rules = $block->getRules();
 $countryList = $block->getCountries();
?>
<form action="<?= $block->escapeUrl($block->getUrl(
    'mpexpecteddate/region/save',
    ['_secure' => $block->getRequest()->isSecure()]
)) ?>" 
enctype="multipart/form-data"
method="post" id="expdd-add-region" data-form="expdd-add-region">
    <div class="wk-mp-design" id="wk-bodymain">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend">
                <?php if (!empty($data['name'])): ?>
                    <span><?= /* @noEscape */  $block->escapeHtml($data['name']) ?></span>
                    <?php else: ?>
                    <span><?= /* @noEscape */  __('New Region') ?></span>
                <?php endif ?>
                <button class="button wk-mp-btn" title="<?= /* @noEscape */  __('Save') ?>" 
                    type="submit" id="save-btn">
                    <span><span><?= /* @noEscape */  __('Save') ?></span></span>
                </button>
                <button id="frontend-back" type="button" class="action- scalable back"
                        title="<?= /* @noEscape */  __('Back') ?>" 
                        onclick='location.href = "<?= $block->escapeUrl($block->getUrl('*/*/index')) ?>"'>
                    <span><span><?= /* @noEscape */  __('Back') ?></span></span>
                </button>
            </div>
            <?= $block->getBlockHtml('formkey')?>
            <?= $block->getBlockHtml('seller.formkey')?>
            <input class="hidden" type="hidden" name="entity_id" 
            value="<?= $block->escapeHtml(!empty($data['entity_id'])?
                        $data['entity_id']:'')?>"/>
            <div class="field required">
                <label class="label"><?= /* @noEscape */  __('Enable') ?>:</label>
                <div class="control">
                    <select id="" class="select" name="status" required="true">
                        <option value="1" <?php if (!empty($data['status']) && $data['status'] == 1) {
                            echo "selected='selected'";}?>>
                            <?= /* @noEscape */ __("Yes"); ?>
                        </option>
                        <option value="0" <?php if (empty($data['status']) || $data['status'] == 0) {
                            echo "selected='selected'";}?>>
                            <?= /* @noEscape */ __("No"); ?>
                        </option>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label"><?= /* @noEscape */ __('Name') ?>:</label>
                <div class="control">
                    <input type="text" class="input-text" name="name" id="name" 
                    required="true" value="<?= $block->escapeHtml(!empty($data['name'])?
                        $data['name']:'')?>"/>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?= /*@noEscape*/ __('Country') ?>:</label>
                <div class="control">
                    <select  class="select" name="country" required="true">
                            <?php
                            foreach ($countryList as $country) {
                                ?>
                                <option value="<?= /*@noEscape*/ $country['value'] ?>"
                                    <?php
                                    if (!empty($data) && in_array($country['value'], explode(',', $data['country']))) {
                                        echo "selected='selected'";
                                    }
                                    ?>
                                >
                                    <?= $block->escapeHtml(
                                        !empty($country['label'])?$country['label']:"Please Select"
                                    ) ?>
                                </option>
                                <?php
                            }
                            ?>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label"><?= /* @noEscape */ __('Select Rule') ?>:</label>
                <div class="control">
                    <select  class="select" name="rule_id" required="true">
                            <?php
                            foreach ($rules as $rule) {
                                ?>
                                <option value="<?= /*@noEscape*/ $rule['entity_id'] ?>"
                                    <?php
                                    if (!empty($data) && in_array($rule['entity_id'], explode(',', $data['rule_id']))) {
                                        echo "selected='selected'";
                                    }
                                    ?>
                                >
                                    <?= $block->escapeHtml($rule['name']) ?>
                                </option>
                                <?php
                            }
                            ?>
                    </select>
                </div>
            </div>

            <div class='field'>
                <label class="label"><?= /* @noEscape */ __('Upload Zipcode CSV file') ?>:</label>
            </div>
            <input type="hidden" name="zipuploder" id="zipuploder" value="">
            <div class="control zipuploder" data-bind="scope: 'zipuploder'">
                
                 <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <span>
                <a  target="_blank" href="<?= $block->escapeUrl(
                    $block->getViewFileUrl('Webkul_MpExpectedDeliveryDate::sample.csv')
                );?>"><?= $block->escapeHtml(__("Download Example CSV")); ?>
                </a>
            </span>
        </fieldset>
    </div>
</form>
<script type="text/x-magento-init">
    {
    ".zipuploder": {
        "Magento_Ui/js/core/app": {
            "components": {
                "zipuploder": {
                    "component":"Magento_Ui/js/form/element/file-uploader",                   
                    "template": "ui/form/element/uploader/uploader",                   
                    "previewTmpl":"Webkul_MpExpectedDeliveryDate/preview",
                    "dataScope" : "zipuploder",
                    "uploaderConfig": {
                            "url": "<?=$block->escapeUrl($block->getUrl('*/*/upload')); ?>"
                    }
                }
                }
            }
        }
    }
</script>
<script>
    require(['jquery', 'jquery/validate'],
    function($){
        "use strict";
        $(document).ready(function(){
            var form = $('#expdd-add-region');
            form.validate();
            
            $('#save-btn').click(function (event) {
                event.preventDefault();
                let isValid = form.valid();
                if(isValid){
                    form.submit();
                }
            });

            $( document ).ajaxComplete(function( event, xhr, settings ) {
                var url = settings.url;
                if (url.includes('upload')) {
                    let response = JSON.parse(xhr.responseText);
                    if (response.path) {
                        $("#zipuploder").val(response.path+"/"+response.file);
                    }
                }
            });
        })

    })
</script>