<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

/** @var $xtremoHelper \Webkul\Xtremo\Helper\Data */
$xtremoHelper = $mpxtremoViewModel->getXtremoHelper();

$partner = [];
$partner = $block->getProfileDetail();
if ($partner['shop_url']) {
    if ($helper->getActiveColorPicker()) {?>
        <style>
        .page-main{background-image:none;background-color:<?= $block->escapeHtml($partner['background_width']) ?>;}
        </style>
        <?php
    }
    $_productCollection = $block->_getProductCollection();
    $bannerpic = $partner->getBannerPic()!=''?$partner->getBannerPic():"banner-image.png";
    $bannerpic = $helper->getMediaUrl().'avatar/'.$bannerpic;

    $shoptitle = $partner->getShopTitle();
    if (!$shoptitle) {
        $shoptitle = $partner->getShopUrl();
    }
    $breadcrumbs = $block->getLayout()->getBlock('breadcrumbs');
    $breadcrumbs->addCrumb(
        'home',
        [
            'label' => __('Home'),
            'title' => __('Home Page'),
            'link' => $block->getBaseUrl()
        ]
    );
    $breadcrumbs->addCrumb(
        'shop',
        [
            'label' => $block->escapeHtml($shoptitle),
            'title' => $block->escapeHtml($shoptitle),
            'link' => $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url'])
        ]
    );
    $breadcrumbs->addCrumb(
        'profile',
        [
            'label' => __('Seller Collection'),
            'title' => __('Seller Collection')
        ]
    );
    echo $block->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>

    <div class="collection-banner"><img src="<?= /* @noEscape */ $bannerpic ?>" alt="no image"></img></div>
    <div class="wk_mp_design" style="padding-top: 10px;">
        <div class="block block-account">
            <div class="block-title">
                <strong><span><h4><?= $block->escapeHtml(__("Seller's Collection")) ?></h4></span></strong>
            </div>
        </div>
        <div class="page-products page-with-filter fieldset wk-mp-fieldset"
            <?php if ($_productCollection->count()) { echo 'style="padding: 0;"';}?>>
            <?php $_helper = $mpxtremoViewModel->getCatalogOutputHelper(); ?>
            <?php if (!$_productCollection->count()): ?>
                <div class="message info empty">
                    <div>
                        <?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?>
                    </div>
                </div>
            <?php else: ?>
                <?= /* @noEscape */ $block->getToolbarHtml() ?>
                <?= /* @noEscape */ $block->getAdditionalHtml() ?>
                <?php
                if ($block->getMode() == 'grid') {
                    $viewMode = 'grid';
                    $image = 'category_page_grid';
                    $showDescription = false;
                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                } else {
                    $viewMode = 'list';
                    $image = 'category_page_list';
                    $showDescription = true;
                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
                }
                /**
                 * Position for actions regarding image size changing in vde if needed
                 */
                $pos = $block->getPositioned();
                ?>
                <div class="products wrapper <?=/* @noEscape */ $viewMode ?> products-<?=/* @noEscape */ $viewMode ?>">
                    <?php $iterator = 1; ?>
                    <ol class="products list items product-items">
                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                        <?php foreach ($_productCollection as $_product): ?>
                            <?= /* @noEscape */ ($iterator++ == 1)
                             ? '<li class="item product product-item">'
                             : '</li><li class="item product product-item">' ?>
                            <div class="product-item-info" data-container="product-grid">
                                <?php
                                $productImage = $block->getImage($_product, $image);
                                ?>
                                <?php // Product Image ?>
                                <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                                   class="product photo product-item-photo" tabindex="-1">
                                    <?= /* @noEscape */ $productImage->toHtml(); ?>
                                </a>
                                <div class="product details product-item-details">
                                    <?php
                                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?= /* @noEscape */ $_product->getProductUrl() ?>">
                                            <?= /* @noEscape */ $_helper->productAttribute(
                                                $_product,
                                                $_product->getName(),
                                                'name'
                                            ); ?>
                                        </a>
                                    </strong>
                                    <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                    <?php $discount = $xtremoHelper->displayDiscountLabel($_product); ?>
                                    <?php if ($discount && $xtremoHelper->isXtremoEnabled()): ?>
                                        <div class="disount-wrapper">
                                            <div class="percent-label">
                                                <span><?= $block->escapeHtml(__('%1% Off', $discount)) ?></span>
                                            </div>
                                            <div class="sale-label">
                                                <span><?= $block->escapeHtml(__('SALE')) ?></span>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                    <?= /* @noEscape */ $block->getProductDetailsHtml($_product); ?>
                                </div>
                            </div>
                            <?= /* @noEscape */ ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
                        <?php endforeach; ?>
                    </ol>
                </div>
                <?= /* @noEscape */ $block->getToolbarHtml() ?>
                <?php if (!$block->isRedirectToCartEnabled()): ?>
                    <script type="text/x-magento-init">
                    {
                        "[data-role=tocart-form], .form.map.checkout": {
                            "catalogAddToCart": {}
                        }
                    }
                    </script>
                <?php endif; ?>
                <script>
                    require([
                        "jquery",
                        "mage/mage"
                    ], function($){
                        if($('.toolbar-products').siblings('.ask-question').length){
                            var askHtml = $('.toolbar-products').siblings('.ask-question').get(0);
                            $('.toolbar-products').siblings('.ask-question').remove();
                            $('.toolbar-products:first-child').find('.toolbar-sorter').before(askHtml);
                            $('.toolbar-products').find('.ask-question').show();
                        }
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php }  ?>
