<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\Marketplace\Block\Profile */
?>

<?php
/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = [];
$partner = $block->getProfileDetail();
$seller_id = $partner['seller_id'];
$shoptitle = $partner->getShopTitle();
if (!$shoptitle) {
    $shoptitle = $partner->getShopUrl();
}
$seller_product_count = $helper->getSellerProCount($seller_id);

$logo = $partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
$logo = $helper->getMediaUrl().'avatar/'.$logo;

$locsearch = $partner['company_locality'];
$countryflag = $block->getViewFileUrl(
    'Webkul_Marketplace::images/country/countryflags/'
)."/".strtoupper($partner['country_pic']==""?"xx":$partner['country_pic']).".png";
$countryName = '';
$captchenable = $helper->getCaptchaEnable();
?>
<div class="wk-mp-design">
    <div class="wk-mp-design-inner">
        <div class="wk-logo-block">
            <a href="<?= /* @noEscape */ $helper->getRewriteUrl(
                'marketplace/seller/profile/shop/'.$block->escapeHtml($partner['shop_url'])
            );?>" >
                <img class="bannerpicrs" src="<?= /* @noEscape */ $logo;?>" />
            </a>
        </div>
        <div class="wk-mp-profile_container">
            <div id="info" class="block-content">
                <div class="wk-seller">
                    <div class="section">
                        <div class="storename shop-name">
                            <div class="store-name">
                                <?= $block->escapeHtml($shoptitle) ?>
                            </div>
                        </div>
                        <div class="view-profile-link">
                            <a class="store-name" href="<?= /* @noEscape */ $helper->getRewriteUrl(
                                'marketplace/seller/profile/shop/'.$block->escapeHtml($partner['shop_url'])
                            );?>">
                                <?= $block->escapeHtml(__('View Seller Profile')) ?>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
