<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
$profile_hint_status = $helper->getProfileHintStatus();
?>
<div class="field required" id="wantptr">
    <label for="wantpartner" class="label"><?= $block->escapeHtml(
        __('Do You Want To Become A Seller / Vendor?')
    ) ?> </label>
    <?php
    if ($profile_hint_status && $helper->getProfileHintBecomeSeller()) {?>
        <a href="javascript:void(0);" class='hint--medium hint--rounded hint--info hint--top'
           title="<?= $block->escapeHtml($helper->getProfileHintBecomeSeller()) ?>">
            <img src="<?= /* @noEscape */ $block->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>"/>
        </a>
        <?php
    }?>
    <div class="control">
        <input type="radio" id="wantpartner_yes" class="wantpartner" name="is_seller" value='1'
               title="<?= $block->escapeHtml(__('Agree as Seller')) ?>"  />
        <label for="wantpartner_yes"><?= $block->escapeHtml(__("Yes")) ?></label>&nbsp;&nbsp;
        <input type="radio" id="wantpartner_no" class="wantpartner" name="is_seller" value='0'
               title="<?= $block->escapeHtml(__('Disagree as Seller')) ?>" checked />
        <label for="wantpartner_no"><?= $block->escapeHtml(__("No")) ?></label>
    </div>
</div>
<div id="seller-shop-field-wrapper">
    <script id="wantptr-template" type="text/x-magento-template">
        <div id="<%- data.id %>" class="profileurl field required">
            <label class="label">
                <%- data.label %>
                <?php
                if ($helper->getProfileHintStatus() && $helper->getProfileHintShopurl()) { ?>
                    <a href="javascript:void(0);" class='hint--medium hint--rounded hint--info hint--top'
                       title="<?= $block->escapeHtml($helper->getProfileHintShopurl()) ?>">
                        <img src="<?=/* @noEscape */ $block->getViewFileUrl('Webkul_Marketplace::images/quest.png')?>"/>
                    </a>
                    <?php
                } ?>
            </label>
            <div class="control" id="wk-mp-become-seller-box-wrapper" data-role="wk-mp-become-seller-box-wrapper">
                <input type="text" class="input-text required-entry" name="profileurl" id="profileurl"
                       data-role="shop-url" placeholder="<%- data.title %>" title="<%- data.title %>" value=""/>
                <div id="wk-load" class="no-display">
                    <img height="16px" width="16px" src="<%- data.src %>" />
                </div>
                <span class="required-entry" type="text">
                    <%- data.text %>
                </span>
            </div>

            <div id="wk-load" class="no-display">
                <img height="16px" width="16px" src="<%- data.src %>" />
            </div>
        </div>
    </script>
</div>
<?php
$shopurl_hint = '';
if ($profile_hint_status && $helper->getProfileHintShopurl()) {
    $shopurl_hint = '<img src="'.$block->getViewFileUrl(
        'Webkul_Marketplace::images/quest.png'
    ).'" class="questimg" title="'.$helper->getProfileHintShopurl().'"/>';

} else {
    $shopurl_hint = '';
} ?>

<?php
$formData = [
    'ajaxSaveUrl' => $block->getUrl(
        "marketplace/seller/usernameverify",
        ["_secure" => $block->getRequest()->isSecure()]
    ),
    'successMessage' => __("Congratulations! Shop name is available."),
    'errorMessage' => __("Sorry! But this shop name is not available, please set another shop name."),
    'loaderImage' => $block->getViewFileUrl('Webkul_Marketplace::images/ajax-loader-tr.gif'),
    'button' => 'button.submit'
];
$serializedFormData = $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "#form-validate": {
            "verifySellerShop": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
