<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$paramData = $block->getRequest()->getParams();
if (empty($paramData['loc'])) {
    $partner = $block->getProfileDetail();
    $locsearch = $partner['company_locality'];
    $paramData['loc'] = $locsearch;
}
?>
<iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="//maps.google.com/maps?q=<?= /* @noEscape */ $paramData['loc'] ?>&amp;output=embed"></iframe>
<br />
<small>
    <a href="//maps.google.com/maps?q=<?= /* @noEscape */ $paramData['loc'] ?>"
       class="wk_loc_inf"><?= $block->escapeHtml(__('View Larger Map')) ?></a>
</small>
