<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = $block->getProfileDetail();
$_productCollection = $block->_getProductCollection();
$count = 1;
$shopCollectionUrl = $helper->getRewriteUrl(
    'marketplace/seller/collection/shop/'.$block->escapeHtml($partner['shop_url'])
);
?>
<div class="wk-mp-design-inner">
    <div class="wk-mp-profile_container storename">
        <div class="store-name">
            <?= $block->escapeHtml(__("Seller Collection")) ?>
        </div>
        <a href="<?= /* @noEscape */ $shopCollectionUrl ?>" class="view-all-collection action">
            <button class="button" title="<?= $block->escapeHtml(__("View Seller's Collection")) ?>">
                <span>
                    <span>
                        <?= $block->escapeHtml(__('See All')) ?>
                    </span>
                </span>
            </button>
        </a>
        <?php if ($_productCollection->count()): ?>
            <div class="product-images seller-collection">
                <?php foreach ($_productCollection as $_product): ?>
                    <?php if ($count<=15): ?>
                        <?php $productImage = $block->getImage($_product, 'product_thumbnail_image'); ?>
                        <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                           class="product photo product-item-photo" tabindex="-1">
                            <?= /* @noEscape */ $productImage->toHtml(); ?>
                        </a>
                    <?php endif; ?>
                    <?php $count++; ?>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <div class="seller-collection">
                <?= $block->escapeHtml(__("0 products")) ?>
            </div>
        <?php endif; ?>
    </div>
</div>
