<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = [];
// $helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
$partner = $block->getProfileDetail();
$sellerId = $partner['seller_id'];
$shoptitle = $partner->getShopTitle();
if (!$shoptitle) {
    $shoptitle = $partner->getShopUrl();
}
$seller_product_count = $helper->getSellerProCount($sellerId);

$logo = $partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
$logo = $helper->getMediaUrl().'avatar/'.$logo;

$locsearch = $partner['company_locality'];
$countryflag = $block->getViewFileUrl(
    'Webkul_Marketplace::images/country/countryflags/'
)."/".strtoupper(
    $partner['country_pic'] == "" ? "xx" : $partner['country_pic']
).".png";
$countryName = '';
$shopCollectionUrl = $helper->getRewriteUrl(
    'marketplace/seller/collection/shop/'.$block->escapeHtml($partner['shop_url'])
);
?>
<div class="wk-mp-design">
    <div class="wk-mp-design-inner">
        <div class="wk-logo-block">
            <a href="<?= /* @noEscape */ $shopCollectionUrl ?>" >
                <img class="bannerpicrs" src="<?= /* @noEscape */ $logo;?>" />
            </a>
        </div>
        <div class="wk-mp-profile_container">
            <div id="info" class="block-content">
                <div class="wk-seller">
                    <div class="section">
                        <div class="storename">
                            <a class="store-name" href="<?= /* @noEscape */ $shopCollectionUrl ?>">
                                <?= $block->escapeHtml($shoptitle); ?>
                            </a>
                        </div>
                        <!---====================================custom================================-->
                        <?= /* @noEscape */ $block->getChildHtml('marketplace_seller_rating'); ?>
                        <!---====================================custom================================-->
                        <div class="wefrom">
                            <span class="wk-storeloc-icon wk-icon"></span>
                            <a class="cont-name" title="<?= $block->escapeHtml(__('Search')) ?>"
                               href="<?= /* @noEscape */ $shopCollectionUrl."?loc=".$locsearch ?>" target="_blank">
                                <span><?= $block->escapeHtml($locsearch.$countryName); ?></span>
                                <img class="piccountry" title="<?= $block->escapeHtml(__('View Map')) ?>"
                                     src="<?= /* @noEscape */ $countryflag ?>" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---====================================custom================================-->
    <?= $block->getChildHtml('marketplace_social_profile'); ?>
    <?= $block->getChildHtml('marketplace_profile_collection'); ?>
    <?= $block->getChildHtml('marketplace_profile_map'); ?>
    <!---====================================custom================================-->
</div>
