<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $mpxtremoViewModel \Webkul\Mpxtremo\ViewModel\Mpxtremo */
$mpxtremoViewModel = $block->getMpxtremoViewModel();
if ($mpxtremoViewModel === null) {
    $mpxtremoViewModel = $block->getLayout()->createBlock(
        \Webkul\Mpxtremo\Block\GetViewModel::class
    )->getMpxtremoViewModel();
}

/** @var $helper \Webkul\Marketplace\Helper\Data */
$helper = $mpxtremoViewModel->getMarketplaceHelper();

$partner = $block->getProfileDetail();
$locsearch = $partner['company_locality'];
$countryName = $partner['country_pic'];
$shopLocationUrl = $helper->getRewriteUrl(
    'marketplace/seller/location/shop/'.$block->escapeHtml($partner['shop_url'])
);
?>
<div class="wk-mp-design-inner wk-mp-design-inner_last">
    <div class="wk-mp-profile_container storename">
        <div class="store-name">
            <?= $block->escapeHtml(__("Seller on Map")) ?>
        </div>
        <a href="<?= /* @noEscape */ $shopLocationUrl."?loc=".$locsearch; ?>">
            <button class="button" title="<?= $block->escapeHtml(__("View Seller's Map")) ?>">
                <span>
                    <span>
                        <?= $block->escapeHtml(__('View')) ?>
                    </span>
                </span>
            </button>
        </a>
        <div class="seller-map">
            <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="//maps.google.com/maps?q=<?= /* @noEscape */ $locsearch.$countryName;?>&amp;output=embed"></iframe>
            <br />
            <small>
                <a href="//maps.google.com/maps?q=<?= /* @noEscape */ $locsearch.$countryName;?>">
                    <?= $block->escapeHtml(__('View Location on Map')) ?>
                </a>
            </small>
        </div>
    </div>
</div>
