<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpxtremo
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$partner = $block->getProfileDetail();
?>
<div class="wk-mp-design-inner">
    <div class="wk-mp-profile-container storename">
        <div class="store-name">
            <?= $block->escapeHtml(__("Social Profiles")) ?>
        </div>
        <div class="social-profiles">
            <?php
            if ($partner->getFbActive()) { ?>
                <a href="//facebook.com/<?= $block->escapeHtml($partner->getFacebookId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-fb"
                          title="<?= $block->escapeHtml(__('Check in Facebook')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getTwActive()) { ?>
                <a href="//twitter.com/<?= $block->escapeHtml($partner->getTwitterId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-tw"
                          title="<?= $block->escapeHtml(__('Check in Twitter')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getInstagramActive()) { ?>
                <a href="//instagram.com/<?= $block->escapeHtml($partner->getInstagramId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-instagram"
                          title="<?= $block->escapeHtml(__('Check in Instagram')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getGplusActive()) { ?>
                <a href="//plus.google.com/<?= $block->escapeHtml($partner->getGplusId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-gplus"
                          title="<?= $block->escapeHtml(__('Check in Google+')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getYoutubeActive()) { ?>
                <a href="//www.youtube.com/user/<?= $block->escapeHtml($partner->getYoutubeId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-utube"
                          title="<?= $block->escapeHtml(__('Check in Youtube')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getVimeoActive()) { ?>
                <a href="//vimeo.com/<?= $block->escapeHtml($partner->getVimeoId()) ?>" target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-vimeo"
                          title="<?= $block->escapeHtml(__('Check in Vimeo')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getPinterestActive()) { ?>
                <a href="//www.pinterest.com/jokestuffs/<?= $block->escapeHtml($partner->getPinterestId()) ?>"
                   target="blank">
                    <span class="wk-social-icon wk-icon wk-social-icon-pinterest"
                          title="<?= $block->escapeHtml(__('Check in Pinterest')) ?>"></span>
                </a>
                <?php
            } ?>
            <?php
            if ($partner->getMoleskineActive()) { ?>
            <a href="//moleskine.com/<?= $block->escapeHtml($partner->getMoleskineId()) ?>" target="blank">
                <span class="wk-social-icon wk-icon wk-social-icon-moleskin"
                      title="<?= $block->escapeHtml(__('Check in Moleskine')) ?>"></span>
            </a>
                <?php
            } ?>
        </div>
    </div>
</div>
