<?php
    $quickOrderBlock =  $block->getLayout()
    ->createBlock(\Webkul\B2BMarketplace\Block\Supplier\Profile\QuickOrder::class);
    $helper = $quickOrderBlock->helper('Webkul\B2BMarketplace\Helper\Data');
    $baseUrl = $helper->getBaseUrl()."pub/media/b2b/";
    $customer = $helper->getCurrentSupplierMageData();
    $regions = $helper->getAllRegions();
    $defaultAddress = $helper->getDefaultAddress();
    $responseDetails = $helper->getSupplResponseTimeDetails();
?>
<div class="wk-supplier-company-overview-container">
    <form method="post" action="<?= /* @noEscape */
    $quickOrderBlock->getUrl('b2bmarketplace/supplier/info_update'); ?>" 
    id="wk-supplier-supplier-info-form" enctype="multipart/form-data" 
    data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <?= /* @noEscape */ $block->getBlockHtml('seller.formkey')?>
            <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
            



            <!-- <div class="field required">
                <label class="label" for="role">
                <span><?= /* @noEscape */ __('Role/Designation')?></span></label>
                <div class="control">
                    <input data-validate="{required:true}" type="text" id="role" 
                    name="wk_supplier_role" title="<?= /* @noEscape */ __('Role/Designation')?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkSupplierRole()); ?>"/>
                </div>
            </div> -->
            
            <!-- <div class="field required">
                <label class="label" for="wkmpvr_supplier_certificate"><span><?= /* @noEscape */ __('Diverse Supplier Certificate') ?></span></label>
                <div class="control">
                    

                    <select  name="wkmpvr_supplier_certificate" class="input-text ">
                        <option value=""  >Select</option>
                        <option value="MBE" <?= $block->escapeHtml($customer->getWkmpvrSupplierCertificate()) === "MBE" ? 'selected' :'' ?> >MBE</option>
                        <option value="Small Business" <?= $block->escapeHtml($customer->getWkmpvrSupplierCertificate()) === "Small Business" ? 'selected' :'' ?> >Small Business</option>
                        <option value="WBE" <?= $block->escapeHtml($customer->getWkmpvrSupplierCertificate()) === "WBE" ? 'selected' :'' ?>>WBE</option>
                        <option value="LGBT" <?= $block->escapeHtml($customer->getWkmpvrSupplierCertificate()) === "LGBT" ? 'selected' :'' ?>>LGBT</option>
                    </select>
                </div>
            </div> -->

            <div class="field required">
                <label class="label" for="wkmpvr_affilates"><span><?= /* @noEscape */ __('Affliated Council') ?></span></label>
                <div class="control">
                    <!-- <input type="text" data-validate="{required:true}" id="wkmpvr_affilates" 
                    name="wkmpvr_affilates" title="<?= /* @noEscape */ __('Affliated Council') ?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrAffilates()); ?>" /> -->
                    <select  name="wkmpvr_affilates" class="input-text ">
                        <option value=""  >Select</option>
                        <!-- <option value="NMSDC" <?= $block->escapeHtml($customer->getWkmpvrAffilates()) === "NMSDC" ? 'selected' :'' ?> >NMSDC</option> -->
                        <option value="NYNJ" <?= $block->escapeHtml($customer->getWkmpvrAffilates()) === "NYNJ" ? 'selected' :'' ?>>NYNJ</option>
                    </select>
                </div>
            </div>

            <div class="field ">
                <label class="label" for="wkmpvr_ethnicity"><span><?= /* @noEscape */ __('Ethnicity') ?></span></label>
                <div class="control">
                    <!-- <input type="text" data-validate="{required:true}" id="wkmpvr_ethnicity" 
                    name="wkmpvr_ethnicity" title="<?= /* @noEscape */ __('Ethnicity') ?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrAffilates()); ?>" /> -->
                    <select  name="wkmpvr_ethnicity" class="input-text ">
                        <option value=""  >Select</option>
                        <option value="African American" <?= $block->escapeHtml($customer->getWkmpvrEthnicity()) === "African American" ? 'selected' :'' ?> >African American</option>
                        <option value="Asian" <?= $block->escapeHtml($customer->getWkmpvrEthnicity()) === "Asian" ? 'selected' :'' ?>>Asian</option>
                        <option value="Hispanic" <?= $block->escapeHtml($customer->getWkmpvrEthnicity()) === "Hispanic" ? 'selected' :'' ?>>Hispanic</option>
                        <option value="Caucasian" <?= $block->escapeHtml($customer->getWkmpvrEthnicity()) === "Caucasian" ? 'selected' :'' ?>>Caucasian</option>
                        <option value="Native American" <?= $block->escapeHtml($customer->getWkmpvrEthnicity()) === "Native American" ? 'selected' :'' ?>>Native American</option>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_diverse_ownership"><span><?= /* @noEscape */ __('Diversity Ownership Status') ?></span></label>
                <div class="control">
                    <!-- <input type="text" data-validate="{required:true}" id="wkmpvr_supplier_certificate" 
                    name="wkmpvr_supplier_certificate" title="<?= /* @noEscape */ __('Diversity Ownership Status') ?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()); ?>" /> -->

                    <select  name="wkmpvr_diverse_ownership" class="input-text ">
                        <option value=""  >Select</option>
                        <option value="Small Business" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "Small Business" ? 'selected' :'' ?> >Small Business</option>
                        <option value="Minority" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "Minority" ? 'selected' :'' ?> >Minority</option>
                        <option value="Woman" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "Woman" ? 'selected' :'' ?> >Woman</option>
                        <option value="Veteran" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "Veteran" ? 'selected' :'' ?>>Veteran</option>
                        <option value="LGBT" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "LGBT" ? 'selected' :'' ?>>LGBT</option>
                        <option value="Disabled" <?= $block->escapeHtml($customer->getWkmpvrDiverseOwnership()) === "Disabled" ? 'selected' :'' ?>>Disabled</option>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_small_business_status"><span><?= /* @noEscape */ __('Small Business Status') ?></span></label>
                <div class="control">
                    <!-- <input type="text" data-validate="{required:true}" id="wkmpvr_small_business_status" 
                    name="wkmpvr_small_business_status" title="<?= /* @noEscape */ __('Small Business Status') ?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()); ?>" /> -->

                    <select  name="wkmpvr_small_business_status" class="input-text ">
                        <option value=""  >Select</option>
                        <option value="Minority Small Business" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Minority Small Business" ? 'selected' :'' ?> >Minority Small Business</option>
                        <option value="Woman Owned Small" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Woman Owned Small" ? 'selected' :'' ?> >Woman Owned Small</option>
                        <option value="Veteran Owned Small" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Veteran Owned Small" ? 'selected' :'' ?>>Veteran Owned Small</option>
                        <option value="Service Disabled Veteran Owned Small" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Service Disabled Veteran Owned Small" ? 'selected' :'' ?>>Service Disabled Veteran Owned Small</option>
                        <option value="Small Disadvantage" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Small Disadvantage" ? 'selected' :'' ?>>Small Disadvantage</option>
                        <option value="Hubzone" <?= $block->escapeHtml($customer->getWkmpvrSmallBusinessStatus()) === "Hubzone" ? 'selected' :'' ?>>Hubzone</option>
                    </select>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_supplier_certificate_file"><span><?= /* @noEscape */ __('Choose Certificate') ?></span></label>
                <div class="control">
                <input type="file" id="wkmpvr_supplier_certificate_file" name="wkmpvr_supplier_certificate_file"  title="supplier_certificate" class="banner" size="26" />
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wk_supplier_certification"><span><?= /* @noEscape */ __('Certificate') ?></span></label>
                <div class="control">
                    <img width="400" height="200" src="/pub/media/avatar/<?= $block->escapeHtml($customer->getWkmpvrSupplierCertificateFile()); ?>">
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_cert_start_date"><span><?= /* @noEscape */ __('Certificate Start Date') ?></span></label>
                <div class="control">
                <input type="date" id="wkmpvr_cert_start_date" name="wkmpvr_cert_start_date" 
                 title="Certificate Start Date" 
                 value="<?= $block->escapeHtml($customer->getWkmpvrCertStartDate()); ?>" 
                 class="input-text validate-no-html-tags validate-no-html-tags"
                 size="26" />
                </div>
            </div>
            <div class="field required">
                <label class="label" for="wkmpvr_cert_end_date"><span><?= /* @noEscape */ __('Certificate End Date') ?></span></label>
                <div class="control">
                <input type="date" id="wkmpvr_cert_end_date" name="wkmpvr_cert_end_date"  
                title="Certificate End Date" 
                value="<?= $block->escapeHtml($customer->getWkmpvrCertEndDate()); ?>" 
                class="input-text validate-no-html-tags validate-no-html-tags" 
                size="26" />
                </div>
            </div>

           

            <!-- <div class="field required">
                <label class="label" for="wkmpvr_phone"><span><?= /* @noEscape */ __('Phone') ?></span></label>
                <div class="control">
                    <input type="text" data-validate="{required:true}" id="wkmpvr_phone" 
                    name="wkmpvr_phone" title="<?= /* @noEscape */ __('Phone') ?>" 
                    class="input-text validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrPhone()); ?>" />
                </div>
            </div> -->
           

            <!-- <div class="field required">
                <label class="label" for="role">
                <span><?= /* @noEscape */ __('Response Time')?></span></label>
                <div class="control">
                    <div class="wk-supplier-response-time-block">
                        <div class="wk-supplier-response-time-col">
                            <div class="wk-supplier-response-time-col-label">From</div>
                            <div class="wk-supplier-response-time-col-content">
                                <input placeholder="<?= /* @noEscape */ __('From'); ?>" 
                                data-validate="{required:true, 'validate-number':true}" type="text" 
                                name="wk_supplier_response_from_time" 
                                title="<?= /* @noEscape */ __('Response Time')?>" 
                                class="input-text validate-no-html-tags" 
                                value="<?= $block->escapeHtml($responseDetails['from']); ?>"/>
                            </div>
                        </div>
                        <div class="wk-supplier-response-time-col">
                            <div class="wk-supplier-response-time-col-label">To</div>
                            <div class="wk-supplier-response-time-col-content">
                                <input placeholder="<?= /* @noEscape */ __('To'); ?>" 
                                data-validate="{required:true,'validate-number':true}" type="text" 
                                id="role" name="wk_supplier_response_to_time" 
                                title="<?= /* @noEscape */ __('Response Time')?>" 
                                class="input-text validate-no-html-tags" 
                                value="<?= $block->escapeHtml($responseDetails['to']); ?>"/>
                            </div>
                        </div>
                        <div class="wk-supplier-response-time-col">
                            <div class="wk-supplier-response-time-col-label">Time unit</div>
                            <div class="wk-supplier-response-time-col-content">
                                <select data-validate="{required:true}" name="wk_supplier_response_time_unit" 
                                title="<?= /* @noEscape */ __('Response Time')?>" class="input-text">
                                    <?php foreach ($helper->getUnits() as $value => $label): ?>
                                        <?php if ($customer->getWkSupplierResponseTimeUnit() == $value): ?>
                                            <option selected value="<?= /* @noEscape */
                                            $value; ?>"><?= /* @noEscape */ $label; ?></option>
                                        <?php else: ?>
                                            <option value="<?= /* @noEscape */
                                            $value; ?>"><?= /* @noEscape */ $label; ?></option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="field required">
                <label class="label" for="contact"><span><?= /* @noEscape */ __('Contact Number')?></span></label>
                <div class="control">
                    <input data-validate="{required:true, 'validate-number':true}" 
                    type="text" id="contact" name="phone" 
                    title="<?= /* @noEscape */ __('Contact Number')?>" 
                    class="input-text validate-no-html-tags validate-no-html-tags" 
                    value="<?= $block->escapeHtml($defaultAddress['telephone']) ?>"/>
                </div>
            </div> -->

           
            <div class="field required">
                <label class="label" for="wkmpvr_bank_name"><span><?= /* @noEscape */ __('Bank Name')?></span></label>
                <div class="control">
                    <input data-validate="{required:true}" type="text"  name="wkmpvr_bank_name"
                    id="wkmpvr_bank_name"  title="<?= /* @noEscape */ __('Bank Name ')?>" 
                    class="input-text validate-no-html-tags validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrBankName()); ?>"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_account_no"><span><?= /* @noEscape */ __('Bank Account No')?></span></label>
                <div class="control">
                    <input data-validate="{required:true}" type="text"  name="wkmpvr_account_no"
                    id="wkmpvr_account_no"  title="<?= /* @noEscape */ __('Bank Account No')?>" 
                    class="input-text validate-no-html-tags validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrAccountNo()); ?>"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="wkmpvr_ifsc"><span><?= /* @noEscape */ __('Bank Routing Code')?></span></label>
                <div class="control">
                    <input data-validate="{required:true}" type="text"  name="wkmpvr_ifsc"
                    id="wkmpvr_ifsc"  title="<?= /* @noEscape */ __('Bank Routing Code')?>" 
                    class="input-text validate-no-html-tags validate-no-html-tags" 
                    value="<?= $block->escapeHtml($customer->getWkmpvrIfsc()); ?>"/>
                </div>
            </div>

            
<!-- 
             <div class="field required wk-country-field">
                <label class="label" for="supplier-country"><span><?= /* @noEscape */ __("Country"); ?></span></label>
                <div class="control">
                    <?= /* @noEscape */
                    $helper->getCountryHtmlSelect($defaultAddress['country']); ?>
                </div>
            </div> 

             <div class="field required wk-state-field">
                <label class="label" for="supplier-state"><span><?= /* @noEscape */ __("State"); ?></span></label>
                <div class="control">
                    <?php if (array_key_exists($defaultAddress['country'], $regions)): ?>
                        <input style="display:none;" type="text" 
                        data-validate="{required:true}" 
                        class="input-text validate-no-html-tags required-entry" 
                        title="<?= /* @noEscape */ __("State"); ?>" 
                        id="supplier-state" name="state" 
                        value="<?= $block->escapeHtml($defaultAddress['region']) ?>">
                        <select data-validate="{required:true}" name="state_id" class="input-text required-entry">
                            <?php foreach ($regions[$defaultAddress['country']] as $regionId => $region): ?>
                                <?php if ($defaultAddress['region_id'] == $regionId): ?>
                                    <option selected value="<?= /* @noEscape */
                                    $regionId; ?>"><?= /* @noEscape */ $region; ?></option>
                                <?php else: ?>
                                    <option value="<?= /* @noEscape */
                                    $regionId; ?>"><?= /* @noEscape */ $region; ?></option>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </select>
                    <?php else: ?>
                        <input type="text" data-validate="{required:true}" 
                        class="input-text validate-no-html-tags required-entry" 
                        title="<?= /* @noEscape */ __("State"); ?>" id="supplier-state"
                         name="state" 
                         value="<?= $block->escapeHtml($defaultAddress['region']) ?>">
                        <select style="display:none;"
                         data-validate="{required:true}" 
                         name="state_id" class="input-text required-entry"></select>
                    <?php endif; ?>
                </div>
            </div>
            <div class="field required">
                <label class="label" for="supplier-city"><span><?= /* @noEscape */ __("City"); ?></span></label>
                <div class="control">
                    <input type="text" data-validate="{required:true}" 
                    class="input-text validate-no-html-tags required-entry" 
                    title="<?= /* @noEscape */ __("City"); ?>" id="supplier-city" 
                    name="city" 
                    value="<?= $block->escapeHtml($defaultAddress['city']) ?>">
                </div>
            </div>
            <div class="field required">
                <label class="label" for="supplier-address">
                <span><?= /* @noEscape */ __("Address Line"); ?></span></label>
                <div class="control">
                    <input type="text" data-validate="{required:true}" 
                    class="input-text validate-no-html-tags required-entry" 
                    title="<?= /* @noEscape */ __("Address Line"); ?>" 
                    id="supplier-address" name="address" 
                    value="<?= $block->escapeHtml($defaultAddress['street']) ?>">
                </div>
            </div>

            <div class="field required">
                <label class="label" for="supplier-postcode">
                <span><?= /* @noEscape */ __("Zip/Postal code"); ?></span></label>
                <div class="control">
                    <input type="text" data-validate="{required:true}" 
                    class="input-text validate-no-html-tags required-entry" 
                    title="<?= /* @noEscape */ __("Zip/Postcode"); ?>" 
                    id="postcode" name="postcode" 
                    value="<?=$block->escapeHtml($defaultAddress['postcode']) ?>">
                </div>
            </div>  -->

            <div class="actions-toolbar">
                <div class="primary">
                    <button id="supplier-info" name="section" 
                    value="supplier_info" class="action primary" type="submit">
                        <span><?= /* @noEscape */ __("Update Information"); ?></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>