<?php
$quickOrderBlock =  $block->getLayout()->createBlock(
    \Webkul\B2BMarketplace\Block\Supplier\Profile\QuickOrder::class
);
$b2bHelper = $quickOrderBlock->helper(\Webkul\B2BMarketplace\Helper\Data::class);
$helper = $quickOrderBlock->helper(\Webkul\Marketplace\Helper\Data::class);
$supplier = $block->getPersistentData();
if (empty($supplier)) {
    $supplier = $b2bHelper->getCurrentSupplier();
}
?>
<div class="wk-supplier-company-overview-container">
    <form method="post" action="<?= /* @noEscape */
    $quickOrderBlock->getUrl('b2bmarketplace/supplier/info_update'); ?>" 
    id="wk-supplier-supplier-info-form" enctype="multipart/form-data" 
    data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <?= /* @noEscape */ $block->getBlockHtml('seller.formkey')?>
            <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
            <div class="field">
                <label class="label" for="return_policy"><?= /* @noEscape */ __('Return Policy') ?></label>
                <div class="control">
                    <textarea type="text" id="return_policy" name="return_policy" 
                    title="Return Policy" class="input-text validate-no-html-tags compdesi" ><?= /* @noEscape */
                    $supplier['return_policy']; ?></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label" for="shipping_policy"><?= /* @noEscape */ __('Shipping Policy') ?></label>
                <div class="control">
                    <textarea type="text" id="shipping_policy" name="shipping_policy" 
                    title="Shipping Policy" class="input-text validate-no-html-tags compdesi" ><?= /* @noEscape */
                    $supplier['shipping_policy']; ?></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label"><?= /* @noEscape */ __('Privacy Policy') ?></label>
                <div class="control">
                        <textarea type="text" id="privacy_policy" name="privacy_policy" title="<?= /* @noEscape */
                        __('Privacy Policy') ?>" class="input-text validate-no-html-tags compdesi" >
                        <?= /* @noEscape */ $supplier['privacy_policy']; ?> </textarea>
                </div>
            </div>
            <script>
                require([
                "jquery", 
                "mage/translate", 
                "mage/adminhtml/events", 
                "mage/adminhtml/wysiwyg/tiny_mce/setup"
                ], function(jQuery){
                    wysiwygCompanyDescription = new wysiwygSetup("return_policy", {
                        "width":"100%",
                        "height":"200px",
                        "plugins":[{"name":"image"}],
                        "tinymce4":{"toolbar":"formatselect | bold italic underline |"+
                            " alignleft aligncenter alignright | bullist numlist | link table charmap",
                        "plugins":"advlist autolink lists link charmap media noneditable table "+
                        "contextmenu paste code help table",
                        }
                    });
                    wysiwygCompanyDescription.setup("exact");

                    wysiwygCompanyDescription = new wysiwygSetup("shipping_policy", {
                        "width":"100%",
                        "height":"200px",
                        "plugins":[{"name":"image"}],
                        "tinymce4":{"toolbar":"formatselect | bold italic underline |"+
                            " alignleft aligncenter alignright | bullist numlist | link table charmap",
                        "plugins":"advlist autolink lists link charmap media noneditable table "+
                        "contextmenu paste code help table",
                        }
                    });
                    wysiwygCompanyDescription.setup("exact");

                    wysiwygCompanyDescription = new wysiwygSetup("privacy_policy", {
                        "width":"100%",
                        "height":"200px",
                        "plugins":[{"name":"image"}],
                        "tinymce4":{"toolbar":"formatselect | bold italic underline |"+
                            " alignleft aligncenter alignright | bullist numlist | link table charmap",
                        "plugins":"advlist autolink lists link charmap media noneditable table "+
                        "contextmenu paste code help table",
                        }
                    });
                    wysiwygCompanyDescription.setup("exact");
                });
            </script>
            <div class="actions-toolbar">
                <div class="primary">
                    <button id="policies" name="section" value="policies" class="action primary" type="submit">
                        <span><?= /* @noEscape */ __("Update Information"); ?></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
